<template>
  <div
    class="dropdown"
    :class="{ 'is-active': show, noArrow: noArrow }"
    @click="switchShow"
    @blur="blur_self"
    tabindex="-1"
  >
    <!-- 選單 -->
    <div class="select_ctn" :class="{ active: show }">
      <slot name="select"></slot>
    </div>
    <div class="ddl_ctn" :class="{ show: show, w100: fill }">
      <div class="ddl_box bs">
        <!-- <div class="top_arrow"></div> -->
        <div class="ddl_item">
          <!-- 選項 -->
          <slot name="option"></slot>
        </div>
        <div class="moreOption_ctn" v-if="$slots.moreOption">
          <slot name="moreOption"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blur: Function,
    noArrow: Boolean,
    fill: Boolean,
    enable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      show: false
    };
  },
  methods: {
    switchShow() {
      if (!this.enable) return false;
      if (this.show) {
        this.$el.blur();
      } else {
        this.show = true;
        this.$el.focus();
      }
    },
    blur_self() {
      this.blur && this.blur();
      this.show = false;
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.dropdown {
  position: relative;
  cursor: pointer;
  &.noArrow {
    .top_arrow {
      display: none;
    }
  }
}
.ddl_ctn {
  position: absolute;
  top: ~"calc(100% + 15px)";
  left: 50%;
  z-index: 100;
  transition: 0.3s;
  transform-origin: top center;
  transform: scaleY(0);
  opacity: 0;
  &.show {
    transform: scaleY(1);
    opacity: 1;
  }
}
.ddl_box {
  .bc(@f);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  transform: translateX(-50%);
  .top_arrow {
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    position: absolute;
    .WH(0);
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent @f transparent;
  }
}

.ddl_item {
  & > * {
    padding: 5px 15px;
    border-radius: 30px;
    word-break: keep-all;
    .cp();
    color: #4e4e4e;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &.active,
    &:hover {
      color: #4e4e4e;
      background-color: #f0f0f0;
    }
  }
}
.moreOption_ctn {
  color: @org;
  text-align: center;
  padding-top: 5px;
  border-top: 2px solid #e8e8e8;
  margin: 10px -10px 0;
  cursor: pointer;
}
</style>