<template>
  <span class="container vtc" :class="{ selected: selected }">
    <span class="text">{{ label }}</span>
    <template>
      <img v-if="img === 'add'" class="clickbtn" src="./img/add_orange.svg" />
      <img v-if="img === 'minus'" class="clickbtn" src="./img/minus_orange.svg" />
      <img v-else-if="img === 'import'" class="clickbtn" src="./img/import_orange.svg" />
      <img v-else-if="img === 'checked'" class="clickbtn" src="./img/checked_orange.svg" />
      <img v-else-if="img === 'back'" class="clickbtn" src="./img/back_orange.svg" />
    </template>
  </span>
</template>

<script>
export default {
  props: {
    label: String,
    icon: String,
    img: String,
    selected: false
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.container {
  color: #555555;
  font-size: 16px;
  border: solid 1px #c6c6c6;
  border-radius: 40px;
  padding: 0 5px 0 15px;
  height: 40px;
  margin-left: 10px;
  &.selected {
    background-color: #ffe6de;
  }
  .cp();
  .icon {
    height: 30px;
    margin-right: 10px;
  }
  .clickbtn {
    height: 30px;
    margin-left: 15px;
  }
  &:hover {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #f0f0f0;
  }
}
</style>