<template>
  <div :class="{ hidden: hidden }" class="pagination-container" v-show="total">
    <el-pagination
      :background="background"
      :current-page.sync="currentPage"
      :layout="layout"
      :total="total"
      :pageSize="pageSize"
      v-bind="$attrs"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import { scrollTo } from "@/utils/scroll-to";

export default {
  name: "Pagination",
  props: {
    total: {
      required: true,
      type: Number
    },
    page: {
      type: Number,
      default: 1
    },
    limit: {
      type: Number,
      default: 10
    },
    pageSizes: {
      type: Array,
      default() {
        return [10, 20, 30, 50];
      }
    },
    background: {
      type: Boolean,
      default: true
    },
    autoScroll: {
      type: Boolean,
      default: true
    },
    hidden: {
      type: Boolean,
      default: false
    },
    pagination: Function
  },
  computed: {
    currentPage: {
      get() {
        return this.page;
      },
      set(val) {
        this.$emit("update:page", val);
      }
    },
    pageSize: {
      get() {
        return this.limit;
      },
      set(val) {
        this.$emit("update:limit", val);
      }
    },
    layout: {
      get() {
        const layoutItems = [];
        if (this.currentPage !== 1) {
          layoutItems.push("prev");
        }
        layoutItems.push("pager");

        if (!this.isLastPage()) {
          layoutItems.push("next");
        }
        return layoutItems.join(",");
      }
    }
  },
  methods: {
    handleSizeChange(val) {
      this.pagination && this.pagination({ page: this.currentPage, limit: this.limit });
      this.$emit("pagination");
      if (this.autoScroll) {
        scrollTo(0, 800);
      }
    },
    handleCurrentChange(val) {
      this.pagination && this.pagination({ page: this.currentPage, limit: this.limit });
      if (this.autoScroll) {
        scrollTo(0, 800);
      }
    },
    isLastPage() {
      return this.currentPage === Math.ceil(this.total / this.pageSize);
    }
  }
};
</script>

<style lang="less">
@blue: #4e4e4e;

.pagination-container {
  z-index: 1;
  background: #fff;
}
.pagination-container.hidden {
  display: none;
}
#app .app-wrapper .el-pagination {
  display: table;
  margin: 0 auto;
  justify-self: center;
  text-align: center;
  width: 110px;
  .btn-prev {
    min-width: 28px;
    height: 28px;
    order: 1;
    border: none;
    margin: 0;
    background-color: #ffffff;

    .el-icon-arrow-left:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 5px 0;
      border-color: transparent @blue transparent transparent;
      display: block;
      margin: auto;
      transform: translateX(-25%);
    }
  }
  .btn-next {
    min-width: 28px;
    height: 28px;
    order: 3;
    background-color: #ffffff;
    border: none;

    margin: 0;
    .el-icon-arrow-right:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent @blue;
      display: block;
      margin: auto;
      transform: translateX(25%);
    }
  }
  .el-pager {
    order: 2;
    li {
      border: 1px solid;
      min-width: 28px;
      height: 28px;
      padding: 0px;
    }
    li.number {
      background-color: #fff;
      color: @blue;
      border-radius: 100%;
      &:not(:first-child) {
        margin-left: 0;
      }
      &.active {
        background-color: @blue;
        color: #fff;
      }
    }
  }
}
</style>
