<template>
  <div class="app-container fx fdc" v-loading="isLoading">
    <template v-if="currentPage === 'entity'">
      <tabBar :tabNames="['userEntities', 'sysEntities']" @changeTab="changeEntityTab"></tabBar>
      <div class="tab-page _fill">
        <div class="tab-page-inner fx fdc">
          <div class="page-title-row" v-show="currentTab === 'userEntities'">
            <span class="page-title">{{ $tp("label.myEntity") }}</span>
            <div class="title-buttons">
              <pageTopMainButton
                :label="$tp(['label.import', 'bot.entity'])"
                img="import"
                @click.native="isShowImportEntitiesWindow = true"
              ></pageTopMainButton>
            </div>
          </div>
          <div class="page-title-row" v-show="currentTab === 'sysEntities'">
            <span class="page-title">{{ $tp("label.sysEntity") }}</span>
          </div>
          <div class="new-item-row" v-show="currentTab === 'userEntities'">
            <span class="label">{{ $tp("label.newEntityName") }}:</span>
            <input
              ref="entity-input"
              class="input-text"
              type="text"
              :placeholder="$tp('please.input')"
              v-model="newEntityName"
              @keypress.enter="createEntity"
            />
            <span class="submit-button" @click="createEntity">{{ $tp("label.create") }}</span>
            <span
              class="submit-button"
              @click="
                getEntities(newEntityName);
                $refs['entity-input'].focus();
              "
              >{{ $tp("label.search") }}</span
            >
          </div>
          <div class="cell-table _fill" style="overflow-x: hidden">
            <div class="row" v-for="(entity, index) in entities" :key="index">
              <div class="cell">
                <img class="tag" src="@img/tag-orange2.svg" alt />
                <div class="text-box" @click="enterEntity(entity)">
                  <div v-show="!editableEntityIndice[index]" class="text" :title="entity.name">
                    {{ entity.name }}
                  </div>
                  <input
                    v-on:click.stop
                    :ref="'entityInput' + index"
                    v-show="editableEntityIndice[index]"
                    v-model="entity.name"
                    class="text"
                    tabindex="-1"
                    @keyup.enter="editableEntityIndice.splice(index, 1, false)"
                    @blur="finishEditEntityName(index, entity)"
                  />
                </div>
                <el-dropdown trigger="click">
                  <dotMenu></dotMenu>
                  <el-dropdown-menu class="dlorgmode" slot="dropdown">
                    <el-dropdown-item @click.native="editEntityName(index, entity)">{{
                      $tp("label.rename")
                    }}</el-dropdown-item>
                    <el-dropdown-item @click.native="removeEntity(index)">{{
                      $tp("label.delete")
                    }}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </div>
          <div class="total-count">
            {{ $tp("label.totalCount", { count: entityTotal }) }}
          </div>
          <pagination
            :total="entityTotal"
            :page.sync="listQuery.page"
            :limit.sync="listQuery.limit"
            :pagination="changePage"
          />
        </div>
      </div>
    </template>
    <template v-if="currentPage === 'entry'">
      <entryPage :currentEntity="currentEntity"></entryPage>
    </template>
    <importWindow
      v-if="isShowImportEntitiesWindow"
      :title="$tp(['label.import', 'bot.entity'])"
      :isShow="isShowImportEntitiesWindow"
      :closeWindow="() => (isShowImportEntitiesWindow = false)"
      :acceptedFormats="['json']"
      :ExampleObj="importEntitiesExampleObj"
      fileFormat="json"
      @finish="importEntities"
    ></importWindow>
    <router-view />
  </div>
</template>

<script>
import { isSuccess } from "@u/methodsHelper";
import {
  getEntities,
  createEntity,
  updateEntity,
  removeEntity,
  importEntities
} from "@/api/Entity";
import { deepClone } from "@u/methodsHelper";
//components
import Pagination from "@c/Pagination";
import dotMenu from "@ui/dotMenu";
import entryPage from "@c/entryPage.vue";
//ui
import pageTopMainButton from "@ui/pageTopMainButton";
import importWindow from "@/components/importWindow";
//mixins
import currentBot from "@mix/bot/currentBot";
import tabBar from "@c/tabBar";
import { isEmptyOrStartWithSpace } from "@/utils/string";

function defaultListQuery() {
  return {
    page: 1,
    limit: 10
  };
}

export default {
  name: "entity",
  mixins: [currentBot],
  components: {
    Pagination,
    dotMenu,
    importWindow,
    pageTopMainButton,
    entryPage,
    tabBar
  },
  data() {
    return {
      isLoading: false,
      editableEntityIndice: [],
      entities: [],
      currentEntity: {},
      listQuery: new defaultListQuery(),
      newEntityName: "",
      entityTotal: 0,
      currentTab: "userEntities",
      currentPage: "entity",
      isShowImportEntitiesWindow: false,
      isShowImportEntriesWindow: false,
      importEntitiesExampleObj: {
        data: [
          {
            name: "食物",
            entries: [
              {
                value: "水餃",
                synonyms: ["餃子"]
              }
            ],
            prompts: []
          }
        ]
      }
    };
  },
  computed: {
    listQueryPage() {
      return this.listQuery.page;
    }
  },
  created() {
    if (this.currentPage === "entry" && this.currentUtterances.length === 0) {
      this.$router.replace({
        path: this.$route.path.replace("/entry", "")
      });
    }
  },
  methods: {
    init() {
      if (this.$route.name !== "bot_entity") {
        this.$router.push({ path: `/bot/${this.currentBot.id}/entity` });
      }
      this.currentTab = "userEntities";
      this.currentPage = "entity";
      this.getEntities();
    },
    async changePage() {
      await this.getEntities();
    },
    async getEntities(searchText) {
      let skip = (this.listQuery.page - 1) * this.listQuery.limit;
      let limit = this.listQuery.limit;
      const isSystem = this.currentTab === "sysEntities";
      this.isLoading = true;
      try {
        const result = await getEntities(
          this.currentBot.id,
          skip,
          limit,
          isSystem,
          searchText,
          "true"
        );
        this.entities = result.entities;
        this.entityTotal = result.len;
        this.editableEntityIndice = new Array(this.entities.length).fill(false);
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.isLoading = false;
    },
    async createEntity() {
      this.newEntityName = this.newEntityName.trim();
      if (isEmptyOrStartWithSpace(this.newEntityName)) {
        this.$root.m_error(this.$tp(["bot.entity", "label.name", "warn.isRequired"]));
        return;
      }
      try {
        await createEntity(this.currentBot.id, this.newEntityName);
        this.$store.dispatch("updateEntities");
        this.newEntityName = "";
        this.$root.m_success(this.$tp("warn.createSuccess") + "!");
        this.listQuery.page = 1;
        await this.getEntities();
        this.newEntryValue = "";
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.createFail") + "!");
      }
    },

    async removeEntity(index) {
      await this.$root.confirm(this.entities[index].name);
      const res = await removeEntity(this.entities[index]);
      if (isSuccess(res.status)) {
        this.$store.dispatch("updateEntities");
        this.$root.m_success(this.$tp("warn.deleteSuccess"));
        await this.getEntities();
      } else {
        this.$root.m_success(this.$tp("warn.deleteFail"));
      }
    },
    enterEntity(entity) {
      this.$router.push({ path: `${this.$route.path}/entry` });

      this.currentEntity = entity;
      this.currentExpandedEntryIndice = new Array(entity.entries.length).fill(false);
      this.editablePromptIndice = new Array(entity.prompts.length).fill(false);
      this.newEntryValue = "";

      this.currentPage = "entry";
    },
    updateEntity(inputEntity) {
      updateEntity(inputEntity).then(res => {
        this.$root.m_success(this.$tp("warn.saveChange"));
        this.$store.dispatch("updateEntities");
      });
    },
    importEntities(file) {
      let reader = new FileReader();
      reader.onload = async e => {
        let data;
        try {
          data = JSON.parse(e.target.result);
        } catch {
          this.$root.m_error(this.$tp("warn.fileFormatError"));
          return;
        }
        try {
          await importEntities(this.currentBot.id, data);
          this.getEntities();
          this.$root.m_success(this.$tp("label.import") + this.$tp("warn.success"));
        } catch (error) {
          console.log(error);
          this.$root.m_error(
            this.$tp("label.import") + this.$tp("warn.failed"),
            ((error.response || {}).data || {}).error_code
          );
        }
      };
      reader.readAsText(file.raw);
      this.isShowImportEntitiesWindow = false;
    },
    changeEntityTab(tab) {
      this.currentTab = tab;
      this.getEntities();
    },
    editEntityName(index, entity) {
      this.entityNameForUndo = entity.name;
      if (index >= 0) {
        this.editableEntityIndice.splice(index, 1, true);
        setTimeout(() => {
          this.$refs["entityInput" + index][0].focus();
        }, 0);
      }
    },
    finishEditEntityName(index, entity) {
      if (index >= 0) {
        this.editableEntityIndice.splice(index, 1, false);
      }
      if (entity.name === this.entityNameForUndo) {
        return;
      }
      if (isEmptyOrStartWithSpace(entity.name)) {
        entity.name = this.entityNameForUndo;
        this.$root.m_error(this.$tp(["bot.entity", "label.name", "warn.isRequired"]));
      } else {
        this.updateEntity(entity);
      }
    }
  },
  watch: {
    listQueryPage: {
      handler(val2, val) {
        if (val2 === val) return false;
        this.editableEntityIndice = new Array(this.entities.length).fill(false);
      },
      immediate: true
    },
    async $route(to, from) {
      if (to.name == "bot_entity") {
        await this.init();
      }
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.entity-table {
  flex-grow: 1;
}
.one-border-table {
  margin-top: 10px;

  .row {
    padding: 0 !important;

    .inner-row {
      flex-grow: 1;

      .text-row {
        display: flex;
        align-items: center;
        padding: 10px;

        .text {
          margin-left: 0 !important;
        }
      }
      .synonyms-block {
        border-top: 1px rgb(198, 198, 198) solid;
        background-color: #f5f5f5;
        display: flex;
        flex-wrap: wrap;
        .entry-cell {
          .fx();
          .aic();
          height: 30px;
          border: solid 1px #c6c6c6;
          border-radius: 10px;
          margin: 5px;
          overflow: hidden;
          .bc(@f);
          padding: 0 10px;
        }
        .entry-value {
          margin-left: 5px;
          color: @topaz;
          font-weight: bold;
          margin-right: 10px;
          position: relative;
          padding-left: 10px;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          align-self: flex-start;
          margin-top: 11px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            bottom: -1px;
            width: 4px;
            .bc(@topaz);
          }
          & > input {
            font-size: 14px;
            border: none;
            position: absolute;
            top: 0;
            left: 10px;
            width: 100%;
            color: @topaz;
            &:not(:focus) {
              transform: scale(0);
            }
          }
        }
        .new-synonym-value {
          position: relative;
          height: 17px;
          min-width: 100px;
          color: @f;
          input {
            border: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
        .synonym-text {
          text-align: center;
          color: #4e4e4e;
          font-weight: bold;
          font-size: 14px;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .delete-synonym-button {
          cursor: pointer;
          margin-left: 5px;
          width: 15px;
        }
      }
    }
  }
}
.prompt-input {
  font-size: 14px;
  font-weight: bold;
}
</style>