<template>
  <Shield
    :title="title"
    :submit="submit"
    :as="'pop'"
    :ttlIcon="'/img/group-19.png'"
    :ctnClass="'w_600'"
    :showBy="show"
    :close="closeWindow"
  >
    <template slot="body">
      <div v-show="!isEditMode">
        <div class="form1 mb_20">
          <el-steps :active="active" finish-status="success" simple>
            <el-step title="选择机器人"></el-step>
            <el-step title="建立机器人资料"></el-step>
          </el-steps>
          <div class="form1 mb_20" v-if="active === 1">
            <input
              class="input_text1 w100"
              v-model="bot.name"
              type="text"
              :placeholder="$tp('label.name')"
            />
            <input
              class="input_text1 w100"
              v-model="bot.description"
              type="text"
              :placeholder="$tp('label.description')"
            />
          </div>
          <div
            class="form1 box"
            :class="{ box_focus: botType === 'empty' }"
            v-if="active === 0"
            @click="selectbot(1)"
          >
            <img src="/img/empty_bot.svg" class="form1 imgclass" />
            <div>
              <div class="form1 text_title">{{ $tp("bot.emptyBot") }}</div>
              <div class="form1 text">{{ $tp("bot.emptyDescription") }}</div>
            </div>
          </div>
          <div
            class="form1 box"
            :class="{ box_focus: botType === 'drink' }"
            @click="selectbot(2)"
            v-if="active === 0"
          >
            <img src="/img/drink_bot.svg" class="form1 imgclass" />
            <div>
              <div class="form1 text_title">{{ $tp("bot.drinkBot") }}</div>
              <div class="form1 text">{{ $tp("bot.drinkDescription") }}</div>
            </div>
          </div>
          <div
            class="form1 box"
            :class="{ box_focus: botType === 'restaurant' }"
            @click="selectbot(3)"
            v-if="active === 0"
          >
            <img src="/img/restaurant_bot.svg" class="form1 imgclass" />
            <div>
              <div class="form1 text_title">{{ $tp("bot.restaurantBot") }}</div>
              <div class="form1 text">
                {{ $tp("bot.restaurantDescription") }}
              </div>
            </div>
          </div>
          <div
            class="form1 box"
            :class="{ box_focus: botType === 'movie' }"
            @click="selectbot(4)"
            v-if="active === 0"
          >
            <img src="/img/movie_bot.svg" class="form1 imgclass" />
            <div>
              <div class="form1 text_title">{{ $tp("bot.movieBot") }}</div>
              <div class="form1 text">{{ $tp("bot.movieDescription") }}</div>
            </div>
          </div>
        </div>
      </div>
      <div v-show="isEditMode">
        <div class="form1 mb_20">
          <input
            class="input_text1 w100"
            v-model="bot.name"
            type="text"
            :placeholder="$tp('label.name')"
          />
          <input
            class="input_text1 w100"
            v-model="bot.description"
            type="text"
            :placeholder="$tp('label.description')"
          />
        </div>
      </div>
    </template>
  </Shield>
</template>
<script>
import Shield from "@c/shield";
import drinkJsonFile from "../../FlowBuilder/data/drink.json";
import restaurantJsonFile from "../../FlowBuilder/data/restaurant.json";
import movieJsonFile from "../../FlowBuilder/data/movie.json";
import { createBot, updateBot, importBot } from "@/api/Bot";
import { deepClone } from "@u/methodsHelper";
// mixins
import App from "@mix/App";
export default {
  mixins: [App],
  components: { Shield },
  props: {
    mode: String,
    currentBot: Object
  },
  data() {
    return {
      title: "",
      bot: { name: "", description: "" },
      show: false,
      active: 0,
      botType: "",
      isClick: false
    };
  },
  computed: {
    isCreateMode() {
      return this.mode === "create";
    },
    isEditMode() {
      return this.mode === "edit";
    }
  },
  methods: {
    init() {
      this.title = this.$tp(["label.create", "bot.bot"]);
      this.active = 0;
      this.botType = "";
      if (this.isEditMode) {
        this.bot = deepClone(this.currentBot);
        this.title = this.$tp(["label.edit", "bot.bot"]);
      }
    },
    closeWindow() {
      this.show = false;
      this.botType = "";
      this.active = 0;
      this.bot.name = "";
    },
    selectbot(type) {
      if (type === 1) {
        this.botType = "empty";
        this.bot.name = this.$tp(["bot.emptyBot"]);
      } else if (type === 2) {
        this.botType = "drink";
        this.bot.name = this.$tp(["bot.drinkBot"]);
      } else if (type === 3) {
        this.botType = "restaurant";
        this.bot.name = this.$tp(["bot.restaurantBot"]);
      } else if (type === 4) {
        this.botType = "movie";
        this.bot.name = this.$tp(["bot.movieBot"]);
      }
    },
    async importDefaultBot(defaultBotFile) {
      if (this.isClick) {
        return;
      }
      this.isClick = true;
      let newBotResult = await createBot(this.bot);
      try {
        await importBot(newBotResult.bot_id, defaultBotFile);
        let parent = this.getVue("bot");
        parent.getData(parent.listQuery, "", false);
        this.bot = { name: "", description: "" };
        this.show = false;
        this.isClick = false;
        this.$root.m_success(this.$tp("label.import") + this.$tp("warn.success"));
        await this.getBotList();
        this.$router.push({ path: `/bot/${newBotResult.bot_id}/flow` });
      } catch (err) {
        newBot.id = newBotResult.bot_id;
        removeBot(newBot);
        this.isClick = false;
        this.$root.m_error(this.$tp("label.import") + this.$tp("warn.failed"));
      }
    },
    async getBotList() {
      await this.$store.dispatch("updateMyBots");
    },
    async submit() {
      this.bot.name = this.bot.name.trim();
      if (this.isEditMode) {
        if (this.bot.name == "") {
          this.$root.m_error(this.$tp(["label.name", "warn.isRequired"]) + "!");
          return false;
        }
        updateBot(this.bot)
          .then(async _ => {
            let parent = this.getVue("bot");
            parent.getData(parent.listQuery, "", false);
            this.$root.m_success(this.$tp("warn.editSuccess") + "!");
            await this.getBotList();
            this.show = false;
          })
          .catch(ex => {
            console.log(ex);
          });
      } else {
        if (this.active === 0) {
          if (this.bot.name == "") {
            this.$root.m_error(this.$tp(["label.botTemplate", "warn.isRequired"]) + "!");
            return false;
          }
          this.active++;
          this.bot.description = "";
        } else if (this.active === 1) {
          if (this.bot.name == "") {
            this.$root.m_error(this.$tp(["label.name", "warn.isRequired"]) + "!");
            return false;
          }
          if (this.botType === "empty") {
            try {
              let newBotResult = await createBot(this.bot);
              let parent = this.getVue("bot");
              parent.getData(parent.listQuery, "", true);
              this.$root.m_success(this.$tp("warn.createSuccess") + "!");
              this.bot = { name: "", description: "" };
              this.show = false;
              await this.getBotList();
              this.$router.push({ path: `/bot/${newBotResult.bot_id}/intent` });
            } catch (err) {
              this.App.catch(err);
            }
          } else if (this.botType === "drink") {
            await this.importDefaultBot(drinkJsonFile);
          } else if (this.botType === "restaurant") {
            await this.importDefaultBot(restaurantJsonFile);
          } else if (this.botType === "movie") {
            await this.importDefaultBot(movieJsonFile);
          }
        }
      }
    }
  },
  watch: {
    show: {
      handler(val) {
        if (val) this.init();
      }
    }
  }
};
</script>
