<template></template>

<script>
export default {
  computed: {
    currentBotId() {
      return this.$route.params.bot_id;
    }
  },
  watch: {
    currentBotId: {
      handler(val) {
        if (val) this.$store.dispatch("updateEntities");
      },
      immediate: true
    }
  }
};
</script>

<style>
</style>