<template></template>

<script>
import { mapGetters } from "vuex";
import NotificationMixin from "@mix/notification";
const VALID_EVENTS = ["update_importing_dialog_status"];

export default {
  mixins: [NotificationMixin],
  data() {
    return {
      subscription: undefined,
      listener: {
        onOpen: data => {
          console.log("listening bot level notifications");
        },
        onCreate: function(data) {
          console.log("onCreate_botLevel", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("onDelete_botLevel", data);
        },
        onUpdate: data => {
          console.log("onUpdate_botLevel", data);
          this.processNotification(data);
        }
      },
      ready_botList: false
    };
  },
  computed: {
    ...mapGetters(["botList", "isLogin"]),
    currentBotId() {
      return this.$route.params.bot_id;
    }
  },
  async created() {
    await this.getBotList();
    this.setUpBotLevelAuthNotificationServices();
  },
  beforeDestroy() {
    this.$root.notificationService.unsubscribe(this.subscription);
  },
  methods: {
    async getBotList() {
      const res = await Promise.all([
        this.$store.dispatch("updateMyBots"),
        this.$store.dispatch("updateSharedByOthersBots")
      ]);
      this.ready_botList = true;
      if (this.currentBotId) {
        this.setCurrentBot();
      }
    },
    setCurrentBot() {
      if (!this.currentBotId) return false;
      const currentBot = this.botList.find(x => x.id === this.currentBotId);
      if (!currentBot) {
        this.$router.push({ path: "/bot/unauthorization" });
      } else {
        this.$store.commit("SET_CURRENT_BOT", currentBot);
      }
    },
    setUpBotLevelAuthNotificationServices() {
      this.subscription = this.$root.notificationService.subscribe(this.listener, {
        agent_id: this.currentBotId,
        event: VALID_EVENTS
      });
      this.$store.dispatch("updateUnreadNotificationHistory");
    },
    async processNotification(data) {
      this.$root.m_success(this.notificationToText(data));
      this.$store.dispatch("updateUnreadNotificationHistory");
    }
  },
  watch: {
    currentBotId(val) {
      this.setCurrentBot();
    },
    botList: {
      handler() {
        if (!this.ready_botList) return false;
        if (this.currentBotId && !this.botList.some(x => x.id === this.currentBotId)) {
          this.$router.push({ path: "/bot/unauthorization" });
        }
      },
      deep: true
    },
    isLogin(val) {
      if (val) {
        this.getBotList();
      } else {
        this.$store.dispatch("resetBots");
      }
    }
  }
};
</script>