<template>
  <Shield :title="title" :submit="submit" :as="'page'" :maxWidth="600">
    <template slot="body">
      <table class="form_table">
        <tr>
          <td style="width: 100px">{{ $tp("label.groupName") }}：</td>
          <td><input type="text" v-model="name" /></td>
        </tr>
      </table>
    </template>
  </Shield>
</template>
<script>
import { mapState } from "vuex";
import { injectTo, isUndefined } from "@u/methodsHelper";
import Shield from "@c/shield";
// mixins
import App from "@mix/App";
// api
import { createGroup, updateGroup } from "@/api/Group";
export default {
  mixins: [App],
  components: { Shield },
  data() {
    return {
      title: "",
      //form
      id: "",
      name: ""
    };
  },
  computed: {
    isCreateMode() {
      return this.$route.params.mode === "create";
    },
    isEditMode() {
      return this.$route.params.mode === "edit";
    }
  },
  mounted() {
    const { mode } = this.$route.params;
    const { sd_group, groupList } = this.getVue("group");
    if (this.isEditMode && isUndefined(groupList[sd_group])) this.App.router_backfrom("mode");
    this.title = this.$tp([`label.${mode}`, "label.group"]);
    if (this.isEditMode) {
      injectTo(groupList[sd_group], this);
    }
  },
  methods: {
    submit() {
      if (this.name.trim() === "") {
        this.$root.m_error(this.$tp(["label.name", "warn.isRequired"]));
        return false;
      }
      const { mode } = this.$route.params;
      if (this.isCreateMode) {
        createGroup(this.name)
          .then(res => {
            let parent = this.getVue("group");
            parent.getData(parent.listQuery, "", true);
            this.$router.go(-1);
            this.$root.m_success(this.$tp("warn.createSuccess") + "!");
          })
          .catch(ex => {
            console.log(ex);
          });
      } else if (this.isEditMode) {
        updateGroup({ id: this.id, name: this.name })
          .then(res => {
            let parent = this.getVue("group");
            parent.getData(parent.listQuery, "", false);
            this.$router.go(-1);
            this.$root.m_success(this.$tp("warn.editSuccess") + "!");
          })
          .catch(ex => {
            console.log(ex);
          });
      }
    }
  }
};
</script>

<style lang="less">
</style>