<template>
  <div class="app-container fx fdc">
    <div class="tab-page _fill">
      <div class="tab-page-inner fx fdc">
        <div class="page-title-row">
          <span class="page-title">{{ $tp("router.group") }}</span>
          <div class="title-buttons">
            <pageTopMainButton
              :label="$tp('label.new', { name: $tp('label.group') })"
              img="add"
              @click.native="event_group('create')"
            ></pageTopMainButton>
          </div>
        </div>
        <div class="_fill">
          <div class="group_table">
            <div
              v-for="(group, index) in groupList"
              class="group_row fx aic"
              @click="event_group('edit', index)"
            >
              <div class="_img"></div>
              <div class="_name _fill">{{ group.name }}</div>
              <div class="_option" @click.stop>
                <el-dropdown>
                  <dotMenu></dotMenu>
                  <el-dropdown-menu class="dlorgmode" slot="dropdown">
                    <el-dropdown-item @click.native="event_group('delete', index)">{{
                      $tp("label.delete")
                    }}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </div>
        </div>
        <pagination
          :total="groupTotal"
          :page.sync="listQuery.page"
          :limit.sync="listQuery.limit"
          :pagination="changePage"
        />
        <router-view />
      </div>
    </div>
  </div>
</template>
<script>
import { isSuccess } from "@u/methodsHelper";
//ui
import dotMenu from "@ui/dotMenu";
import pageTopMainButton from "@ui/pageTopMainButton";
//mixins
import navSearch from "@mix/navSearch";
import App from "@mix/App";
// api
import { getGroups, removeGroup } from "@/api/Group";
import Pagination from "@/components/Pagination";

function defaultListQuery() {
  return {
    page: 1,
    limit: 10
  };
}

export default {
  mixins: [App, navSearch],
  components: { dotMenu, pageTopMainButton, Pagination },
  data() {
    return {
      sd_group: -1,
      groupList: [],
      groupTotal: 0,
      listQuery: new defaultListQuery()
    };
  },
  computed: {},
  created() {
    this.toPublic("group");
  },
  mounted() {
    this.getData(new defaultListQuery(), "", true);
  },
  methods: {
    navSearch_callback() {
      this.getData(new defaultListQuery(), this.navSearch_text);
    },
    changePage(listQuery) {
      this.getData(listQuery);
    },
    getData(listQuery, filterStr, showLen = "true") {
      let skip = (listQuery.page - 1) * listQuery.limit;
      let limit = listQuery.limit;
      getGroups(skip, limit, filterStr, showLen)
        .then(res => {
          this.groupList = res.groups.map((x, i) => {
            x.i = i;
            return x;
          });
          this.groupTotal = res.len ? res.len : this.groupTotal;
        })
        .catch(ex => {
          console.log(ex);
        });
    },
    event_group(mode, index) {
      if (typeof index === "number") this.sd_group = index;
      if (/^(create|edit)$/.test(mode)) this.App.router_toMode(mode);
      else if (mode === "delete") {
        this.$confirm(this.$tp("warn.confirmDelete"), this.$tp("warn.confirm"), {
          confirmButtonText: this.$tp("label.ok"),
          cancelButtonText: this.$tp("label.cancel"),
          type: "warning"
        }).then(() => {
          removeGroup({ id: this.groupList[this.sd_group].id })
            .then(res => {
              if (isSuccess(res.status)) {
                this.getData(this.listQuery, "", true);
                this.$root.m_success(this.$tp("warn.deleteSuccess"));
              } else this.$root.m_success(this.$tp("warn.deleteFail"));
            })
            .catch(ex => {
              console.log(ex);
            });
        });
      }
    }
  }
};
</script>
<style lang="less" scoped>
@import "~@css/fn.less";
.page-title-row {
  margin-bottom: 20px;
}
.group_table {
  border-top: 1px solid #c6c6c6;
  .group_row {
    height: 60px;
    background-color: #f5f5f5;
    padding: 0 25px;
    border-bottom: 1px solid #c6c6c6;
    cursor: pointer;
    &:hover {
      background-color: #ffede8;
    }
    ._img {
      .WH(30px);
      border-radius: 50%;
      background-color: #cccccc;
      margin-right: 10px;
    }
    ._name {
    }
    ._option {
    }
  }
}
</style>