<template>
  <div class="page_ttl vtc">
    <template>
      <img v-if="img === 'bot'" class="icon" src="./img/bot_gray.svg" />
      <img v-else-if="img === 'entity'" class="icon" src="./img/entity_tag.svg" />
      <img v-else-if="img === 'intent'" class="icon" src="./img/intent_tag.svg" />
      <img v-else-if="img === 'dialog'" class="icon" src="./img/dialog.svg" />
      <img v-else-if="img === 'notification'" class="icon" src="./img/notification.svg" />
    </template>
    <template v-if="label">
      <span class="ttl">{{label}}</span>
    </template>
    <template v-for="(item,index) in list">
      <span
        class="ttl"
        :class="{click: !!item.click, active: list.length > 1 && index === list.length - 1}"
        @click="clickHandler(index)"
      >{{item.label}}</span>
      <img src="@img/arrow_right_green_2.svg" v-if="index < list.length - 1" />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    img: String,
    label: String,
    list: Array
  },
  methods: {
    clickHandler(index) {
      this.list[index].click && this.list[index].click();
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.page_ttl {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid #9f9f9f;
  padding-bottom: 5px;
  margin-bottom: 15px;
  .icon {
    height: 25px;
    margin-right: 10px;
  }
  .ttl {
    &.click {
      cursor: pointer;
    }
    &.active {
      color: @topaz;
    }
  }
  & > span {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  & > img {
    margin-right: 15px;
  }
}
</style>