<template>
  <section class="app-main fx fdc">
    <Breadcrumb></Breadcrumb>
    <div class="_fill">
      <router-view />
    </div>
    <template v-if="messengerInit">
      <tryitonMessenger></tryitonMessenger>
    </template>
  </section>
</template>

<script>
import { mapGetters, mapState } from "vuex";
//mixins
import NotificationMixin from "@mix/notification";
//components
import Breadcrumb from "@c/Breadcrumb";
import tryitonMessenger from "@c/messenger/tryiton";

const VALID_EVENTS = [
  "bot_auth",
  "bot_deploy_status",
  "bot_train_status",
  "bot_event",
  "update_nlu_data"
];

export default {
  name: "AppMain",
  mixins: [NotificationMixin],
  components: { tryitonMessenger, Breadcrumb },
  computed: {
    ...mapState(["routeTabs"]),
    ...mapGetters(["currentBot", "currentPageInfo", "user"]),
    messengerInit() {
      return (
        this.currentPageInfo.tab.has("bot") && this.currentBot //&& this.currentBot.status === "ready"
      );
    },
    messengerShow() {
      return [this.$route.name].has(["bot_flow", "bot_integration"]);
    }
  },
  data() {
    return {
      subscription: undefined,
      listener: {
        onOpen: data => {
          console.log("onOpen_userLevel", data);
        },
        onCreate: function(data) {
          console.log("onCreate_userLevel", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("onDelete_userLevel", data);
        },
        onUpdate: data => {
          console.log("onUpdate_userLevel", data);
          this.processNotification(data);
        }
      }
    };
  },
  created() {
    this.setUpNotificationServices();
  },
  mounted() {
    if (this.$route.name !== "index") return false;
    let path = (((this.routeTabs.filter(x => x.tab === "")[0] || {}).routes || [])[0] || {}).path;
    if (path) this.$router.push({ path });
  },
  beforeDestroy() {
    this.$root.notificationService.unsubscribe(this.subscription);
  },

  methods: {
    setUpNotificationServices() {
      this.setUpUserLevelAuthNotificationServices();
    },
    setUpUserLevelAuthNotificationServices() {
      this.subscription = this.$root.notificationService.subscribe(this.listener, {
        user_id: this.user.uid,
        event: VALID_EVENTS
      });
      this.$store.dispatch("updateUnreadNotificationHistory");
    },
    async processNotification(data) {
      if (data.event === "bot_auth") {
        await Promise.all([
          this.$store.dispatch("updateMyBots"),
          this.$store.dispatch("updateSharedByOthersBots")
        ]);
      }
      this.$root.m_success(this.notificationToText(data));
      this.$store.dispatch("updateUnreadNotificationHistory");
    }
  },
  watch: {
    messengerInit(val) {
      if (!val) this.$store.commit("SET_SHOW_MSGBOX", false);
    }
  }
};
</script>

<style scoped>
.app-main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 60px;
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
