<template>
  <div class="navbar fx">
    <div class="currentBot">
      <template v-if="$route.params.bot_id && currentBot">
        <span class="id-copier">
          <div class="icon" @click="copyBotId">
            <img class="not-hovering-img" src="@img/copy-gray2.svg" />
            <img class="hovering-img" src="@img/copy-gray.svg" />
          </div>
          <div class="copy-window">
            <div class="title">{{ $tp("bot.botId") }}</div>
            <div class="id-area fx">
              <input type="text" :value="currentBot.id" readonly="true" />
              <el-tooltip
                class="item"
                :content="$tp('label.copy')"
                popper-class="top-button-hover-block"
                placement="bottom"
                :disabled="sidebar.opened"
              >
                <span class="copy-button" @click="copyBotId">
                  <img class="button-not-hovering-img" src="@img/copy-gray2.svg" />
                  <img class="button-hovering-img" src="@img/copy.svg" />
                </span>
              </el-tooltip>
            </div>
          </div>
        </span>
        <span class="bot-name">{{ currentBot.name }}</span>
        <el-dropdown trigger="click" @click.native.stop.prevent class="vtc">
          <span class="bot_switch_arrow">
            <img src="@img/bot_switch_arrow.svg" />
          </span>
          <el-dropdown-menu
            class="dlorgmode"
            slot="dropdown"
            :style="{ ['max-height']: '450px', ['overflow-y']: 'auto' }"
          >
            <el-dropdown-item
              v-for="(bot, index) in botList"
              :key="index"
              @click.native="event_currentBot('router', bot)"
              >{{ bot.name }}</el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>
      </template>
    </div>
    <div class="_fill fx jcc aic">
      <div class="nav_search_box fx aic" v-if="navSearch_callback">
        <img class="_search" src="@img/search.svg" />
        <input
          type="text"
          v-model="navSearch_text"
          class="_fill"
          :placeholder="$tp('please.enterKeyWord')"
          @keypress.enter="navSearch_callback(navSearch_text)"
        />
        <img
          class="_arrow"
          src="@img/arrow_right_orange.svg"
          @click="navSearch_callback(navSearch_text)"
        />
      </div>
    </div>
    <div class="right-menu fx">
      <div class="bot_box btn">
        <template v-if="isBotTab && currentBot">
          <importConfigButton
            v-show="currentPageInfo.title == 'bot.flowManagement'"
          ></importConfigButton>
          <trainButton></trainButton>
          <testButton></testButton>
          <deployButton v-show="currentPageInfo.title == 'bot.flowManagement'"></deployButton>
        </template>
        <notificationButton></notificationButton>
        <moreButton v-show="currentPageInfo.title == 'bot.flowManagement'"></moreButton>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapState } from "vuex";
import trainButton from "@c/trainButton";
import testButton from "@c/testButton";
import deployButton from "@c/deployButton";
import importConfigButton from "@c/importConfigButton";
import notificationButton from "@c/notificationButton";
import moreButton from "@c/moreButton";
export default {
  components: {
    trainButton,
    testButton,
    deployButton,
    importConfigButton,
    notificationButton,
    moreButton
  },
  data() {
    return {
      navSearch_text_self: ""
    };
  },
  computed: {
    ...mapState(["navSearch_callback"]),
    ...mapGetters(["currentBot", "botList", "sidebar", "user", "currentPageInfo"]),
    isBotTab() {
      return this.currentPageInfo.tab.has("bot");
    },
    navSearch_text: {
      get() {
        return this.$store.state.navSearch_text;
      },
      set(val) {
        this.$store.commit("SET_NAV_SEARCH_TEXT", val);
      }
    }
  },
  methods: {
    event_currentBot(type, targeBot) {
      if (type === "router") {
        this.$router.push({
          path: this.$route.path.replace(this.$route.params.bot_id, targeBot.id)
        });
      }
    },
    async copyBotId() {
      try {
        await this.$copyText(this.currentBot.id);
        this.$root.m_success(this.$tp(["label.copy", "warn.success"]));
      } catch (error) {
        this.$root.m_error(this.$tp(["label.copy", "warn.failed"]));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  height: 60px;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #f5f5ff;
  padding: 0 10px;
  .nav_search_box {
    border-radius: 50px;
    border: 1px solid #555555;
    padding: 5px;
    width: 260px;
    ._search {
      width: 20px;
      margin: 0 10px;
    }
    input {
      border: none;
      font-size: 15px;
    }
    ._arrow {
      width: 25px;
      cursor: pointer;
    }
  }
  .right-menu {
    height: 100%;
    line-height: 1;
    align-items: center;
    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }
    .bot_box {
      .loadingBox {
        &.active {
          width: 50px;
          height: 50px;
        }
        width: 0;
        height: 0;
        overflow: hidden;
        transform: scale(0.6);
      }
    }
  }
  .currentBot {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
    margin: auto 30px;
    display: flex;
    .id-copier {
      cursor: pointer;
      position: relative;
      margin-right: 5px;
      img {
        width: 20px;
      }
      .icon {
        &:hover {
          .not-hovering-img {
            display: none;
          }
        }
        &:not(:hover) {
          .hovering-img {
            display: none;
          }
        }
      }
      &:hover {
        .copy-window {
          display: block;
        }
      }
      &:not(:hover) {
        .copy-window {
          display: none;
        }
      }
      .copy-window {
        display: none;

        left: -30px;
        position: absolute;
        border: 1px solid #d3d3d3;
        border-radius: 20px;
        box-shadow: 2px 2px 5px #00000029;
        padding: 10px;
        background-color: white;
        .title {
          font-size: 14px;
        }
        .id-area {
          border: 1px solid #d3d3d3;
          padding: 0 10px 0 5px;
          border-radius: 10px;
          margin-top: 5px;
          input {
            border: none;
            border-radius: 10px;
            min-width: 250px;
          }
          .copy-button {
            margin-left: 5px;
            font-size: 0;
            padding: 6px 10px;
            border: 1px solid #d3d3d3;
            border-radius: 0 10px 10px 0;
            background-color: #f0f0f0;
            img {
              width: 12px;
            }
            &:hover {
              .button-not-hovering-img {
                display: none;
              }
              background-color: #b7b7b7;
            }
            &:not(:hover) {
              .button-hovering-img {
                display: none;
              }
            }
          }
        }
      }
    }
    .bot-name {
      max-width: 120px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bot_switch_arrow {
      margin-left: 10px;
      line-height: 0;
      cursor: pointer;
    }
  }
}
</style>
