<template>
  <div class="app-container">
    <div class="tab-page _fill">
      <div class="tab-page-inner" v-loading="isLoading">
        <div class="page-title-row">
          <span class="page-title">{{ $tp("bot.customerServiceManagement") }}</span>
        </div>
        <div class="account-block">
          <span class="label">{{ $tp("label.managerAccount") }}：</span>
          <input :placeholder="$tp('please.input')" v-model="accountUID" />
          <span class="label">{{ $tp("label.managerName") }}：</span>
          <input :placeholder="$tp('please.input')" v-model="accountName" />
          <span class="label">{{ $tp("label.managerPassword") }}：</span>
          <input
            type="password"
            autocomplete="new-password"
            :placeholder="$tp('please.input')"
            v-model="password"
          />
          <button class="btn-main" @click="updateCSAuth">{{ $tp("label.save") }}</button>
        </div>
        <div class="table-title">{{ $tp("label.accountList") }}：</div>
        <table class="black-white-table">
          <tr>
            <th
              v-for="column in [$tp('label.account'), $tp('label.name'), $tp('label.routeToEdit')]"
            >
              <span>{{ column }}</span>
            </th>
          </tr>
          <template v-for="(employee, employeeIndex) in employees">
            <tr>
              <td>
                <div class="cell">{{ employee.uid }}</div>
              </td>
              <td>
                <div class="cell">{{ employee.name }}</div>
              </td>
              <td style="width:200px">
                <div class="cell button-cell">
                  <a :href="csHubUrl" target="_blank" rel="noopener noreferrer">
                    <img src="@img/edit.svg" />
                  </a>
                </div>
              </td>
            </tr>
          </template>
        </table>

        <div class="total-count">
          {{ $tp("label.totalCount", { count: employeesTotal }) }}
        </div>
        <pagination
          :total="employeesTotal"
          :page.sync="listQuery.page"
          :limit.sync="listQuery.limit"
          :pagination="getEmployees"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { getCSAuth, updateCSAuth } from "@/api/CSAuth";
import currentBot from "@mix/bot/currentBot";
import {
  validatePassword,
  PasswordTooShortError,
  PasswordTooLongError,
  PasswordWithoutLowerCaseLetterError,
  PasswordWithoutUpperCaseLetterError,
  PasswordWithoutNumberError,
  PasswordWithIllegalCharError
} from "@u/validate";
import Pagination from "@/components/Pagination";
import { getConfig } from "@/settings";

const CS_HUB_USER_ROLE_ADMIN = "admin";
const CS_HUB_USER_ROLE_EMPLOYEE = "employee";

export default {
  name: "customerServiceManagement",
  mixins: [currentBot],
  components: {
    Pagination
  },
  data() {
    return {
      accountUID: "",
      accountName: "",
      password: "",
      employees: [],
      employeesTotal: 0,
      listQuery: {
        page: 1,
        limit: 10
      },
      isLoading: false,
      csHubUrl: getConfig("fut").csHubUrl
    };
  },
  methods: {
    async init() {
      await Promise.all([this.getCSAdmin(), this.getEmployees()]);
    },
    async getCSAdmin() {
      const result = await getCSAuth(this.currentBot.id, CS_HUB_USER_ROLE_ADMIN);
      const adminUser = result.cs_auth_users.length > 0 ? result.cs_auth_users[0] : {};
      this.accountUID = adminUser.uid || "";
      this.accountName = adminUser.name || "";
    },
    async getEmployees() {
      let skip = (this.listQuery.page - 1) * this.listQuery.limit;
      let limit = this.listQuery.limit;
      this.isLoading = true;
      try {
        const result = await getCSAuth(this.currentBot.id, CS_HUB_USER_ROLE_EMPLOYEE, skip, limit);
        this.employees = result.cs_auth_users;
        this.employeesTotal = result.len;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.isLoading = false;
    },
    async updateCSAuth() {
      if (this.accountUID == "") {
        this.$root.m_error(this.$tp("warn.acountShouldNotBeEmpty"));
        return;
      }
      if (this.accountName == "") {
        this.$root.m_error(this.$tp("warn.acountNameShouldNotBeEmpty"));
        return;
      }
      try {
        if (this.password !== "") {
          validatePassword(this.password);
        }
      } catch (error) {
        if (error instanceof PasswordTooShortError) {
          this.$root.m_error(this.$tp("warn.passwordTooShort"));
        } else if (error instanceof PasswordTooLongError) {
          this.$root.m_error(this.$tp("warn.passwordTooLong"));
        } else if (error instanceof PasswordWithoutUpperCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsUpperCaseLetter"));
        } else if (error instanceof PasswordWithoutLowerCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsLowerCaseLetter"));
        } else if (error instanceof PasswordWithoutNumberError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsNumber"));
        } else if (error instanceof PasswordWithIllegalCharError) {
          this.$root.m_error(this.$tp("warn.passwordWithIllegalChar", { char: error.char }));
        }

        return;
      }
      try {
        await updateCSAuth(this.currentBot.id, this.accountUID, this.accountName, this.password);
        this.$root.m_success(this.$tp("warn.editSuccess"));
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.editFail"), (error.response.data || {}).error_code);
      }
    }
  }
};
</script>

<style lang="less" scoped>
.account-block {
  background-color: #f5f5f5;
  margin-top: 10px;
  padding: 5px 10px;
  .label {
    color: #4e4e4e;
  }
  input {
    margin-right: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
    color: #4e4e4e;
    &:focus {
      border: 1px solid #ff8560;
    }
  }
}
.table-title {
  padding: 10px 20px 0;
}
td {
  .button-cell {
    text-align: center;
    img {
      width: 20px;
      cursor: pointer;
    }
  }
}
</style>
