<template>
  <div class="app-container fx fdc h100">
    <tabBar :tabNames="['usage', 'trainLog', 'publicOpinionAnalysis']" @changeTab="changeTab"></tabBar>
    <div class="tab-page">
      <div class="tab-page-inner">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import App from "@mix/App";
import tabBar from "@c/tabBar";

export default {
  mixins: [App],
  components: { tabBar },
  data() {
    return {};
  },
  mounted() {},
  methods: {
    changeTab(tabName) {
      this.App.replaceMode(tabName);
    }
  }
};
</script> 