<template>
  <div class="public-opinion-analysis-page">
    <div class="page-title-row">
      <span class="page-title">{{$tp('bot.analysis')}}</span>
    </div>
    <div class="title-row">
      <span class="title-text">{{$tp('title.sentimentAnalysis')}}</span>
      <span class="dropdown-wrapper">
        <dropdown>
          <template slot="select">
            <span class="ddl_ttl">{{timeUnitOptions[timeUnitIndex]}}</span>
            <img class="toggle-button" src="@img/arrow_orange.svg" />
          </template>
          <template slot="option">
            <div v-for="option, index in timeUnitOptions" @click="timeUnitIndex = index">{{option}}</div>
          </template>
        </dropdown>
      </span>
      <el-date-picker
        v-show="timeUnitIndex == 2"
        v-model="customDateRange"
        type="daterange"
        range-separator="-"
        start-placeholder="Start date"
        end-placeholder="End date"
        @change="getData"
      ></el-date-picker>
    </div>
    <div class="page">
      <div class="chart" v-if="showSentimentAnalysisData">
        <apexchart
          type="radar"
          height="350"
          :options="chartData.chartOptions"
          :series="chartData.series"
        ></apexchart>
      </div>
      <div class="score-board">
        <span
          v-for="score, sentiment in analysisData"
          class="score-block"
          :class="sentiment==highestScoreSentiment? 'hightlight':''"
        >
          <div class="score">{{Math.round(score*100)}}%</div>
          <div class="text">{{convertSentimentName(sentiment)}}</div>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { getSentimentAnalysis } from "@/api/Statistic";
import dropdown from "@c/dropdown/dropdown";
import { getRequestTimeStampParameters } from "@/utils/apiParameterHelper";
//mixins
import currentBot from "@mix/bot/currentBot";

const TIME_UNIT_TODAY_INDEX = 0;
const TIME_UNIT_YESTERDAY_INDEX = -1;

export default {
  mixins: [currentBot],
  components: { dropdown },
  data() {
    return {
      timeUnitOptions: [
        this.$tp("label.yesterday"),
        this.$tp("label.thisWeek"),
        this.$tp("label.custom")
      ],
      timeUnitIndex: 0,
      customDateRange: [],
      analysisData: {},
      chartData: {
        series: [
          {
            name: "Sentiment Analysis",
            data: []
          }
        ],
        chartOptions: {
          chart: {
            height: 350,
            type: "radar"
          },
          xaxis: {
            categories: []
          },
          fill: {
            opacity: 0.5,
            colors: ["#f8b700"]
          },
          stroke: {
            show: false,
            width: 0
          },
          markers: {
            size: 3,
            colors: ["#f8b700"],
            hover: {
              size: 5
            }
          },
          yaxis: {
            show: false,
            min: 0,
            max: 1
          },
          chart: {
            toolbar: {
              show: false
            }
          }
        }
      },
      showSentimentAnalysisData: false,
      highestScoreSentiment: ""
    };
  },
  methods: {
    init() {
      this.getData();
    },
    async getData() {
      this.cleanChartData();
      let convertedTimeUnitIndex =
        this.timeUnitIndex == TIME_UNIT_TODAY_INDEX
          ? TIME_UNIT_YESTERDAY_INDEX
          : this.timeUnitIndex;
      let timeStampParas = getRequestTimeStampParameters(
        convertedTimeUnitIndex,
        this.customDateRange
      );
      if (!timeStampParas) return;
      let result = await getSentimentAnalysis(
        this.currentBot.id,
        timeStampParas.startTimeStamp,
        timeStampParas.endTimeStamp
      );
      this.analysisData = result.analysis;

      this.convertToChartData(this.analysisData);
    },
    cleanChartData() {
      this.chartData.series[0].data.splice(0);
      this.chartData.chartOptions.xaxis.categories.splice(0);
    },
    convertToChartData(analysisData) {
      if (!analysisData) return;
      this.showSentimentAnalysisData = false;
      let maxScore = 0;
      for (const [sentiment, score] of Object.entries(analysisData)) {
        this.chartData.chartOptions.xaxis.categories.push(
          this.convertSentimentName(sentiment)
        );
        this.chartData.series[0].data.push(score);
        if (score > maxScore) {
          maxScore = score;
          this.highestScoreSentiment = sentiment;
        }
      }
      setTimeout(() => {
        this.showSentimentAnalysisData = true;
      }, 0);
    },
    convertSentimentName(sentimentName) {
      return this.$tp(`sentiment.${sentimentName.toLowerCase()}`);
    }
  },
  watch: {
    timeUnitIndex: {
      handler(val) {
        this.getData();
      }
    }
  }
};
</script>

<style lang="less">
.public-opinion-analysis-page {
  .title {
    display: flex;
    align-items: center;
    .title-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: bold;
      color: #4e4e4e;
    }
    .el-date-editor {
      border-radius: 100px;
    }
  }
  .page {
    .score-board {
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;
      .score-block {
        padding: 15px;
        margin: 5px;
        border-radius: 10px;
        .score {
          color: #f8b700;
          font-size: 35px;
          font-weight: bold;
          text-align: center;
        }
        .text {
          color: #5a5a5a;
          margin-top: 5px;
          text-align: center;
        }
        &.hightlight {
          background-color: #ff8560;
          .score {
            color: white;
          }
        }
      }
    }
    .chart {
      max-width: 600px;

      transform-origin: left top;
      transform: scale(1.5);
    }
  }

  .el-date-editor {
    margin-left: 10px;
    border-radius: 100px;
  }
}
</style>