<template>
  <div class="train-log-page">
    <div class="page-title-row">
      <span class="page-title">{{$tp('bot.analysis')}}</span>
    </div>
    <div class="title-row">
      <span class="title-text">{{$tp('title.botTrainLog')}}</span>
      <span class="dropdown-wrapper">
        <el-date-picker
          v-model="customDateRange"
          type="daterange"
          range-separator="-"
          start-placeholder="Start date"
          end-placeholder="End date"
          @change="getData"
        ></el-date-picker>
      </span>
    </div>
    <div class="total-row">
      <span class="count-block">
        <span class="label">{{$tp('title.total')}}：</span>
        <span class="count">{{summary.trainingCount}}</span>
      </span>
      <span class="count-block">
        <span class="label">{{$tp('title.successTotal')}}：</span>
        <span class="count">{{summary.successCount}}</span>
      </span>
      <span class="count-block">
        <span class="label">{{$tp('title.failedTotal')}}：</span>
        <span class="count">{{summary.failedCount}}</span>
      </span>
      <span class="count-block">
        <span class="label">{{$tp('title.trainingTimeTotal')}}：</span>
        <span class="count">{{milliSecondToText(summary.trainingTime)}}</span>
      </span>
    </div>
    <table class="train-log-table">
      <tr>
        <th>Time</th>
        <th>Result</th>
        <th>Intents</th>
        <th>Utterances</th>
        <th>Training Time</th>
        <th>Note</th>
      </tr>
      <template
        v-for="trainResult in trainResults.slice(currentPageStartIndex,currentPageEndIndex)"
      >
        <tr>
          <td>
            <div class="cell">{{timeStampToDateText(trainResult.startTime)}}</div>
          </td>
          <td>
            <div class="cell result" :class="trainResult.result">{{trainResult.result}}</div>
          </td>
          <td>
            <div class="cell">{{trainResult.intentCount}}</div>
          </td>
          <td>
            <div class="cell">{{trainResult.utteranceCount}}</div>
          </td>
          <td>
            <div class="cell">{{milliSecondToText(trainResult.trainingTime)}}</div>
          </td>
          <td>
            <div class="cell">{{trainResult.note}}</div>
          </td>
        </tr>
      </template>
    </table>
    <pagination
      :total="trainLogTotal"
      :page.sync="trainLogListQuery.page"
      :limit.sync="trainLogListQuery.limit"
      :pagination="getData"
    />
  </div>
</template>

<script>
import { getTrainLog } from "@/api/Statistic";
import { time2Text } from "@/utils/time";
import Pagination from "@/components/Pagination";
import { convertDateBeginToTimeStamp, milliSecondToText } from "@/utils/time";
//mixins
import currentBot from "@mix/bot/currentBot";

const LOG_STATUS_START = "start";

export default {
  mixins: [currentBot],
  components: { Pagination },
  data() {
    return {
      NORMALIZED_STATUS_MAPPING: {
        ready: "success"
      },
      trainResults: [],
      trainLogListQuery: { page: 1, limit: 10 },
      trainLogTotal: 0,
      customDateRange: [],
      summary: {
        trainingCount: 0,
        successCount: 0,
        failedCount: 0,
        trainingTime: 0
      }
    };
  },
  computed: {
    currentPageStartIndex() {
      return (this.trainLogListQuery.page - 1) * this.trainLogListQuery.limit;
    },
    currentPageEndIndex() {
      return this.trainLogListQuery.page * this.trainLogListQuery.limit;
    }
  },
  methods: {
    async init() {
      await this.getData();
    },
    async getData() {
      let skip =
        this.trainLogListQuery.limit * (this.trainLogListQuery.page - 1) * 2;
      let limit = this.trainLogListQuery.limit * 2;
      let startTimeStamp, endTimeStamp;
      if (this.customDateRange.length == 2) {
        let startDate = new Date(this.customDateRange[0].getTime());
        let endDate = new Date(this.customDateRange[1].getTime());
        endDate.setDate(endDate.getDate() + 1);
        startTimeStamp = convertDateBeginToTimeStamp(startDate);
        endTimeStamp = convertDateBeginToTimeStamp(endDate);
      }

      let result = await getTrainLog(
        this.currentBot.id,
        undefined,
        undefined,
        true,
        startTimeStamp,
        endTimeStamp
      );
      this.trainResults = this.mergeTrainLog(result.train_log);
      this.summary = this.summerizeTrainResult(this.trainResults);
      this.trainLogTotal = Math.floor(result.len / 2);
    },
    mergeTrainLog(trainLogs) {
      const trainResults = [];
      let i = trainLogs.length - 1;
      while (i > 0) {
        let startLog = trainLogs[i];
        let resultLog = trainLogs[i - 1];
        if (
          startLog.status != LOG_STATUS_START ||
          resultLog.status === LOG_STATUS_START
        ) {
          i--;
        } else {
          trainResults.unshift({
            startTime: startLog.updated,
            result: this.normalizeStatus(resultLog.status),
            intentCount: startLog.intent_count,
            utteranceCount: startLog.utterance_count,
            trainingTime: resultLog.updated - startLog.updated,
            note: resultLog.error
          });
          i -= 2;
        }
      }

      return trainResults;
    },
    summerizeTrainResult(trainResults) {
      const summary = {
        trainingCount: trainResults.length,
        successCount: 0,
        failedCount: 0,
        trainingTime: 0
      };
      for (const trainResult of trainResults) {
        if (trainResult.result == this.NORMALIZED_STATUS_MAPPING["ready"]) {
          summary.successCount += 1;
        } else {
          summary.failedCount += 1;
        }
        summary.trainingTime += trainResult.trainingTime;
      }
      return summary;
    },
    normalizeStatus(status) {
      return this.NORMALIZED_STATUS_MAPPING[status]
        ? this.NORMALIZED_STATUS_MAPPING[status]
        : status;
    },
    timeStampToDateText: time2Text,
    milliSecondToText: milliSecondToText
  }
};
</script>

<style lang="less">
.train-log-page {
  .summary {
    margin: 20px;
    & > span {
      margin-right: 20px;
      .content {
        font-size: 40px;
      }
    }
  }
  .train-log-table {
    margin: 10px 0;
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;

      .cell {
        max-height: 60px;
        overflow: scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
        &.result {
          color: #4e4e4e;
          &.failed {
            color: #ff8560;
          }
        }
      }
    }
    tr {
      &:hover {
        background-color: #ddd;
      }
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4e4e4e;
        color: white;
        &:first-child {
          border-radius: 10px 0 0 0;
          border: none;
        }
        &:last-child {
          border-radius: 0 10px 0 0;
          border: none;
        }
      }
    }
  }
}
</style>