<template>
  <div class="statistic-page">
    <div class="page-title-row">
      <span class="page-title">{{ $tp("bot.analysis") }}</span>
    </div>
    <div class="user-and-message-usage-block">
      <div class="title-row">
        <span class="title-text">{{ $tp("label.userAndMessageStatistic") }}</span>
        <span class="dropdown-wrapper">
          <dropdown>
            <template slot="select">
              <span class="ddl_ttl">{{
                getFormatedIntegraionName(integrationObjs[integrationNameIndex])
              }}</span>
              <img class="toggle-button" src="@img/arrow_orange.svg" />
            </template>
            <template slot="option">
              <div
                v-for="(integrationObj, index) in integrationObjs"
                @click="integrationNameIndex = index"
              >
                {{ getFormatedIntegraionName(integrationObj) }}
              </div>
            </template>
          </dropdown>
        </span>
        <span class="dropdown-wrapper">
          <dropdown>
            <template slot="select">
              <span class="ddl_ttl">{{ dataTypeOptions[dataTypeIndex] }}</span>
              <img class="toggle-button" src="@img/arrow_orange.svg" />
            </template>
            <template slot="option">
              <div v-for="(option, index) in dataTypeOptions" @click="dataTypeIndex = index">
                {{ option }}
              </div>
            </template>
          </dropdown>
        </span>
        <span class="dropdown-wrapper">
          <dropdown>
            <template slot="select">
              <span class="ddl_ttl">{{ timeUnitOptions[timeUnitIndex] }}</span>
              <img class="toggle-button" src="@img/arrow_orange.svg" />
            </template>
            <template slot="option">
              <div v-for="(option, index) in timeUnitOptions" @click="timeUnitIndex = index">
                {{ option }}
              </div>
            </template>
          </dropdown>
        </span>

        <el-date-picker
          v-show="timeUnitIndex == 2"
          v-model="customDateRange"
          type="daterange"
          range-separator="-"
          start-placeholder="Start date"
          end-placeholder="End date"
          @change="getData"
        ></el-date-picker>
      </div>
      <div class="total-row">
        <span class="count-block">
          <span class="label">{{ $tp("label.userCount") }}：</span>
          <span class="count">{{ userCount }}</span>
        </span>
        <span class="count-block">
          <span class="label">{{ $tp("label.messageCount") }}：</span>
          <span class="count">{{ messageCount }}</span>
        </span>
      </div>
      <line-chart v-if="showLineChart" :chart-data="lineChartData" :x-axis-data="xAxisData" />
    </div>
    <div class="intent-usage-block">
      <div class="title-row">
        <span class="title-text">{{ $tp("label.intentUsage") }}</span>
        <span class="dropdown-wrapper">
          <dropdown>
            <template slot="select">
              <span class="ddl_ttl">{{ timeUnitOptions[intentTimeUnitIndex] }}</span>
              <img class="toggle-button" src="@img/arrow_orange.svg" />
            </template>
            <template slot="option">
              <div v-for="(option, index) in timeUnitOptions" @click="intentTimeUnitIndex = index">
                {{ option }}
              </div>
            </template>
          </dropdown>
        </span>
        <el-date-picker
          v-show="intentTimeUnitIndex == 2"
          v-model="intentCustomDateRange"
          type="daterange"
          range-separator="-"
          start-placeholder="Start date"
          end-placeholder="End date"
          @change="getIntentUsageData"
        ></el-date-picker>
      </div>
      <div v-if="intentChartData.series[0].data.length > 0" class="intent-usage-block">
        <span class="chart" v-if="showIntentChart">
          <div class="title">{{ $tp("label.triggerTimes") }}</div>
          <apexchart
            type="bar"
            height="360px"
            width="100%"
            :options="intentChartData.chartOptions"
            :series="intentChartData.series"
          ></apexchart>
        </span>
        <span class="leader-board" v-if="showIntentChart">
          <div class="title">{{ $tp("label.intentLeaderBoard") }}</div>
          <div class="items">
            <div
              class="item"
              v-for="(intentUsage, index) in intentUsages.slice(INTENT_CHART_ITEM_MAXIMUM)"
            >
              <span class="rank vtc">
                <span>{{ index + INTENT_CHART_ITEM_MAXIMUM + 1 }}</span>
              </span>
              <span class="name">{{ intentUsage.intentName }}</span>
              <span class="trigger-times">{{ intentUsage.count }}</span>
            </div>
          </div>
        </span>
      </div>
      <div v-else>{{$tp("warn.noDataAtSuchInterval"),}}</div>
    </div>
  </div>
</template>

<script>
import { getStatistic, getIntentUsage } from "@/api/Statistic";
import { getIntents } from "@/api/Intent";
import { getIntegrations } from "@/api/Integration";
import LineChart from "./LineChart";
import dropdown from "@c/dropdown/dropdown";
import { getRequestTimeStampParameters } from "@/utils/apiParameterHelper";
//mixins
import currentBot from "@mix/bot/currentBot";

const DEFAULT_DAY_QUERY_MAXIMUM = 6;
const UNLIMITED_INTEGRATION_NAME_INDEX = 0;
const INTENT_USAGE_CHART_MAXMUM = 10;
const INTENT_USAGE_ITEM_MINIMUM = 20;

export default {
  mixins: [currentBot],
  components: {
    LineChart,
    dropdown
  },
  data() {
    return {
      INTENT_CHART_ITEM_MAXIMUM: 10,
      lineChartData: [],
      intentChartData: {
        series: [
          {
            data: []
          }
        ],
        chartOptions: {
          chart: {
            type: "bar",
            toolbar: {
              show: false
            }
          },
          colors: ["#ff8560"],
          plotOptions: {
            bar: {
              columnWidth: "45%",
              distributed: true
            }
          },
          dataLabels: {
            enabled: false
          },
          legend: {
            show: false
          },
          xaxis: {
            categories: [],
            labels: {
              style: {
                colors: ["#4E4E4E"],
                fontSize: "12px"
              }
            }
          }
        }
      },
      dataTypeOptions: [
        this.$tp("label.userSendMessage"),
        this.$tp("label.userCount"),
        this.$tp("label.userAndMessageCount")
      ],
      timeUnitOptions: [
        this.$tp("label.thisDay"),
        this.$tp("label.thisWeek"),
        this.$tp("label.custom")
      ],
      dataTypeIndex: 0,
      timeUnitIndex: 0,
      intentTimeUnitIndex: 0,
      intentCustomDateRange: [],
      xAxisData: [],
      apiResult: {},
      intentUsages: [],
      showLineChart: true,
      showIntentChart: false,
      customDateRange: [],
      integrationObjs: [{ passage: this.$tp("label.unlimited") }],
      integrationNameIndex: 0,
      userCount: 0,
      messageCount: 0
    };
  },
  computed: {
    show_day_statistic() {
      return this.timeUnitIndex == 0;
    }
  },
  methods: {
    init() {
      this.getData();
      this.getIntentUsageData();
      this.getIntegrations();
    },
    async getData() {
      let timeStampParas = getRequestTimeStampParameters(this.timeUnitIndex, this.customDateRange);
      if (!timeStampParas) return;

      let integrationParas = this.getRequestIntegrationParameter();
      this.apiResult = await getStatistic(
        this.currentBot.id,
        timeStampParas.startTimeStamp,
        timeStampParas.endTimeStamp,
        this.show_day_statistic,
        integrationParas.passage,
        integrationParas.name
      );
      this.refreshTotalCount();
      this.transformAPIResultToLineChartData(this.show_day_statistic);
    },
    async getIntentUsageData() {
      let timeStampParas = getRequestTimeStampParameters(
        this.intentTimeUnitIndex,
        this.intentCustomDateRange
      );
      if (!timeStampParas) return;
      const APIResult = await Promise.all([
        getIntentUsage(
          this.currentBot.id,
          timeStampParas.startTimeStamp,
          timeStampParas.endTimeStamp
        ),
        getIntents(this.currentBot.id)
      ]);
      const intentUsageAPIResult = APIResult[0];
      const intents = APIResult[1].intents;

      this.intentUsages = this.convertToIntentUsages(intentUsageAPIResult, intents);
      this.cleanChartData(this.intentChartData);

      this.transformintentUsageAPIResultToBarChartData(this.intentUsages);
    },
    async getIntegrations() {
      let result = await getIntegrations(this.currentBot.id);
      for (let integration of result.integrations) {
        if (integration.credential.credentials) {
          for (let subCredential of integration.credential.credentials) {
            this.integrationObjs.push({
              passage: integration.passage,
              name: subCredential.name
            });
          }
        } else {
          this.integrationObjs.push({ passage: integration.passage });
        }
      }
    },
    refreshTotalCount() {
      this.userCount = this.apiResult.statstic.user_count;
      this.messageCount = this.countMessage(
        this.show_day_statistic,
        this.apiResult.statstic.message_traffic
      );
    },
    countMessage(show_day_statistic, messageData) {
      let messageCount = 0;
      if (show_day_statistic) {
        messageCount = messageData[0].count;
      } else {
        messageCount = messageData.reduce(
          (accumulator, messageObj) => accumulator + (messageObj.count || 0),
          0
        );
      }
      return messageCount;
    },
    getRequestIntegrationParameter() {
      if (this.integrationNameIndex == UNLIMITED_INTEGRATION_NAME_INDEX) return {};
      return this.integrationObjs[this.integrationNameIndex];
    },
    getFormatedIntegraionName(integrationObj) {
      if (integrationObj.name) return `${integrationObj.passage}: ${integrationObj.name}`;
      return integrationObj.passage;
    },
    transformAPIResultToLineChartData(show_day_statistic) {
      let messageData = this.apiResult.statstic.message_traffic,
        userData = this.apiResult.statstic.user_traffic,
        dates = [],
        transformedMessageData = { name: "message", data: [] },
        transformedUserData = { name: "user", data: [] };
      this.xAxisData = [];
      if (messageData) {
        if (show_day_statistic) {
          this.xAxisData = [...Array(24).keys()];
          for (let hour in this.xAxisData) {
            transformedMessageData.data.push(messageData[0].day_statistic[hour] || 0);
            transformedUserData.data.push(userData[0].day_statistic[hour] || 0);
          }
        } else {
          for (let i = 0; i < messageData.length; i++) {
            this.xAxisData.push(messageData[i].date);
            transformedMessageData.data.push(messageData[i].count);
            transformedUserData.data.push(userData[i].count);
          }
        }
      }
      switch (this.dataTypeIndex) {
        case 0:
          this.lineChartData = [transformedMessageData];
          break;
        case 1:
          this.lineChartData = [transformedUserData];
          break;
        case 2:
          this.lineChartData = [transformedMessageData, transformedUserData];
          break;
      }
      this.refreshLineChart();
    },
    convertToIntentUsages(intentUsageAPIResult, intents) {
      let intentUsages = [];
      const intentNames = new Set();
      for (const intent_usage of intentUsageAPIResult.intent_usage) {
        intentUsages.push({
          intentName: intent_usage.intent_name,
          count: intent_usage.count
        });
        intentNames.add(intent_usage.intent_name);
      }

      intentUsages = this.padUnusedIntents(intents, intentUsages, intentNames);
      intentUsages = this.padToIntentUsageMinimum(intentUsages);

      return intentUsages;
    },
    padUnusedIntents(intents, intentUsages, intentNames) {
      for (const intent of intents) {
        if (intentNames.has(intent.name)) continue;
        intentUsages.push({
          intentName: intent.name,
          count: 0
        });
      }
      return intentUsages;
    },
    padToIntentUsageMinimum(intentUsages) {
      for (let i = intentUsages.length; i < INTENT_USAGE_ITEM_MINIMUM; i++) {
        intentUsages.push({
          intentName: " ",
          count: 0
        });
      }
      return intentUsages;
    },
    transformintentUsageAPIResultToBarChartData(intentUsages) {
      this.showIntentChart = false;

      for (let i = 0; i < INTENT_USAGE_CHART_MAXMUM; i++) {
        this.intentChartData.series[0].data.push(intentUsages[i].count);
        this.intentChartData.chartOptions.xaxis.categories.push(intentUsages[i].intentName);
      }
      setTimeout(() => {
        this.showIntentChart = true;
      }, 0);
    },
    cleanChartData(chartData) {
      chartData.series[0].data.splice(0);
      chartData.chartOptions.xaxis.categories.splice(0);
    },
    refreshLineChart() {
      this.showLineChart = false;
      setTimeout(() => {
        this.showLineChart = true;
      }, 0);
    }
  },
  watch: {
    dataTypeIndex: {
      handler(val) {
        let show_day_statistic = this.timeUnitIndex == 0;
        this.transformAPIResultToLineChartData(show_day_statistic);
      }
    },
    timeUnitIndex: {
      handler(val) {
        this.getData();
      }
    },
    intentTimeUnitIndex: {
      handler(val) {
        this.getIntentUsageData();
      }
    },
    integrationNameIndex: {
      handler(val) {
        this.getData();
      }
    }
  }
};
</script>

<style lang="less">
.statistic-page {
  .user-and-message-usage-block {
    overflow-x: hidden;
  }
  .intent-usage-block {
    margin-top: 30px;

    .intent-usage-block {
      display: flex;
      margin-top: 20px;
      .chart {
        margin: 0 10px;
        flex-grow: 1;
      }
      .leader-board {
        margin-left: 20px;
        width: 200px;
        .items {
          margin-top: 15px;
          height: 360px;
          overflow: auto;

          .item {
            display: flex;
            align-items: center;
            margin-top: 5px;
            .rank {
              font-size: 12px;
              width: 30px;
              height: 30px;
              text-align: center;
              background-color: #64b1ce;
              color: white;
              padding: 5px;
              border-radius: 25px;
            }
            .name {
              flex-grow: 1;
              font-size: 14px;

              color: #5a5a5a;
              margin-left: 5px;
            }
            .trigger-times {
              color: #ff8560;
              font-weight: bold;
              font-size: 16px;
            }
          }
        }
      }
    }
    .title {
      color: #5a5a5a;
      font-size: 14px;
    }
  }
}
</style>