<template>
  <div class="gate-page">
    <div class="box" v-loading="isLoading">
      <div class="logo-text">
        <span>Silk</span>
        <span class="black">bot</span>
      </div>
      <div class="hint-hr">
        <span>{{ $tp("label.resetPassword") }}</span>
      </div>
      <div class="description" v-show="page === 'init'">
        <div class="text">{{ $tp("please.enterLoginMailAddress") }}</div>
        <div class="text">{{ $tp("please.resetPasswordMailWillSend") }}</div>
      </div>
      <div class="input-block" v-show="page === 'init'">
        <div class="input-wrapper" :class="{ 'red-border': !isMailValid }">
          <input
            type="email"
            :placeholder="$tp('please.enterMail')"
            v-model="mail"
            @keyup.enter.stop.prevent="CallResetPaswordMailAPI"
          />
        </div>
      </div>
      <div class="done-description" v-if="page === 'success'">
        {{ $tp("description.restePasswordMailHasSent", { mail: this.mail }) }}
      </div>
      <div class="button-row">
        <span class="btn-main" v-show="page === 'init'" @click="CallResetPaswordMailAPI">
          {{ $tp("label.confirmToSend") }}
        </span>
        <span class="btn-main" v-show="page === 'success'" @click="routeToLogin">
          {{ $tp("label.ensure") }}
        </span>
      </div>
      <div class="law-info">
        <div class="copyright">{{ $tp("label.copyright") }}</div>
        <div class="copyright">
          <span class="more-info">{{ $tp("label.privacyPolicy") }}</span>
          <span class="more-info">{{ $tp("label.termOfService") }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { resetPasswordMail } from "@/api/Auth";
import { validMailAddress } from "@u/validate";

export default {
  data() {
    return {
      isLoading: false,
      page: "init",
      mail: "",
      isMailValid: true
    };
  },
  methods: {
    async CallResetPaswordMailAPI() {
      this.isLoading = true;
      if (this.mail === "") {
        this.$root.m_error(this.$tp("warn.mailShouldNotBeEmpty"));
        this.isMailValid = false;
        this.isLoading = false;
        return;
      }
      if (!validMailAddress(this.mail)) {
        this.$root.m_error(this.$tp("warn.mailFormatInvalid"));
        this.isMailValid = false;
        this.isLoading = false;
        return;
      }
      try {
        await resetPasswordMail(this.mail);
        this.page = "success";
      } catch (error) {
        console.log(error);
        const errorCode = ((error.response || {}).data || {}).error_code;
        this.$root.m_error(this.$tp("warn.sendResetPasswordMailFailed"), errorCode);
      }
      this.isLoading = false;
    },
    routeToLogin() {
      this.$router.push("/login");
    }
  }
};
</script>
<style lang="less" scoped>
.btn-main {
  width: 100px;
}
.description {
  color: #4e4e4e;
  font-size: 15px;
}
</style>
