<template>
  <div class="gate-page">
    <div class="box" v-loading="isLoading">
      <div class="logo-text">
        <span>Silk</span>
        <span class="black">bot</span>
      </div>
      <div class="hint-hr">
        <span>{{ $tp("please.setNewVlaidPassword") }}</span>
      </div>
      <div class="input-block" v-show="page === 'init'">
        <div class="input-wrapper" :class="{ 'red-border': !isPasswordValid }">
          <input
            :type="passwordType"
            :placeholder="$tp('please.enterPasswordToSignUp')"
            v-model="password"
          />
          <img
            v-show="isShowPassword"
            src="@img/eye_opened.svg"
            @click="
              isShowPassword = false;
              passwordType = 'password';
            "
          />
          <img
            v-show="!isShowPassword"
            src="@img/eye_forbidden.svg"
            @click="
              isShowPassword = true;
              passwordType = 'text';
            "
          />
        </div>
      </div>
      <div class="input-block" v-show="page === 'init'">
        <div class="input-wrapper" :class="{ 'red-border': !isPassword2Valid }">
          <input
            :type="password2Type"
            :placeholder="$tp('please.enterPasswordToSignUp')"
            v-model="password2"
          />
          <img
            v-show="isShowPassword2"
            src="@img/eye_opened.svg"
            @click="
              isShowPassword2 = false;
              password2Type = 'password';
            "
          />
          <img
            v-show="!isShowPassword2"
            src="@img/eye_forbidden.svg"
            @click="
              isShowPassword2 = true;
              password2Type = 'text';
            "
          />
        </div>
      </div>
      <div class="password-description" v-show="page === 'init'">
        {{ $tp("description.passowrdFormat") }}
      </div>
      <div class="done-description" v-if="page === 'success'">
        {{ $tp("description.passwordHasReset") }}
      </div>
      <div class="button-row">
        <span v-show="page === 'init'" class="btn-main" @click="resetPassword">{{
          $tp("label.ensure")
        }}</span>
        <span v-show="page === 'success'" class="btn-main" @click="routeToLogin">{{
          $tp("label.ensure")
        }}</span>
      </div>
      <div class="law-info">
        <div class="copyright">{{ $tp("label.copyright") }}</div>
        <div class="copyright">
          <span class="more-info">{{ $tp("label.privacyPolicy") }}</span>
          <span class="more-info">{{ $tp("label.termOfService") }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { resetPassword } from "@/api/Auth";
import {
  validatePassword,
  PasswordTooShortError,
  PasswordTooLongError,
  PasswordWithoutLowerCaseLetterError,
  PasswordWithoutUpperCaseLetterError,
  PasswordWithoutNumberError,
  PasswordWithIllegalCharError,
  validMailAddress
} from "@u/validate";

export default {
  data() {
    return {
      isLoading: false,
      page: "init",
      password: "",
      password2: "",
      isPasswordValid: true,
      isShowPassword: false,
      passwordType: "password",
      isShowPassword2: false,
      isPassword2Valid: true,
      password2Type: "password"
    };
  },
  methods: {
    async resetPassword() {
      this.isPasswordValid = true;
      this.isPassword2Valid = true;
      if (this.password !== this.password2) {
        this.isPassword2Valid = false;
        this.$root.m_error(this.$tp("warn.passwordNotMatch"));
        return;
      }
      if (!this.checkPasswordValid(this.password)) {
        this.isPasswordValid = false;
        return;
      }
      this.isLoading = true;

      const urlParameters = this.$route.query;
      try {
        await resetPassword(urlParameters.uid, urlParameters.activation_code, this.password);
        this.page = "success";
      } catch (error) {
        console.log(error);
        const errorCode = ((error.response || {}).data || {}).error_code;
        this.$root.m_error(this.$tp("warn.linkInvalid"), errorCode);
      }
      this.isLoading = false;
    },
    checkPasswordValid(password) {
      try {
        validatePassword(this.password);
      } catch (error) {
        if (error instanceof PasswordTooShortError) {
          this.$root.m_error(this.$tp("warn.passwordTooShort"));
        } else if (error instanceof PasswordTooLongError) {
          this.$root.m_error(this.$tp("warn.passwordTooLong"));
        } else if (error instanceof PasswordWithoutUpperCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsUpperCaseLetter"));
        } else if (error instanceof PasswordWithoutLowerCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsLowerCaseLetter"));
        } else if (error instanceof PasswordWithoutNumberError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsNumber"));
        } else if (error instanceof PasswordWithIllegalCharError) {
          this.$root.m_error(this.$tp("warn.passwordWithIllegalChar", { char: error.char }));
        }
        return false;
      }

      return true;
    },
    routeToLogin() {
      this.$router.push("/login");
    }
  }
};
</script>
<style lang="less" scoped></style>
