<template>
  <div class="flow_frame fx">
    <!-- skill -->
    <skillList
      :flowData="flowData"
      :skillNodes="skillNodes"
      :skillNode="skillNode"
      :getCurrentNode="getCurrentNode"
    ></skillList>
    <!-- state -->
    <div class="flow_ctn _fill fx fdc">
      <div class="_fill" style="position: relative" @click="getCurrentNode">
        <FlowEditor
          v-if="currentBot"
          :botId="currentBot.id"
          :onInit="onInit"
          :syncFlow="syncFlow"
          :getCurrentNode="getCurrentNode"
          :popSuccess="popSuccess"
        />
      </div>
    </div>
    <!-- 側欄選單 -->
    <div class="fs_frame" :class="{ active: stateNode }">
      <div class="fs_close_x" @click="stateNode = undefined" v-show="stateNode">
        <img src="./img/close.svg" />
      </div>
      <div class="fs_ctn fx fdc" v-if="skillNode">
        <!-- skill name -->
        <div class="fs_ttl fx skill-name-block">
          <span v-show="!isSkillNameEditable" class="skill-name _fill" v-if="skillNode">{{
            skillNode.name
          }}</span>
          <input
            v-show="isSkillNameEditable"
            v-model="tmpSkillName"
            class="_fill"
            type="text"
            @blur="clickSkillNameEdit"
          />
          <img
            v-show="!isSkillNameEditable"
            src="@img/edit_white.svg"
            @click="clickSkillNameEdit"
          />
          <img v-show="isSkillNameEditable" src="@img/save.svg" @click="clickSkillNameEdit" />
        </div>
        <!-- stateNode -->
        <template v-if="stateNode">
          <!-- 狀態類別圖片 -->
          <div class="nodeStatus_box" :class="currentStateType"></div>
          <!-- 狀態名稱 -->
          <div class="fs_label">{{ $tp(["label.stateName"]) }}:</div>
          <div class="fs_box">
            <FlowInput
              v-model="tmpStateName"
              :enter="updateStateName"
              :blur="updateStateName"
              :placeholder="$tp('please.inputStateName')"
            ></FlowInput>
          </div>
          <!-- 開始/結束狀態 -->
          <div class="rd_box fx fw aic">
            <span>{{ $tp("flow.setToStart") }}</span>
            <el-switch v-model="stateNode.info.isStart" @change="updateStateSIsStart"></el-switch>
            <span>{{ $tp("flow.setToEnd") }}</span>
            <el-switch v-model="stateNode.info.isEnd" @change="updateStateSIsEnd"></el-switch>
            <template v-if="currentStateType === 'message'">
              <span>{{ $tp("flow.waitForInput") }}</span>
              <el-switch v-model="stateNode.info.withInput" @change="updateStateSIsEnd"></el-switch>
            </template>
          </div>
          <!-- 提示狀態 -->
          <template v-if="currentStateType === 'message'">
            <!-- 建立提示訊息 -->
            <div class="fs_label">{{ $tp("label.createInputMessage") }}:</div>
            <div class="temp_ctn mb_10">
              <div
                v-for="item in ['text', 'confirm', 'menu', 'carousel', 'imagemap']"
                class="temp_box"
                :class="{ active: promptType === item }"
                @click="setPromptType(item)"
              >
                <img class="_1" :src="require(`./img/${item}TemplateMessage.svg`)" />
                <img class="_2" :src="require(`./img/${item}TemplateMessage02.svg`)" />
                <span>{{ $tp(`label.${item}TemplateMessage`) }}</span>
              </div>
            </div>
            <template v-if="promptType">
              <div class="fs_block">
                <!-- text -->
                <template v-if="promptType === 'text'">
                  <FlowTextarea
                    class="_line"
                    v-model="textPrompt.message"
                    :placeholder="$tp('please.inputStatePrompt')"
                  ></FlowTextarea>
                  <div class="mt_5 ta_c" v-show="textPrompt.message.trim()">
                    <button class="btn-main gray" @click="textPrompt.message = ''">
                      {{ $tp("label.cancel") }}
                    </button>
                    <button class="btn-main" @click="event_textPrompt('input')">
                      {{ $tp("label.add") }}
                    </button>
                  </div>
                  <!-- 重複句 -->
                  <div class="repeat_title clear mt_5">
                    <div class="_lf">提示讯息</div>
                    <div class="_rt">设为重复句</div>
                  </div>
                  <div class="repeat_ctn mb_20">
                    <div class="repeat_box" v-for="(item, index) in stateNode.info.tprompt.items">
                      <el-switch
                        v-model="item.repeated"
                        @change="flowData.functions.setState(stateNode.id)"
                      ></el-switch>
                      <div class="repeat_label">{{ index + 1 }}. {{ item.message }}</div>
                      <el-dropdown :trigger="'click'">
                        <dotMenu></dotMenu>
                        <el-dropdown-menu class="dlorgmode" slot="dropdown">
                          <el-dropdown-item
                            @click.native="event_textPrompt('editMode', index, item)"
                          >
                            {{ $tp("label.edit") }}
                          </el-dropdown-item>
                          <el-dropdown-item @click.native="event_textPrompt('delete', index, item)">
                            {{ $tp("label.delete") }}
                          </el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div>
                  <div class="fs_label">重复句条件设定:</div>
                  <div class="repeat_conditions mb_10">
                    <input
                      type="text"
                      v-model="textPrompt.repeat_conditions.h"
                      @input="checkRepeat_conditions"
                      @blur="updateRepeat_conditions"
                    />
                    <span>时</span>
                    <input
                      type="text"
                      v-model="textPrompt.repeat_conditions.m"
                      @input="checkRepeat_conditions"
                      @blur="updateRepeat_conditions"
                    />
                    <span>分</span>
                    <input
                      type="text"
                      v-model="textPrompt.repeat_conditions.s"
                      @input="checkRepeat_conditions"
                      @blur="updateRepeat_conditions"
                    />
                    <span>秒内</span>
                    &nbsp;
                    <span>重复</span>
                    <input
                      type="text"
                      v-model="textPrompt.repeat_conditions.count"
                      @input="checkRepeat_conditions"
                      @blur="updateRepeat_conditions"
                    />
                    <span>次</span>
                  </div>
                </template>
                <!-- confirm -->
                <template v-else-if="promptType === 'confirm'">
                  <div class="fs_box">
                    <FlowInput
                      v-model="confirmPrompt.title"
                      :blur="() => flowData.functions.setState(stateNode.id)"
                    ></FlowInput>
                  </div>
                  <div class="fs_label">{{ $tp("label.settingOptions") }}</div>
                  <template v-if="confirmPrompt">
                    <div class="fs_box" v-for="button in confirmPrompt.buttons">
                      <div class="radio_box mb_15">
                        <div
                          v-for="item in ['text', 'postback']"
                          class="radio_item"
                          :class="{ active: button.type === item }"
                          @click="button.type = item"
                        >
                          <div class="radio_button"></div>
                          <div class="radio_label">{{ item }}</div>
                        </div>
                      </div>
                      <div class="cf_box">
                        <FlowInput class="cf_input" v-model="button.title" :placeholder="'title'">
                        </FlowInput>
                        <FlowInput
                          class="cf_input"
                          v-model="button.payload"
                          :placeholder="'payload'"
                        ></FlowInput>
                      </div>
                    </div>
                    <div v-if="confirmPrompt_check" class="mt_5 ta_c">
                      <button class="btn-main gray" @click="event_confirmPrompt('cancel')">
                        {{ $tp("label.cancel") }}
                      </button>
                      <button class="btn-main" @click="event_confirmPrompt('edit')">
                        {{ $tp("label.save") }}
                      </button>
                    </div>
                  </template>
                </template>
                <!-- menu -->
                <template v-else-if="promptType === 'menu'">
                  <FlowInput
                    class="mb_15"
                    v-model="menuPrompt.image_url"
                    :placeholder="$tp('label.imageUrl')"
                  ></FlowInput>
                  <div class="mb_15" v-if="menuPrompt.image_url">
                    <img :src="menuPrompt.image_url" />
                  </div>
                  <FlowInput
                    class="mb_15"
                    v-model="menuPrompt.title"
                    :placeholder="$tp('label.title')"
                  ></FlowInput>
                  <FlowTextarea
                    class="mb_15"
                    v-model="menuPrompt.sub_title"
                    :placeholder="$tp('label.content')"
                  ></FlowTextarea>
                  <div v-if="menuPrompt_content_check" class="mb_15 ta_c">
                    <button class="btn-main gray" @click="event_menuPrompt('cancelInput')">
                      {{ $tp("label.cancel") }}
                    </button>
                    <button class="btn-main" @click="event_menuPrompt('editInput')">
                      {{ $tp("label.save") }}
                    </button>
                  </div>
                  <div class="mb_15" style="position: relative">
                    <div
                      class="fs_btn _plus"
                      :class="{ active: menuPrompt_show.create }"
                      @click="menuPrompt_show.create = !menuPrompt_show.create"
                    >
                      {{ $tp("label.create", { name: $tp("label.button") }) }}
                    </div>
                    <div v-show="menuPrompt_show.create" class="menu_ctn">
                      <div class="radio_box mb_15">
                        <div
                          v-for="item in ['text', 'postback', 'url']"
                          class="radio_item"
                          :class="{ active: menuPrompt_button.type === item }"
                          @click="menuPrompt_button.type = item"
                        >
                          <div class="radio_button"></div>
                          <div class="radio_label">{{ item }}</div>
                        </div>
                      </div>
                      <FlowInput
                        class="mb_15"
                        v-model="menuPrompt_button.title"
                        :placeholder="'title'"
                      ></FlowInput>
                      <FlowInput
                        class="mb_15"
                        v-model="menuPrompt_button.payload"
                        :placeholder="'payload'"
                      ></FlowInput>
                      <div class="ta_c">
                        <button class="btn-main gray" @click="event_menuPrompt_button('init')">
                          {{ $tp("label.cancel") }}
                        </button>
                        <button class="btn-main" @click="event_menuPrompt_button('create')">
                          {{ $tp("label.add") }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="menu_list">
                    <div v-for="(button, button_index) in menuPrompt.buttons" class="menu_box">
                      <div class="fs_btn">
                        <div class="_title" @click="event_menuPrompt('selectButton', button_index)">
                          {{ button.title }}
                        </div>
                        <el-dropdown>
                          <dotMenu :dark="true" :size="20"></dotMenu>
                          <el-dropdown-menu class="dlorgmode" slot="dropdown">
                            <el-dropdown-item
                              @click.native="event_menuPrompt('deleteButton', button_index)"
                              >{{ $tp("label.delete") }}</el-dropdown-item
                            >
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                      <div v-show="menuPrompt_show.list[button_index]" class="menu_ctn">
                        <div class="radio_box mb_15">
                          <div
                            v-for="item in ['text', 'postback', 'url']"
                            class="radio_item"
                            :class="{ active: button.type === item }"
                            @click="button.type = item"
                          >
                            <div class="radio_button"></div>
                            <div class="radio_label">{{ item }}</div>
                          </div>
                        </div>
                        <FlowInput class="mb_15" v-model="button.title" :placeholder="'title'">
                        </FlowInput>
                        <FlowInput class="mb_15" v-model="button.payload" :placeholder="'payload'">
                        </FlowInput>
                        <div class="ta_c">
                          <button
                            class="btn-main gray"
                            @click="event_menuPrompt('cancelButton', button_index)"
                          >
                            {{ $tp("label.cancel") }}
                          </button>
                          <button
                            class="btn-main"
                            @click="event_menuPrompt('editButton', button_index)"
                          >
                            {{ $tp("label.save") }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                <!-- carousel -->
                <template v-else-if="promptType === 'carousel' && carouselPrompt">
                  <span>數量: {{ carouselPrompt.column.length }}</span
                  ><button @click="event_carouselPrompt('createColumn')">新增</button>
                  <button
                    @click="event_carouselPrompt('deleteColumn', currentCarouselPrompt)"
                    v-show="carouselPrompt.column.length > 1"
                  >
                    X
                  </button>
                  <div>
                    <button
                      v-for="(item, index) in carouselPrompt.column.length"
                      :class="{ active: index === currentCarouselPrompt }"
                      @click="currentCarouselPrompt = index"
                    >
                      {{ item }}
                    </button>
                  </div>
                  <div
                    v-for="(column, column_index) in carouselPrompt.column"
                    v-show="column_index === currentCarouselPrompt"
                  >
                    <FlowInput
                      class="mb_15"
                      v-loading="carouselPrompt_show[column_index].loading_uploadImage"
                      v-model="column.image_url"
                      :placeholder="$tp('label.imageUrl')"
                      :enter="() => event_carouselPrompt('editInput_image_url', column_index)"
                      :blur="() => event_carouselPrompt('editInput_image_url', column_index)"
                    >
                      <label
                        :for="'carouselImage_' + column_index"
                        style="font-size: 0; position: relative; cursor: pointer"
                      >
                        <img src="./img/add_icon.svg" />
                      </label>
                      <input
                        style="display: none"
                        type="file"
                        :id="'carouselImage_' + column_index"
                        @change="uploadImge_carouselPrompt($event, column_index)"
                        accept="image/*"
                      />
                    </FlowInput>
                    <div class="mb_15" v-if="column.image_url">
                      <img :src="column.image_url" />
                    </div>
                    <FlowInput
                      class="mb_15"
                      v-model="column.title"
                      :placeholder="$tp('label.title')"
                      :enter="() => event_carouselPrompt('editInput_title', column_index)"
                      :blur="() => event_carouselPrompt('editInput_title', column_index)"
                    ></FlowInput>
                    <FlowInput
                      class="mb_15"
                      v-model="column.sub_title"
                      :placeholder="$tp('label.content')"
                      :enter="() => event_carouselPrompt('editInput_sub_title', column_index)"
                      :blur="() => event_carouselPrompt('editInput_sub_title', column_index)"
                    ></FlowInput>
                    <div class="mb_15" style="position: relative">
                      <div
                        class="fs_btn _plus"
                        :class="{ active: carouselPrompt_show[column_index].create }"
                        @click="
                          carouselPrompt_show[column_index].create = !carouselPrompt_show[
                            column_index
                          ].create
                        "
                      >
                        {{ $tp("label.create", { name: $tp("label.button") }) }}
                      </div>
                      <div v-show="carouselPrompt_show[column_index].create" class="menu_ctn">
                        <div class="radio_box mb_15">
                          <div
                            v-for="item in ['text', 'postback', 'url']"
                            class="radio_item"
                            :class="{ active: carouselPrompt_button.type === item }"
                            @click="carouselPrompt_button.type = item"
                          >
                            <div class="radio_button"></div>
                            <div class="radio_label">{{ item }}</div>
                          </div>
                        </div>
                        <FlowInput
                          class="mb_15"
                          v-model="carouselPrompt_button.title"
                          :placeholder="'title'"
                        ></FlowInput>
                        <FlowInput
                          class="mb_15"
                          v-model="carouselPrompt_button.payload"
                          :placeholder="'payload'"
                        ></FlowInput>
                        <div class="ta_c">
                          <button
                            class="btn-main gray"
                            @click="event_carouselPrompt_button('init', column_index)"
                          >
                            {{ $tp("label.cancel") }}
                          </button>
                          <button
                            class="btn-main"
                            @click="event_carouselPrompt_button('create', column_index)"
                          >
                            {{ $tp("label.add") }}
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="menu_list">
                      <div v-for="(button, button_index) in column.buttons" class="menu_box">
                        <div class="fs_btn">
                          <div
                            class="_title"
                            @click="
                              event_carouselPrompt('selectButton', column_index, button_index)
                            "
                          >
                            {{ button.title }}
                          </div>
                          <el-dropdown>
                            <dotMenu :dark="true" :size="20"></dotMenu>
                            <el-dropdown-menu class="dlorgmode" slot="dropdown">
                              <el-dropdown-item
                                @click.native="
                                  event_carouselPrompt('deleteButton', column_index, button_index)
                                "
                                >{{ $tp("label.delete") }}</el-dropdown-item
                              >
                            </el-dropdown-menu>
                          </el-dropdown>
                        </div>
                        <div
                          v-show="carouselPrompt_show[column_index].list[button_index]"
                          class="menu_ctn"
                        >
                          <div class="radio_box mb_15">
                            <div
                              v-for="item in ['text', 'postback', 'url']"
                              class="radio_item"
                              :class="{ active: button.type === item }"
                              @click="button.type = item"
                            >
                              <div class="radio_button"></div>
                              <div class="radio_label">{{ item }}</div>
                            </div>
                          </div>
                          <FlowInput class="mb_15" v-model="button.title" :placeholder="'title'">
                          </FlowInput>
                          <FlowInput
                            class="mb_15"
                            v-model="button.payload"
                            :placeholder="'payload'"
                          ></FlowInput>
                          <div class="ta_c">
                            <button
                              class="btn-main gray"
                              @click="
                                event_carouselPrompt('cancelButton', column_index, button_index)
                              "
                            >
                              {{ $tp("label.cancel") }}
                            </button>
                            <button
                              class="btn-main"
                              @click="
                                event_carouselPrompt('editButton', column_index, button_index)
                              "
                            >
                              {{ $tp("label.save") }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                <!-- imagemap -->
                <template v-else-if="promptType === 'imagemap'">
                  <FlowInput
                    class="mb_15"
                    v-model="imagemapPrompt.image_url"
                    :placeholder="$tp('label.imageUrl')"
                    :enter="() => event_imagemapPrompt('editInput_image_url')"
                    :blur="() => event_imagemapPrompt('editInput_image_url')"
                  >
                    <label
                      for="imagemapImageFile"
                      style="font-size: 0; position: relative; cursor: pointer"
                    >
                      <img src="./img/add_icon.svg" />
                    </label>
                    <input
                      style="display: none"
                      type="file"
                      id="imagemapImageFile"
                      @change="uploadImge_imagemapPrompt($event)"
                      accept="image/*"
                    />
                  </FlowInput>
                  <div class="area_box mb_15" v-if="imagemapPrompt.image_url">
                    <img
                      id="imagemapImage"
                      :src="imagemapPrompt.image_url"
                      @load="event_imagemapPrompt('imageOnload')"
                      @error="event_imagemapPrompt('imageOnerror')"
                    />
                    <div
                      class="imagemapArea"
                      v-for="{ title, area } in imagemapPrompt.buttons"
                      :style="{
                        top: (area.y / imagemapPrompt.baseSize.height) * 100 + '%',
                        left: (area.x / imagemapPrompt.baseSize.width) * 100 + '%',
                        width: (area.width / imagemapPrompt.baseSize.width) * 100 + '%',
                        height: (area.height / imagemapPrompt.baseSize.height) * 100 + '%'
                      }"
                    >
                      {{ title }}
                    </div>
                  </div>
                  <div class="mb_15" style="position: relative">
                    <div
                      class="fs_btn _plus"
                      :class="{ active: imagemapPrompt_show.create }"
                      @click="imagemapPrompt_show.create = !imagemapPrompt_show.create"
                    >
                      {{ $tp("label.create", { name: $tp("label.button") }) }}
                    </div>
                    <div v-show="imagemapPrompt_show.create" class="menu_ctn">
                      <div class="radio_box mb_15">
                        <div
                          v-for="item in ['text', 'url']"
                          class="radio_item"
                          :class="{ active: imagemapPrompt_button.type === item }"
                          @click="imagemapPrompt_button.type = item"
                        >
                          <div class="radio_button"></div>
                          <div class="radio_label">{{ item }}</div>
                        </div>
                      </div>
                      title:
                      <FlowInput
                        class="mb_15"
                        v-model="imagemapPrompt_button.title"
                        :placeholder="'title'"
                      ></FlowInput>
                      payload:
                      <FlowInput
                        class="mb_15"
                        v-model="imagemapPrompt_button.payload"
                        :placeholder="'payload'"
                      ></FlowInput>
                      x:
                      <FlowInput
                        class="mb_15"
                        v-model.number="imagemapPrompt_button.area.x"
                        :placeholder="'x'"
                      ></FlowInput>
                      y:
                      <FlowInput
                        class="mb_15"
                        v-model.number="imagemapPrompt_button.area.y"
                        :placeholder="'y'"
                      ></FlowInput>
                      width:
                      <FlowInput
                        class="mb_15"
                        v-model.number="imagemapPrompt_button.area.width"
                        :placeholder="'width'"
                      ></FlowInput>
                      height:
                      <FlowInput
                        class="mb_15"
                        v-model.number="imagemapPrompt_button.area.height"
                        :placeholder="'height'"
                      ></FlowInput>
                      <div class="ta_c">
                        <button class="btn-main gray" @click="event_imagemapPrompt_button('init')">
                          {{ $tp("label.cancel") }}
                        </button>
                        <button class="btn-main" @click="event_imagemapPrompt_button('create')">
                          {{ $tp("label.add") }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="menu_list">
                    <div v-for="(button, button_index) in imagemapPrompt.buttons" class="menu_box">
                      <div class="fs_btn">
                        <div
                          class="_title"
                          @click="event_imagemapPrompt('selectButton', button_index)"
                        >
                          {{ button.title }}
                        </div>
                        <el-dropdown>
                          <dotMenu :dark="true" :size="20"></dotMenu>
                          <el-dropdown-menu class="dlorgmode" slot="dropdown">
                            <el-dropdown-item
                              @click.native="event_imagemapPrompt('deleteButton', button_index)"
                              >{{ $tp("label.delete") }}</el-dropdown-item
                            >
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                      <div v-show="imagemapPrompt_show.list[button_index]" class="menu_ctn">
                        <div class="radio_box mb_15">
                          <div
                            v-for="item in ['text', 'url']"
                            class="radio_item"
                            :class="{ active: button.type === item }"
                            @click="button.type = item"
                          >
                            <div class="radio_button"></div>
                            <div class="radio_label">{{ item }}</div>
                          </div>
                        </div>
                        title:
                        <FlowInput class="mb_15" v-model="button.title" :placeholder="'title'">
                        </FlowInput>
                        payload:
                        <FlowInput class="mb_15" v-model="button.payload" :placeholder="'payload'">
                        </FlowInput>
                        x:
                        <FlowInput class="mb_15" v-model.number="button.area.x" :placeholder="'x'">
                        </FlowInput>
                        y:
                        <FlowInput
                          class="mb_15"
                          v-model.number="button.area.y"
                          :placeholder="'y'"
                        ></FlowInput>
                        width:
                        <FlowInput
                          class="mb_15"
                          v-model.number="button.area.width"
                          :placeholder="'width'"
                        ></FlowInput>
                        height:
                        <FlowInput
                          class="mb_15"
                          v-model.number="button.area.height"
                          :placeholder="'height'"
                        ></FlowInput>
                        <div class="ta_c">
                          <button
                            class="btn-main gray"
                            @click="event_imagemapPrompt('cancelButton', button_index)"
                          >
                            {{ $tp("label.cancel") }}
                          </button>
                          <button
                            class="btn-main"
                            @click="event_imagemapPrompt('editButton', button_index)"
                          >
                            {{ $tp("label.save") }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </template>
          </template>
          <!-- AI狀態 -->
          <template v-if="currentStateType === 'ai'">
            <div class="fs_label">NLU Endpoint:</div>
            <div class="fs_block">
              <dropdown :fill="true">
                <template slot="select">
                  <div style="position: relative">
                    <span>{{
                      stateNode.info.nlu_id
                        ? stateNode.info.nlu_name
                        : $tp("label.default", { name: "AI" })
                    }}</span>
                    <span class="dropdown-tag"></span>
                  </div>
                  <div class="row-line"></div>
                </template>
                <template slot="option">
                  <div
                    :class="{ active: !stateNode.info.nlu_id }"
                    @click="event_nluEndpoints('setDefault')"
                  >
                    {{ $tp("label.default", { name: "AI" }) }}
                  </div>
                  <div
                    v-for="item in nluEndpoints"
                    @click="event_nluEndpoints('set', item)"
                    :class="{ active: item.id === stateNode.info.nlu_id }"
                  >
                    {{ item.nlu_name }}
                  </div>
                </template>
                <template slot="moreOption">
                  <div @click="$store.commit('SET_NLU_ENDPOINTS_SHOW', true)">
                    {{ $tp("label.viewAll") }}
                  </div>
                </template>
              </dropdown>
            </div>
            <div class="fs_label _alias">
              Entities Alias:
              <img
                src="@img/edit_white.svg"
                v-show="!variablesEditable"
                @click="variablesEditable = true"
              />
            </div>
            <div class="fs_block">
              <div class="fx mb_10">
                <div style="width: 50%">原本名称</div>
                <div style="width: 50%">新的名称</div>
              </div>
              <objectTable v-model="variables_self" :enable="variablesEditable"></objectTable>
              <div class="ta_c" v-show="variablesEditable">
                <button class="btn-main gray" @click="event_variables('cancel')">
                  {{ $tp("label.cancel") }}
                </button>
                <button class="btn-main" @click="event_variables('edit')">
                  {{ $tp("label.save") }}
                </button>
              </div>
            </div>
          </template>
          <!-- 查詢狀態 -->
          <template v-if="currentStateType === 'api'">
            <div class="fs_label">输入设定:</div>
            <div class="fs_block">
              <div class="fs_label">URL:</div>
              <FlowTextarea
                class="mb_20"
                v-model="tmpStateUrl"
                :placeholder="$tp('please.inputUrl')"
              ></FlowTextarea>
              <div class="fs_label">Method:</div>
              <div class="mb_20">
                <dropdown :fill="true">
                  <template slot="select">
                    <div style="position: relative">
                      <span>{{ tmpStateHttpMethod || "Method" }}</span>
                      <span class="dropdown-tag"></span>
                    </div>
                    <div class="row-line"></div>
                  </template>
                  <template slot="option">
                    <div
                      v-for="apiAction in ['GET', 'POST']"
                      @click="tmpStateHttpMethod = apiAction"
                      :class="{ active: apiAction === stateNode.info.httpMethod }"
                    >
                      {{ apiAction }}
                    </div>
                  </template>
                </dropdown>
              </div>
              <div class="fs_label">Body:</div>
              <FlowTextarea
                class="mb_20"
                v-model="tmpStateHttpBody"
                :placeholder="$tp('please.inputHttpBody')"
              ></FlowTextarea>
              <div v-show="apiStateDataChanged">
                <button class="btn-main gray" @click="resetStateAPIInfo">
                  {{ $tp("label.cancel") }}
                </button>
                <button class="btn-main" @click="updateStateAPIInfo">
                  {{ $tp("label.save") }}
                </button>
              </div>
            </div>
          </template>
          <template v-if="currentStateType === 'input'">
            <div class="fs_label">提示讯息</div>
            <div
              class="fs_block"
              v-if="
                stateNode.info.hasOwnProperty('prompt') &&
                (stateNode.info.prompt.items || []).length
              "
            >
              <FlowInput
                v-model="stateNode.info.prompt.items[0].message"
                :placeholder="$tp('bot.prompts')"
                :enter="() => flowData.functions.setState(stateNode.id)"
                :blur="() => flowData.functions.setState(stateNode.id)"
              ></FlowInput>
            </div>
            <div class="fs_label" v-if="stateNode.info.hasOwnProperty('is_show_condition_prompts')">
              未匹配现有状态转移反问句:
              <el-switch
                v-model="stateNode.info.is_show_condition_prompts"
                @change="flowData.functions.setState(stateNode.id)"
              ></el-switch>
            </div>
            <div
              class="fs_block"
              v-if="stateNode.info.hasOwnProperty('condition_prompts')"
              v-show="stateNode.info.is_show_condition_prompts"
            >
              <FlowInput
                v-model="stateNode.info.condition_prompts[0].text"
                :placeholder="$tp('bot.prompts')"
                :enter="() => flowData.functions.setState(stateNode.id)"
                :blur="() => flowData.functions.setState(stateNode.id)"
              ></FlowInput>
            </div>
          </template>
          <!-- 新增transition -->
          <div class="fs_label">建立状态转移:</div>
          <div class="fs_block fs_transition _create">
            <FlowNextNode
              :transition="transition_new"
              :selectNextNode="selectNextNode"
              :skills="getSkillsExceptSelf()"
              :states="stateNodes"
            ></FlowNextNode>
            <!-- 參數名稱 -->
            <div class="transition-entity">
              <div class="_title vtc">
                <span>{{ $tp("label.paraOrVariableName") + ":" }}</span>
              </div>
              <FlowInput v-model="transition_new.entity" :placeholder="$tp('please.input')">
              </FlowInput>
            </div>
            <!-- operations -->
            <dropdown :fill="true">
              <template slot="select">
                <div class="fs_btn _plus">{{ $tp("label.createCondition") }}</div>
              </template>
              <template slot="option">
                <div
                  v-for="item in operations"
                  @click="event_transition_new('selectOperation', item)"
                >
                  {{ $tp(`conditionTypes.${item}`) }}
                </div>
              </template>
            </dropdown>
            <div
              class="condition-block"
              v-for="operation in operations"
              v-if="transition_new[`${operation}_show`]"
            >
              <div class="ddl_ttl fx aic 1">
                <span class="title">
                  {{ $tp(`conditionTypes.${operation}`) }}
                </span>
                <img
                  class="button"
                  src="@img/edit-gray.svg"
                  v-if="['api', 'intent'].includes(operation)"
                  @click="event_transition_new('editOperation', operation)"
                />
                <img
                  class="button"
                  src="@img/delete_solid.svg"
                  @click="event_transition_new('deleteOperation', operation)"
                />
              </div>
              <template v-if="['equal', 'includes', 'regex'].includes(operation)">
                <el-scrollbar>
                  <div class="text-condition">
                    <span class="input-cell vtc">
                      <img src="@img/cross.svg" />
                      <input
                        v-model="transition_new[`${operation}_value`]"
                        class="input-cell-input"
                        :placeholder="$tp(`please.${operation}`)"
                        @keypress.enter="addCondition(transition_new, operation)"
                        @blur="addCondition(transition_new, operation)"
                      />
                    </span>
                    <span
                      class="cell vtc"
                      v-for="(condition, conditionIndex) in transition_new[operation]"
                    >
                      <span class="text">{{ condition.value }}</span>
                      <img
                        src="@img/close.svg"
                        @click="deleteCondition(transition_new, operation, conditionIndex)"
                      />
                    </span>
                  </div>
                </el-scrollbar>
              </template>
              <template v-if="['api', 'intent'].includes(operation)">
                <el-scrollbar>
                  <div class="intent-condition">
                    <div
                      class="row vtc"
                      v-for="(condition, conditionIndex) in transition_new[operation]"
                    >
                      <img class src="@img/intent_tag_white.svg" />
                      <span>{{ dict_currentIntents[condition.id] || condition.value }}</span>
                      <span class="slots" v-if="condition.entities">
                        <span class="slot" v-for="entity in condition.entities">
                          <span>_</span>
                          <span class="slot-value">{{ entity.entity }}</span>
                        </span>
                      </span>
                      <img class="close-button" src="@img/close-gray.svg" />
                    </div>
                  </div>
                </el-scrollbar>
              </template>
            </div>
            <div class="new-transition-operation">
              <button class="btn-main gray" @click="event_transition_new('init')">
                {{ $tp("label.cancel") }}
              </button>
              <button class="btn-main" @click="event_transition_new('updateToFlow')">
                {{ $tp("label.new") }}
              </button>
            </div>
          </div>
          <!-- transition list -->
          <div class="fs_label" v-show="transitions_self.length">已建立状态转移:</div>
          <div
            class="fs_block fs_transition"
            :class="{ _duplicate: transition.isDuplicate }"
            v-for="(transition, transitionIndex) in transitions_self"
            :key="transition.key"
          >
            <template v-if="!transition.isDuplicate">
              <div class="transition_target_box">
                <div class="transition_target_label" @click="gotoTransition(transition)">
                  <img src="@img/empty_switch.svg" />
                  <p>
                    <span>{{ transition.next_label.type }}:</span>
                    {{ transition.next_label.name }}
                  </p>
                </div>
                <div class="transition_isEnabled">
                  <el-switch v-model="transition.isEnabled"></el-switch>
                  <div
                    class="transition_isEnabled_click"
                    @click="
                      transition.isEnabled = !transition.isEnabled;
                      event_transitions('updateToFlow', transitionIndex);
                    "
                  ></div>
                </div>
                <el-dropdown>
                  <dotMenu></dotMenu>
                  <el-dropdown-menu class="dlorgmode">
                    <el-dropdown-item @click.native="transition.isEditable = true">{{
                      $tp("label.edit")
                    }}</el-dropdown-item>
                    <el-dropdown-item
                      @click.native="event_transitions('duplicate', transitionIndex)"
                      >{{ $tp("bot.duplicate") }}</el-dropdown-item
                    >
                    <el-dropdown-item
                      @click.native="event_transitions('delete', transitionIndex)"
                      >{{ $tp("label.delete") }}</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <!-- <FlowNextNode
                v-show="transition.isEditable"
                :transition="transition"
                :selectNextNode="selectNextNode"
                :skills="getSkillsExceptSelf()"
                :states="stateNodes"
              ></FlowNextNode> -->
            </template>
            <template v-else>
              <FlowNextNode
                :transition="transition"
                :selectNextNode="selectNextNode"
                :skills="getSkillsExceptSelf()"
                :states="stateNodes"
              ></FlowNextNode>
            </template>
            <!-- 參數名稱 -->
            <div class="transition-entity">
              <div class="_title vtc">
                <span>{{ $tp("label.paraOrVariableName") + ":" }}</span>
              </div>
              <template v-if="transition.isEditable">
                <FlowInput
                  class="row-value-input"
                  v-model="transition.entity"
                  :placeholder="$tp('please.input')"
                ></FlowInput>
              </template>
              <template v-else>
                {{ transition.entity || "None" }}
              </template>
            </div>
            <!-- operations -->
            <template v-if="transition.isEditable">
              <dropdown :fill="true">
                <template slot="select">
                  <div class="fs_btn _plus">
                    {{ $tp("label.createCondition") }}
                  </div>
                </template>
                <template slot="option">
                  <div
                    v-for="item in operations"
                    @click="
                      event_intentConditions('selectOperation', item, {
                        transition_index: transitionIndex
                      })
                    "
                  >
                    {{ $tp(`conditionTypes.${item}`) }}
                  </div>
                </template>
              </dropdown>
            </template>
            <!-- operations -->
            <div
              class="condition-block"
              v-for="operation in operations"
              v-if="transition[`${operation}_show`]"
            >
              <div class="ddl_ttl fx aic 3">
                <span class="title">
                  {{ $tp(`conditionTypes.${operation}`) }}
                </span>
                <template v-if="transition.isEditable">
                  <img
                    class="button"
                    src="@img/edit-gray.svg"
                    v-if="['api', 'intent'].includes(operation)"
                    @click="
                      event_intentConditions('edit', operation, {
                        transition_index: transitionIndex
                      })
                    "
                  />
                  <img
                    class="button"
                    src="@img/delete_solid.svg"
                    @click="
                      event_intentConditions('delete', operation, {
                        transition_index: transitionIndex
                      })
                    "
                  />
                </template>
              </div>
              <el-scrollbar>
                <template v-if="['equal', 'includes', 'regex'].includes(operation)">
                  <div class="text-condition">
                    <span class="input-cell vtc" v-show="transition.isEditable">
                      <img src="@img/cross.svg" />
                      <input
                        v-model="transition[`${operation}_value`]"
                        class="input-cell-input"
                        :placeholder="$tp(`please.${operation}`)"
                        @keypress.enter="addCondition(transition, operation)"
                        @blur="addCondition(transition, operation)"
                      />
                    </span>
                    <div class="row vtc">
                      <span
                        class="cell vtc"
                        v-for="(condition, conditionIndex) in transition[operation]"
                      >
                        <span class="text">{{ condition.value }}</span>
                        <img
                          class
                          src="@img/close.svg"
                          v-show="transition.isEditable"
                          @click="deleteCondition(transition, operation, conditionIndex)"
                        />
                      </span>
                    </div>
                  </div>
                </template>
                <template v-if="['api', 'intent'].includes(operation)">
                  <div class="intent-condition">
                    <div
                      class="row vtc"
                      v-for="(condition, conditionIndex) in transition[operation]"
                    >
                      <img class src="@img/intent_tag_white.svg" />
                      <span>{{ dict_currentIntents[condition.id] || condition.value }}</span
                      ><span class="slots" v-if="condition.entities">
                        <span class="slot" v-for="entity in condition.entities">
                          <span>_</span>
                          <span class="slot-value">{{ entity.entity }}</span>
                        </span>
                      </span>
                      <img
                        class="close-button"
                        src="@img/close-gray.svg"
                        v-show="transition.isEditable"
                        @click="deleteCondition(transition, operation, conditionIndex)"
                      />
                    </div>
                  </div>
                </template>
              </el-scrollbar>
              <!-- <div v-if="operation=='slot'" class="slot-condition">
                  <div class="row" v-show="transitionObj.isEditable">
                    <span class="key new-key">
                      <dropdown>
                        <template slot="select">
                          <div class="dropdown-tag"></div>
                          <div>{{transitionObj.slotNew ?transitionObj.slotNew.name:$tp('please.chooseEntity')}}</div>
                        </template>
                        <template slot="option">
                          <div
                            v-for="entity in currentEntities"
                            @click="clickEntityItem(transitionObj, entity)"
                          >{{entity.name}}</div>
                        </template>
                      </dropdown>
                    </span>
                    <span class="value">
                      <input
                        type="text"
                        :placeholder="$tp('please.enterValue')"
                        v-model="transitionObj.slotValueNew"
                        @keypress.enter="addSlotCondition(transitionObj)"
                      />
                    </span>
                  </div>
                  <el-scrollbar>
                    <div style="max-height:60px;">
                      <div class="row vtc" v-for="condition, conditionIndex in conditions">
                        <span class="key">{{condition.slot}}</span>
                        <span>{{condition.value}}</span>
                        <img
                          v-show="transitionObj.isEditable"
                          src="@img/close.svg"
                          @click="removeCondition(conditions, conditionIndex)"
                        />
                      </div>
                    </div>
                  </el-scrollbar>
              </div>-->
            </div>

            <div class="transition-action-block" v-show="transition.isEditable">
              <template v-if="!transition.isDuplicate">
                <button
                  class="btn-main gray"
                  @click="event_transitions('cancelEditMode', transitionIndex)"
                >
                  {{ $tp("label.cancel") }}
                </button>
                <button
                  class="btn-main"
                  @click="event_transitions('updateToFlow', transitionIndex)"
                >
                  {{ $tp("label.ensureEdit") }}
                </button>
              </template>
              <template v-else>
                <button class="btn-main gray" @click="event_duplicate('cancel', transitionIndex)">
                  {{ $tp("label.cancel") }}
                </button>
                <button class="btn-main" @click="event_duplicate('updateToFlow', transitionIndex)">
                  {{ $tp("label.save") }}
                </button>
              </template>
            </div>
          </div>
        </template>
      </div>
    </div>
    <intentSelection
      v-if="intentSelection_show"
      ref="intentSelection"
      :entityAliases="variables_self"
      :submit="
        conditions => {
          event_intentConditions('set', intentSelection_operation, {
            transition_index: transition_index,
            conditions_set: conditions
          });
        }
      "
      :currentConditions="intentSelection_conditions"
      :close="() => (intentSelection_show = false)"
      :operation="intentSelection_operation"
    ></intentSelection>
    <router-view></router-view>
    <apiList :flowData="flowData"></apiList>
    <nluEndpoints :flowData="flowData"></nluEndpoints>
    <Shield
      :title="'提示讯息'"
      :showBy="!!textPrompt.tmpMessage"
      :submit="() => event_textPrompt('edit')"
      :close="() => event_textPrompt('closeEditMode')"
    >
      <template slot="body">
        <FlowTextarea class="_line _border" v-model="textPrompt.tmpMessage"></FlowTextarea>
      </template>
    </Shield>
    <ChineseTypeSelector>{{ currentBot }}</ChineseTypeSelector>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
//components
import ChineseTypeSelector from "./components/chineseTypeSelector";
import FlowEditor from "./FlowEditor";
import FlowInput from "./components/FlowInput";
import FlowTextarea from "./components/FlowTextarea";
import FlowNextNode from "./components/FlowNextNode";
import intentSelection from "./components/IntentSelection";
import dropdown from "@c/dropdown/dropdown";
import skillList from "./components/skillList";
import apiList from "./components/apiList";
import nluEndpoints from "./components/nluEndpoints/index.vue";
import dotMenu from "@ui/dotMenu";
import Shield from "@c/shield";
import objectTable from "./components/objectTable";
//mixins
import mixins_transition from "./mixins/transition";
import mixins_prompt from "./mixins/prompt/index";
import mixins_nluEndpoints from "./mixins/nluEndpoints";
//=>state
import mixins_ai from "./mixins/state/ai";
export default {
  mixins: [mixins_transition, mixins_prompt, mixins_nluEndpoints, mixins_ai],
  components: {
    ChineseTypeSelector,
    FlowEditor,
    FlowInput,
    FlowTextarea,
    FlowNextNode,
    intentSelection,
    dropdown,
    skillList,
    apiList,
    nluEndpoints,
    dotMenu,
    Shield,
    objectTable
  },
  data() {
    return {
      skillNode: undefined,
      stateNode: undefined,
      stateNodes: [], //current skill state
      flowData: undefined,
      isSkillNameEditable: false,
      tmpSkillName: "",
      tmpStateName: "",
      tmpStateUrl: "",
      tmpStateHttpMethod: "",
      tmpStateHttpBody: ""
    };
  },
  computed: {
    ...mapGetters(["botList"]),
    ...mapState(["ChineseTypeSelector", "currentEntities", "currentIntents", "showMsgbox"]),
    currentBot() {
      return this.botList.find(bot => bot.id === this.$route.params.bot_id);
    },
    currentStateType() {
      if (this.stateNode) {
        let result = this.stateNode.info.widget.type;
        if (result == "nlu") result = "ai";
        return result;
      }
      return "";
    },
    skillNodes() {
      try {
        return this.flowData.flow.content.skills.nodes;
      } catch (ex) {
        return [];
      }
    },
    dict_currentIntents() {
      let result = {};
      this.currentIntents.forEach(intent => {
        result[intent.id] = intent.name;
      });
      return result;
    },
    apiStateDataChanged() {
      let result = false;
      if (this.stateNode && this.currentStateType === "api") {
        if (
          this.tmpStateUrl !== this.stateNode.info.url ||
          this.tmpStateHttpMethod !== this.stateNode.info.httpMethod ||
          this.tmpStateHttpBody !== this.stateNode.info.httpBody
        ) {
          result = true;
        }
      }
      return result;
    },
    dataChanged() {
      return (
        this.confirmPrompt_check ||
        this.menuPrompt_content_check ||
        this.variablesEditable ||
        this.apiStateDataChanged ||
        this.transition_new_changed ||
        this.transitions_changed
      );
    }
  },
  methods: {
    gotoTransition(transition) {
      if (transition.next_type === "skill") {
        this.flowData.functions.onStateShow(true, transition.next_skill);
        this.getCurrentNode();
      } else if (transition.next_type === "state") {
        this.flowData.functions.onNodeSelect(this.skillNode.id, transition.next_state);
      }
      setTimeout(() => {
        document.querySelector(".fs_ctn").scrollTop = 0;
      }, 0);
    },
    updateStateName() {
      if (this.stateNode.info.name.trim() == this.tmpStateName.trim()) return;
      if (this.tmpStateName == "") {
        this.tmpStateName = this.stateNode.info.name.trim();
        this.$root.m_error(this.$tp("warn.stateNameShouldNotBeEmpty"));
        return;
      }
      if (this.stateNodes.some(state => state.info.name === this.tmpStateName)) {
        this.tmpStateName = this.stateNode.info.name;
        this.$root.m_error(this.$tp("warn.stateNameDuplicate"));
        return;
      }
      this.stateNode.info.name = this.tmpStateName.trim();
      this.flowData.functions.setStateLabel(this.stateNode.id, this.stateNode.info.name);
    },
    getCurrentNode() {
      if (this.flowData.functions) {
        if (this.dataChanged) {
          if (!window.confirm("系统可能不会保存您所做的变更")) {
            return false;
          }
        }
        setTimeout(() => {
          this.skillNode = this.flowData.functions.getCurrentSkill();
          this.stateNode = this.flowData.functions.getCurrentState();
          this.stateNodes.splice(
            0,
            this.stateNodes.length,
            ...(this.flowData.functions.getCurrentStates() || [])
          );
          this.resetVariables();
        }, 0);
      }
    },
    resetVariables() {
      this.variablesEditable = false;
      if (this.stateNode) {
        this.tmpStateName = this.stateNode.info.name.trim();
        //transition
        this.event_transition_new("init");
        this.event_transitions("getFromFlow");
        //查詢狀態
        if (this.currentStateType === "api") {
          this.resetStateAPIInfo();
        }
        //AI狀態
        else if (this.currentStateType === "ai") {
          this.event_variables("init");
        }
        //提示狀態
        else if (this.currentStateType === "message") {
          //prompt
          this.initPrompt(this.stateNode.info.tprompt);
        }
        //輸入狀態
        else if (this.currentStateType === "input") {
          if (!this.stateNode.info.hasOwnProperty("is_show_condition_prompts")) {
            this.$set(this.stateNode.info, "is_show_condition_prompts", false);
          }
          if (!this.stateNode.info.hasOwnProperty("condition_prompts")) {
            this.$set(this.stateNode.info, "condition_prompts", [{ text: "" }]);
          }
          if (
            !this.stateNode.info.hasOwnProperty("prompt") ||
            Array.isArray(this.stateNode.info.prompt)
          ) {
            this.$set(this.stateNode.info, "prompt", this.promptObj("text"));
            this.stateNode.info.prompt.items.push({
              message: "",
              repeated: false
            });
          }
        }
      }
      this.isSkillNameEditable = false;
    },
    //FlowEditor
    onInit(flowData) {
      flowData = this.initPrompt_flowData(flowData);
      this.flowData = flowData;
      if (this.saveFlow) this.flowData.functions.saveFlowDiagram();
      console.log("FlowBuilder# onInit#", flowData);
    },
    syncFlow(flow) {
      this.flowData.flow = flow;
    },
    popSuccess(text) {
      this.$root.m_success(text);
    },
    updateSkillName() {
      this.flowData.functions.updateSkillName(this.skillNode.id, new Date() + "");
    },
    clickSkillNameEdit() {
      if (!this.isSkillNameEditable) {
        this.tmpSkillName = this.skillNode.name;
      } else {
        this.flowData.functions.updateSkillName(this.skillNode.id, this.tmpSkillName);
        this.tmpSkillName = "";
      }
      this.isSkillNameEditable = !this.isSkillNameEditable;
    },
    updateStateSIsStart() {
      this.flowData.functions.setStateNodeAsStart(this.stateNode.id, this.stateNode.info.isStart);
    },
    updateStateSIsEnd() {
      this.flowData.functions.setStateNodeAsEnd(this.stateNode.id, this.stateNode.info.isEnd);
    },
    getStatesInCurrentTaskExceptSelf() {
      let states = this.flowData.functions
        .getCurrentStates()
        .filter(state => state.id !== this.stateNode.id);
      return states;
    },
    getSkillsExceptSelf() {
      return this.skillNodes.filter(skill => skill.id !== this.skillNode.id);
    },
    clickEntityItem(transitionObj, entity) {
      transitionObj.isShowSlotDropdown = false;
      transitionObj.slotNew = entity;
      this.$forceUpdate();
    },
    addSlotCondition(transitionObj, isUpdateTransitions = false) {
      if (!transitionObj.slotNew) {
        this.$root.m_error(this.$tp("warn.shouldChooseSlotFirst"));
        return;
      }
      if (!transitionObj.slotValueNew) {
        this.$root.m_error(this.$tp("warn.shouldEnterSlotValue"));
        return;
      }
      if (!transitionObj.slot) {
        transitionObj.slot = [];
      }

      let newSlotCondition = {
        slot: transitionObj.slotNew.name,
        value: transitionObj.slotValueNew
      };
      transitionObj.slot.unshift(newSlotCondition);
      transitionObj.slotNew = undefined;
      transitionObj.slotValueNew = "";
      if (isUpdateTransitions) this.updateTransitions();
    },
    resetStateAPIInfo() {
      this.tmpStateUrl = this.stateNode.info.url;
      this.tmpStateHttpMethod = this.stateNode.info.httpMethod;
      this.tmpStateHttpBody = this.stateNode.info.httpBody;
    },
    updateStateAPIInfo() {
      if (!!this.tmpStateHttpBody && !(this.tmpStateHttpBody || "").isJSON()) {
        this.$root.m_error(this.$tp("warn.formatJSONRequire", { name: "body" }));
        return false;
      }
      this.$set(this.stateNode.info, "url", this.tmpStateUrl);
      this.$set(this.stateNode.info, "httpMethod", this.tmpStateHttpMethod);
      this.$set(this.stateNode.info, "httpBody", this.tmpStateHttpBody);

      this.flowData.functions.setState(this.stateNode.id);
    }
  },
  watch: {
    $route: {
      handler(routeAfter) {
        if (routeAfter.name === "bot_flow") {
          location.reload();
        }
      },
      deep: true
    },
    showMsgbox(val) {
      if (val) {
        this.skillNode = undefined;
        this.stateNode = undefined;
      }
    }
  }
};
</script>

<style lang="less">
@import "./css/FlowBuilder.less";
@import "./css/state/ai.less";
.el-button.active {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
////test
button.active {
  background-color: orange;
}
</style>
