<template>
  <div class="main">
    <span class="left-blocks">
      <div class="task-block">
        <div class="header-hint vtc">
          <img src="@img/robot-naughty.svg" style="width:40px" />
          <span class="hint-text">
            <div class="main-text">{{$ts(["bot.task", "label.setting"])}}</div>
            <div class="sub-text">{{$tp("please.addTask")}}</div>
          </span>

          <img class="new-task-button" @click="newTask" src="@img/add-task.svg" />
        </div>
        <div class="task-bubbles">
          <div class="bubble yellow">
            <div class="name-row">
              <span class="name">{{flowConfig["session-manager"].name}}</span>
            </div>
            <div class="content-row">
              <el-dropdown trigger="hover">
                <span
                  v-show="flowConfig['session-manager'].states.length==0"
                  class="status-count"
                  :style="{backgroundColor: '#ff8760'}"
                >
                  <span class="count-text">?</span>
                </span>
                <el-dropdown-menu class="task-dropdown state-unset">
                  <el-dropdown-item>{{$ts(['warn.stateUnset'])}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <span
                class="status-count"
                v-for="(count, type) in countState(flowConfig['session-manager'])"
                :style="{backgroundColor: stateColor[type]}"
              >
                <el-dropdown trigger="hover">
                  <span class="count-text">{{count}}</span>
                  <el-dropdown-menu class="task-dropdown" :class="type">
                    <el-dropdown-item>{{count + $tp('common.quantifier')+ stateTypeTextMapping[type]}}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </span>
            </div>
          </div>
          <div class="bubble" v-for="(task,index) in flowConfig.skills">
            <div class="name-row">
              <span class="name">{{task.name}}</span>
              <el-dropdown trigger="hover">
                <img class="hint-icon" v-show="!task.name" src="@img/warning-icon.svg" />
                <el-dropdown-menu class="task-dropdown data-unset">
                  <el-dropdown-item>{{$ts(['warn.dataUnset'])}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <el-dropdown trigger="click" @click.native.stop.prevent>
                <span class="button-more">
                  <div class="O"></div>
                  <div class="O"></div>
                  <div class="O"></div>
                </span>
                <el-dropdown-menu class="task-dropdown">
                  <el-dropdown-item @click.native="deleteTask(index)">{{$ts(['common.delete'])}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
            <div class="content-row">
              <el-dropdown trigger="hover">
                <span
                  v-show="task.states.length==0"
                  class="status-count"
                  :style="{backgroundColor: '#ff8760'}"
                >
                  <span class="count-text">?</span>
                </span>
                <el-dropdown-menu class="task-dropdown state-unset">
                  <el-dropdown-item>{{$ts(['warn.stateUnset'])}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <span
                class="status-count"
                v-for="(count, type) in countState(task)"
                :style="{backgroundColor: stateColor[type]}"
              >
                <el-dropdown trigger="hover">
                  <span class="count-text">{{count}}</span>
                  <el-dropdown-menu class="task-dropdown" :class="type">
                    <el-dropdown-item>{{count + $tp('common.quantifier')+ stateTypeTextMapping[type]}}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flow-block"></div>
    </span>
    <span class="status-block"></span>
  </div>
</template>

<script>
import { updateBot } from "../../api/Bot";
import { v4 as uuidv4 } from "uuid";
//mixins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  data() {
    return {
      flowConfig: { "session-manager": { name: "", states: [] } },
      stateColor: {
        message: "#0d8dbc",
        input: "#8a6bb5",
        nlu: "#e26590",
        api: "#aa8170"
      },
      stateTypeTextMapping: {
        message: this.$tp("bot.messageState"),
        input: this.$tp("bot.inputState"),
        nlu: this.$tp("bot.nluState"),
        api: this.$tp("bot.apiState")
      }
    };
  },
  methods: {
    init() {
      this.flowConfig = this.currentBot.config.agent;
    },
    deleteTask(index) {
      this.flowConfig.skills.splice(index, 1);
      this.updateBotFlow();
    },
    updateBotFlow() {
      updateBot(this.currentBot);
      this.$root.m_success(this.$tp("warn.saveChange"));
    },
    countState(task) {
      let stateCounts = {
        message: 0,
        input: 0,
        nlu: 0,
        api: 0
      };
      let type;
      for (let state of task.states) {
        type = state.runner.type;
        stateCounts[type] += 1;
      }
      for (let type in stateCounts) {
        if (stateCounts[type] == 0) {
          delete stateCounts[type];
        }
      }
      return stateCounts;
    },
    newTask() {
      this.flowConfig.skills.push({ id: uuidv4(), name: "test", states: [] });
      this.updateBotFlow();
    }
  }
};
</script>
<style lang="less">
@color-message: #0d8dbc;
@color-input: #8a6bb5;
@color-nlu: #e26590;
@color-api: #aa8170;
.main {
  display: flex;
  .left-blocks {
    flex-grow: 1;
    overflow: scroll;
    .task-block {
      padding: 0 20px;
      text-align: left;
      .task-bubbles {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 5px;
      }
    }
    .flow-block {
      background-color: #f4f4f4;
      height: 100%;
    }
  }
  .status-block {
    background-color: #454545;
    min-width: 350px;
    height: 1024px;
  }
  .header-hint {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 30px 0 5px;
    border-bottom: 1px solid #e2e2e2;
    .hint-text {
      margin: auto;
      padding: 0 15px 0 8px;
      font-size: 12px;
      font-weight: bold;
      .main-text {
        padding-bottom: 3px;
        color: #ff8660;
      }
      .sub-text {
        color: #5f5f5f;
      }
      img {
        margin: auto;
      }
    }
    .new-task-button {
      width: 40px;
      cursor: pointer;
    }
  }
  .bubble {
    border: solid 2px #b7b7b7;
    padding: 5px 10px;
    width: 150px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
    margin: 4px;
    &.yellow {
      background-color: #f8b700;
      border: unset;
      color: white;
    }
    .name-row {
      display: flex;
      border-bottom: 1px solid #b7b7b7;
      padding: 5px 0 5px 5px;
      .name {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        white-space: nowrap;
      }
      .hint-icon {
        width: 17px;
        margin: -2px 5px 0 0;
      }
    }
    .content-row {
      padding-top: 5px;
      .status-count {
        text-align: center;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        margin-right: 2px;
        .count-text {
          cursor: context-menu;
          color: white;
        }
      }
    }
  }
  .button-more {
    cursor: pointer;
    .O {
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: #a0a0a0;
      margin-bottom: 2px;
    }
  }
}
.task-dropdown {
  background-color: #a0a0a0;
  padding: 0;
  border-radius: 20px;
  &.data-unset {
    .set-bubble-color(#ff1919);
  }
  &.state-unset {
    .set-bubble-color(#ff8760);
  }
  &.message {
    .set-bubble-color(@color-message);
  }
  &.input {
    .set-bubble-color(@color-input);
  }
  &.nlu {
    .set-bubble-color(@color-nlu);
  }
  &.api {
    .set-bubble-color(@color-api);
  }

  li {
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    line-height: unset;
    &:hover {
      background-color: #a0a0a0 !important;
      border-radius: 20px;
    }
  }
  .set-bubble-color(@color) {
    background-color: @color;
    li {
      cursor: context-menu;
      &:hover {
        color: white;
        background-color: @color !important;
        border-radius: 20px;
      }
    }
    .popper__arrow {
      .set-border-color(@color);
    }
  }
  .set-border-color(@color) {
    border-bottom-color: @color !important;
    border-top-color: @color !important;
    &::after {
      border-bottom-color: @color !important;
      border-top-color: @color !important;
    }
  }
  .popper__arrow {
    .set-border-color(#a0a0a0);
  }
}
</style>