<template>
  <div>
    {{node ? node.name:''}}
    <div @click="removeNode(node)">{{$tp('common.delete')}}</div>
    <div @click="save(node)">{{$tp('common.save')}}</div>
  </div>
</template>

<script>

export default {
  props: { node: Object, removeNode: Function, save: Function }
}
</script>
