.storm-diagrams-canvas {
	position        : relative;
	cursor          : move;
	overflow        : hidden;
	background-color: #f4f4f4;
	height          : 100%;
	width           : 100%;
	flex-grow       : 1;
}

.storm-diagrams-canvas .point {
	fill: rgba(255, 255, 255, 0.5);
}

.storm-diagrams-canvas .point.selected {
	fill: #00c0ff;
}

.storm-diagrams-canvas .selector {
	position        : absolute;
	background-color: rgba(0, 192, 255, 0.2);
	border          : solid 2px #00c0ff;
}

.storm-diagrams-canvas svg {
	position        : absolute;
	height          : 100%;
	width           : 100%;
	transform-origin: 0 0;
	overflow        : visible;
}

.storm-diagrams-canvas .node-view {
	top             : 0;
	left            : 0;
	right           : 0;
	bottom          : 0;
	position        : absolute;
	pointer-events  : none;
	transform-origin: 0 0;
}

.storm-diagrams-canvas .node {
	position             : absolute;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select  : none;
	/* Chrome/Safari/Opera */
	user-select          : none;
	cursor               : move;
	pointer-events       : all;
}

.storm-diagrams-canvas .node.selected>* {
	border-color  : #00c0ff !important;
	/* -webkit-filter: drop-shadow(0 0 20px rgba(0, 192, 255, 0.5));
	filter        : drop-shadow(0 0 20px rgba(0, 192, 255, 0.5)); */
	z-index: 10;
}

@keyframes dash {
	from {
		stroke-dashoffset: 24;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.storm-diagrams-canvas path {
	fill          : none;
	pointer-events: all;
	stroke: #b7b7b7;
	stroke-width: 2px;
}

.storm-diagrams-canvas path.selected {
	stroke          : #0D8DBC !important;
	stroke-dasharray: 10, 2 !important;
	animation       : dash 3s linear infinite;
}
.storm-diagrams-canvas path.reverse{
	animation-direction: reverse;
}

.storm-diagrams-canvas path.alternate{
	animation-direction: alternate;
}

.storm-diagrams-canvas path.message{
	stroke          : #0D8DBC !important;
}

.storm-diagrams-canvas path.input{
	stroke          : #8A6BB5 !important;
}

.storm-diagrams-canvas path.nlu{
	stroke          : #E26590 !important;
}

.storm-diagrams-canvas path.api{
	stroke          : #AA8170 !important;
}

.storm-diagrams-canvas .port {
	width     : 15px;
	height    : 15px;
	background: rgba(255, 255, 255, 0.1);
}

.storm-diagrams-canvas .port:hover,
.storm-diagrams-canvas .port.selected {
	background: #c0ff00;
}

.storm-diagrams-canvas .basic-node {
	border-radius: 10px;
	font-family  : Arial;
	color        : white;
	overflow     : visible;
	font-size    : 11px;
	width        : 200px;
	box-shadow   : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
	border       : solid 2px #b7b7b7;
}

.storm-diagrams-canvas .basic-node .title .fa {
	padding       : 5px;
	opacity       : 0.2;
	cursor        : pointer;
	pointer-events: none;
}

.storm-diagrams-canvas .basic-node .title .fa:hover {
	opacity: 1.0;
}

.storm-diagrams-canvas .basic-node .title .name {
	font-family   : NotoSansCJKtc;
	font-size     : 12px;
	font-weight   : 500;
	font-stretch  : normal;
	font-style    : normal;
	line-height   : 1.46;
	letter-spacing: normal;
	text-align    : left;
	color         : white;
}

.storm-diagrams-canvas .basic-node .ports {
	display: flex;
}

.storm-diagrams-canvas .basic-node .ports .in {
	width: 1px;
}

.storm-diagrams-canvas .basic-node .ports .out {
	/* display: flex;
	flex-direction: column; */
	width: 100%;
}

.storm-diagrams-canvas .basic-node .ports .in-port,
.storm-diagrams-canvas .basic-node .ports .out-port {
	display   : flex;
	margin-top: 1px;
}

.storm-diagrams-canvas .basic-node .ports .in-port>*,
.storm-diagrams-canvas .basic-node .ports .out-port>* {
	align-self: center;
}

.storm-diagrams-canvas .basic-node .ports .in-port .name,

.storm-diagrams-canvas .basic-node .ports .out-port .name {
	padding      : 0 5px;
	height       : 22px;
	font-size    : 15px;
	font-weight  : 500;
	text-align   : left;
	color        : #5f5f5f;
	white-space  : nowrap;
	text-overflow: ellipsis;
	width        : 100%;
}

.storm-diagrams-canvas .basic-node .ports .out-port {
	justify-content: flex-end;
}

.storm-diagrams-canvas .basic-node .ports .out-port .name {
	justify-content: flex-end;
}

.tray {
	display    : flex;
	min-width  : 200px;
	flex-grow  : 0;
	flex-shrink: 0;
}

.dialog-node {
	text-align   : center;
	line-height  : 20px;
	width        : 60px;
	color        : white;
	font-size    : 10pt;
	padding      : 5px;
	margin       : 0px 10px;
	border       : solid 1px;
	border-radius: 5px;
	margin-bottom: 2px;
	cursor       : pointer;
}

.tray-item {
	color        : black;
	padding      : 5px;
	margin       : 0px 10px;
	border       : solid 2px;
	border-radius: 5px;
	margin-bottom: 2px;
	cursor       : pointer;
}