<template>
  <div class="sw_box">
    <template v-if="ready&&type">
      <template v-if="type === 'success'">
        <div class="swal2-icon swal2-success swal2-animate-success-icon fx">
          <div class="swal2-success-circular-line-left"></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div class="swal2-success-fix"></div>
          <div class="swal2-success-circular-line-right"></div>
        </div>
      </template>
      <template v-else-if="type === 'error'">
        <div class="swal2-icon swal2-error swal2-animate-error-icon fx">
          <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
          </span>
        </div>
      </template>
    </template>
  </div>
</template>
<script>
export default {
  props: {
    type: String,//success, error
    delay: Number,
  },
  data() {
    return {
      ready: false,
    }
  },
  mounted() {
    setTimeout(() => {
      this.ready = true;
    }, this.delay || 0);
  }
}
</script>
<style lang="less">
@import "./style.css";
.sw_box {
  width: 88px;
  height: 88px;
  display: inline-block;
}
</style>