<template>
  <div :class="classObj" class="app-wrapper">
    <div
      v-if="device === 'mobile' && sidebar.opened"
      class="drawer-bg"
      @click="handleClickOutside"
    />
    <sidebar class="sidebar-container" :class="{ isShield: isShield }" />
    <div class="main-container">
      <template v-if="appReady">
        <div :class="{ 'fixed-header': fixedHeader, isShield: isShield }">
          <Navbar />
        </div>
        <app-main />
        <info />
      </template>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { Navbar, Sidebar, AppMain } from "./components";
import ResizeMixin from "./mixin/ResizeHandler";
import info from "@v/personal_info_edit";
export default {
  name: "Layout",
  components: { Navbar, Sidebar, AppMain, info },
  mixins: [ResizeMixin],
  data() {
    return {
      fixedHeader: true
    };
  },
  computed: {
    ...mapState(["routeTabs", "notificationServiceReady", "isShield"]),
    sidebar() {
      return this.$store.state.app.sidebar;
    },
    device() {
      // return this.$store.state.app.device;
      ////主選單側欄手機版會隱藏
      return "desktop";
    },
    classObj() {
      return {
        hideSidebar: !this.sidebar.opened,
        openSidebar: this.sidebar.opened,
        withoutAnimation: this.sidebar.withoutAnimation,
        mobile: this.device === "mobile"
      };
    },
    appReady() {
      return this.routeTabs.length && this.notificationServiceReady;
    }
  },
  methods: {
    handleClickOutside() {
      this.$store.dispatch("app/closeSideBar", { withoutAnimation: false });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/variables.scss";

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}
.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: calc(100% - #{$sideBarWidth});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - 54px);
}

.mobile .fixed-header {
  width: 100%;
}
</style>
