#loading_page {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  z-index         : 1000;
  color           : #F8B700;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: #4E4E4E;
  font-family     : none;
  font-size       : 20px;
  text-align      : center;
}