<template>
  <Shield
    :as="'pop'"
    :ctnClass="'maxW_1000'"
    :title="'API Endpoints'"
    :showBy="show"
    :close="
      () => {
        show = false;
      }
    "
  >
    <template slot="body">
      <div class="url_ctn">
        <div class="url_box" v-for="(item, index) in stateNodes_array">
          <div class="label_box vtc">
            <span class="url_label">{{ item.skillName }}</span>
            <span class="url_label">
              <img src="./img/arrow.svg" />
            </span>
            <span class="url_label">{{ item.name }}</span>
            <img
              class="blankicon"
              src="../img/blankicon.svg"
              @click="toUrl(item)"
            />
          </div>
          <div class="_line"></div>
          <div class="url_text fx">
            <div>
              <dropdown :ref="'dropdown' + index" class="_org" :noArrow="true">
                <template slot="select">
                  <div class="url_text_methods">
                    {{ item.info.httpMethod || "" }}
                  </div>
                </template>
                <template slot="option">
                  <div
                    v-for="option in ['POST', 'GET']"
                    :class="{ active: item.info.httpMethod === option }"
                    @click="
                      item.info.httpMethod = option;
                      updateStateAPIInfo(item);
                    "
                  >
                    {{ option }}
                  </div>
                </template>
              </dropdown>
            </div>
            <div class="_fill">
              <div class="url_text_url">
                <template v-if="sd_stateNodes === index">{{
                  temp_url
                }}</template>
                <template v-else>{{ item.info.url }}</template>
                <textarea
                  v-model="temp_url"
                  @keypress.enter.prevent="$event.target.blur()"
                  @focus="
                    temp_url = item.info.url;
                    sd_stateNodes = index;
                  "
                  @blur="updateStateAPIInfo(item)"
                  tabindex="-1"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="stateNodes_array.length === 0" class="noData">
        尚无新增api数据
      </div>
    </template>
  </Shield>
</template>

<script>
// components
import Shield from "@c/shield";
import dropdown from "@c/dropdown/dropdown";
export default {
  props: {
    flowData: Object
  },
  components: { Shield, dropdown },
  data() {
    return {
      stateNodes: [],
      temp_url: "",
      sd_stateNodes: -1
    };
  },
  computed: {
    show: {
      get() {
        return this.$store.state.apiList_show;
      },
      set(val) {
        this.$store.commit("SET_API_LIST_SHOW", val);
      }
    },
    skillNodes() {
      try {
        return this.flowData.flow.content.skills.nodes;
      } catch (ex) {
        return [];
      }
    },
    stateNodes_array() {
      try {
        let result = [];
        let states = this.flowData.flow.content.states;
        for (let key in states) {
          result.push(
            ...states[key].nodes.map(stateNode => {
              stateNode.skillId = key;
              stateNode.skillName = (
                this.skillNodes.find(x => x.id === key) || {}
              ).name;
              return stateNode;
            })
          );
        }
        result = result.filter(x => x.info.url);
        return result;
      } catch (ex) {
        return [];
      }
    }
  },
  methods: {
    init_data() {
      this.temp_url = "";
      this.sd_stateNodes = -1;
    },
    toUrl(item) {
      this.flowData.functions.onNodeSelect(item.skillId, item.id);
      this.show = false;
    },
    updateStateAPIInfo(item) {
      if (item.info.url === this.temp_url) return false;
      item.info.url = this.temp_url;
      this.init_data();
      this.flowData.functions.setState(item.id);
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.url_ctn {
  .url_box {
    position: relative;
    .bc(#f4f4f4);
    border-radius: 20px;
    padding: 20px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .label_box {
    .blankicon {
      margin-bottom: -3px;
      float: right;
      cursor: pointer;
    }
  }
  ._line {
    margin: 15px -20px;
    height: 1px;
    .bc(#dddddd);
  }
  .url_label {
    font-size: 14px;
    color: #363636;
    line-height: 1;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .method {
    border: 1px solid;
    padding: 2px 4px;
    border-radius: 5px;
    &._get {
      color: green;
    }
    &._post {
      color: blue;
    }
  }
  .url_text_methods {
    border-radius: 5px;
    margin-right: 10px;
    .bc(@f);
    padding: 5px 6px;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    font-size: 14px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: @org transparent transparent transparent;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .url_text_url {
    position: relative;
    word-break: break-all;
    padding: 5px 10px;
    font-size: 14px;
    .bc(@f);
    border-radius: 5px;
    textarea {
      position: absolute;
      top: 0;
      left: 0;
      .WH(100%);
      .bc(@f);
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      resize: none;
      box-shadow: 0 0 0px 2px @org;
      &:not(:focus) {
        opacity: 0;
      }
    }
  }
}
.dropdown {
  .select_ctn {
    &.active {
      .url_text_methods {
        box-shadow: 0 0 0px 2px @org;
      }
    }
  }
}
.noData {
  text-align: center;
  margin-bottom: 20px;
}
</style>