<template>
  <Shield
    :maxWidth="600"
    :title="'繁简转换'"
    :showBy="chineseConvertShield_show"
    :close="() => (chineseConvertShield_show = false)"
    :submit="submit"
  >
    <template slot="body">
      <div>
        <button
          class="btn-main"
          :class="{
            gray: key !== chinese_convert
          }"
          v-for="(value, key) in type"
          @click="chinese_convert = key"
        >
          {{ value }}
        </button>
      </div>
    </template>
  </Shield>
</template>

<script>
//api
import { updateBot } from "@/api/Bot";
//components
import Shield from "@c/shield";
//mixins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  components: { Shield },
  data() {
    return {
      type: {
        none: "默认",
        auto: "自动",
        zh_cn: "简体",
        zh_tw: "繁体"
      },
      chinese_convert: ""
    };
  },
  computed: {
    chineseConvertShield_show: {
      get() {
        return this.$store.state.chineseConvertShield_show;
      },
      set(value) {
        this.$store.commit("SET_CHINESE_CONVERT_SHIELD_SHOW", value);
      }
    }
  },
  methods: {
    init() {
      if (!this.currentBot.config.chinese_convert) {
        let config = JSON.parse(JSON.stringify(this.currentBot.config));
        config.chinese_convert = "none";
        this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
          property: "config",
          value: config
        });
      }
      this.chinese_convert = this.currentBot.config.chinese_convert;
    },
    async submit() {
      let config = JSON.parse(JSON.stringify(this.currentBot.config));
      config.chinese_convert = this.chinese_convert;
      await updateBot({
        id: this.currentBot.id,
        config: config
      });
      this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
        property: "config",
        value: config
      });
      this.chineseConvertShield_show = false;
    }
  }
};
</script>

<style lang="less" scoped>
button {
  width: 300px;
  display: block;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
</style>