<template>
  <Shield
    ref="dialog"
    :title="$tp(['label.import', 'bot.flow'])"
    :submit="loadJsonFromFileConfirmed"
    :as="'page'"
    :ctnClass="'w_500'"
  >
    <template slot="body">
      <div style="text-align: center">
        <el-upload
          :file-list="uploadFiles"
          action="alert"
          accept="json"
          :auto-upload="false"
          :on-change="loadJsonFromFile"
        >
          <div class="file-cell">
            <img style="add-file" src="/img/add-file.svg" />
            <span class="text">
              <div class="main-text">{{ $tp("please.chooseFile") }}</div>
              <div class="sub-text">{{ $tp("please.JsonOnly") }}</div>
            </span>
          </div>
          <div slot="tip"></div>
        </el-upload>
      </div>
    </template>
  </Shield>
</template>
<script>
import Shield from "@c/shield";
import { getFlowHistory, getFlow, updateFlow } from "@/api/Bot";
import { getIntents, createIntent } from "@/api/Intent";
import navbar from "@c/navbar";
import { flowHelper } from "../FlowHelper";
// minxins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  components: { navbar, Shield },
  data() {
    return {
      versions: [],
      currentVersionIndex: -1,
      uploadFiles: []
    };
  },
  methods: {
    async init() {
      this.versions = await getFlowHistory(this.currentBot.id);
    },
    loadJsonFromFile(file, fileList) {
      this.uploadFiles = fileList;
    },
    async loadJsonFromFileConfirmed() {
      this.importLoading = true;
      if (this.uploadFiles.length != 1) {
        this.$root.m_error(this.$tp("warn.shouldBeOneFile"));
        return;
      }
      let file = this.uploadFiles[0];
      let reader = new FileReader();
      reader.onload = async e => {
        let data;
        try {
          data = JSON.parse(e.target.result);
          if (!this.checkFileVaild(data)) {
            this.$root.m_error(this.$tp("warn.fileFormatError"));
            this.$router.push({ path: `/bot/${this.currentBot.id}/flow` });
            return;
          }
          await this.importConfig(data);
        } catch {
          this.$root.m_error(this.$tp("warn.fileFormatError"));
          this.$router.push({ path: `/bot/${this.currentBot.id}/flow` });
          return;
        }

        this.importLoading = false;
      };
      reader.readAsText(file.raw);

      this.$refs.dialog.show = false;
    },
    checkFileVaild(file) {
      if (!Array.isArray(file.agent_config)) {
        return false;
      }
      return true;
    },
    async importConfig(file) {
      if (!confirm("确定删除现有flow？")) {
        return;
      }
      let skillIDs = flowHelper.createSkillID(file.agent_config);
      let config = flowHelper.buildUIConfig(skillIDs, file.agent_config);
      let flow = await this.loadFlow(this.currentBot.id);
      let botIntentsObj = await getIntents(this.currentBot.id);
      let botIntentArray = [];
      for (let intent of botIntentsObj.intents) {
        botIntentArray.push(intent.name);
      }
      let restIntents = file.agent_intents.filter(
        x => !botIntentArray.includes(x)
      );
      for (let intent of restIntents) {
        await createIntent(this.currentBot.id, intent);
      }

      if (flow.id) {
        updateFlow(flow.id, config).then(result => {
          this.$root.m_success(
            this.$tp("label.import") + this.$tp("warn.success")
          );
          this.$router.push({ path: `/bot/${this.currentBot.id}/flow` });
          location.reload();
        });
      }
    },
    loadFlow(botId) {
      return flowHelper.loadFlow(botId).then(flow => {
        if (!flow.id) {
          alert("Flow Wrong");
        } else {
          return Promise.resolve(flow);
        }
      });
    }
  }
};
</script>
<style lang="less">
.version-row {
  display: flex;
  padding: 15px 0px 15px 5px;
  color: #5d5d5d;
  border-bottom: 1px solid #f4f4f4;
  .version-text {
    flex-grow: 1;
    padding: 3px 0;
  }
  .button {
    cursor: pointer;
    color: #0fa8a8;
    border: 1px solid #0fa8a8;
    border-radius: 20px;
    padding: 3px 8px;
    &.selected {
      color: white;
      background-color: #0fa8a8;
    }
  }
}
</style>
