<template>
  <div class="fs_textarea">
    <div>{{ value }}</div>
    <textarea
      :value="value"
      :placeholder="placeholder"
      @input="$emit('input', $event.target.value)"
      @keypress.enter="enter && enter()"
      @blur="blur && blur()"
    ></textarea>
    <div class="fs_input_border"></div>
  </div>
</template>

<script>
export default {
  props: {
    value: undefined,
    placeholder: undefined,
    enter: Function,
    blur: Function
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.fs_textarea {
  padding: 10px 20px;
  position: relative;
  min-height: 100px;
  color: transparent;
  word-break: break-all;

  &._line {
    min-height: 36px;
  }

  &._border {
    border: 1px solid #466464;
    border-radius: @fs_brr;
  }

  & > textarea {
    position: absolute;
    top: 0;
    left: 0;
    .WH(100%);
    border: none;
    background: none;
    z-index: 1;
    padding: 10px 20px;
    resize: none;
    overflow: hidden;
    font-size: 14px;

    &:focus {
      & ~ .fs_input_border {
        border-color: @org;
      }
    }
  }

  & > div {
    white-space: pre-line;
  }

  .fs_input_border {
    border-radius: @fs_brr;
  }
}
</style>