<template>
  <div class="fs_input fx aic">
    <input
      type="text"
      class="_fill"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @keypress.enter="enter && enter()"
      @blur="blur && blur()"
      :placeholder="placeholder"
    />
    <div class="fs_input_border"></div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    value: undefined,
    placeholder: undefined,
    enter: Function,
    blur: Function
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.fs_input_border {
  .room();
  border: 1px solid #e2e2e2;
  border-radius: @fs_brr;
}

.fs_input {
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;

  & > input[type="text"] {
    position: relative;
    border: none;
    width: 100%;
    background: none;
    z-index: 1;
    padding: 15px 10px;
    font-size: 14px;

    &:focus {
      & ~ .fs_input_border {
        border-color: @org;
      }
    }
  }

  ._icon {
    z-index: 1;
    position: relative;
    flex-shrink: 0;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
  }
}
</style>