<template>
  <div class="switch_ctn">
    <!-- 轉移狀態 -->
    <el-dropdown :trigger="'click'">
      <span class="tp_btn tp_state_btn ddl_ttl" :class="transition_self.stateClass">
        <img
          class="icon"
          :src="
            require(`../../../assets/img/${
              transition_self.next_state ? 'switch_gray' : 'switch_white'
            }.svg`)
          "
        />
        <span>{{
          transition_self.next_type === "state"
            ? `${$tp("bot.state")}_${transition_self.next_name}`
            : $tp("label.transitToOtherState")
        }}</span>
      </span>
      <el-dropdown-menu class="dlorgmode _switch">
        <el-dropdown-item
          v-for="(state, index) in states"
          :key="index"
          @click.native="selectNextNode('state', transition, state)"
        >
          {{ state.info.name || `${state.info.name}|${state.info.label}` }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <!-- 轉移任務 -->
    <el-dropdown :trigger="'click'">
      <span class="tp_btn last tp_state_btn ddl_ttl" :class="transition_self.skillClass">
        <img
          class="icon"
          :src="
            require(`../../../assets/img/${
              transition_self.next_skill ? 'switch_gray' : 'switch_white'
            }.svg`)
          "
        />
        <span>{{
          transition_self.next_type === "skill"
            ? `${$tp("bot.skill")}_${transition_self.next_name}`
            : $tp("label.transitToOtherSkill")
        }}</span>
      </span>
      <el-dropdown-menu class="dlorgmode _switch">
        <el-dropdown-item
          v-for="(skill, index) in skills"
          :key="index"
          @click.native="selectNextNode('skill', transition, skill)"
          >{{ skill.name }}</el-dropdown-item
        >
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  props: {
    transition: Object,
    selectNextNode: Function,
    skills: Array,
    states: Array
  },
  data() {
    return {
      transition_self: {}
    };
  },
  watch: {
    transition: {
      handler() {
        this.transition_self = this.transition;
      },
      deep: true,
      immediate: true
    }
  }
};
</script>

<style>
</style>