<template>
  <Shield
    ref="intentSelection"
    :title="modalTitle"
    :submit="submit_intentSelection"
    :as="'pop'"
    :ttlIcon="'/img/group-19.png'"
    :ctnClass="'maxW_800'"
    :showBy="true"
    :close="close"
  >
    <template slot="body">
      <div class="mb_20 intent-selection">
        <div class="quick-view-wapper2">
          <div class="quick-view-wapper" :style="quickViewWapperCss">
            <div class="quick-view">
              <span
                class="control-button"
                v-if="checkedIntents.length == 0"
                @click="selectAllCheckedIntents"
                >{{ $tp("label.selectAll") }}</span
              >
              <span class="control-button" v-else @click="unSelectAllCheckedIntents">{{
                $tp("label.unSelectAll")
              }}</span>
              <span class="intent" v-for="(intent, index) in reversedCheckedIntents">
                {{ intent.name }}
                <img
                  src="@img/close.svg"
                  @click="checkedIntents.splice(reversedCheckedIntents.length - index - 1, 1)"
                />
              </span>
            </div>
          </div>
          <div v-show="showToggleButton" class="toggle-button-wrapper">
            <img
              class="toggle-button"
              src="@img/toggle_button.svg"
              @click="toggleCheckedIntent"
              :style="toggleButtonCss"
            />
          </div>
        </div>
        <div class="control-panel" v-show="!isAPIIntents">
          <div class="input-new-intent">
            <input
              type="text"
              :placeholder="$tp('please.enterValue')"
              v-model="newIntentName"
              @keyup.enter="addIntent()"
            />
            <button class="submit" @click="addIntent()">{{ $tp("label.newIntent") }}</button>
          </div>
        </div>
        <div class="check-item_frame">
          <div class="reserved-intents">
            <el-checkbox-group class="horizental" v-model="checkedIntents">
              <div class="check-item" v-for="(intent, index) in reservedIntents" :key="index">
                <el-checkbox :label="intent" :key="intent.id">
                  <span>{{ intent.name }}</span>
                </el-checkbox>
              </div>
            </el-checkbox-group>
          </div>
          <div class="hr"></div>
          <div class="intent-blocks">
            <el-scrollbar>
              <el-checkbox-group v-model="checkedIntents">
                <div
                  class="check-item"
                  v-for="(intent, index) in intentsWithEntitiesSorted"
                  :key="index"
                >
                  <el-checkbox :label="intent" :key="intent.id">
                    <span>{{ intent.name }}</span>
                  </el-checkbox>
                  <span class="expand-button" v-show="intent.entities">
                    <img
                      v-if="!isExpandeds[index]"
                      @click="clickExpand(index, intent)"
                      src="@img/add.svg"
                    />
                    <img
                      v-if="isExpandeds[index]"
                      @click="clickExpand(index, intent)"
                      src="@img/minus.svg"
                    />
                    <img
                      v-if="isExpandeds[index]"
                      @click="editIntentEntity(index)"
                      src="@img/edit2.svg"
                    />
                  </span>
                  <div class="entity-block" v-if="isExpandeds[index]">
                    <el-checkbox-group v-model="intent.checkedEntities">
                      <div class="check-item" v-for="(entity, entityIndex) in intent.entities">
                        <el-checkbox
                          :label="entity.name"
                          :key="entity.name"
                          @change="checkIntentJointly(intent)"
                          >{{ entity.name }}</el-checkbox
                        >
                        <img
                          v-show="isIntentEntitiesEditable[index]"
                          @click="deleteIntentEntity(intent, entityIndex)"
                          src="@img/close.svg"
                        />
                      </div>
                    </el-checkbox-group>
                    <div v-show="isIntentEntitiesEditable[index]" class="new-intent-entity">
                      <el-autocomplete
                        class="new-intent-entity-input"
                        v-model="newIntentEntityNames[index]"
                        :fetch-suggestions="getFilteredEntitiesNames"
                        :placeholder="$tp('please.enterEntityName')"
                        popper-class="el-autocomplete-popper"
                        @select="clickIntentEntityItem($event, index)"
                        @keypress.native.enter="createIntentEntity(intent, index)"
                      ></el-autocomplete>
                      <span class="confirm-button" @click="createIntentEntity(intent, index)">{{
                        $tp("label.new")
                      }}</span>
                    </div>
                  </div>
                </div>
              </el-checkbox-group>
            </el-scrollbar>
          </div>
        </div>
      </div>
    </template>
  </Shield>
</template>
<script>
import { mapState } from "vuex";
import Shield from "@c/shield";
import { getIntents, createIntent, updateIntent } from "@/api/Intent";
import { createEntity } from "@/api/Entity";
import App from "@mix/App";
import currentBot from "@mix/bot/currentBot";

const INTENT_QUICK_VIEW_MAX_HEIGHT = 80;
let currentScroll = 0;
let elScrollbar = undefined;
export default {
  mixins: [App, currentBot],
  components: { Shield },
  props: {
    operation: String,
    submit: Function,
    currentConditions: Array,
    close: Function,
    entityAliases: Array
  },
  data() {
    return {
      CHECKED_INTENT_MAX_HEIGHT_BEFORE_TOGGLE: INTENT_QUICK_VIEW_MAX_HEIGHT,
      intents: [],
      apiIntents: [
        { id: "200", name: "200" },
        { id: "201", name: "201" },
        { id: "202", name: "202" },
        { id: "203", name: "203" },
        { id: "205", name: "205" },
        { id: "206", name: "206" },
        { id: "400", name: "400" },
        { id: "500", name: "500" }
      ],
      reservedIntents: [
        { id: "ok", name: "ok", isReserved: true },
        { id: "unknown", name: "unknown", isReserved: true },
        { id: "none-of-the-above", name: "none-of-the-above", isReserved: true }
      ],
      checkedIntents: [],
      isExpandeds: [],
      isIntentEntitiesEditable: [],
      showToggleButton: false,
      showFullcheckedIntents: false,
      quickViewWapperCss: {
        maxHeight: INTENT_QUICK_VIEW_MAX_HEIGHT + "px"
      },
      toggleButtonCss: {},
      newIntentName: "",
      newIntentEntityNames: []
    };
  },
  computed: {
    ...mapState(["currentEntities"]),
    modalTitle() {
      return this.isAPIIntents
        ? this.$tp("please.chooseMultiStatusCode")
        : this.$tp("please.chooseMultiIntent");
    },
    reversedCheckedIntents() {
      return this.checkedIntents.slice().reverse();
    },
    intentsWithEntitiesSorted() {
      for (let intent of this.intents) {
        let tempCheckedEntities = [];
        if (!intent.entities) {
          continue;
        }
        intent.entities.sort((a, b) => (a.name > b.name ? 1 : -1));
        //put checkedEntities in fornt of uncheckeds.
        for (let checkedEntityName of intent.checkedEntities) {
          const targetEntityIndex = intent.entities.findIndex(e => e.name === checkedEntityName);
          if (targetEntityIndex >= 0) {
            const targetEntity = intent.entities[targetEntityIndex];
            intent.entities.splice(targetEntityIndex, 1);
            tempCheckedEntities.push(targetEntity);
          }
        }
        intent.entities = tempCheckedEntities.concat(intent.entities);
      }
      return this.intents;
    },
    isAPIIntents() {
      return this.operation === "api";
    }
  },
  created() {
    this.$nextTick(() => {
      elScrollbar = document.querySelector(".check-item_frame .el-scrollbar__wrap");
      elScrollbar.addEventListener("scroll", e => {
        currentScroll = e.target.scrollLeft;
      });
    });
  },
  methods: {
    toggleCheckedIntent() {
      this.showFullcheckedIntents = !this.showFullcheckedIntents;
      if (this.showFullcheckedIntents) {
        this.quickViewWapperCss.maxHeight =
          document.querySelector(".quick-view").clientHeight + "px";
        this.toggleButtonCss.transform = "rotate(0.5turn)";
      } else {
        this.toggleButtonCss.transform = "rotate(0turn)";
        this.quickViewWapperCss.maxHeight = INTENT_QUICK_VIEW_MAX_HEIGHT + "px";
      }
    },
    checkIntentJointly(intent) {
      if (!this.checkedIntents.includes(intent)) this.checkedIntents.push(intent);
    },
    clickExpand(index, intent) {
      this.isExpandeds.splice(index, 1, !this.isExpandeds[index]);
      this.isIntentEntitiesEditable.splice(index, 1, false);
    },
    async init() {
      let intents = [];
      if (this.isAPIIntents) {
        intents = this.apiIntents;
      } else {
        let queryResult = await getIntents(this.currentBot.id);
        intents.push(...queryResult.intents);
        for (let intent of intents) {
          this.isExpandeds.push(false);
          intent.checkedEntities = [];
        }
      }
      this.intents = intents.map((intent, i) => {
        intent.i = i;
        if (intent.entities) {
          intent.entities = intent.entities.map(entityId => {
            return {
              id: entityId,
              name: this.getEntityById(entityId).name,
              isAlias: false
            };
          });
          for (let entityAlias of this.entityAliases) {
            const targetEntity = this.getEntityByName(entityAlias.entity);
            if (targetEntity.id && intent.entities.find(e => e.id === targetEntity.id)) {
              intent.entities.push({
                id: targetEntity.id,
                name: entityAlias.alias,
                isAlias: true
              });
            }
          }
        }

        return intent;
      });
      this.currentConditionsToCheckedIntents();
    },
    currentConditionsToCheckedIntents() {
      for (let condition of this.currentConditions) {
        let targetIntent = this.intents
          .concat(this.reservedIntents)
          .find(intent => intent.id == condition.id);
        if (targetIntent) {
          if (condition.entities) {
            this.isExpandeds[targetIntent.i] = true;
            for (let entity of condition.entities) {
              let targetEntity = undefined;
              if (entity.isAlias) {
                targetEntity = targetIntent.entities.find(e => e.name === entity.entity);
              } else {
                targetEntity = this.getEntityByName(entity.entity /*entityName*/);
              }
              if (targetEntity) {
                targetIntent.checkedEntities.push(targetEntity.name);
              }
            }
          }
          this.checkedIntents.push(targetIntent);
        }
      }
    },
    checkedIntentsToCurrentConditions() {
      let newConditions = [];
      for (let checkedIntent of this.checkedIntents) {
        let newCondition = { id: checkedIntent.id, value: checkedIntent.name };
        if (checkedIntent.checkedEntities && checkedIntent.checkedEntities.length > 0) {
          newCondition.entities = [];
          for (let checkedEntityName of checkedIntent.checkedEntities) {
            const targetEntity = checkedIntent.entities.find(e => e.name === checkedEntityName);
            newCondition.entities.push({
              id: targetEntity.id,
              entity: targetEntity.name,
              isAlias: targetEntity.isAlias
            });
          }
        }
        newConditions.push(newCondition);
      }
      console.log(newConditions);
      return newConditions;
    },
    submit_intentSelection() {
      let newConditions = this.checkedIntentsToCurrentConditions();
      this.submit(newConditions);
    },
    selectAllCheckedIntents() {
      this.checkedIntents = [...this.intents, ...this.reservedIntents];
    },
    unSelectAllCheckedIntents() {
      this.checkedIntents = [];
    },
    getEntityById(entityId) {
      return this.currentEntities.find(e => e.id === entityId) || {};
    },
    getEntityByName(name) {
      return this.currentEntities.find(e => e.name === name) || {};
    },
    async addIntent() {
      if (this.newIntentName == "") {
        this.$root.m_error(this.$tp("warn.intentNameShouldNotBeEmpty"));
        return;
      }
      try {
        const result = await createIntent(this.currentBot.id, this.newIntentName);
        this.newIntentName = "";
        await this.init();
        this.$root.m_success(this.$tp("warn.createSuccess"));
        this.$store.dispatch("updateIntents");
      } catch (error) {
        console.log(error);
        if ((error.response.data || {}).error_code == 50004) {
          this.$root.m_error(this.$tp("warn.intentNameDuplicated"));
        } else {
          this.$root.m_error(this.$tp("warn.createFail"));
        }
      }
    },
    async editIntentEntity(intentIndex) {
      if (!this.isIntentEntitiesEditable[intentIndex]) {
        this.$set(this.isIntentEntitiesEditable, intentIndex, true);
      } else {
        this.$set(this.isIntentEntitiesEditable, intentIndex, false);
      }
    },
    async createIntentEntity(intent, intentIndex) {
      const entityName = this.newIntentEntityNames[intentIndex];
      if (entityName == "" || entityName == undefined) {
        this.$root.m_error(this.$tp("warn.entityNameShouldNotBeEmpty"));
        return;
      }
      let entity = this.currentEntities.find(e => e.name === entityName);
      if (!entity) {
        try {
          entity = await this.createEntity(entityName);
        } catch (error) {
          console.log(error);
          this.$root.m_error(this.$tp("warn.createFail"));
          return;
        }
      }
      if (intent.entities.find(entityId => entityId === entity.id)) {
        this.$root.m_error(this.$tp("warn.entityAlreadyExist"));
        return;
      }
      intent.entities.unshift(entity.id);
      try {
        await updateIntent(intent);
        this.$store.commit("SET_CURRENT_INTENTS", JSON.parse(JSON.stringify(this.intents)));
        this.$root.m_success(this.$tp("warn.createSuccess"));
        this.$set(this.newIntentEntityNames, intentIndex, "");
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.createFail"));
      }
    },
    async createEntity(entityName) {
      const result = await createEntity(this.currentBot.id, entityName);
      this.$store.dispatch("updateEntities");
      return { id: result.entity_id };
    },
    async deleteIntentEntity(intent, entityIndex) {
      intent.entities.splice(entityIndex, 1);
      try {
        await updateIntent(intent);
        this.$store.commit("SET_CURRENT_INTENTS", JSON.parse(JSON.stringify(this.intents)));
        this.$root.m_success(this.$tp("warn.deleteSuccess"));
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.deleteFail"));
      }
    },
    getFilteredEntitiesNames(entityName, callback) {
      entityName = entityName || "";
      callback(
        this.currentEntities
          .filter(entity => entity.name.includes(entityName))
          .map(e => ({
            value: e.name,
            entity: e
          })) || []
      );
    },
    clickIntentEntityItem(event, intentIndex) {
      this.$set(this.newIntentEntityNames, intentIndex, event.entity.name);
    }
  },
  updated() {
    if (elScrollbar) elScrollbar.scrollLeft = currentScroll;
  },
  watch: {
    checkedIntents: {
      handler() {
        setTimeout(() => {
          if (
            document.querySelector(".quick-view").clientHeight >
            this.CHECKED_INTENT_MAX_HEIGHT_BEFORE_TOGGLE
          ) {
            this.showToggleButton = true;
            this.quickViewWapperCss.maxHeight =
              (this.showFullcheckedIntents
                ? document.querySelector(".quick-view").clientHeight
                : INTENT_QUICK_VIEW_MAX_HEIGHT) + "px";
          } else {
            this.showToggleButton = false;
          }
        }, 0);
      },
      immediate: true
    }
  }
};
</script>
<style lang="less" scoped>
@import "../../../assets/css/fn.less";
.intent-selection {
  position: relative;
  min-height: 410px;
  .check-item_frame {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
    .reserved-intents {
      .el-checkbox__label {
        color: #0fa8a8;
        font-size: 18px;
      }
    }
    .hr {
      height: 4px;
      width: 100%;
      background-color: #ebebeb;
    }
    .intent-blocks {
      .el-checkbox-group {
        max-height: 250px;
      }
    }
  }
  .el-checkbox-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    padding: 10px;
    &.horizental {
      flex-direction: row;
    }

    .check-item {
      .vtc();
      padding-right: 10px;
      .el-checkbox {
        .is-checked {
          .el-checkbox__inner {
            background-color: white;
            border-color: rgb(220, 223, 230);
            &::after {
              border: 1px solid #0fa8a8;
              border-left: 0;
              border-top: 0;
            }
          }
          .el-checkbox__label {
            color: black;
          }
        }
      }

      img {
        width: 16px;
        cursor: pointer;
        margin-left: 3px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .entity-block {
      padding: 5px 5px 5px 20px;
      .el-checkbox-group {
        padding: 0px;
        .el-checkbox__label {
          color: #919191;
          font-size: 12px;
          padding-left: 5px;
        }
      }
      .new-intent-entity {
        display: inline-block;
        margin-top: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        .confirm-button {
          padding: 5px 8px;
          border-radius: 0 5px 5px 0;
          cursor: pointer;

          background-color: #0fa8a8;
          color: white;
          font-size: 12px;
        }
      }
    }
  }
  .control-panel {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    .input-new-intent {
      min-width: 281px;
      border: 1px solid #c6c6c6;
      border-radius: 10px;
      padding: 0px 0px 0px 10px;
      font-size: 14px;
      input {
        border: none;
        font-size: 14px;

        &::placeholder {
          color: #9f9f9f;
        }
      }
      .submit {
        margin-left: 10px;
        background-color: white;
        border: 1px solid #0fa8a8;
        border-radius: 10px;
        padding: 5px 8px;
        color: #0fa8a8;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

.quick-view-wapper2 {
  text-align: center;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 5px;
  z-index: 10;
  .quick-view-wapper {
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
    .quick-view {
      .intent {
        display: inline-block;
        background-color: #0fa8a8;
        color: white;
        border-radius: 30px;
        padding: 5px 5px;
        font-size: 14px;
        margin: 5px 0 5px 5px;
        .vtc();
        img {
          width: 15px;
          cursor: pointer;
        }
      }
      .control-button {
        display: inline-block;
        cursor: pointer;
        background-color: white;
        color: #0fa8a8;
        border-radius: 30px;
        padding: 5px 5px;
        font-size: 14px;
        margin: 5px 0 5px 5px;
        .vtc();
      }
    }
  }
  .toggle-button-wrapper {
    position: absolute;
    bottom: -9px;
    margin: auto;
    width: 100%;
    .toggle-button {
      cursor: pointer;
      width: 25px;
      transition: transform 0.5s ease-in-out;
      font-size: 0;
    }
  }
}
</style>
