<template>
  <div class="object_table">
    <template v-for="(value, index) in value_self">
      <div class="object_row" v-show="index < value_self.length - 1 || enable">
        <div class="object_item">
          <input v-model="value.entity" type="text" :disabled="!enable" />
        </div>
        <div class="object_item">
          <input v-model="value.alias" type="text" :disabled="!enable" />
        </div>
        <el-dropdown v-show="enable">
          <dotMenu :dark="true" :size="20"></dotMenu>
          <el-dropdown-menu>
            <el-dropdown-item @click.native="event_prompt_new('create', index)">{{
              $tp("label.addPrompt")
            }}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="object_row" v-for="(prompt, prompt_index) in value.prompt">
        <div class="object_item">
          <input type="text" v-model="value.prompt[prompt_index]" :disabled="!enable" />
        </div>
        <button v-show="enable" @click="event_prompt_new('delete', index, prompt_index)">x</button>
      </div>
    </template>
    <Shield
      :title="$tp('label.addPrompt')"
      :as="'pop'"
      :showBy="Shield_show"
      :submit="
        () => {
          event_prompt_new('submit');
        }
      "
      :close="
        () => {
          Shield_show = false;
        }
      "
    >
      <template slot="body">
        <table class="form_table">
          <tr>
            <td style="width: 100px">{{ $tp("bot.prompts") }}:</td>
            <td>
              <input type="text" v-model="currentPrompt" />
            </td>
          </tr>
        </table>
      </template>
    </Shield>
  </div>
</template>

<script>
//components
import dotMenu from "@ui/dotMenu";
import Shield from "@c/shield";
export default {
  props: {
    value: Array, //[{entity, alias, prompt}]
    enable: {
      type: Boolean,
      default: true
    }
  },
  components: { dotMenu, Shield },
  data() {
    return {
      value_self: [],
      currentPrompt: "",
      currentIndex: {
        value_self: -1,
        prompt: -1
      },
      // Shield
      Shield_show: false,
      Shield_mode: ""
    };
  },
  created() {
    this.value_self = this.value;
  },
  methods: {
    event_prompt_new(type, index, prompt_index) {
      if (typeof index === "number") this.currentIndex.value_self = index;
      if (typeof prompt_index === "number") this.currentIndex.prompt = prompt_index;
      if (type === "create") {
        this.Shield_mode = type;
        this.currentPrompt = "";
        this.Shield_show = true;
      } else if (type === "edit") {
      } else if (type === "submit") {
        if (!this.currentPrompt) {
          this.$root.m_error(this.$tp("warn.inputsShouldNotBeEmpty"));
          return false;
        }
        if (this.Shield_mode === "create") {
          this.value_self[this.currentIndex.value_self].prompt.push(this.currentPrompt);
        } else if (this.Shield_mode === "edit") {
        }
        this.currentPrompt = "";
        this.Shield_show = false;
      } else if (type === "delete") {
        this.$root
          .confirm(this.value_self[this.currentIndex.value_self].prompt[this.currentIndex.prompt])
          .then(() => {
            this.value_self[this.currentIndex.value_self].prompt.splice(
              this.currentIndex.prompt,
              1
            );
          });
      }
    }
  },
  watch: {
    value_self: {
      handler(val) {
        if (!val.length) return false;
        if (!!val[val.length - 1].alias || !!val[val.length - 1].entity) {
          this.value_self.push({
            alias: "",
            entity: "",
            prompt: []
          });
        }
        for (let i = val.length - 2; i >= 0; i--) {
          if (!val[i].alias && !val[i].entity && !val[i].prompt.length) {
            this.value_self.splice(i, 1);
          }
        }
      },
      deep: true
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.object_table {
  color: @text_default;
  .object_row {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .object_item {
    width: 100%;
    &:not(:last-child) {
      margin-right: 5px;
    }
    input[type="text"] {
      width: 100%;
      border: none;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 5px 10px;
      color: #000000;
      &:focus {
        box-shadow: 0 0 0px 2px @org;
      }
      &:disabled {
        color: #545454;
        background-color: #aaaaaa;
        cursor: default;
      }
    }
  }
}
</style>