<template>
  <div
    class="skill_frame"
    :class="{ open: isOpen || hoverOpen }"
    @mouseleave="event_frame('mouseleave')"
    @mouseover="event_frame('mouseover')"
  >
    <div class="frame" :class="{ open: isOpen || hoverOpen }">
      <div class="ctn fx fdc h100">
        <div class="addSkill">
          <img @click="event_skillNodes('create')" src="@img/add_task.png" />
          <span>
            <img v-if="skillFlowOpen" @click="showSkillGraph" src="@img/set_flow.svg" />
            <img v-if="!skillFlowOpen" @click="showSkillGraph" src="@img/skill_flow.png" />
          </span>
        </div>
        <div class="skill_ctn _fill" @click="isOpen = true">
          <div
            class="skill_box fx jcc aic"
            :class="{
              active: skill.id === (skillNode || {}).id,
              first: index === 0
            }"
            v-for="(skill, index) in skillNodes"
            :key="skill.id"
            @click="event_skillNodes('select', index)"
          >
            <div class="skill_item _fill">
              <div class="_name">{{ skill.name }}</div>
              <div :id="'skillNode_' + skill.id"></div>
            </div>
            <div
              class="skill_bar"
              v-if="skillNodes.length > 1 && skill.id === (skillNode || {}).id"
              @click.stop=""
            >
              <div class="_dot" v-for="item in 3"></div>
              <div class="skill_menu">
                <div class="delete_btn" @click="event_skillNodes('delete', index)">
                  {{ $tp("label.delete") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="toggleButton_box"
      :class="{ open: isOpen || hoverOpen }"
      @click="
        event_during_transition();
        isOpen = !isOpen;
      "
    >
      <img class="toggleButton" src="../img/toggleButton.svg" />
    </div>
    <watchOnce
      v-if="skillNodes.length"
      :callback="
        () => {
          event_skillNodes('select', 0);
        }
      "
    ></watchOnce>
  </div>
</template>

<script>
//watchOnce
import watchOnce from "@w/index";
export default {
  props: {
    flowData: Object,
    skillNode: {
      //current select skill
      type: Object,
      default: () => {}
    },
    getCurrentNode: Function
  },
  components: { watchOnce },
  data() {
    return {
      isOpen: false,
      isHover: false,
      hoverOpen: false,
      urlList_show: false,
      timer: undefined,
      during_transition: false,
      skillFlowOpen: false
    };
  },
  computed: {
    skillNodes() {
      try {
        return this.flowData.flow.content.skills.nodes;
      } catch (ex) {
        return [];
      }
    }
  },
  methods: {
    event_frame(type) {
      if (type === "mouseover") {
        if (this.isOpen) return false;
        if (this.during_transition) return false;
        this.event_during_transition();
        this.isHover = true;
        this.timer = setTimeout(() => {
          this.hoverOpen = true;
        }, 500);
      } else if (type === "mouseleave") {
        clearTimeout(this.timer);
        this.isHover = false;
        this.hoverOpen = false;
      }
    },
    event_toggleButton() {
      if (this.during_transition) return false;
      this.event_during_transition();
      if (this.hoverOpen) {
        this.event_frame("mouseleave");
        this.isOpen = false;
      } else {
        this.isOpen = true;
      }
    },
    event_skillNodes(type, index) {
      if (type === "select") {
        this.flowData.functions.onStateShow(true, this.skillNodes[index].id);
        this.skillFlowOpen = false;
        this.getCurrentNode();
      } else if (type === "create") {
        this.flowData.functions.onSkillAdd();
      } else if (type === "delete") {
        document
          .querySelector("#bar-skill-div-id_" + this.skillNodes[index].id)
          .querySelector(".Rectangle-pop-box")
          .click();
        this.event_skillNodes("select", index - 1);
      }
    },
    showSkillGraph() {
      this.flowData.functions.switchSkillGraph(!this.skillFlowOpen);
      this.skillFlowOpen = !this.skillFlowOpen;
    },
    event_during_transition() {
      this.during_transition = true;
      setTimeout(() => {
        this.during_transition = false;
      }, 300);
    }
  },
  watch: {
    skillNodes: {
      handler(val, val0) {
        this.$nextTick(() => {
          if (val0.length > 0 && val.length > val0.length) {
            document.querySelector(".skill_ctn").scrollTop = document.querySelector(
              ".skill_ctn"
            ).scrollHeight;
          }
        });
      }
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
@skill_W: 160px;
.skill_frame {
  position: relative;
  z-index: 1;
  padding-right: 15px;
  max-width: 160px;

  .toggleButton_box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    .toggleButton {
      position: absolute;
      top: 60px;
      right: 0;
      width: 20px;
      max-width: none;
      margin-right: -10px;
      .cp();
    }
    &.open {
      .toggleButton {
        transform: rotate(180deg);
      }
    }
  }
  .frame {
    overflow: hidden;
    width: 0;
    transition: 0.3s ease;
    height: 100%;
    &.open {
      width: @skill_W;
    }
  }
  .ctn {
    width: @skill_W + 15;
  }
  .addSkill {
    padding: 20px;
    > img {
      .cp();
      padding-right: 10px;
    }
  }
  .skill_ctn {
    padding-bottom: 30px;
  }
  .skill_box {
    position: relative;
    padding: 10px;
    .cp();
    color: #707070;
    max-width: @skill_W;
    &:hover,
    &.active {
      .bc(#eaeaea);
      .text0 {
        .bc(#707070);
        color: @f;
      }
    }
    &.first {
      color: #f8b700;
      &:hover,
      &.active {
        .text0 {
          .bc(#f8b700);
          color: @f;
        }
      }
    }
    .text0 {
      .WH(40px);
      border-radius: 50%;
      border: 1px solid;
      font-size: 24px;
    }
    .skill_item {
      margin-left: 15px;
      ._name {
        max-width: 180px;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .skill_bar {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 10px;
    &:not(:hover) {
      .skill_menu {
        display: none;
      }
    }
    ._dot {
      .WH(3px);
      border-radius: 50%;
      .bc(#707070);
      margin: auto;
      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }
    .skill_menu {
      position: absolute;
      top: 100%;
      right: -10px;
      word-break: keep-all;
      font-size: 12px;
      padding: 3px 6px;
      border-radius: 30px;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
      .bc(#a0a0a0);
      color: @f;
    }
    .delete_btn {
      .cp();
    }
  }
}
</style>