<template>
  <Shield
    :title="$tp('bot.flowVersionHistory')"
    :submit="submit"
    :as="'page'"
    :ttlIcon="'/img/group-19.png'"
    :ctnClass="'w_500'"
  >
    <template slot="body">
      <div class="version-body" v-loading="isLoading">
        <div class="version-row" v-for="(version, index) in versions">
          <span class="version-text">{{
            timeStampToDateText(version.updated)
          }}</span>
          <span
            class="button"
            :class="getButtonClass(index)"
            @click="chooseVersion(index)"
            >{{ $tp("label.chooseThisVersion") }}</span
          >
        </div>
      </div>
      <pagination
        :total="versionTotal"
        :page.sync="versionListQuery.page"
        :limit.sync="versionListQuery.limit"
        :pagination="getData"
      />
    </template>
  </Shield>
</template>
<script>
import Pagination from "@c/Pagination";
import Shield from "@c/shield";
import { getFlowHistory, getFlow, updateFlow } from "@/api/Bot";
import { time2Text } from "@/utils/time";
//mixins
import currentBot from "@mix/bot/currentBot";

export default {
  mixins: [currentBot],
  components: { Shield, Pagination },
  data() {
    return {
      versions: [],
      currentVersionIndex: -1,
      versionTotal: 0,
      versionListQuery: { page: 1, limit: 10 },
      isLoading: false
    };
  },
  methods: {
    timeStampToDateText: time2Text,
    async init() {
      await this.getData();
    },
    async getData() {
      let skip = this.versionListQuery.limit * (this.versionListQuery.page - 1);
      let limit = this.versionListQuery.limit;
      this.isLoading = true;
      try {
        let result = await getFlowHistory(this.currentBot.id, skip, limit);
        this.versions = result.result;
        console.log(result);
        this.versionTotal = result.count;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.isLoading = false;
    },
    async submit() {
      if (this.currentVersionIndex == -1) {
        this.$root.m_error(this.$tp("warn.shouldChooseAVersion"));
        return;
      }
      let newFlow = this.versions[this.currentVersionIndex];
      let currentFlow = (await getFlow(this.currentBot.id)).flows[0];
      await updateFlow(currentFlow.id, newFlow.flow.content);
      this.$router.go(-1);
    },
    chooseVersion(index) {
      this.currentVersionIndex = index;
    },
    getButtonClass(index) {
      return this.currentVersionIndex == index ? "selected" : "";
    }
  }
};
</script>
<style lang="less" scoped>
.version-body {
  overflow-y: auto;
  max-height: 450px;
}
.version-row {
  display: flex;
  padding: 15px 0px 15px 5px;
  color: #5d5d5d;
  border-bottom: 1px solid #f4f4f4;
  .version-text {
    flex-grow: 1;
    padding: 3px 0;
  }
  .button {
    cursor: pointer;
    color: #0fa8a8;
    border: 1px solid #0fa8a8;
    border-radius: 20px;
    padding: 3px 8px;
    &.selected {
      color: white;
      background-color: #0fa8a8;
    }
  }
}
</style>
