<template>
  <Shield :submit="nextFunction" :as="'pop'" :showBy="true" :showButtons="false" :close="close">
    <template slot="title">
      <div class="confirm-leave-title">
        <img src="@img/death.svg" alt />
        {{ $tp("warn.warning") }}
      </div>
    </template>
    <template slot="body">
      <div class="confirm-leave-body">{{ $tp("please.startLabeling") }}</div>
      <div class="shield_btn">
        <button class="gray btn-main" @click="submit">{{ $tp("label.stillLeave") }}</button>
        <button class="_ok btn-main" @click="close">{{ $tp("label.return") }}</button>
      </div>
    </template>
  </Shield>
</template>
<script>
import Shield from "@c/shield";

export default {
  components: { Shield },
  props: {
    submit: Function,
    close: Function,
    nextFunction: Function
  },
  data() {
    return {};
  }
};
</script>
<style lang="less">
.confirm-leave-title {
  display: flex;
  img {
    width: 20px;
    margin-right: 10px;
  }
}
.confirm-leave-body {
  text-align: center;
}
</style>
