<template>
  <div class="app-container fx fdc h100" v-loading="isLoading">
    <tabBar
      :tabNames="['allDialog', 'unlabeled', 'labeling', 'labeled', 'commentLabeling']"
      @changeTab="goPage"
    ></tabBar>
    <div class="tab-page _fill">
      <div class="tab-page-inner fx fdc h100" v-loading="pageLoading">
        <div class="button-row"></div>
        <div class="page-title-row">
          <span class="page-title">{{ $tp("bot.dialog") }}</span>
          <div class="title-buttons">
            <pageTopMainButton
              :label="$tp('label.importDialog')"
              img="import"
              @click.native="isShowImportDialogWindow = true"
            ></pageTopMainButton>
            <pageTopMainButton
              :label="$tp('label.exportDialog')"
              img="import"
              @click.native="exportDialogs"
            ></pageTopMainButton>
          </div>
        </div>
        <div class="new-item-row">
          <span class="label">{{ $tp("label.searchDialog") }}:</span>
          <input
            class="input-text"
            type="text"
            :placeholder="$tp('please.input')"
            v-model="dialogNameForSearch"
            @keypress.enter="getDialogs"
          />
          <span class="submit-button" @click="getDialogs">{{ $tp("label.search") }}</span>
        </div>
        <table class="black-white-table">
          <tr>
            <th v-for="column in tableColums">
              <span>{{ column.name }}</span>
              <span class="sort-button" v-show="column.sortable">
                <div
                  class="descending"
                  :class="{
                    'is-active':
                      sortBy === convertColumnForAPIParameter(column.name) && isAsc === false
                  }"
                  @click="sortByColumn(column.name, false)"
                ></div>
                <div
                  class="ascending"
                  :class="{
                    'is-active':
                      sortBy === convertColumnForAPIParameter(column.name) && isAsc === true
                  }"
                  @click="sortByColumn(column.name, true)"
                ></div>
              </span>
            </th>
          </tr>
          <tr
            @click="routeToLabelingPage(dialog, dialogIndex)"
            v-for="(dialog, dialogIndex) in dialogs"
            :key="dialog.id"
          >
            <td>
              <div class="cell">{{ dialog.name }}</div>
            </td>
            <td>
              <div class="cell">
                {{ timeStampToDateText(dialog.updated) }}
              </div>
            </td>
            <td>
              <div class="cell">{{ dialog.utterances.length }}</div>
            </td>
            <td>
              <div class="cell">{{ dialog.comment_count }}</div>
            </td>
            <td>
              <div class="cell">
                {{ milliSecondToText(dialog.labeling_total_time) }}
              </div>
            </td>
            <td>
              <div class="cell">{{ dialog.labeler }}</div>
            </td>
            <td>
              <div class="cell">
                <div class="is-labeled-cell" :class="dialog.status">
                  {{ converDialogStatusText(dialog.status) }}
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="total-count">
          {{ $tp("label.totalCount", { count: dialogsTotal }) }}
        </div>

        <pagination
          :total="dialogsTotal"
          :page.sync="listQuery.page"
          :limit.sync="listQuery.limit"
          :pagination="getDialogs"
        />
      </div>
    </div>
    <importWindow
      v-if="isShowImportDialogWindow"
      :title="$tp('label.importDialog')"
      :isShow="isShowImportDialogWindow"
      :closeWindow="closeImportDialog"
      :acceptedFormats="['json']"
      :ExampleObj="importDialogsExampleObj"
      fileFormat="json"
      @finish="importDialogData"
    ></importWindow>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { time2Text, milliSecondToText } from "@/utils/time";
import { downloadJson } from "@u/methodsHelper";
import pageTopMainButton from "@ui/pageTopMainButton";
import Pagination from "@/components/Pagination";
import importWindow from "@/components/importWindow";
import { importDialog, getDialogs, exportDialogs } from "@/api/Dialog";
//mixins
import App from "@mix/App";
import currentBot from "@mix/bot/currentBot";
import tabBar from "@c/tabBar";

const columnNameMapping = {
  Name: "name",
  Modified: "updated",
  Status: "status",
  Time: "labeling_total_time"
};

const DIALOG_STATUS = {
  UNLABELED: "unlabeled",
  LABELING: "labeling",
  DONE: "done"
};

const COMMENT_COUNT_MIN = 1;

export default {
  mixins: [App, currentBot],
  components: {
    importWindow,
    pageTopMainButton,
    Pagination,
    tabBar
  },
  data() {
    return {
      tableColums: [
        { name: "Name", sortable: true },
        { name: "Modified", sortable: true },
        { name: "Utterances", sortable: false },
        { name: "Issues", sortable: false },
        { name: "Time", sortable: true },
        { name: "Labeler", sortable: true },
        { name: "Status", sortable: true }
      ],
      dialogs: [],
      isShowImportDialogWindow: false,
      listQuery: {
        page: 1,
        limit: 10
      },
      dialogsTotal: 0,
      sortBy: "",
      isAsc: undefined,
      isLoading: false,
      currentTab: "allDialog",
      pageLoading: false,
      dialogNameForSearch: "",
      importDialogsExampleObj: {
        data: [
          {
            name: "silk_b_00000",
            utterances: [
              {
                from_user: false,
                sent_time: 1580272410000,
                text: "cards: 官方直销 ['用银行卡充值', '用花呗充值', '用信用卡充值', '我充好了']",
                intent_names: [],
                entities: []
              },
              {
                from_user: true,
                sent_time: 1580272421000,
                text: "没支付宝充值吗？",
                intent_names: ["h_問_充_大類", "h_問_充_方法"],
                entities: [{ text: "支付宝", entity_name: "e_充值渠道", start_position: 1, len: 3 }]
              },
              {
                from_user: false,
                sent_time: 1580272434000,
                text:
                  "目前支付宝正在更换，如需充值可以扫花呗或者信用卡，花呗手续费15%（不满300按照300结算），信用卡手续费6%（不满1000按照1000结算），扫码关无线，定位，成功后截图详情订单给我，谢谢配合！",
                intent_names: [],
                entities: []
              },
              {
                from_user: true,
                sent_time: 1580272481000,
                text: "多久才能有支付宝",
                intent_names: ["h_詢問處理時間", "h_提供資訊"],
                entities: [{ text: "支付宝", entity_name: "e_充值渠道", start_position: 5, len: 3 }]
              },
              {
                from_user: true,
                sent_time: 1580272556000,
                text: "？",
                intent_names: ["h_要求回覆"],
                entities: []
              },
              {
                from_user: false,
                sent_time: 1580272573000,
                text: "cards: 官方直销 ['用银行卡充值', '用花呗充值', '用信用卡充值', '我充好了']",
                intent_names: [],
                entities: []
              },
              {
                from_user: false,
                sent_time: 1580272627000,
                text: "cards: 官方直销 ['用银行卡充值', '用花呗充值', '用信用卡充值', '我充好了']",
                intent_names: [],
                entities: []
              },
              {
                from_user: true,
                sent_time: 1580272631000,
                text: "人呢？",
                intent_names: ["h_要求回覆"],
                entities: []
              },
              {
                from_user: false,
                sent_time: 1580272679000,
                text: "还在更换中",
                intent_names: [],
                entities: []
              },
              {
                from_user: false,
                sent_time: 1580272685000,
                text: "不好意思",
                intent_names: [],
                entities: []
              },
              {
                from_user: false,
                sent_time: 1580272771000,
                text: "cards: 官方直销 ['用银行卡充值', '用花呗充值', '用信用卡充值', '我充好了']",
                intent_names: [],
                entities: []
              }
            ]
          }
        ]
      },
      subscription: undefined,
      listener: {
        onOpen: data => {
          console.log("listening import dialog notifications", data);
        },
        onCreate: async function(data) {
          await this.onUpdate(data);
        },
        onDelete: data => {},
        onUpdate: async data => {
          if (data.content.status === "success") {
            await this.getDialogs();
            this.$store.dispatch("updateEntities");
          }
        }
      }
    };
  },
  computed: {
    ...mapState(["currentDialogIndex"]),
    minCommentCount() {
      return this.currentTab === "commentLabeling" ? COMMENT_COUNT_MIN : 0;
    }
  },
  async created() {
    this.setUpNotificationService();
  },
  beforeDestroy() {
    this.$root.notificationService.unsubscribe(this.subscription);
  },
  methods: {
    async init() {
      this.tabName = "allDialog";
      this.isAsc = undefined;
      this.isShowImportDialogWindow = false;
      this.listQuery.page = 1;
      this.sortBy = "";

      this.isLoading = true;
      await this.getDialogs();
      this.isLoading = false;
    },
    setUpNotificationService() {
      this.subscription = this.$root.notificationService.subscribe(this.listener, {
        agent_id: this.currentBot.id,
        event: ["update_importing_dialog_status"]
      });
    },
    timeStampToDateText: time2Text,
    milliSecondToText: milliSecondToText,
    closeImportDialog() {
      this.isShowImportDialogWindow = false;
    },
    importDialogData(file) {
      let reader = new FileReader();
      reader.onload = async e => {
        let data;
        try {
          data = JSON.parse(e.target.result);
        } catch {
          this.$root.m_error(this.$tp("warn.fileFormatError"));
          return;
        }
        try {
          await importDialog(this.currentBot.id, data);
        } catch (err) {
          this.$root.m_error(
            this.$tp("label.import") + this.$tp("warn.failed"),
            err.response.data.error_code
          );
        }
      };
      reader.readAsText(file.raw);

      this.closeImportDialog();
    },
    async sortByColumn(column, isAsc) {
      let convertColumn = this.convertColumnForAPIParameter(column);
      if (convertColumn === this.sortBy && isAsc === this.isAsc) return;
      this.sortBy = convertColumn;
      this.isAsc = isAsc;
      await this.getDialogs();
    },
    convertColumnForAPIParameter(name) {
      return columnNameMapping[name] || name;
    },
    async getDialogs() {
      let skip = (this.listQuery.page - 1) * this.listQuery.limit;
      let limit = this.listQuery.limit;
      let status = this.tabToStatus(this.currentTab);
      this.pageLoading = true;
      try {
        let result = await getDialogs(
          this.currentBot.id,
          skip,
          limit,
          this.sortBy,
          this.isAsc,
          status,
          this.minCommentCount,
          this.dialogNameForSearch
        );
        this.dialogs = result.dialogs;
        this.dialogsTotal = result.len;
      } catch (error) {
        console.log(error);

        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.pageLoading = false;
    },
    tabToStatus(tabName) {
      if (tabName === "unlabeled") {
        return "unlabeled";
      }
      if (tabName === "labeling") {
        return "labeling";
      }
      if (tabName === "labeled") {
        return "done";
      }
      return undefined;
    },
    converDialogStatusText(status) {
      switch (status) {
        case DIALOG_STATUS.UNLABELED:
          return this.$tp("label.unlabeled");
        case DIALOG_STATUS.LABELING:
          return this.$tp("label.labeling");
        case DIALOG_STATUS.DONE:
          return this.$tp("label.finishLabeling");
        default:
          return "";
      }
    },
    routeToLabelingPage(dialog, dialogIndex) {
      this.$store.commit("cache/SET_CURRENT_DIALOG_CURSOR", {
        index: dialogIndex,
        skip: (this.listQuery.page - 1) * this.listQuery.limit,
        limit: this.listQuery.limit,
        sortBy: this.sortBy,
        isAsc: this.isAsc,
        status: this.tabToStatus(this.currentTab),
        minCommentCount: this.minCommentCount,
        dialogNameForSearch: this.dialogNameForSearch
      });
      this.App.replaceMode("dialogLabeling");
    },
    async goPage(page) {
      this.currentTab = page;
      await this.getDialogs();
    },
    async exportDialogs() {
      this.exportLoading = true;
      try {
        let result = await exportDialogs(this.currentBot.id);
        downloadJson({ data: result.data }, "exported dialogs");
        this.$root.m_success(this.$tp("label.export") + this.$tp("warn.success"));
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("label.export") + this.$tp("warn.failed"));
      }
    }
  }
};
</script>

<style lang="less">
</style>