<template>
  <div class="dialog-labeling-page _fill fx fdc" v-loading="isLoading">
    <div class="labeling-status vtc">
      <span class="progress">
        <span class="status">
          <img src="@img/play-orange.svg" />
          <div class="step">step1</div>
          <div class="description">{{ $tp("label.unlabeled") }}</div>
        </span>
        <span
          class="line"
          :class="{ orange: [DIALOG_STATUS.LABELING, DIALOG_STATUS.DONE].includes(dialog.status) }"
        ></span>
        <span class="status">
          <img v-show="dialog.status === DIALOG_STATUS.UNLABELED" src="@img/tag-gray.svg" />
          <img
            v-show="[DIALOG_STATUS.LABELING, DIALOG_STATUS.DONE].includes(dialog.status)"
            src="@img/tag-orange.svg"
          />
          <div class="step">step2</div>
          <div class="description">{{ $tp("label.labeling") }}</div>
        </span>
        <span class="line" :class="{ orange: dialog.status === DIALOG_STATUS.DONE }"></span>
        <span class="status">
          <img v-show="dialog.status !== DIALOG_STATUS.DONE" src="@img/checked-gray.svg" />
          <img v-show="dialog.status === DIALOG_STATUS.DONE" src="@img/checked-orange.svg" />
          <div class="step">step3</div>
          <div class="description">{{ $tp("label.labeled") }}</div>
        </span>
      </span>
      <span class="status-control">
        <div class="radio-wrapper">
          <el-radio
            v-model="dialogStatusForRadio"
            label="labeling"
            @change="setDialogStatus(dialog, DIALOG_STATUS.LABELING, true)"
            >{{ $tp("label.labeling") }}</el-radio
          >
        </div>
        <br />
        <div class="radio-wrapper">
          <el-radio
            v-model="dialogStatusForRadio"
            label="done"
            @change="setDialogStatus(dialog, DIALOG_STATUS.DONE, true)"
            >{{ $tp("label.labeled") }}</el-radio
          >
        </div>
      </span>
    </div>
    <div ref="dialog" class="dialogs _fill">
      <div v-for="(utterance, utteranceIndex) in dialog.utterances" class="utterance-block">
        <div v-if="utterance.raw_utterance.from_user" class="user-utterance">
          <div class="source">
            <span
              @mouseover="hoverCommentIndex = utteranceIndex"
              @mouseout="hoverCommentIndex = -1"
              class="comment-button"
              @click="switchCommented(utteranceIndex)"
            >
              <div v-show="hoverCommentIndex !== utteranceIndex">
                <img v-show="!utterance.commented" src="@img/question-white.svg" />
                <img v-show="utterance.commented" src="@img/question-orange.svg" />
              </div>
              <div v-show="hoverCommentIndex === utteranceIndex">
                <div>
                  <img src="@img/question-black.svg" />
                </div>
                <div class="comment-note">{{ $tp("label.commentNote") }}</div>
              </div>
            </span>
            <span class="number">{{ utteranceIndex + 1 }}</span>
            <span class="green-dot"></span>
            <span class="source-text">{{ $tp("label.customer") }}</span>
          </div>
          <div class="utterance">
            <div class="text" v-if="isShowLabeling[utteranceIndex] && currentEntities.length">
              <labeling
                :utteranceData="utterance.raw_utterance"
                :entities="currentEntities"
                :serial="utteranceIndex"
                :mouseup="
                  () => {
                    selectUtteranceText(utterance.raw_utterance, utteranceIndex);
                  }
                "
                @editUtteranceEntity="
                  editUtteranceEntity($event, utterance.raw_utterance, utteranceIndex)
                "
                @deleteUtteranceEntity="deleteUtteranceEntity($event, utteranceIndex)"
              ></labeling>
            </div>
            <div class="intent">
              <span
                class="intent-button"
                @click="openIntentSelectionWindow(utterance.raw_utterance)"
                >{{ $tp("label.intentOfThisUtterance") }}</span
              >
              <span v-for="intentId in utterance.raw_utterance.intent_ids" class="intent-names">{{
                intentIdToName(intentId)
              }}</span>
            </div>
            <div class="sent-time">
              {{ timeStampToDateText(utterance.raw_utterance.sent_time) }}
            </div>
          </div>
        </div>
        <div v-else class="staff-utterance">
          <div class="utterance">
            <div class="text">{{ utterance.raw_utterance.text }}</div>
            <div class="sent-time">
              {{ timeStampToDateText(utterance.raw_utterance.sent_time) }}
            </div>
          </div>
          <div class="source">
            <span class="source-text">{{ $tp("label.staff") }}</span>
            <span class="green-dot"></span>
            <span class="number">{{ utteranceIndex + 1 }}</span>
            <span
              @mouseover="hoverCommentIndex = utteranceIndex"
              @mouseout="hoverCommentIndex = -1"
              class="comment-button"
              @click="switchCommented(utteranceIndex)"
            >
              <div v-show="hoverCommentIndex !== utteranceIndex">
                <img v-show="!utterance.commented" src="@img/question-white.svg" />
                <img v-show="utterance.commented" src="@img/question-orange.svg" />
              </div>
              <div v-show="hoverCommentIndex === utteranceIndex">
                <div>
                  <img src="@img/question-black.svg" />
                </div>
                <div class="comment-note">{{ $tp("label.commentNote") }}</div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <intentSelection
      v-if="isShowIntentSelection"
      :title="currentUtterance.text"
      :submit="finishIntentSelection"
      :selectedIntentIds="currentUtterance.intent_ids"
      :close="closeIntentSelection"
    ></intentSelection>
    <entitySelector
      ref="entitySelector"
      v-if="isShowEntitySelector"
      :isShowEntitySelector="isShowEntitySelector"
      :closeEntitySelector="closeEntitySelector"
      :submit="labelUtterance"
      :text="tempEntity.text"
      :initEntity="initEntityForEntitySelector"
    ></entitySelector>
    <confirmLeaveWindow
      v-if="isShowConfirmLeave"
      :submit="nextFunction"
      :nextFunction="nextFunction"
      :close="closeConfirmLeaveWindow"
    ></confirmLeaveWindow>
  </div>
</template>

<script>
import { getDialogs, getDialog, updateDialog } from "@/api/Dialog";
import { getIntents, updateIntent } from "@/api/Intent";
import { updateEntity } from "@/api/Entity";
import { updateUtterance } from "@/api/Utterance";
import { time2Text } from "@/utils/time";
import labeling from "@ui/labeling";
import entitySelector from "@ui/entitySelector";
import intentSelection from "./IntentSelection";
import confirmLeaveWindow from "./confirmLeaveWindow";
import { mapGetters, mapState } from "vuex";
import { v4 as uuidv4 } from "uuid";
import { deepClone } from "@u/methodsHelper";
//mixins
import currentBot from "@mix/bot/currentBot";
const ARROW_RIGHT_KEY_RIGHT = 39;
const ARROW_RIGHT_KEY_LEFT = 37;

export default {
  mixins: [currentBot],
  components: {
    labeling,
    intentSelection,
    entitySelector,
    confirmLeaveWindow
  },
  props: {
    dialogId: String
  },
  data() {
    return {
      DIALOG_STATUS: {
        UNLABELED: "unlabeled",
        LABELING: "labeling",
        DONE: "done"
      },
      dialogs: [],
      dialog: {},
      dialogStatusForRadio: "",
      intents: [],
      isShowIntentSelection: false,
      currentUtterance: {},
      currentUtteranceIndex: -1,
      currentUtteranceEntityIndex: -1,
      tempEntity: {},
      isShowEntitySelector: false,
      isShowLabeling: [],
      initEntityForEntitySelector: {},
      hoverCommentIndex: -1,
      isLoading: false,
      nextFunction: undefined,
      isShowConfirmLeave: false,
      dialogsTotal: 0,
      botId: ""
    };
  },
  computed: {
    ...mapGetters(["user", "currentDialogCursor"]),
    ...mapState(["currentEntities"])
  },
  created() {
    window.addEventListener("keydown", e => {
      this.handleGlobalKeyDown(e, this.$tp("warn.firstItem"), this.$tp("warn.lastItem"));
    });
  },
  beforeRouteLeave(to, from, next) {
    if (this.dialog.status === this.DIALOG_STATUS.UNLABELED && this.currentBot.id === this.botId) {
      next(false);
      this.nextFunction = next;
      this.isShowConfirmLeave = true;
    } else {
      next();
    }
  },
  beforeDestroy() {
    window.removeEventListener("keydown", e => {
      this.handleGlobalKeyDown(e);
    });
  },
  methods: {
    timeStampToDateText: time2Text,
    async init() {
      this.isLoading = true;
      await Promise.all([this.getDialogs(), this.getIntents()]);
      const dialogId = (this.dialogs[this.currentDialogCursor.index] || {}).id;
      if (!dialogId) {
        this.$router.push({
          path: `/bot/${this.currentBot.id}/dialog/dialogList`
        });
        return;
      }
      await this.resetData();
      this.isLoading = false;
      this.botId = this.currentBot.id;
      if (this.isLabelingByOthers()) {
        this.$root.m_error(
          this.$tp("warn.othersAreLabeling", {
            userId: this.dialog.labeler
          })
        );
      }
    },
    async resetData() {
      this.isLoading = true;
      await this.getDialog();
      this.initIsShowLabeling(this.dialog.utterances.length);
      this.$emit("changeDialogName", this.dialog.name);
      this.isLoading = false;
    },
    async getDialogs() {
      try {
        let result = await getDialogs(
          this.currentBot.id,
          this.currentDialogCursor.skip,
          this.currentDialogCursor.limit,
          this.currentDialogCursor.sortBy,
          this.currentDialogCursor.isAsc,
          this.currentDialogCursor.status,
          this.currentDialogCursor.minCommentCount,
          this.currentDialogCursor.dialogNameForSearch
        );
        this.dialogs = result.dialogs;
        this.dialogsTotal = result.len;
      } catch (error) {
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
    },
    async getDialog() {
      try {
        const dialogId = (this.dialogs[this.currentDialogCursor.index] || {}).id;

        let result = await getDialog(dialogId);
        this.dialog = result.dialog;
        this.dialogStatusForRadio = this.dialog.status;
      } catch (error) {
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
    },
    initIsShowLabeling(len) {
      for (let i = 0; i < len; i++) {
        this.isShowLabeling.push(true);
      }
    },
    async getIntents() {
      try {
        let result = await getIntents(this.currentBot.id);
        this.intents = result.intents;
      } catch (error) {
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
    },
    async deleteUtteranceEntity(utterance, index) {
      if (this.isLabelingByOthers()) {
        this.$root.m_error(
          this.$tp("warn.othersAreLabeling", {
            userId: this.dialog.labeler
          })
        );
        await this.resetData();

        return;
      }
      await this.updateUtterance(utterance);
      this.$root.m_success(this.$tp("warn.editSuccess") + "!");
      this.dialog.utterances[index].raw_utterance = utterance;
      this.refreshLabelingComponent();
    },
    async updateUtterance(utterance) {
      try {
        await updateUtterance(utterance);
      } catch (error) {
        this.$root.m_error(this.$tp("warn.editFail"));
        throw error;
      }
    },
    openIntentSelectionWindow(utterance) {
      this.currentUtterance = utterance;
      this.isShowIntentSelection = true;
    },
    async finishIntentSelection(selectedIntentIds) {
      if (this.isLabelingByOthers()) {
        this.$root.m_error(
          this.$tp("warn.othersAreLabeling", {
            userId: this.dialog.labeler
          })
        );
        this.closeIntentSelection();

        return;
      }
      const originIntentIds = this.currentUtterance.intent_ids;
      this.currentUtterance.intent_ids = selectedIntentIds;
      try {
        await this.updateUtterance(this.currentUtterance);
        await this.getIntents();
        if (this.dialog.status !== this.DIALOG_STATUS.LABELING) {
          await this.setDialogStatus(this.dialog, this.DIALOG_STATUS.LABELING);
        }
      } catch {
        this.currentUtterance.intent_ids = originIntentIds;
      }

      this.closeIntentSelection();
    },
    async setDialogStatus(dialog, status, showNotification = false) {
      if (this.isLabelingByOthers()) {
        this.$root.m_error(
          this.$tp("warn.othersAreLabeling", {
            userId: this.dialog.labeler
          })
        );
        this.dialogStatusForRadio = this.dialog.status;

        return;
      }
      dialog.status = status;
      let updateObj = {
        id: dialog.id,
        status: status,
        labeler: this.user.uid,
        start_labeling_time: dialog.start_labeling_time
      };
      if (status === this.DIALOG_STATUS.DONE) {
        dialog.labeling_total_time = dialog.start_labeling_time
          ? Date.now() - dialog.start_labeling_time
          : 0;
        updateObj.labeling_total_time = dialog.labeling_total_time;
      } else {
        dialog.start_labeling_time = Date.now();
        updateObj.start_labeling_time = dialog.start_labeling_time;
      }
      try {
        await updateDialog(updateObj);
        if (status === this.DIALOG_STATUS.DONE) {
          this.goToNextDialog(this.$tp("warn.lastItem"));
        }
        await this.getDialog();
      } catch (error) {
        this.$root.m_error(this.$tp("warn.editFail"));
        await this.resetData();
      }
    },
    closeIntentSelection() {
      this.isShowIntentSelection = false;
    },
    intentIdToName(intentId) {
      let result = this.intents.find(i => i.id === intentId);
      return result ? result.name : "unknown";
    },
    selectUtteranceText(utterance, utteranceIndex) {
      this.currentUtteranceEntityIndex = -1;
      this.currentUtteranceIndex = utteranceIndex;
      if (utterance.intent_ids == 0) {
        this.$root.m_error(this.$tp("warn.labelIntentFirst"));
        return;
      }
      setTimeout(() => {
        const { anchorOffset, focusOffset } = window.getSelection();
        if (anchorOffset === focusOffset) return false;
        this.tempEntity = {
          entity_id: "",
          text: window.getSelection().toString(),
          start_position: anchorOffset < focusOffset ? anchorOffset : focusOffset,
          len: window.getSelection().toString().length
        };
        this.currentUtterance = utterance;
        this.initEntityForEntitySelector = undefined;
        this.ShowEntitySelectorWindow();
      }, 0);
    },
    editUtteranceEntity(entityIndex, utterance, utteranceIndex) {
      this.currentUtteranceEntityIndex = entityIndex;
      this.currentUtteranceIndex = utteranceIndex;
      this.currentUtterance = utterance;
      this.initEntityForEntitySelector = utterance.entities[entityIndex];
      this.tempEntity = {
        text: utterance.entities[entityIndex].text
      };
      this.ShowEntitySelectorWindow();
    },
    ShowEntitySelectorWindow() {
      this.isShowEntitySelector = true;
    },
    closeEntitySelector() {
      this.isShowEntitySelector = false;
    },
    async labelUtterance(entity, intent) {
      if (this.isLabelingByOthers()) {
        this.$root.m_error(
          this.$tp("warn.othersAreLabeling", {
            userId: this.dialog.labeler
          })
        );
        return;
      }
      let entity_id = entity.id;
      let originEntities = deepClone(this.currentUtterance.entities);
      if (this.currentUtteranceEntityIndex === -1) {
        this.tempEntity.entity_id = entity_id;
        this.currentUtterance.entities.push(this.tempEntity);
      } else {
        this.currentUtterance.entities[this.currentUtteranceEntityIndex].entity_id = entity_id;
      }
      try {
        let promises = [
          this.updateUtterance(this.currentUtterance),
          this.createEntryIfNotExist(entity, this.tempEntity.text),
          this.createIntentEntityIfNotExist(this.currentUtterance.intent_ids, entity)
        ];
        await await Promise.all(promises);
        if (this.dialog.status !== this.DIALOG_STATUS.LABELING) {
          await this.setDialogStatus(this.dialog, this.DIALOG_STATUS.LABELING);
        }
        this.$root.m_success(this.$tp("warn.editSuccess") + "!");
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.editFail"));
        this.currentUtterance.entities = originEntities;
      }
      this.refreshLabelingComponent();
    },
    async createIntentEntityIfNotExist(intentIds, entity) {
      for (const intentId of intentIds) {
        const targetIntent = this.intents.find(i => i.id === intentId);
        if (!targetIntent) return;
        if (targetIntent.entities.includes(entity.id)) return;

        targetIntent.entities.push(entity.id);
        await updateIntent(targetIntent);
      }
    },
    isLabelingByOthers() {
      return (
        this.dialog.status === this.DIALOG_STATUS.LABELING && this.dialog.labeler != this.user.uid
      );
    },
    refreshLabelingComponent() {
      this.isShowLabeling[this.currentUtteranceIndex] = false;
      this.$forceUpdate();
      setTimeout(() => {
        this.isShowLabeling[this.currentUtteranceIndex] = true;
        this.$forceUpdate();
      }, 0);
    },
    async createEntity(intent, entityId, newEntityName) {
      if (newEntityName === "") {
        this.$root.m_error(`${this.$tp(["bot.entity", "label.name", "warn.isRequired"])}`);
        return;
      }
      if (!entityId) {
        this.$root.m_error(`${this.$tp(["please.choose", "bot.entity"])}`);
        return;
      }
      const newEntityId = uuidv4().replace(/-/g, "");
      intent.entities.unshift({
        id: newEntityId,
        name: newEntityName,
        entity_id: entityId,
        prompts: []
      });
      await updateIntent(intent);
      return newEntityId;
    },
    async createEntryIfNotExist(entity, entryName) {
      if (entity.entries.find(e => e.value === entryName)) return;
      entity.entries.unshift({
        value: entryName,
        synonyms: [entryName]
      });
      await updateEntity(entity);
    },
    async switchCommented(utteranceIndex) {
      const dialog = this.dialog;

      dialog.utterances[utteranceIndex].commented = !this.dialog.utterances[utteranceIndex]
        .commented;
      if (dialog.status != this.DIALOG_STATUS.LABELING) {
        dialog.status = this.DIALOG_STATUS.LABELING;
        dialog.start_labeling_time = Date.now();
      }
      dialog.comment_count = dialog.utterances.filter(u => u.commented).length;

      try {
        await updateDialog({
          id: dialog.id,
          utterances: dialog.utterances,
          status: dialog.status,
          labeler: this.user.uid,
          start_labeling_time: dialog.start_labeling_time,
          comment_count: dialog.comment_count
        });
      } catch (error) {
        this.$root.m_error(this.$tp("warn.editFail"));
      }
    },
    closeConfirmLeaveWindow() {
      this.isShowConfirmLeave = false;
    },
    async handleGlobalKeyDown(event, warnMessageFirst, warnMessageLast) {
      //warnMessage should be parameters due to i18n bug:Cannot read property '_t' of null
      if (this.isShowEntitySelector || this.isShowIntentSelection || this.isShowConfirmLeave) {
        return;
      }
      if (event.keyCode === ARROW_RIGHT_KEY_RIGHT) {
        await this.goToNextDialog(warnMessageLast);
      } else if (event.keyCode === ARROW_RIGHT_KEY_LEFT) {
        await this.goToPreviousDialog(warnMessageFirst);
      }
    },
    async goToPreviousDialog(warnMessageFirst) {
      if (this.isFirstDialog()) {
        this.$root.m_error(warnMessageFirst);
        return;
      }
      this.currentDialogCursor.index -= 1;
      if (this.currentDialogCursor.index < 0) {
        this.currentDialogCursor.index = this.currentDialogCursor.limit - 1;
        this.currentDialogCursor.skip -= this.currentDialogCursor.limit;
        await this.getDialogs();
      }
      await this.resetData();
      this.srcollPageToTop();
    },
    async goToNextDialog(warnMessageLast) {
      if (this.isLastDialog()) {
        this.$root.m_error(warnMessageLast);
        return;
      }
      this.currentDialogCursor.index += 1;
      if (this.currentDialogCursor.index === this.currentDialogCursor.limit) {
        this.currentDialogCursor.index = 0;
        this.currentDialogCursor.skip += this.currentDialogCursor.limit;
        await this.getDialogs();
      }
      await this.resetData();
      this.srcollPageToTop();
    },
    srcollPageToTop() {
      this.$refs.dialog.scrollTop = 0;
    },
    isLastDialog() {
      return (
        this.currentDialogCursor.skip + this.currentDialogCursor.index >= this.dialogsTotal - 1
      );
    },
    isFirstDialog() {
      return this.currentDialogCursor.skip === 0 && this.currentDialogCursor.index === 0;
    }
  }
};
</script>

<style lang="less">
.dialog-labeling-page {
  .labeling-status {
    background-color: #f5f5f5;
    padding: 20px 0;
    min-width: 800px;
    text-align: center;
    .progress {
      .status {
        img {
          width: 50px;
        }
        .step {
          margin-top: 5px;
          font-size: 12px;
          color: #ff8560;
        }
        .description {
          font-size: 12px;
        }
      }
      .line {
        display: inline-block;
        transform: translateY(-58px);
        height: 3px;
        width: 250px;
        background-color: #f0f0f0;
        &.orange {
          background-color: #ff8560;
        }
      }
    }
    .status-control {
      margin-left: 20px;
      text-align: left;
      .radio-wrapper {
        display: inline-block;
        margin-top: 10px;
        border: 1px solid #ff8560;
        border-radius: 10px;
        padding: 2px 8px 2px 3px;
        .el-radio__label {
          color: #ff8560 !important;
          padding-left: 5px;
        }
      }
    }
  }
  .dialogs {
    overflow-y: auto;
    height: 100%;
    margin-top: 20px;
    .utterance-block {
      padding: 0 12px;
      .user-utterance {
        display: flex;
        .utterance {
          margin-left: 15px;

          .text {
            padding: 5px 10px;
            border: 1px solid #dddbd7;
            border-radius: 30px 5px 5px 5px;
            margin-bottom: 5px;
          }
          .intent {
            .intent-button {
              font-size: 12px;
              color: #aaaaaa;
              cursor: pointer;
              &:hover {
                color: #ff8560;
              }
            }
            .intent-names {
              margin-left: 5px;
              padding: 2px 5px;
              font-size: 12px;
              background-color: #ff8560;
              color: white;
              border-radius: 10px;
            }
          }
          .sent-time {
            color: #aaaaaa;
            font-size: 12px;
          }
        }
      }
      .staff-utterance {
        display: flex;
        justify-content: flex-end;
        .utterance {
          margin-right: 10px;
          .text {
            background-color: #f5f5f5;
            padding: 5px 10px;
            border: 1px solid #dddbd7;
            border-radius: 5px 30px 5px 5px;
            margin: 5px 0;
            font-size: 14px;
          }
          .sent-time {
            color: #aaaaaa;
            font-size: 12px;
            float: right;
          }
        }
      }
      .source {
        display: flex;
        align-items: center;
      }
      .green-dot {
        width: 5px;
        height: 5px;
        background-color: #278888;
        border-radius: 5px;
        margin: 0 5px;
      }
      .number {
        font-size: 16px;
        color: #278888;
      }
      .comment-button {
        position: relative;
        img {
          width: 20px;
          margin: 0 5px;
          cursor: pointer;
        }
        .comment-note {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          word-break: keep-all;
          border-radius: 5px;
          background-color: #606060;
          color: white;
          font-size: 12px;
          padding: 2px;
        }
      }
    }
  }
}
</style>