<template>
  <div class="app-container fx fdc">
    <router-view @changeDialogName="changeDialogName" />
  </div>
</template>

<script>
import App from "@mix/App";

export default {
  mixins: [App],
  beforeDestroy() {
    //Breadcrumb
    this.$store.commit("SET_PAGE_INFO", undefined);
  },
  methods: {
    changeDialogName(dialogName) {
      this.$store.commit("SET_PAGE_INFO", { name: dialogName });
    }
  }
};
</script>