<template>
  <Shield
    ref="intentSelection"
    :submit="finish"
    :as="'pop'"
    :ctnClass="'maxW_800'"
    :showBy="true"
    :close="close"
  >
    <template slot="title">
      <div class="intent-selection-title">
        <img src="@img/double-quote.svg" alt />
        {{title}}
        <img src="@img/double_quote_reverse.svg" alt />
      </div>
    </template>
    <template slot="body">
      <div class="mb_20 intent-selection">
        <div class="quick-view-wapper2">
          <div class="quick-view-wapper" :style="quickViewWapperCss">
            <div class="quick-view">
              <span
                class="control-button"
                v-if="checkedIntents.length==0"
                @click="selectAllCheckedIntents"
              >{{$tp('label.selectAll')}}</span>
              <span
                class="control-button"
                v-else
                @click="unselectAllCheckedIntents"
              >{{$tp('label.unSelectAll')}}</span>
              <span class="intent" v-for="(intent,index) in reversedCheckedIntents">
                {{intent.name}}
                <img
                  src="@img/close.svg"
                  @click="checkedIntents.splice((reversedCheckedIntents.length - index -1), 1)"
                />
              </span>
            </div>
          </div>
          <div v-show="showToggleButton" class="toggle-button-wrapper">
            <img
              class="toggle-button"
              src="@img/toggle_button.svg"
              @click="toggleCheckedIntent"
              :style="toggleButtonCss"
            />
          </div>
        </div>
        <div class="control-panel">
          <div class="input-new-intent">
            <input
              type="text"
              :placeholder="$tp('please.enterValue')"
              v-model="newIntentName"
              @keyup.enter="addIntent()"
            />
            <button class="submit" @click="addIntent()">{{$tp('label.newIntent')}}</button>
          </div>
          <div class="search-bar-wrapper">
            <searchBar
              :placeholderText="$tp('please.searchIntent')"
              @submit="filterIntentsByKeyword($event)"
            ></searchBar>
          </div>
        </div>
        <div class="check-item_frame">
          <div class="hr"></div>
          <el-scrollbar>
            <el-checkbox-group v-model="checkedIntents">
              <div class="check-item" v-for="(intent,index) in filteredIntents" :key="index">
                <el-checkbox :label="intent" :key="intent.id">
                  <span>{{intent.name}}</span>
                </el-checkbox>
              </div>
            </el-checkbox-group>
          </el-scrollbar>
        </div>
      </div>
    </template>
  </Shield>
</template>
<script>
import { mapGetters } from "vuex";
import Shield from "@c/shield";
import { getIntents, createIntent } from "@/api/Intent";
import searchBar from "@c/searchBar";
//mixins
import App from "@mix/App";
import currentBot from "@mix/bot/currentBot";

const INTENT_QUICK_VIEW_MAX_HEIGHT = 80;
let currentScroll = 0;
let elScrollbar = undefined;
export default {
  mixins: [App, currentBot],
  components: { Shield, searchBar },
  props: {
    title: String,
    submit: Function,
    selectedIntentIds: Array,
    close: Function
  },
  data() {
    return {
      intents: [],
      CHECKED_INTENT_MAX_HEIGHT_BEFORE_TOGGLE: INTENT_QUICK_VIEW_MAX_HEIGHT,
      checkedIntents: [],
      showToggleButton: false,
      showFullcheckedIntents: false,
      quickViewWapperCss: {
        maxHeight: INTENT_QUICK_VIEW_MAX_HEIGHT + "px"
      },
      toggleButtonCss: {},
      filteredIntents: [],
      newIntentName: ""
    };
  },
  computed: {
    reversedCheckedIntents() {
      return this.checkedIntents.slice().reverse();
    }
  },
  mounted() {
    this.$nextTick(() => {
      elScrollbar = document.querySelector(
        ".check-item_frame .el-scrollbar__wrap"
      );
      elScrollbar.addEventListener("scroll", e => {
        currentScroll = e.target.scrollLeft;
      });
    });
  },
  methods: {
    toggleCheckedIntent() {
      this.showFullcheckedIntents = !this.showFullcheckedIntents;
      if (this.showFullcheckedIntents) {
        this.quickViewWapperCss.maxHeight =
          document.querySelector(".quick-view").clientHeight + "px";
        this.toggleButtonCss.transform = "rotate(0.5turn)";
      } else {
        this.toggleButtonCss.transform = "rotate(0turn)";
        this.quickViewWapperCss.maxHeight = INTENT_QUICK_VIEW_MAX_HEIGHT + "px";
      }
    },
    checkIntentJointly(intent) {
      if (!this.checkedIntents.includes(intent))
        this.checkedIntents.push(intent);
    },
    async init() {
      await this.getIntents(this.currentBot.id);
      this.checkedIntents = this.getIntentsById(this.selectedIntentIds);
      this.filteredIntents = this.intents;
    },
    async getIntents() {
      try {
        let result = await getIntents(this.currentBot.id);
        this.intents = result.intents;
      } catch (error) {
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
    },
    getIntentsById(intentIds) {
      return this.intents.filter(i => intentIds.includes(i.id));
    },
    finish() {
      let intentIds = this.extractIds(this.checkedIntents);
      this.submit(intentIds);
    },
    extractIds(intents) {
      let intentIds = [];
      for (let intent of intents) {
        intentIds.push(intent.id);
      }
      return intentIds;
    },
    selectAllCheckedIntents() {
      this.checkedIntents = [...this.intents];
    },
    unselectAllCheckedIntents() {
      this.checkedIntents = [];
    },
    filterIntentsByKeyword(queryString) {
      if (queryString === "") {
        this.filteredIntents = this.intents;
      } else {
        let regex = new RegExp(`${queryString}`, "g");
        this.filteredIntents = this.intents.filter(i => regex.test(i.name));
      }
    },
    async addIntent() {
      if (this.newIntentName == "") {
        this.$root.m_error(this.$tp("warn.intentNameShouldNotBeEmpty"));
        return;
      }
      try {
        const result = await createIntent(
          this.currentBot.id,
          this.newIntentName
        );
        this.newIntentName = "";
        this.selectedIntentIds.push(result.intent_id);

        this.$root.m_success(this.$tp("warn.createSuccess"));
      } catch (error) {
        console.log(error);
        if ((error.response.data || {}).error_code == 50004) {
          this.$root.m_error(this.$tp("warn.intentNameDuplicated"));
        } else {
          this.$root.m_error(this.$tp("warn.createFail"));
        }
      }
      await this.init();
    }
  },
  updated() {
    if (elScrollbar) elScrollbar.scrollLeft = currentScroll;
  },
  watch: {
    checkedIntents: {
      handler() {
        setTimeout(() => {
          if (
            document.querySelector(".quick-view").clientHeight >
            this.CHECKED_INTENT_MAX_HEIGHT_BEFORE_TOGGLE
          ) {
            this.showToggleButton = true;
            this.quickViewWapperCss.maxHeight =
              (this.showFullcheckedIntents
                ? document.querySelector(".quick-view").clientHeight
                : INTENT_QUICK_VIEW_MAX_HEIGHT) + "px";
          } else {
            this.showToggleButton = false;
          }
        }, 0);
      },
      immediate: true
    }
  }
};
</script>
<style lang="less">
@import "../../assets/css/fn.less";
.intent-selection-title {
  img {
    width: 12px;
    margin-bottom: 6px;
  }
}

.intent-selection {
  position: relative;
  min-height: 410px;

  .control-panel {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    .search-bar-wrapper {
      margin-left: 10px;
    }
    .input-new-intent {
      flex-grow: 1;
      min-width: 281px;
      border: 1px solid #c6c6c6;
      border-radius: 10px;
      padding: 0px 0px 0px 10px;
      font-size: 14px;
      display: flex;

      input {
        flex-grow: 1;

        border: none;
        font-size: 14px;

        &::placeholder {
          color: #9f9f9f;
        }
      }
      .submit {
        margin-left: 10px;
        background-color: white;
        border: 1px solid #ff8560;
        border-radius: 10px;
        padding: 5px 8px;
        color: #ff8560;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

  .check-item_frame {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    .reserved-intents {
      .el-checkbox__label {
        color: #0fa8a8;
        font-size: 18px;
      }
    }
    .hr {
      height: 4px;
      width: 100%;
      background-color: #ebebeb;
    }
  }
  .el-checkbox-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    padding: 10px;
    &.horizental {
      flex-direction: row;
    }

    .check-item {
      .vtc();
      padding-right: 10px;
      .el-checkbox {
        .is-checked {
          .el-checkbox__inner {
            background-color: white;
            border-color: rgb(220, 223, 230);
            &::after {
              border: 1px solid #0fa8a8;
              border-left: 0;
              border-top: 0;
            }
          }
          .el-checkbox__label {
            color: black;
          }
        }
      }
      img {
        width: 16px;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
}

.quick-view-wapper2 {
  text-align: center;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 5px;
  z-index: 10;
  .quick-view-wapper {
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
    .quick-view {
      .intent {
        display: inline-block;
        background-color: #0fa8a8;
        color: white;
        border-radius: 30px;
        padding: 5px 5px;
        font-size: 14px;
        margin: 5px 0 5px 5px;
        .vtc();
        img {
          width: 15px;
          cursor: pointer;
        }
      }
      .control-button {
        display: inline-block;
        cursor: pointer;
        background-color: white;
        color: #0fa8a8;
        border-radius: 30px;
        padding: 5px 5px;
        font-size: 14px;
        margin: 5px 0 5px 5px;
        .vtc();
      }
    }
  }
  .toggle-button-wrapper {
    position: absolute;
    bottom: -9px;
    margin: auto;
    width: 100%;
    .toggle-button {
      cursor: pointer;
      width: 25px;
      transition: transform 0.5s ease-in-out;
      font-size: 0;
    }
  }
}
</style>
