<template>
  <messengerLayout :show="showMsgbox" :close="close">
    <div class="ety_frame bs">
      <div id="container2" class="ety_ctn">
        <template v-for="msg in msgList_info">
          <template v-if="msg.message">
            <div class="msg_item">
              <div class="content">
                <div class="m_box">
                  <!-- 一般訊息 -->
                  <template v-if="msg.message.type === 'text'">
                    <div>{{ msg.message.text }}</div>
                  </template>
                  <!-- 圖片 -->
                  <template v-else-if="msg.message.type === 'image'">
                    <img
                      style="max-width: 140px"
                      v-if="msg.image_url"
                      @click="zoomImageUrl = msg.image_url"
                      @load="scrollTo(undefined)"
                      :src="msg.image_url"
                    />
                  </template>
                  <!-- 樣板訊息 -->
                  <template v-else-if="msg.message.type === 'template'">
                    <template v-if="msg.message.template.type === 'confirm'">
                      <div>{{ msg.message.template.text }}</div>
                      <div class="_col _line"></div>
                      <div class="_col _actions _confirm">
                        <div class="_action" v-for="action in msg.message.template.actions">
                          {{ action.label }}
                        </div>
                      </div>
                    </template>
                    <template v-else-if="msg.message.template.type === 'buttons'">
                      <div class="_col _img">
                        <img :src="msg.message.template.thumbnailImageUrl" />
                      </div>
                      <div>{{ msg.message.template.title }}</div>
                      <div>{{ msg.message.template.text }}</div>
                      <div class="_col _line"></div>
                      <div class="_col _actions _menu">
                        <div class="_action" v-for="action in msg.message.template.actions">
                          {{ action.label }}
                        </div>
                      </div>
                    </template>
                  </template>
                  <template v-else>
                    {{ msg }}
                  </template>
                </div>
              </div>
              <p class="date">{{ msg.updated_label }}</p>
            </div>
          </template>
          <template v-if="msg.intent || Object.keys(msg.entities || {}).length">
            <div class="msg_item">
              <div class="content">
                <div class="m_box self">
                  <table>
                    <tr>
                      <th class="_title" colspan="2">Skill</th>
                    </tr>
                    <tr>
                      <td colspan="2">{{ msg.skill.name }}</td>
                    </tr>
                    <tr>
                      <th class="_title" colspan="2">State</th>
                    </tr>
                    <tr>
                      <td colspan="2">{{ msg.state.name }}</td>
                    </tr>
                    <template v-if="msg.intent">
                      <tr>
                        <th colspan="2">Intent</th>
                      </tr>
                      <tr>
                        <td colspan="2">{{ msg.intent }}</td>
                      </tr>
                    </template>
                    <template v-if="Object.keys(msg.entities || {}).length">
                      <tr>
                        <th colspan="2">Slots</th>
                      </tr>
                      <tr v-for="(value, key) in msg.entities">
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                      </tr>
                    </template>
                  </table>
                </div>
              </div>
              <p class="date">{{ msg.updated_label }}</p>
            </div>
          </template>
        </template>
      </div>
      <messenger
        ref="messenger"
        :getLastHistory="getLastHistory"
        :inputMsg="inputMsg"
        :isLoading="isLoading"
        :msgList="msgList"
        :send="send"
        :sendImage="sendImage"
        :speak_enable="speak_enable"
        :updateBinding="updateBinding"
      ></messenger>
    </div>
  </messengerLayout>
</template>
<script>
import { mapGetters, mapState } from "vuex";
//components
import messengerLayout from "@c/messenger/layout";
import messenger from "@c/messenger/template";
//api
import { pocFile } from "@/api/Chat";
import { send, history, integrationsToken } from "./api";
//SpeechAPI
import { speak } from "@js/speech/SpeechAPI";
export default {
  components: { messenger, messengerLayout },
  data() {
    return {
      container: undefined,
      //chat
      inputMsg: "",
      msgList: [],
      isLoading: false,
      speak_enable: false,
      //notification
      subscription: undefined,
      subscription_state: undefined,
      token: "",
      listener: {
        onOpen: data => {
          console.log("onOpen_messenger", data);
        },
        onCreate: function (data) {
          console.log("onCreate_messenger", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("onDelete_messenger", data);
        },
        onUpdate: data => {
          console.log("onUpdate_messenger", data);
          this.speakMessage(data.content.message);
          this.speakMessage(data.content.messages);
          this.add_msgList(false, data.content.message, data);
          this.add_msgList(false, data.content.messages, data);
        }
      },
      listener_state: {
        onOpen: data => {
          console.log("onOpen_state", data);
        },
        onCreate: function (data) {
          console.log("onCreate_state", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("onDelete_state", data);
        },
        onUpdate: data => {
          console.log("onUpdate_state", data);
          this.add_msgList_info(data.content.message, data);
          this.add_msgList_info(data.content.messages, data);
        }
      },
      //history
      skip: 0,
      limit: 20,
      //
      msgList_info: []
    };
  },
  computed: {
    ...mapGetters(["currentBot", "user"]),
    ...mapState(["showMsgbox"]),
    ready() {
      return !!this.token;
    }
  },
  mounted() {
    this.container = this.$el.querySelector("#container2");
  },
  methods: {
    updateBinding(property, val) {
      this[property] = val;
    },
    speakMessage(message) {
      if (this.$refs.messenger.listening) return false;
      if (!this.speak_enable) return false;
      if (!message) return false;
      let messages = Array.isArray(message) ? message : [message];
      let messageText = "";
      messages.forEach(message => {
        if (message.type === "text") {
          messageText += message.text;
        } else if (message.type === "image") {
          messageText += "";
        } else {
          messageText += message.template.text;
        }
      });
      speak(messageText);
    },
    add_msgList(from_user, message, data) {
      if (!message) return false;
      let messages = Array.isArray(message) ? message : [message];
      messages.forEach(message => {
        this.msgList.push({
          from_user: from_user,
          message: message,
          updated: from_user ? Number(new Date()) : data.updated,
          updated_label: moment(from_user ? undefined : data.updatedAt).format(
            "YYYY/MM/DD HH:mm:ss"
          )
        });
      });
    },
    add_msgList_info(message, data) {
      if (!message) return false;
      let messages = Array.isArray(message) ? message : [message];
      messages.forEach(_message => {
        this.msgList_info.push({
          message: _message,
          skill: data.content.skill,
          state: data.content.state,
          intent: data.content.intent,
          entities: data.content.entities,
          updated_label: moment(data.updatedAt).format("YYYY/MM/DD HH:mm:ss")
        });
      });
    },
    close() {
      this.$store.commit("SET_SHOW_MSGBOX", false);
    },
    init() {
      this.msgList = [];
      this.token = "";
      this.skip = 0;
      this.getHistory().then(res => {
        this.msgList = res.histories;
      });
      //get integrations token
      integrationsToken(this.user.access_token, this.currentBot.id).then(res => {
        this.token = (res.integrations.filter(x => x.passage === "demo")[0] || {}).id;
      });
    },
    getHistory() {
      return new Promise((resolve, reject) => {
        history({
          token: this.user.access_token,
          user_id: this.user.uid,
          bot_id: this.currentBot.id,
          skip: this.skip * this.limit,
          limit: this.limit
        }).then(res => {
          res.histories = res.histories.reverse().map((x, i) => {
            x.updated_label = moment(Number(x.updated)).format("YYYY/MM/DD HH:mm:ss");
            return x;
          });
          resolve(res);
        });
      });
    },
    getLastHistory() {
      this.skip += 1;
      return new Promise((resolve, reject) => {
        this.getHistory()
          .then(res => {
            this.msgList.unshift(...res.histories);
            resolve(res.histories.length > 0);
          })
          .catch(ex => {
            reject();
          });
      });
    },
    send(inputMsg) {
      const output_inputMsgs = inputMsg || this.inputMsg;
      if (!output_inputMsgs) return false;
      if (!this.ready) return false;
      send(this.token, this.user.uid, this.user.group, output_inputMsgs).then(res => {});
      this.add_msgList(true, output_inputMsgs);
      if (!inputMsg) this.inputMsg = "";
    },
    sendImage(type, formData) {
      this.isLoading = true;
      return new Promise((resolve, reject) => {
        pocFile(formData)
          .then(res => {
            const inputMsg = `[傳送圖片](${type})(${res.file_name})`;
            send(this.token, this.user.uid, this.user.group, inputMsg).then(res => {});
            this.add_msgList(true, inputMsg);
            resolve();
          })
          .finally(() => {
            this.isLoading = false;
          });
      });
    }
  },
  watch: {
    $route: {
      handler() {
        this.close();
      }
    },
    msgList_info: {
      handler() {
        this.$nextTick(() => {
          this.container.scrollTop = this.container.scrollHeight;
        });
      },
      deep: true
    },
    showMsgbox: {
      handler(val) {
        if (val) {
          this.init();
          this.subscription = this.$root.notificationService.subscribe(this.listener, {
            event: "chat_message",
            agent_id: this.currentBot.id,
            user_id: this.user.uid,
            group_id: this.user.group
          });
          this.subscription_state = this.$root.notificationService.subscribe(this.listener_state, {
            event: "messages_info",
            agent_id: this.currentBot.id,
            user_id: this.user.uid
          });
        } else {
          this.$root.notificationService.unsubscribe(this.subscription);
          this.$root.notificationService.unsubscribe(this.subscription_state);
        }
      }
    }
  }
};
</script>
<style lang="less">
@import "~@css/fn.less";
@import "~@c/messenger/css/template.less";
.ety_frame {
  height: 100%;
  display: flex;
  .ety_ctn {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    min-width: 300px;
    height: 100%;
    overflow-y: auto;
    .msg_item {
      margin-bottom: 10px;
      .m_box {
        width: 100%;
        max-width: 100%;
      }
    }
    table {
      &._message {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
      th,
      td {
        padding: 2px 5px;
      }
      th {
        background-color: #dbdbdb;
        &._title {
          color: #ffffff;
          background-color: #4e4e4e;
        }
      }
      td {
        background-color: #ffffff;
        font-size: 12px;
      }
      ._date {
        text-align: right;
        font-size: 12px;
        line-height: 1;
      }
    }
  }
}
</style>