<template>
  <div class="api_box" :class="{ open: nluEndpoint_self.open }" :key="nluEndpoint_self.id">
    <div class="api_title _list">
      <div class="fx aic h100">
        <template v-if="nluEndpoint_self.open">
          <input
            v-model="nluEndpoint_self.nlu_name"
            type="text"
            class="_fill"
            :class="{ _error: nluEndpoint_self.nlu_name_ERROR }"
            :placeholder="$tp('please.enterName')"
            :disabled="!nluEndpoint_self.editable"
            @input="event_validate(nluEndpoint_self)"
            @blur="event_validate(nluEndpoint_self)"
          />
          <template v-if="!nluEndpoint_self.editable">
            <img
              v-if="event_editable"
              @click="event_editable(nluEndpoint_self)"
              src="../img/edit_orange.svg"
            />
          </template>
        </template>
        <template v-else>
          <div class="_label _fill" @click="event_toggleOpen(nluEndpoint_self)">
            {{ nluEndpoint_self.nlu_name }}
          </div>
        </template>
        <img
          v-if="event_toggleOpen"
          class="_arrow"
          @click="event_toggleOpen(nluEndpoint_self)"
          :class="{ open: nluEndpoint_self.open }"
          src="../img/slideArrow_orange.svg"
        />
      </div>
      <div class="api_errorMessage _name">
        {{ nluEndpoint_self.nlu_name_ERROR }}
      </div>
    </div>
    <template v-if="nluEndpoint_self.open">
      <div class="api_path fx">
        <div>
          <dropdown class="_org" :noArrow="true" :enable="nluEndpoint_self.editable">
            <template slot="select">
              <div class="api_method" :class="{ disabled: !nluEndpoint_self.editable }">
                {{ nluEndpoint_self.http_type }}
              </div>
            </template>
            <template slot="option">
              <div
                v-for="method in ['POST', 'GET']"
                :class="{ active: nluEndpoint_self.http_type === method }"
                @click="
                  nluEndpoint_self.tab = 'Header';
                  nluEndpoint_self.http_type = method;
                "
              >
                {{ method }}
              </div>
            </template>
          </dropdown>
        </div>
        <div class="_fill">
          <div class="api_url">
            <template>{{ nluEndpoint_self.url }}</template>
            <textarea
              v-model="nluEndpoint_self.url"
              tabindex="-1"
              :class="{ _error: nluEndpoint_self.url_ERROR }"
              :placeholder="$tp('please.inputUrl')"
              :disabled="!nluEndpoint_self.editable"
              @input="event_validate(nluEndpoint_self)"
              @blur="event_validate(nluEndpoint_self)"
            ></textarea>
            <div class="api_errorMessage _url">
              {{ nluEndpoint_self.url_ERROR }}
            </div>
          </div>
        </div>
      </div>
      <div class="api_context">
        <div class="header_tabs">
          <span
            v-for="tab in tabs"
            v-show="showTab(tab, nluEndpoint_self.http_type)"
            @click="nluEndpoint_self.tab = tab"
            :class="{ active: tab === nluEndpoint_self.tab }"
            >{{ tab }}{{ { Body: "(JSON)" }[tab] || "" }}</span
          >
        </div>
        <div class="api_form" v-show="nluEndpoint_self.tab === 'Header'">
          <div class="api_form_item">
            <div>KEYS</div>
            <div>VALUE</div>
          </div>
          <objectTable v-model="nluEndpoint_self.header" :enable="nluEndpoint_self.editable" />
        </div>
        <div class="api_form" v-show="nluEndpoint_self.tab === 'Parameter'">
          <div class="api_form_item">
            <div>KEYS</div>
            <div>VALUE</div>
          </div>
          <objectTable v-model="nluEndpoint_self.parameter" :enable="nluEndpoint_self.editable" />
        </div>
        <div class="api_body" v-show="nluEndpoint_self.tab === 'Body'">
          {{ nluEndpoint_self.body }}
          <textarea
            v-model="nluEndpoint_self.body"
            :disabled="!nluEndpoint_self.editable"
            :class="{ _error: nluEndpoint_self.body_ERROR }"
            @blur="event_validate(nluEndpoint_self)"
          ></textarea>
          <p class="api_errorMessage _body">{{ nluEndpoint_self.body_ERROR }}</p>
        </div>
      </div>
      <div class="api_button" v-show="nluEndpoint_self.editable">
        <el-button
          v-if="event_cancel"
          size="mini"
          plain
          @click.native="event_cancel(nluEndpoint_self)"
          >{{ $tp("label.cancel") }}</el-button
        >
        <el-button
          v-if="event_save"
          size="mini"
          type="primary"
          @click.native="event_save(nluEndpoint_self)"
          >{{ $tp("label.save") }}</el-button
        >
        <el-button
          v-if="event_delete"
          size="mini"
          type="danger"
          icon="el-icon-delete"
          @click.native="event_delete(nluEndpoint_self)"
          >{{ $tp("label.delete") }}</el-button
        >
      </div>
      <template v-if="reference_obj">
        <div class="api_reference">
          <div class="api_reference_ttl">使用此Endpoint的状态</div>
          <template v-if="(reference_obj[nluEndpoint_self.id] || []).length">
            <table class="reference_table">
              <tr v-for="state in reference_obj[nluEndpoint_self.id]">
                <td>
                  <span class="_label _skillName">{{ state.skillName }}</span>
                </td>
                <td>
                  <span class="_label _stateName" v-for="node in state.nodes">{{
                    node.info.name
                  }}</span>
                </td>
              </tr>
            </table>
          </template>
          <template v-else>
            <div class="_nodata">目前没有状态共用</div>
          </template>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
// components
import dropdown from "@c/dropdown/dropdown";
import objectTable from "@c/objectTable.vue";
export default {
  components: { dropdown, objectTable },
  props: {
    mode: String,
    nluEndpoint: Object,
    reference_obj: Object,
    event_validate: Function,
    event_toggleOpen: Function,
    event_editable: Function,
    event_cancel: Function,
    event_save: Function,
    event_delete: Function
  },
  data() {
    return {
      nluEndpoint_self: undefined,
      tabs: ["Header", "Parameter", "Body"]
    };
  },
  created() {
    this.nluEndpoint_self = this.nluEndpoint;
    if (this.mode === "default") {
    }
  },
  methods: {
    showTab(tab, http_type) {
      let show = true;
      if (tab === "Parameter" && http_type !== "GET") {
        show = false;
      } else if (tab === "Body" && http_type !== "POST") {
        show = false;
      }
      return show;
    }
  },
  watch: {
    nluEndpoint: {
      handler(val, val0) {
        this.nluEndpoint_self = this.nluEndpoint;
      },
      deep: true
    }
  }
};
</script> 