@import "~@css/fn.less";

.msg_frame {
  position: fixed;
  right   : 0;
  bottom  : 0;
  z-index : 999;

  &>img {
    .cp();
    position: relative;

    &:hover {
      opacity: 0.8;
    }
  }
}

.msg_close_frame {
  .room_f();
}

.msg_ctn {
  position: absolute;
  bottom  : 30px;
  right   : 30px;
  height  : ~"calc(100vh - 90px)";

  &:not(.active) {
    .WH(0);
    overflow: hidden;
    padding : 0;
    border  : none;
  }

  .chat_ctn {
    width: 400px;
  }
}

.msg_box {
  .bc(@f);
  border       : 1px solid #cccccc;
  border-radius: 5px;
  padding      : 10px;
  position     : relative;
  height       : 100%;

  .chat_ctn {
    height        : 100%;
    flex-direction: column;
    display       : flex;
  }

  .chat_box {
    flex-grow : 1;
    padding   : 0 10px 20px;
    overflow-y: scroll;
    position  : relative;
  }

  .endbtn {
    position: absolute;
    right   : 10px;
    bottom  : 100%;
    .WH(40px);
    background     : url('~@img/arrow.png') center no-repeat;
    background-size: 150%;
    .cp();
  }

  .chat_btn {
    position   : relative;
    flex-shrink: 0;

    >* {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    .el-input {
      width   : 100% !important;
      position: relative;
    }

    >._btn {
      width    : 25px;
      font-size: 0;
      cursor   : pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .tts_box {}

  .input_box {
    width       : 100%;
    position    : relative;
    height      : 30px;
    margin-right: 8px !important;

    .el-input__inner {
      height     : auto;
      line-height: 30px
    }

    ._voice {
      .room();
      background: url("../img/voice.gif") no-repeat center;
      z-index   : 1;
    }
  }

  .imgUpload_box {

    #imgUpload {
      display: none;
    }
  }

  .speech_btn {

    &:not(.disabled) {
      cursor: pointer;
    }

    &.autoSend {
      border-radius: 50%;
      box-shadow   : 0 0 0 2px @org;
    }
  }

  .sendbtn {
    width: 20px !important;
  }

  .preview_box {
    border-bottom: 1px solid #e5e5e5;
    font-size    : 0;
    padding      : 10px;
    background   : #f2f2f2;
    margin       : 0 -10px 5px;
  }

  .preview_close {
    position     : absolute;
    top          : 2px;
    right        : 2px;
    border       : 1px solid @f;
    border-radius: 50%;
    .WH(20px);
    .bc(rgba(0, 0, 0, 0.6));
    transform: rotate(45deg);

    &::before {
      content    : "";
      position   : absolute;
      top        : 15%;
      bottom     : 15%;
      left       : 50%;
      border-left: 2px solid @f;
      transform  : translateX(-50%);
    }

    &::after {
      content   : "";
      position  : absolute;
      left      : 15%;
      right     : 15%;
      top       : 50%;
      border-top: 2px solid @f;
      transform : translateY(-50%);
    }
  }

  .preview_item {
    position       : relative;
    background     : center no-repeat;
    background-size: 100% auto;
    width          : 100px;
    box-shadow     : 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius  : 8px;
    .bc(@f);
    .cp();
    .WH(100px);
  }
}

.msg_item {
  margin-bottom: 10px;

  &.self {
    text-align: right;
  }

  .m_box {
    .bc(@org);
    padding      : 6px 12px;
    border       : 20px;
    display      : inline-block;
    border-radius: 10px 10px 10px 0px;
    max-width    : 80%;
    word-break   : break-all;
    white-space  : pre-line;
    text-align   : left;
    color        : #ffffff;

    &.self {
      .bc(#F5F5F5);
      color        : #4E4E4E;
      border-radius: 10px 10px 0 10px;
    }

    &.carousel {
      width     : 80%;
      background: none;

      .owl-item {
        background-color: @org;
        width           : 240px !important;
        border-radius   : 17px;
        overflow        : hidden;
      }

      ._actions {
        margin-bottom: 0;
      }

      ._col {
        margin: 0;
      }

      ._title {
        padding: 0 6px 3px;
      }
    }

    ._col {
      margin: 0 -12px;
    }

    ._img {
      font-size      : 0;
      padding-top    : 66%;
      background     : no-repeat center;
      background-size: cover;
    }

    ._line {
      border-top: 2px solid;
      margin-top: 6px;
    }

    ._actions {
      display      : flex;
      flex-wrap    : wrap;
      margin-bottom: -6px;

      &._confirm {
        ._action {
          width: 50%;

          &:not(:last-child) {
            border-right: 1px solid;
          }
        }
      }

      &._menu {
        ._action {
          border-top: 1px solid;
        }
      }

      ._action {
        width      : 100%;
        text-align : center;
        white-space: initial;
        padding    : 6px 0;
        cursor     : pointer;
      }
    }
  }

  p.date {
    margin   : 5px;
    font-size: 12px;
  }
}