<template>
  <div style="padding: 0 15px;" @click="toggleClick">
    <svg
      id="menuicon"
      :class="{'is-active':isActive}"
      class="hamburger"
      width="40.2"
      height="38"
      viewBox="0 0 40.2 38"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect id="Rectangle_13" width="40" height="6" class="cls-1" data-name="Rectangle 13" rx="3" />
      <rect
        id="Rectangle_14"
        width="25"
        height="6"
        class="cls-1"
        data-name="Rectangle 14"
        rx="3"
        transform="translate(0 11)"
      />
      <path
        id="Path_90"
        d="M3 0h19a3 3 0 0 1 0 6H3a3 3 0 0 1 0-6z"
        class="cls-1"
        data-name="Path 90"
        transform="translate(0 21)"
      />
      <path
        id="Path_91"
        d="M3 0h34a3 3 0 0 1 0 6H3a3 3 0 0 1 0-6z"
        class="cls-1"
        data-name="Path 91"
        transform="translate(0 32)"
      />
      <g id="Group_17" data-name="Group 17" transform="translate(29.501 10.718)">
        <path
          id="Path_58"
          d="M1186.993 419.455a2.053 2.053 0 0 0 1.489-3.468l-4.593-4.829 4.587-4.8a2.052 2.052 0 1 0-2.967-2.837l-5.94 6.209a2.053 2.053 0 0 0-.005 2.833l5.94 6.249a2.051 2.051 0 0 0 1.489.638zm0 0"
          class="cls-2"
          data-name="Path 58"
          transform="translate(-1178.999 -402.891)"
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: "Hamburger",
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleClick() {
      this.$emit("toggleClick");
    }
  }
};
</script>

<style scoped>
.cls-1,
.cls-2 {
  fill: #f8b700;
}
.cls-2 {
  stroke: #f8b700;
}
.hamburger {
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.hamburger.is-active {
  transform: rotate(0deg);
}
</style>
