<template>
  <div class="app-container intent_page fx fdc">
    <tabBar
      v-show="currentPage === 'intent'"
      :tabNames="['all', 'trainable', 'untrainable']"
      @changeTab="changeIntentTab"
    ></tabBar>
    <div class="tab-page _fill" v-loading="isLoading">
      <div class="tab-page-inner fx fdc">
        <template v-if="currentPage === 'intent'">
          <div class="page-title-row">
            <span class="page-title">{{ $tp("label.myIntent") }}</span>
            <div class="title-buttons">
              <pageTopMainButton
                :label="$tp(['label.import', 'bot.intent'])"
                img="import"
                @click.native="isShowImportIntentsWindow = true"
              ></pageTopMainButton>
            </div>
          </div>
          <div class="new-item-row">
            <span class="label">{{ $tp("label.newIntentName") }}:</span>
            <input
              ref="intent-input"
              class="input-text"
              type="text"
              :placeholder="$tp('please.input')"
              v-model="newIntentName"
              @keypress.enter="createIntent"
            />
            <span class="submit-button" @click="createIntent">{{ $tp("label.create") }}</span>
            <span
              class="submit-button"
              @click="
                getIntentData(newIntentName);
                $refs['intent-input'].focus();
              "
              >{{ $tp("label.search") }}</span
            >
          </div>
          <div class="cell-table _fill">
            <div class="row" v-for="(intent, index) in intentList" :key="index">
              <span class="cell">
                <img src="@img/pennant.svg" class="tag" />
                <div @click="openUtterance(intent)" class="text-box">
                  <span v-show="!(selectedIntentIndex == index)" class="text">{{
                    intent.name
                  }}</span>
                  <input
                    v-on:click.stop
                    :ref="'intentInput' + index"
                    v-show="selectedIntentIndex == index"
                    v-model="intent.name"
                    class="intent-name-input"
                    tabindex="-1"
                    @keypress.enter="selectedIntentIndex = -1"
                    @blur="finishEditIntentName(index, intent)"
                  />
                  <span style="margin-left: 5px">
                    <img
                      v-show="intent.utterance_count >= defaultTrainableMinUtterance"
                      src="@img/tag-right.svg" />
                    <img
                      v-show="intent.utterance_count < defaultTrainableMinUtterance"
                      src="@img/tag-right-orange.svg"
                  /></span>

                  <span
                    :class="{
                      warning: intent.utterance_count < defaultTrainableMinUtterance
                    }"
                    class="utterance-count"
                    >utterance:{{ intent.utterance_count }}</span
                  >
                </div>

                <el-dropdown trigger="click" @click.native.stop.prevent>
                  <div class="bt_more btn1">
                    <dotMenu></dotMenu>
                  </div>
                  <el-dropdown-menu class="dlorgmode" entity="dropdown">
                    <el-dropdown-item @click.native="editIntentName(index)">{{
                      $tp("label.rename")
                    }}</el-dropdown-item>
                    <el-dropdown-item @click.native="removeIntent(index)">{{
                      $tp("label.delete")
                    }}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </span>
            </div>
          </div>
          <div class="total-count">
            {{ $tp("label.totalCount", { count: intentTotal }) }}
          </div>
          <pagination
            :total="intentTotal"
            :page.sync="listQuery.page"
            :limit.sync="listQuery.limit"
            :pagination="() => getIntentData()"
          />
        </template>
        <template v-if="currentPage === 'utterance'">
          <div class="page-title-row">
            <span v-show="!isShowIntentEditCell" class="page-title">{{ currentIntent.name }}</span>
            <input
              v-show="isShowIntentEditCell"
              @keypress.enter="finishEditIntentNameInUtterance"
              v-model="tmpIntentNameInUtterance"
              type="text"
            />
            <img
              class="edit-button"
              v-show="!isShowIntentEditCell"
              @click="clickIntentEditButton"
              src="@img/edit.svg"
            />
            <img
              class="edit-button"
              v-show="isShowIntentEditCell"
              @click="finishEditIntentNameInUtterance"
              src="@img/save_gray.svg"
            />
            <div class="title-buttons">
              <pageTopMainButton
                :label="$tp('label.importUtterance')"
                img="import"
                @click.native="isShowImportUtterancesWindow = true"
              ></pageTopMainButton>
              <pageTopMainButton
                :label="$tp('label.goBack')"
                img="back"
                @click.native="$router.go(-1)"
              ></pageTopMainButton>
            </div>
          </div>
          <div class="entities_frame">
            <div class="title vtc">
              <span class="text">{{ $tp("label.entityManagement") }}</span>
            </div>
            <hr />
            <div class="entities_ctn fx fw">
              <div class="empty-entity-prompt" v-show="currentIntent.entities.length === 0">
                {{ $tp("label.emptyEntity") }}
              </div>
              <div
                class="entity_box vtc"
                v-for="(entityId, index) in currentIntent.entities"
                @click="openEntityEditorWindow(entityId)"
              >
                <span>{{ getEntityNameById(entityId) }}</span>
                <span>(</span>
                <span class="count">{{ showEntryCount(entityId) }}</span>
                <span>)</span>
                <span class="entity_x btn1" @click.stop="deleteEntityInIntent(entityId)"></span>
              </div>
            </div>
          </div>
          <div class="utterance-page _fill fx fdc">
            <div class="new-item-row" v-loading="isNewUtternaceLoading">
              <span class="label">{{ $tp("label.autoLabeling") }}</span>
              <span class="switch">
                <el-switch v-model="isAutoLabelOnNewUtterance"></el-switch>
              </span>
              <span class="label">{{ $tp("label.utterance") }}:</span>
              <input
                ref="utterance-input"
                class="input-text"
                type="text"
                :placeholder="$tp('please.input')"
                v-model="newUtterance.text"
                @keypress.enter="createUtterance"
              />
              <span class="submit-button" @click="createUtterance()">{{
                $tp("label.create")
              }}</span>
              <span
                class="submit-button"
                @click="
                  searchUtterances(newUtterance.text);
                  $refs['utterance-input'].focus();
                "
                >{{ $tp("label.search") }}</span
              >
            </div>
            <div class="one-border-table _fill">
              <div class="row" v-for="(utterance, utteranceIndex) in currentUtterances">
                <div>
                  <div>
                    <img src="@img/double-quote.svg" class="tag" />
                  </div>
                  <button
                    class="test-button"
                    @click="$store.commit('SET_NLU_TEST_STRING', utterance.text)"
                  >
                    {{ $tp("bot.test") }}
                  </button>
                </div>
                <div class="text labeling-wrapper">
                  <labeling
                    :utteranceData="utterance"
                    :entities="currentEntities"
                    :serial="utteranceIndex"
                    :mouseup="
                      () => {
                        selectUtteranceText(utterance);
                      }
                    "
                    :editUtteranceEntity="
                      entityIndex => {
                        editUtteranceEntity(utterance, entityIndex);
                      }
                    "
                    @deleteUtteranceEntity="deleteUtteranceEntity($event)"
                  ></labeling>
                </div>
                <el-dropdown trigger="click" @click.native.stop.prevent>
                  <div class="bt_more btn1">
                    <dotMenu></dotMenu>
                  </div>
                  <el-dropdown-menu class="dlorgmode" entity="dropdown">
                    <el-dropdown-item @click.native="removeUtterance(utteranceIndex)">{{
                      $tp("label.delete")
                    }}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
            <div class="total-count">
              {{ $tp("label.totalCount", { count: utteranceTotal }) }}
            </div>
            <pagination
              :total="utteranceTotal"
              :page.sync="utteranceListQuery.page"
              :limit.sync="utteranceListQuery.limit"
              :pagination="changeUtterancePage"
            />
          </div>
        </template>
      </div>
    </div>
    <entityEditor
      v-if="isShowEntityEditor"
      :isShowEntityEditor="isShowEntityEditor"
      :closeEntityEditor="closeEntityEditor"
      :currentEntity="currentEntity"
      :submit="finishEditEntity"
    ></entityEditor>
    <entitySelector
      ref="entitySelector"
      v-if="isShowEntitySelector"
      :isShowEntitySelector="isShowEntitySelector"
      :closeEntitySelector="closeEntitySelector"
      :submit="labelUtterance"
      :text="tempEntity.text"
    ></entitySelector>
    <importWindow
      v-if="isShowImportIntentsWindow"
      :title="$tp('label.importIntent')"
      :isShow="isShowImportIntentsWindow"
      :closeWindow="() => (isShowImportIntentsWindow = false)"
      :acceptedFormats="['tsv']"
      :ExampleObj="importIntentsExamples"
      fileFormat="tsv"
      @finish="importIntents"
    ></importWindow>
    <importWindow
      v-if="isShowImportUtterancesWindow"
      :title="$tp('label.importUtterance')"
      :isShow="isShowImportUtterancesWindow"
      :closeWindow="() => (isShowImportUtterancesWindow = false)"
      :acceptedFormats="['txt']"
      :ExampleObj="importUtterancesExamples"
      fileFormat="txt"
      @finish="importUtterances"
    ></importWindow>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { isSuccess, deepClone } from "@u/methodsHelper";
import { v4 as uuidv4 } from "uuid";
//components
import navbar from "@c/navbar";
import entityEditor from "./components/entityEditor";
import tabBar from "@c/tabBar";
import Pagination from "@c/Pagination";
import importWindow from "@c/importWindow";
//mixins
import App from "@mix/App";
import currentBot from "@mix/bot/currentBot";
//ui
import pageTopMainButton from "@ui/pageTopMainButton";
import labeling from "@ui/labeling";
import entitySelector from "@ui/entitySelector";
import dotMenu from "@ui/dotMenu";
//api
import {
  getIntent,
  getIntents,
  createIntent,
  updateIntent,
  removeIntent,
  importIntents
} from "@/api/Intent";
import { updateEntity } from "@/api/Entity";
import { autoLabelUtterance } from "@/api/AutoLabeling";
import {
  getUtterances,
  createUtterance,
  updateUtterance,
  removeUtterance,
  importUtterances
} from "@/api/Utterance";
import { refreshToken } from "../../api/Auth";
import { flowHelper } from "../FlowBuilder/FlowHelper";
import { getFlow } from "@/api/Bot";
import { isEmptyOrStartWithSpace } from "@/utils/string";

const DEFAULT_TRAINABLE_MIN_UTTERANCE = 5;

export default {
  name: "intent",
  mixins: [App, currentBot],
  components: {
    importWindow,
    navbar,
    Pagination,
    labeling,
    entityEditor,
    dotMenu,
    entitySelector,
    pageTopMainButton,
    tabBar
  },
  data() {
    return {
      isLoading: false,
      defaultTrainableMinUtterance: DEFAULT_TRAINABLE_MIN_UTTERANCE,
      newIntentName: "",
      intentList: [],
      currentIntent: {},
      currentUtterances: [],
      intentTotal: 0,
      listQuery: {
        page: 1,
        limit: 10
      },
      selectedIntentIndex: -1,
      tmpIntentText: "",
      currentTab: "all",
      //utterance
      isNewUtternaceLoading: false,
      utteranceKeyword: "",
      utteranceTotal: 0,
      utteranceListQuery: {
        page: 1,
        limit: 10
      },
      newUtterance: {
        text: "",
        entities: []
      },
      //EntityEditor
      isShowEntityEditor: false,
      currentEntity: {},
      //EntitySSelector
      isShowEntitySelector: false,
      currentUtterance: {},
      tempEntity: {},
      //labeling
      currentUtteranceEntityIndex: -1,
      lock: false,
      tmpIntentNameInUtterance: "",
      isShowIntentEditCell: false,
      isAutoLabelOnNewUtterance: false,
      isShowImportIntentsWindow: false,
      isShowImportUtterancesWindow: false,
      flow: {},
      importIntentsExamples: {
        data: [
          { value1: "intent", value2: "utterance" },
          { value1: "訂餐廳", value2: "我想訂餐廳2" }
        ]
      },
      importUtterancesExamples: {
        data: "Hello\nHow are you"
      }
    };
  },
  computed: {
    ...mapState(["currentEntities"]),
    currentPage() {
      return {
        bot_intent: "intent",
        bot_utterance: "utterance"
      }[this.$route.name];
    }
  },
  created() {
    if (this.currentPage === "utterance" && this.currentUtterances.length === 0) {
      this.$router.replace({
        path: this.$route.path.replace("/utterance", "")
      });
    }
    this.toPublic("intent");
  },
  beforeDestroy() {
    //Breadcrumb
    this.$store.commit("SET_PAGE_INFO", undefined);
  },
  methods: {
    async init() {
      if (this.$route.name !== "bot_intent") {
        this.$router.push({ path: `/bot/${this.currentBot.id}/intent` });
      }
      this.currentTab = "all";
      this.selectedIntentIndex = -1;
      this.currentIntent = undefined;
      this.isShowEntityEditor = false;
      this.isShowEntitySelector = false;
      this.listQuery.page = 1;

      await this.getIntentData();
      this.$store.dispatch("updateEntities");
    },
    async changeIntentTab(tab) {
      if (this.currentTab == tab) return;
      this.currentTab = tab;
      await this.getIntentData();
    },
    async changeUtterancePage(listQuery) {
      await this.getUtterances();
    },
    async getIntentData(searchText) {
      if (!this.currentBot) return false;
      let skip = (this.listQuery.page - 1) * this.listQuery.limit;
      let limit = this.listQuery.limit;
      let minUtterance = this.currentTab == "trainable" ? DEFAULT_TRAINABLE_MIN_UTTERANCE : 0;
      let maxUtterance = this.currentTab == "untrainable" ? DEFAULT_TRAINABLE_MIN_UTTERANCE : 0;
      this.isLoading = true;
      try {
        const res = await getIntents(
          this.currentBot.id,
          skip,
          limit,
          searchText,
          true,
          minUtterance,
          maxUtterance
        );
        this.intentList = res.intents;
        this.$store.commit("SET_CURRENT_INTENTS", res.intents);
        this.intentTotal = "len" in res ? res.len : this.intentTotal;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.isLoading = false;
    },
    async refreshCurrentIntent() {
      try {
        const res = await getIntent(this.currentIntent.id);
        this.currentIntent = res.intent;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
    },
    async createIntent() {
      const newIntentName = this.newIntentName.trim();
      if (!newIntentName) {
        this.$root.m_error(
          this.$tp("bot.intent") + this.$tp("label.name") + this.$tp("warn.isRequired")
        );
        return;
      }
      try {
        await createIntent(this.currentBot.id, newIntentName);
        this.getIntentData();
        this.newIntentName = "";
        this.$root.m_success(this.$tp("warn.createSuccess") + "!");
      } catch (error) {
        console.log(error);
        if ((error.response.data || {}).error_code == 50004) {
          this.$root.m_error(this.$tp("warn.intentNameDuplicated"));
        } else {
          this.$root.m_error(this.$tp("warn.createFail"));
        }
      }
    },
    async getFlow() {
      let result = await getFlow(this.currentBot.id);
      this.flow = result.flows[0];
    },
    async removeIntent(index) {
      let intentToBeDeleted = this.intentList[index];
      if (!this.flow.content) {
        await this.getFlow();
      }
      let usedIntents = flowHelper.getFlowIntents(this.flow);
      if (usedIntents.includes(intentToBeDeleted.id)) {
        this.$root.m_success(this.$tp("warn.deleteIntentFail"));
        return;
      }
      try {
        await this.$root.confirm(intentToBeDeleted.name);
      } catch (error) {
        return;
      }
      try {
        await removeIntent(intentToBeDeleted);
        this.getIntentData();
        this.$root.m_success(this.$tp("warn.deleteSuccess"));
      } catch (error) {
        console.log(error);
        this.$root.m_success(this.$tp("warn.deleteFail"));
      }
    },
    async openUtterance(intent) {
      this.currentIntent = intent;
      //Breadcrumb
      this.$store.commit("SET_PAGE_INFO", this.currentIntent);
      this.utteranceKeyword = "";
      this.currentUtterances = [];
      this.utteranceListQuery.page = 1;
      this.$router.push({ path: `${this.$route.path}/utterance` });
      this.isShowIntentEditCell = false;
      this.newUtterance = {
        text: "",
        entities: []
      };

      await this.getUtterances();
    },
    editIntentName(index) {
      this.tmpIntentText = this.intentList[index].name;
      this.selectedIntentIndex = index;
      setTimeout(() => {
        this.$refs["intentInput" + index][0].focus();
      }, 0);
    },
    async finishEditIntentName(index, intent) {
      this.selectedIntentIndex = -1;
      if (isEmptyOrStartWithSpace(intent.name)) {
        intent.name = this.tmpIntentText;
        this.$root.m_error(
          `${this.$tp("bot.intent")}${this.$tp("label.name")}${this.$tp("warn.isRequired")}`
        );
      } else if (intent.name != this.tmpIntentText) {
        await this.updateIntent(intent);
      }
    },
    async finishEditIntentNameInUtterance() {
      if (isEmptyOrStartWithSpace(this.tmpIntentNameInUtterance)) {
        this.$root.m_error(
          `${this.$tp("bot.intent")}${this.$tp("label.name")}${this.$tp("warn.isRequired")}`
        );
        return;
      }
      try {
        await this.updateIntent({
          id: this.currentIntent.id,
          name: this.tmpIntentNameInUtterance
        });
        this.currentIntent.name = this.tmpIntentNameInUtterance;
        this.tmpIntentNameInUtterance = "";
        this.isShowIntentEditCell = false;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.editFail"));
      }
    },
    async deleteEntityInIntent(entityId) {
      try {
        this.currentIntent.entities = this.currentIntent.entities.filter(item => item !== entityId);
        await this.updateIntent(this.currentIntent);
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.deleteFail"));
      }
    },
    async getUtterances() {
      const skip = (this.utteranceListQuery.page - 1) * this.utteranceListQuery.limit;
      const limit = this.utteranceListQuery.limit;
      this.isLoading = true;
      try {
        const res = await getUtterances(this.currentIntent.id, skip, limit, this.utteranceKeyword);
        this.currentUtterances = res.utterances;
        this.utteranceTotal = "len" in res ? res.len : this.utteranceTotal;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.isLoading = false;
    },
    async createUtterance() {
      if (this.lock) {
        return;
      }
      if (!this.newUtterance.text) {
        this.$root.m_error(`${this.$tp("bot.utterances")}${this.$tp("warn.isRequired")}`);
        return;
      }
      this.lock = true;
      this.isNewUtternaceLoading = true;
      try {
        let result = await createUtterance([this.currentIntent.id], this.newUtterance);
        if (this.isAutoLabelOnNewUtterance) {
          await autoLabelUtterance(this.currentBot.id, [result.utterance_id]);
          await Promise.all([this.$store.dispatch("updateEntities"), this.refreshCurrentIntent()]);
        }
        await this.getUtterances();
        this.newUtterance = { text: "", entities: [] };
      } catch (error) {
        console.log(error);
      }
      this.lock = false;
      this.isNewUtternaceLoading = false;
      this.$refs["utterance-input"].focus();
    },
    async removeUtterance(index) {
      try {
        await this.$confirm(this.$tp("warn.confirmDelete"), this.$tp("warn.confirm"), {
          confirmButtonText: this.$tp("label.ok"),
          cancelButtonText: this.$tp("label.cancel"),
          type: "warning"
        });
      } catch (error) {
        return;
      }
      try {
        let utteranceToBeDeleted = this.currentUtterances[index];
        await removeUtterance(utteranceToBeDeleted);
        await this.getUtterances();
        this.$root.m_success(this.$tp("warn.saveChange"));
      } catch (error) {
        console.log(error);
      }
    },
    async searchUtterances(keyword) {
      this.utteranceKeyword = keyword;
      await this.getUtterances();
    },
    async updateIntent(inputIntent) {
      try {
        await updateIntent(inputIntent);
        this.$store.commit("SET_CURRENT_INTENTS", JSON.parse(JSON.stringify(this.intentList)));
        this.$root.m_success(this.$tp("warn.saveChange"));
      } catch (error) {
        this.$root.m_error(this.$tp("warn.editFail") + "!");
        console.log(ex);
      }
    },
    closeEntityEditor() {
      this.isShowEntityEditor = false;
    },
    openEntityEditorWindow(entityId) {
      this.currentEntity = this.currentEntities.find(e => e.id === entityId);
      this.isShowEntityEditor = true;
    },
    async finishEditEntity(isChanged, entity) {
      if (isChanged) await this.updateEntity(entity);

      this.isShowEntityEditor = false;
    },
    async labelUtterance(entity) {
      const entity_id = entity.id;
      if (this.currentUtteranceEntityIndex === -1) {
        this.tempEntity.entity_id = entity_id;
        this.currentUtterance.entities.push(this.tempEntity);
      } else {
        this.currentUtterance.entities[this.currentUtteranceEntityIndex].entity_id = entity_id;
      }
      this.isLoading = true;
      try {
        await updateUtterance(this.currentUtterance);
        await this.createIntentEntityIfNotExist(this.currentUtterance.intent_ids, entity);
        await this.getUtterances();
      } catch (error) {
        console.log(error);
      }
      this.isLoading = false;
    },
    async createIntentEntityIfNotExist(intentIds, entity) {
      for (const intentId of intentIds) {
        const targetIntent = this.intentList.find(i => i.id === intentId);
        if (!targetIntent) return;
        if (targetIntent.entities.includes(entity.id)) return;

        targetIntent.entities.push(entity.id);
        await updateIntent(targetIntent);
      }
    },
    getEntityNameById(entityId) {
      return (this.currentEntities.find(e => e.id === entityId) || {}).name;
    },
    async updateEntity(entity) {
      try {
        await updateEntity(entity);
        this.$root.m_success(this.$tp("warn.saveChange"));
        this.$store.dispatch("updateEntities");
      } catch (error) {
        console.log(ex);
      }
    },
    showEntryCount(entityId) {
      const entity = this.currentEntities.find(e => e.id === entityId);
      return entity ? entity.entries.length : 0;
    },
    selectUtteranceText(utterance) {
      this.currentUtteranceEntityIndex = -1;
      setTimeout(() => {
        const { anchorOffset, focusOffset } = window.getSelection();
        if (
          anchorOffset === focusOffset ||
          anchorOffset > utterance.text.length ||
          !window
            .getSelection()
            .toString()
            .trim()
        ) {
          return false;
        }
        this.tempEntity = {
          entity_id: "",
          text: window.getSelection().toString(),
          start_position: anchorOffset < focusOffset ? anchorOffset : focusOffset,
          len: window.getSelection().toString().length
        };
        this.currentUtterance = utterance;
        this.ShowEntitySelectorWindow();
      }, 0);
    },
    editUtteranceEntity(utterance, entityIndex) {
      this.currentUtteranceEntityIndex = entityIndex;
      this.currentUtterance = utterance;
      this.tempEntity.text = utterance.entities[entityIndex].text;
      this.ShowEntitySelectorWindow();
      this.$nextTick(() => {
        this.$refs.entitySelector.selectedEntity = this.currentEntities.find(
          e => e.id === utterance.entities[entityIndex].entity_id
        );
      });
    },
    ShowEntitySelectorWindow() {
      this.isShowEntitySelector = true;
    },
    closeEntitySelector() {
      this.isShowEntitySelector = false;
    },
    async deleteUtteranceEntity(utterance) {
      this.isLoading = true;
      try {
        await updateUtterance(utterance);
        this.getUtterances();
      } catch (error) {
        console.log(error);
      }
      this.isLoading = false;
    },
    clickIntentEditButton() {
      this.tmpIntentNameInUtterance = this.currentIntent.name;
      this.isShowIntentEditCell = true;
    },

    importIntents(file) {
      let reader = new FileReader();
      reader.onload = async e => {
        try {
          await importIntents(this.currentBot.id, e.target.result);
          this.$root.m_success(this.$tp("label.import") + this.$tp("warn.success"));
          await this.getIntentData();
        } catch (error) {
          console.log(error);
          this.$root.m_error(
            this.$tp("label.import") + this.$tp("warn.failed"),
            ((error.response || {}).data || {}).error_code
          );
        }
      };
      reader.readAsText(file.raw);
      this.isShowImportIntentsWindow = false;
    },
    importUtterances(file) {
      let reader = new FileReader();
      reader.onload = async e => {
        try {
          let data = this.convertUtternaceTxtToJson(this.currentIntent.id, e.target.result);
          await importUtterances(this.currentBot.id, data);
          this.$root.m_success(this.$tp("label.import") + this.$tp("warn.success"));
          await this.getUtterances();
        } catch (error) {
          console.log(error);
          this.$root.m_error(
            this.$tp("label.import") + this.$tp("warn.failed"),
            ((error.response || {}).data || {}).error_code
          );
        }
      };
      reader.readAsText(file.raw);
      this.isShowImportUtterancesWindow = false;
    },
    convertUtternaceTxtToJson(intentId, txt) {
      return {
        intent_id: intentId,
        utterances: txt.split("\n")
      };
    }
  },
  watch: {
    async $route(to, from) {
      if (to.name == "bot_intent") {
        await this.getIntentData();
      }
    }
  }
};
</script>

<style lang="less">
@import "../../assets/css/fn.less";
.app-container.intent_page {
  .entities_frame {
    border: 1px solid #dddddd;
    border-radius: 10px;
    max-height: 100px;
    margin: 10px 0;
    .title {
      padding: 10px 10px 0;
      margin-bottom: 10px;
      .text {
        color: #4e4e4e;
        font-size: 14px;
      }
    }
    hr {
      border: 0;
      background-color: #dddddd;
      height: 1px;
    }
    .entities_ctn {
      padding: 0 10px;
      height: 100%;
      overflow-y: auto;
      align-items: flex-start;
      .entity_box {
        color: #4e4e4e;
        border-radius: 10px;
        padding: 5px 10px;
        .bc(@f);
        border: 1px solid #dddddd;
        margin-bottom: 5px;
        .cp();
        &:not(:last-child) {
          margin-right: 10px;
        }
        .count {
          color: #ff8560;
        }
      }
      .entity_x {
        .WH(20px);
        .bc(#e2e2e2);
        border-radius: 50%;
        position: relative;
        transform: rotate(45deg);
        margin-left: 10px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          color: #707070;
        }
        &::before {
          border: 1px solid;
          top: 50%;
          left: 15%;
          width: 70%;
          transform: translateY(-50%);
        }
        &::after {
          border: 1px solid;
          top: 15%;
          left: 50%;
          height: 70%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .breadtext {
    margin-left: 20px;
    color: #0fa8a8;
  }
  .intent-collapse-icon {
    margin-left: 20px;
    width: 6px;
  }
  ::placeholder {
    color: #c6c6c6;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }
  .intent-title {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .intent-page {
    overflow-y: auto;
  }
  .selected {
    display: flex;
  }

  .one-border-table {
    margin-top: 10px;
    .labeling-wrapper {
      padding: 10px 0;
      overflow: visible !important;
    }
    .test-button {
      cursor: pointer;
      padding: 5px;
      color: white;
      background-color: #ff8560;
      border: none;
      border-radius: 10px;
      font-size: 10px;
    }
  }

  .slide-in-enter-active {
    transition: all 0.3s ease;
  }
  .slide-in-leave-active {
    transition: all 0.3s;
  }
  .slide-in-enter,
  .slide-in-leave-to {
    transform: translateX(500px);
  }
}
</style>
