<template>
  <div class="app-container fx fdc">
    <div class="page_ctn _fill">
      <div v-show="tab === 'main'" class="card_ctn clear">
        <div class="card_box" v-for="item in integrations_client">
          <el-card :body-style="{ padding: '30px 0px 0px', borderRadius: '30px' }">
            <div class="card_item">
              <img :src="`/img/${item.passage}.png`" class="image" />
              <div>
                <p class="ttl">{{ normailizedPassageName(item.passage) }}</p>
                <div class="bottom">
                  <el-switch
                    v-model="item.is_enable"
                    :disabled="!integrations[item.i].isActivable"
                    @change="sp_integrations('update', item.i)"
                  ></el-switch>
                </div>
              </div>
            </div>
            <el-collapse v-model="collapseActives[item.i]">
              <el-collapse-item name="1">
                <div style="padding: 5px 15px">
                  <hr />
                  <template v-if="item.passage === 'web'">
                    <template v-if="integrations[item.i].isActivable">
                      <div class="webhook aic blue" :id="item.passage" @click="copyText(item.url)">
                        <img src="@img/reed-needle_blue.svg" />
                        <span class="url">{{ item.url }}</span>
                        <span class="detail">
                          <img src="@img/check_information.svg" />
                        </span>
                      </div>
                    </template>
                    <p class="activeWarn" v-if="!integrations[item.i].isActivable">
                      {{
                        $tp("warn.completeAllInputToActivate", {
                          name: toCamelCase(item.passage)
                        })
                      }}
                    </p>
                    <button class="btn-main" @click="showNewWebCredentialWindow(item.i)">
                      {{ $tp("label.newIntegrationSecret") }}
                    </button>
                    <template v-if="item.credential.credentials">
                      <div
                        class="sub-credential-block"
                        v-for="(subCredential, subCredentialIndex) in item.credential.credentials"
                      >
                        <img
                          class="edit-button"
                          src="@img/delete_blue.svg"
                          @click="deleteSubCredential(item.i, subCredentialIndex)"
                        />
                        <img
                          class="edit-button"
                          v-show="!subCredentialEditables[subCredentialIndex]"
                          src="@img/edit_blue.svg"
                          @click="subCredentialEditables.splice(subCredentialIndex, 1, true)"
                        />
                        <img
                          class="edit-button"
                          v-show="subCredentialEditables[subCredentialIndex]"
                          src="@img/save_blue.svg"
                          @click="updateSubCredential(item.i, subCredentialIndex)"
                        />

                        <div class="sub-credential-row">
                          <div class="row-title">
                            <span class="flag"></span>
                            <span class="text">Integration Name</span>
                          </div>
                          <div class="row-value">
                            <div class="text">{{ subCredential.name }}</div>
                          </div>
                        </div>
                        <div class="hr"></div>
                        <div class="sub-credential-row">
                          <div class="row-title">
                            <span class="flag"></span>
                            <span class="text">Web callback URL</span>
                            <img
                              class="icon-button"
                              src="@img/yellow_exclamation_mark.svg"
                              @click="openCallbackAPIPage(subCredential)"
                            />
                          </div>
                          <div class="row-value">
                            <input
                              v-show="subCredentialEditables[subCredentialIndex]"
                              v-model="subCredential.callback_url"
                            />
                            <div v-show="!subCredentialEditables[subCredentialIndex]" class="text">
                              {{ subCredential.callback_url }}
                            </div>
                          </div>
                        </div>
                        <div class="hr"></div>
                        <div class="sub-credential-row">
                          <div class="row-title">
                            <span class="flag"></span>
                            <span class="text">Bot secret</span>
                            <img
                              class="icon-button"
                              src="@img/yellow_question_mark.svg"
                              @click="openWebHookAPIPage(subCredential)"
                            />
                          </div>
                          <div class="row-value">
                            <div class="text">
                              {{ subCredential.bot_secret }}
                            </div>
                          </div>
                        </div>
                        <div class="hr"></div>
                        <div class="sub-credential-row">
                          <div class="row-title">
                            <span class="flag"></span>
                            <span class="text">Callback secret</span>
                          </div>
                          <div class="row-value">
                            <input
                              v-show="subCredentialEditables[subCredentialIndex]"
                              v-model="subCredential.callback_secret"
                            />
                            <div v-show="!subCredentialEditables[subCredentialIndex]" class="text">
                              {{ subCredential.callback_secret }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </template>
                  <template v-else-if="item.passage === 'messenger'">
                    <v-facebook-login
                      :app-id="FBAppId"
                      @login="saveFBUserInform($event, item.i)"
                      :login-options="{
                        scope: 'pages_messaging,pages_manage_metadata'
                      }"
                    ></v-facebook-login>
                    <div
                      class="page-name"
                      v-for="page in (item.credential || {}).page_informations || {}"
                    >
                      <img src="@img/more_api.svg" alt="" />
                      {{ page.name }}
                    </div>
                  </template>
                  <template v-else>
                    <div class="webhook-title">Webhook URL</div>
                    <div class="webhook aic" :id="item.passage" @click="copyText(item.url)">
                      <img src="@img/reed-needle_gray.svg" />
                      <span class="url">{{ item.url }}</span>
                      <span class="detail">
                        <img src="@img/check_information.svg" />
                      </span>
                    </div>
                    <p class="activeWarn" v-if="!integrations[item.i].isActivable">
                      {{
                        $tp("warn.completeAllInputToActivate", {
                          name: toCamelCase(item.passage)
                        })
                      }}
                    </p>
                    <template v-for="credential in item.credentialList">
                      <div class="ttl2">
                        <span>{{ toCamelCase(credential) }}</span>
                        <span class="optional-label" v-show="isOptional(item.passage, credential)">
                          (Optional)</span
                        >
                      </div>
                      <input
                        class="credential-input"
                        v-model="item.credential[credential]"
                        @blur="item.credential[credential] = item.credential[credential].trim()"
                      />
                    </template>
                    <button class="btn-main" @click="sp_integrations('update', item.i)">
                      {{ $tp("label.save") }}
                    </button>
                  </template>
                </div>
              </el-collapse-item>
            </el-collapse>
          </el-card>
        </div>
      </div>
      <div v-show="tab === 'callbackAPIDoc'" class="api-doc">
        <div class="title vtc">
          <img class="icon" src="@img/bot_black.svg" />
          <span class="text">{{ $tp("title.callbackAPIImplementation") }}</span>
        </div>
        <div class="hr"></div>
        <div class="page">
          <h1>URL:</h1>
          <div class="cell black">
            <span class="text">{{ currentSubCredential.callback_url }}</span>
            <span class="button vtc" @click="copyText(currentSubCredential.callback_url)">
              <img class="icon" src="@img/copy.svg" />
              {{ $tp("label.copy") }}
            </span>
          </div>
          <h1>Secret:</h1>
          <div class="cell pink">
            <span class="text">{{ currentSubCredential.callback_secret }}</span>
            <span class="button vtc" @click="copyText(currentSubCredential.callback_secret)">
              <img class="icon" src="@img/copy.svg" />
              {{ $tp("label.copy") }}
            </span>
          </div>
          <h1>Query String Parameters:</h1>
          <div class="cell pink">
            <span class="text">signature=xxx&amp;timestamp=xxx&nonce=xxx</span>
          </div>
          <h1>Http Method:</h1>
          <div class="chapter-block">
            <h2 class="pink">
              <strong>POST</strong>
            </h2>
          </div>
          <h1>Request Payload：</h1>
          <div class="chapter-block">
            <vue-json-pretty
              :path="'res'"
              :data="{
                bot_id: 'G7BKyGMjgZRlUR3SLjVwmyKAo9ZSrxqON3Lb9SlMY4M',
                session_id: 'XXXXXXXXX',
                messages: ['您好，我是华华']
              }"
            ></vue-json-pretty>
            <h2>Request Payload {{ $tp("label.columnDescription") }}：</h2>
            <div class="description">
              <ol>
                <li>
                  <strong>bot_id</strong>
                  : {{ $tp("description.botId") }}
                </li>
                <li>
                  <strong>session_id</strong>
                  : {{ $tp("description.sessionId") }}
                </li>
                <li>
                  <strong>messages</strong>
                  : {{ $tp("description.messages") }}
                </li>
              </ol>
            </div>
          </div>
          <h1>Response Body：</h1>
          <div class="chapter-block">
            <vue-json-pretty
              :path="'res'"
              :data="{ status: 'success', message: '' }"
            ></vue-json-pretty>
            <h2>Response Body {{ $tp("label.columnDescription") }}：</h2>
            <div class="description">
              <ol>
                <li>
                  <strong>status:</strong>
                  <ol type="a">
                    <li>
                      success:
                      {{ $tp("description.responseBodyStatusSuccess") }}
                    </li>
                    <li>fail: {{ $tp("description.responseBodyStatusFailed") }}</li>
                  </ol>
                </li>
                <li>
                  <strong>status:</strong>
                  <ol type="a">
                    <li>{{ $tp("description.responseBodyMessageSuccess") }}</li>
                    <li>{{ $tp("description.responseBodyMessageFailed") }}</li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <button class="btn-main" @click="backToMain">
          {{ $tp("label.backToLastPage") }}
        </button>
      </div>
      <div v-show="tab === 'webhookAPIDoc'" class="api-doc">
        <div class="title vtc">
          <img class="icon" src="@img/bot_black.svg" />
          <span class="text">{{ $tp("title.webhookAPIImplementation") }}</span>
        </div>
        <div class="hr"></div>
        <div class="page">
          <h1>URL:</h1>
          <div class="cell black">
            <span class="text">{{ getGatewaySendMessageURL("web") }}</span>
            <span class="button vtc" @click="copyText(currentSubCredential.callback_url)">
              <img class="icon" src="@img/copy.svg" />
              {{ $tp("label.copy") }}
            </span>
          </div>
          <h1>Secret:</h1>
          <div class="cell pink">
            <span class="text">{{ currentSubCredential.bot_secret }}</span>
            <span class="button vtc" @click="copyText(currentSubCredential.bot_secret)">
              <img class="icon" src="@img/copy.svg" />
              {{ $tp("label.copy") }}
            </span>
          </div>
          <h1>Query String Parameters:</h1>
          <div class="cell pink">
            <span class="text">signature=xxx&amp;timestamp=xxx&nonce=xxx</span>
          </div>
          <h1>Http Method:</h1>
          <div class="chapter-block">
            <h2 class="pink">
              <strong>POST</strong>
            </h2>
          </div>
          <h1>Request Payload(Text)：</h1>
          <div class="chapter-block">
            <vue-json-pretty
              :path="'res'"
              :data="{ session_id: 'XXX', message: 'hi' }"
            ></vue-json-pretty>
            <h2>Request Payload {{ $tp("label.columnDescription") }}：</h2>
            <div class="description">
              <ol>
                <li>
                  <strong>bot_id</strong>
                  : {{ $tp("description.botId") }}
                </li>
                <li>
                  <strong>session_id</strong>
                  : {{ $tp("description.sessionId") }}
                </li>
                <li>
                  <strong>messages</strong>
                  : {{ $tp("description.messages") }}
                </li>
              </ol>
            </div>
          </div>
          <h1>Request Payload(Image)：</h1>
          <div class="chapter-block">
            <vue-json-pretty
              :path="'res'"
              :data="{ status: 'success', message: '' }"
            ></vue-json-pretty>
            <h2>
              {{ $tp("description.msgFormatMustBe") }}：
              <span class="pink">[send_image](jepg|png|jpg)(base64 data)</span>
            </h2>
            <h2>{{ $tp("label.example") }}：</h2>
            <h2>
              <span class="pink">[send_image](jepg|png|jpg)(base64 data)</span>
              [send_image](png)(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAaCAYAAADWm14/
              AAABQWlDQ1BJQ0MgUHJvZmlsZQAAKJFjYGASSSwoyGFhYGDIzSspCnJ3UoiIjFJgf8LAyMDGwAckNROTi
              wscAwJ8gEoYYDQq+HYNqA4ILuuCzHpzl/+pdM6n7pdRssU7jF9iKkcFXCmpxclA+g8QpyYXFJUwMDCmANn
              K5SUFIHYHkC1SBHQUkD0HxE6HsDeA2EkQ9hGwmpAgZyD7BpAtkJyRCDSD8QWQrZOEJJ6OxIbaCwLcPu
              4KbqE+PgoeLoScSzooSa0oAdHO+QWVRZnpGSUKjsBQSlXwzEvW01EwMjAyYGAAhTlE9ecb4LBkFONAiBU
              C/WjlycDAlIsQSwhgYNjxAeRVhJiqDgMDz3EGhgOxBYlFiXAHMH5jKU4zNoKwubczMLBO+///czgDA7smA8Pf6
              ////97+///fZQwMzLeAer8BAId+X4N5enqaAAAAVmVYSWZNTQAqAAAACAABh2kABAAAAAEAAAAaAAAAAAAD
              koYABwAAABIAAABEoAIABAAAAAEAAAAgoAMABAAAAAEAAAAaAAAAAEFTQ0lJAAAAU2NyZWVuc2hvdAooD
              PMAAAHUaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zO
              m1ldGEvIiB4OnhtcHRrPSJYTVAgQ29yZSA1LjQuMCI+CiAgIDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d
              3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRm
              OmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIj4KI
              CAgICAgICAgPGV4aWY6UGl4ZWxYRGltZW5zaW9uPjMyPC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgIC
              AgPGV4aWY6VXNlckNvbW1lbnQ+U2NyZWVuc2hvdDwvZXhpZjpVc2VyQ29tbWVudD4KICAgICAgICAgPGV4a
              WY6UGl4ZWxZRGltZW5zaW9uPjI2PC9leGlmOlBpeGVsWURpbWVuc2lvbj4KICAgICAgPC9yZGY6RGVzY3JpcH
              Rpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+Ct3BbZgAAAAvSURBVEgN7dBBDQAACAMxwL9nIJjg0
              xm4pdm7eFw9ti/tAAECBAgQIECAAAECBAaOewQwTgPptwAAAABJRU5ErkJggg==)
            </h2>
          </div>
          <h1>Response Body：</h1>
          <div class="chapter-block">
            <code></code>
            <h2>Response Body {{ $tp("label.columnDescription") }}：</h2>
            <div class="description">
              <ol>
                <li>
                  <strong>status:</strong>
                  <ol type="a">
                    <li>
                      success:
                      {{ $tp("description.responseBodyStatusSuccess") }}
                    </li>
                    <li>fail: {{ $tp("description.responseBodyStatusFailed") }}</li>
                  </ol>
                </li>
                <li>
                  <strong>status:</strong>
                  <ol type="a">
                    <li>{{ $tp("description.responseBodyMessageSuccess") }}</li>
                    <li>{{ $tp("description.responseBodyMessageFailed") }}</li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <button class="btn-main" @click="backToMain">
          {{ $tp("label.backToLastPage") }}
        </button>
      </div>
    </div>
    <Shield
      :title="$tp('please.enterWebIntegrationData')"
      :submit="newWebCredential"
      :close="() => (showNewWebCredentialWindows = false)"
      :as="'pop'"
      :ttlIcon="'/img/group-19.png'"
      :ctnClass="'w_500'"
      v-show="showNewWebCredentialWindows"
    >
      <template slot="body">
        <div class="form1 new-web-credential">
          <div class="title">{{ $tp("label.inputIntegrationName") }}</div>
          <input
            class="input_text1 w100"
            v-model="newWebIntegrationName"
            type="text"
            :placeholder="$tp('label.name')"
          />
          <div class="title">{{ $tp("label.inputWebCallbackURL") }}</div>
          <input
            class="input_text1 w100"
            v-model="newWebCallbackURL"
            type="text"
            placeholder="URL"
          />
        </div>
      </template>
    </Shield>
    <router-view />
  </div>
</template>

<script>
import { getIntegrations, createIntegration, updateIntegration } from "@/api/Integration";
import { getAccount } from "@/api/Facebook";
import { exchangeLongLivedAccessToken } from "@/api/ChatbotFacebook";
import { getConfig } from "@/settings";
import { deepClone } from "@u/methodsHelper";
import { v4 as uuidv4 } from "uuid";
import VueJsonPretty from "vue-json-pretty";
import Shield from "@c/shield";
//mixins
import App from "@mix/App";
import currentBot from "@mix/bot/currentBot";
import integratiomTemplate from "./integrationTemplate";
import VFacebookLogin from "vue-facebook-login-component";

const OPTIONAL_FIELD_MAPPING = {
  line: ["channel_id", "channel_secret"]
};

export default {
  components: {
    VueJsonPretty,
    Shield,
    VFacebookLogin
  },
  mixins: [App, currentBot],
  data() {
    return {
      FBAppId: "589007251753828",
      gatewayDomain: getConfig().gateway,
      integrations: [],
      integrations_client: [],
      collapseActives: [],
      newWebIntegrationName: "",
      newWebCallbackURL: "",
      subCredentialEditables: [],
      tab: "main",
      currentSubCredential: {},
      showNewWebCredentialWindows: false,
      webCredentialIndex: 0
    };
  },
  computed: {
    gatewaySendMessageURL() {
      return;
    }
  },
  methods: {
    async init() {
      await this.getData();
      await this.craeteIntegrationsIfNoExist();
    },
    async getData() {
      try {
        const result = await getIntegrations(this.currentBot.id);
        if (result.integrations.length) {
          this.integrations = result.integrations
            .filter(integration => integration.passage !== "demo")
            .map((integration, index) => {
              integration.i = index;
              integration.url = this.getGatewaySendMessageURL(integration.passage);
              integration.credentialList = Object.keys(integration.credential);
              integration.isActivable = this.checkIsActivable(integration);
              return integration;
            });
          this.collapseActives = new Array(this.integrations.length)
            .fill(null)
            .map(() => new Array());
          this.integrations_client = deepClone(this.integrations);
        }
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
    },
    isOptional(passage, fieldName) {
      const optionalFields = OPTIONAL_FIELD_MAPPING[passage];
      if (optionalFields) {
        return optionalFields.includes(fieldName);
      }
      return false;
    },
    async craeteIntegrationsIfNoExist() {
      let promises = [];
      for (const [passage, initData] of Object.entries(integratiomTemplate)) {
        if (!this.integrations.find(i => i.passage === passage)) {
          initData.bot_id = this.currentBot.id;
          promises.push(createIntegration(initData));
        }
      }
      if (promises.length > 0) {
        await Promise.all(promises);
        await this.getData();
      }
    },
    getGatewaySendMessageURL(passage) {
      return `${getConfig("fut").hostHttpProtocol}://${
        this.gatewayDomain
      }/messenger/hook/${passage}?token=${this.currentBot.id}`;
    },
    sp_integrations(type, index) {
      if (type === "update") {
        if (
          !this.checkRequiredFieldsNotEmpty(
            this.integrations_client[index].passage,
            this.integrations_client[index].credential
          )
        ) {
          //check client
          this.integrations_client[index].is_enable = this.integrations[index].is_enable;
          this.$root.m_error(this.$tp("please.completeAllInput"));
          return false;
        }
        this.updateIntegration(index);
      }
    },
    checkRequiredFieldsNotEmpty(passage, credentialObj) {
      for (const [credential, value] of Object.entries(credentialObj)) {
        if (value === "" && !this.isOptional(passage, credential)) {
          return false;
        }
      }
      return true;
    },
    updateIntegration(integrationClientIndex) {
      updateIntegration(this.integrations_client[integrationClientIndex])
        .then(res => {
          this.integrations.splice(
            integrationClientIndex,
            1,
            deepClone(this.integrations_client[integrationClientIndex])
          );

          this.integrations[integrationClientIndex].isActivable = this.checkIsActivable(
            this.integrations[integrationClientIndex]
          );
          this.$root.m_success(this.$tp("warn.saveChange"));
        })
        .catch(ex => {
          console.log(ex);
          this.$root.m_error(ex, (ex.response.data || {}).error_code);
          this.getData();
        });
    },
    checkIsActivable(integration) {
      const passage = integration.passage;
      for (let [filed, value] of Object.entries(integration.credential)) {
        if (!this.isOptional(passage, filed) && (!value || value === "")) {
          return false;
        }
      }
      return true;
    },
    copyText(text) {
      this.$copyText(text).then(
        success => {
          this.$root.m_success(this.$tp(["label.copy", "warn.success"]));
        },
        error => {
          this.$root.m_success(this.$tp(["label.copy", "warn.failed"]));
        }
      );
    },
    toCamelCase(val) {
      return val.replace(/\_/g, " ").replace(/(?=\b)[a-z]/g, x => x.toUpperCase());
    },
    showNewWebCredentialWindow(index) {
      this.newWebIntegrationName = "";
      this.newWebCallbackURL = "";
      this.webCredentialIndex = index;
      this.showNewWebCredentialWindows = true;
    },
    newWebCredential() {
      if (this.newWebIntegrationName == "" || this.newWebCallbackURL == "") {
        this.$root.m_error(this.$tp("please.completeAllInput"));
        return;
      }
      let targetCredential = this.integrations_client[this.webCredentialIndex].credential;
      if (!targetCredential.credentials) {
        targetCredential.credentials = [];
      }
      if (targetCredential.credentials.find(c => c.name == this.newWebIntegrationName)) {
        this.$root.m_error(this.$tp("warn.integrationNameDuplicate"));
        return;
      }
      targetCredential.credentials.unshift({
        name: this.newWebIntegrationName,
        callback_url: this.newWebCallbackURL,
        bot_secret: uuidv4().replace(/-/g, ""),
        callback_secret: uuidv4().replace(/-/g, "")
      });
      // for lengency code
      targetCredential.callback_url = targetCredential.credentials[0].callback_url;

      this.updateIntegration(this.webCredentialIndex);
      this.showNewWebCredentialWindows = false;
    },
    updateSubCredential(index, subCredentialIndex) {
      if (
        this.integrations_client[index].credential.credentials &&
        this.integrations_client[index].credential.credentials[subCredentialIndex].callback_url ===
          ""
      ) {
        this.$root.m_error(this.$tp("please.completeAllInput"));
        return;
      }
      this.updateIntegration(index);
      this.subCredentialEditables.splice(subCredentialIndex, 1, false);
    },
    deleteSubCredential(index, subCredentialIndex) {
      this.$confirm(this.$tp("warn.confirmDelete"), this.$tp("warn.confirm"), {
        confirmButtonText: this.$tp("label.ok"),
        cancelButtonText: this.$tp("label.cancel"),
        type: "warning"
      })
        .then(() => {
          this.integrations_client[index].credential.credentials.splice(subCredentialIndex, 1);
          this.updateIntegration(index);
        })
        .catch(ex => {
          console.log(ex);
        });
    },
    openCallbackAPIPage(subCredential) {
      this.currentSubCredential = subCredential;
      this.tab = "callbackAPIDoc";
    },
    openWebHookAPIPage(subCredential) {
      this.currentSubCredential = subCredential;
      this.tab = "webhookAPIDoc";
    },
    backToMain() {
      this.tab = "main";
    },
    async saveFBUserInform(response, integrationClientIndex) {
      if (response && response.status === "connected") {
        let fbCredential, accountResult;
        try {
          fbCredential = response.authResponse;
          accountResult = await getAccount(fbCredential.accessToken);
        } catch (error) {
          console.log(error);
          this.$root.m_error(this.$tp("warn.getAccountInfoFailed"));
          return;
        }
        let pageInforms = accountResult.data.data;
        if (!pageInforms || pageInforms.length === 0) {
          this.$root.m_error(this.$tp("warn.selectAtLeastOnePage"));
          return;
        }
        fbCredential.page_informations = pageInforms;
        fbCredential = await this.exchangeLongLivedAccessToken(fbCredential);
        if (!fbCredential) return;
        this.integrations_client[integrationClientIndex].credential = fbCredential;
        this.updateIntegration(integrationClientIndex);
      }
    },
    async exchangeLongLivedAccessToken(fbCredential) {
      const userAccessToken = fbCredential.accessToken;
      const pageIds = fbCredential.page_informations.map(item => item.id);
      let result;
      try {
        result = await exchangeLongLivedAccessToken(userAccessToken, pageIds);
      } catch (error) {
        this.$root.m_error(this.$tp("warn.getLongLivedAccessTokensFailed"));
        return;
      }
      fbCredential.accessToken = result.long_lived_user_access_token;
      let pageId;
      for (let pageInformation of fbCredential.page_informations) {
        pageId = pageInformation.id;
        pageInformation.access_token = result.long_lived_page_access_token_mapping[pageId];
      }
      return fbCredential;
    },
    normailizedPassageName(passageName) {
      let passageNameLower = passageName.toLowerCase();
      if (passageNameLower === "messenger") {
        return "FB Messenger";
      }
      return passageName;
    }
  }
};
</script>
<style lang="less">
.card_ctn {
  .el-collapse {
    border: none;
  }
  .el-collapse-item__header {
    border: none;
    height: 30px;
    padding-left: 0;
    &:not(.is-active) {
      .el-collapse-item__arrow {
        transform: rotate(-90deg);
      }
    }
    .el-collapse-item__arrow {
      margin: auto;
    }
  }
  .el-collapse-item__wrap {
    border: none;
  }
  .ttl2 {
    font-size: 15px;
    margin: 15px 0 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  .credential-input {
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
  }

  .el-collapse-item__content {
    line-height: 1;
    padding-bottom: 0px;
  }
  .webhook-title {
    font-size: 15px;
  }
  .webhook {
    cursor: pointer;
    background-color: #e2e2e2;
    color: #5d5d5d;
    word-break: break-all;
    display: flex;
    border-radius: 30px;
    margin-top: 10px;
    img {
      width: 25px;
      margin: 10px;
      padding: 10px 0;
    }
    .url {
      padding: 5px;
      max-height: 60px;
      overflow: hidden;
    }
    .detail {
      border-radius: 0 30px 30px 0;
      background-color: #5d5d5d;
      flex-shrink: 0;
    }
    &.blue {
      background-color: #d0effa;
      color: #0d8dbc;
      .detail {
        background-color: #0d8dbc;
      }
    }
  }
  .optional-label {
    font-size: 13px;
    margin-left: 5px;
  }
  p.activeWarn {
    margin-top: 20px;
    color: #888888;
  }
  .readonly-info {
    word-wrap: break-word;
  }
  .sub-credential-block {
    background-color: #def4fb;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    .edit-button {
      float: right;
      width: 20px;
      margin-left: 5px;
      cursor: pointer;
    }
    .sub-credential-row {
      clear: right;
      padding: 10px 0px;
      .row-title {
        .flag {
          background-color: #0d8dbc;
          width: 3px;
          height: 12px;
          margin-right: 3px;
        }
        .text {
          color: #0d8dbc;
          font-weight: bold;
        }
        .icon-button {
          margin-left: 3px;
          cursor: pointer;
          width: 14px;
        }
      }
      .row-value {
        margin-top: 5px;
        padding-left: 3px;
        color: #5d5d5d;
        .text {
          word-wrap: break-word;
        }
        input {
          border: none;
          border-radius: 10px;
          padding: 5px 5px;
          width: 100%;
        }
      }
    }
    .hr {
      background-color: #0d8dbc;
      width: 100%;
      height: 1px;
    }
  }
  .page-name {
    display: flex;
    align-items: center;
    img {
      width: 15px;
      margin: 0 5px 5px 25px;
    }
  }
  hr {
    height: 1px;
    border: 1px solid #ffffff;
    border-top: 1px solid #d0d0d0;
  }
  button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
  }
}
.card_box {
  width: 320px;
  float: left;
  margin: 10px;
}
.card_item {
  display: flex;
  align-items: center;
}
.el-card__body {
  .image {
    margin-left: 20px;
    width: 150px;
    height: auto;
  }
  .ttl {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}
.el-card {
  border-radius: 30px;
}
.el-collapse-item__arrow {
  font-weight: bolder;
  color: #a5a5a5;
  text-shadow: 0px 1px, 1px 0px, 1px 1px #a5a5a5;
}
.bottom {
  text-align: center;
  margin-bottom: 10px;
}
.api-doc {
  color: #555555;

  .btn-main {
    margin: auto;
    display: block;
  }
  .title {
    .icon {
      width: 30px;
    }
    .text {
      margin-left: 5px;
    }
  }
  .hr {
    width: 100%;
    height: 3px;
    background-color: #9f9f9f;
    margin-top: 10px;
  }
  .page {
    padding: 10px 40px;
    h1 {
      font-size: 20px;
    }
    .cell {
      border-radius: 10px;
      display: flex;
      .text {
        padding: 10px 0 10px 20px;
        flex-grow: 1;
      }
      .button {
        border-radius: 0px 15px 15px 0px;
        cursor: pointer;
        img {
          width: 18px;
          margin-right: 5px;
        }
        padding: 8px 15px;
      }
      &.black {
        background-color: #e2e2e2;
        color: #5a5a5a;
        .button {
          color: white;
          background-color: #454545;
        }
      }
      &.pink {
        background-color: #ffe5ee;
        color: #e26590;
        .button {
          color: white;
          background-color: #eb7ca2;
        }
      }
    }
    .chapter-block {
      padding: 0 20px;

      .pink {
        color: #e26590;
      }
      h2 {
        font-size: 16px;
      }
      ol {
        padding-left: 40px;
      }
    }
    .vjs-tree.is-root {
      background-color: #454545;
      color: white;
      padding: 20px;
      font-size: 16px;
    }
  }
}
.new-web-credential {
  .title {
    margin: 10px 0;
    &:first-child {
      margin-top: 30px;
    }
  }
}
</style>
