<template>
  <Shield
    ref="entityEditor"
    :as="'pop'"
    :showBy="isShowEntityEditor"
    :close="closeEntityEditor"
    :ctnClass="'maxW_1000 '"
    :showButtons="false"
  >
    <template slot="body">
      <entryPage
        :currentEntity="currentEntity"
        :useTabPageClass="false"
        :isShowGoBackButton="false"
      ></entryPage>
      <div class="button-row">
        <button class=" btn-main" @click="closeEntityEditor">{{ $tp("label.close") }}</button>
      </div>
    </template>
    >
  </Shield>
</template>

<script>
import Shield from "@c/shield";
import entryPage from "@c/entryPage.vue";

export default {
  props: {
    currentEntity: Object,
    isShowEntityEditor: Boolean,
    closeEntityEditor: Function
  },
  components: { Shield, entryPage }
};
</script>

<style lang="less" scoped>
.button-row {
  text-align: center;
}
</style>
