<template>
  <Shield
    :as="'pop'"
    :showBy="isShowNewIntent"
    :close="closeWindow"
    :title="$tp('label.newIntent')"
    :submit="finish"
    :ctnClass="'maxW_1000 '"
  >
    <template slot="body">
      <div class="new-intent-body">
        <h1>{{$tp('please.enterIntentName')}}</h1>
        <div class="cell">
          <input v-model="newIntentName" />
        </div>
      </div>
    </template>
  </Shield>
</template>

<script>
import Shield from "@c/shield";

export default {
  props: {
    isShowNewIntent: Boolean,
    closeWindow: Function,
    submit: Function
  },
  components: {
    Shield
  },
  mounted() {},
  data() {
    return {
      newIntentName: ""
    };
  },
  methods: {
    finish() {
      this.submit(this.newIntentName);
    }
  }
};
</script>

<style lang="less">
.new-intent-body {
  padding: 3px 20px 10px;
  color: #535353;
  font-size: 14px;

  h1 {
    font-size: 14px;
  }
  .cell {
    border-radius: 50px;
    border: solid 1px #707070;
    padding: 5px 15px;
    input {
      border: none;
      width: 100%;
      color: #535353;
    }
  }
}
</style>