<template>
  <div class="app-container fx fdc">
    <div class="tab-page _fill">
      <div class="tab-page-inner fx fdc">
        <template v-if="currentBot">
          <div class="meta-data">
            <div class="created-time">
              {{ $tp("label.careatedTime") }}:
              {{ timeStampToDateText(currentBot.created) }}
            </div>
            <br />
            <div class="name">{{ currentBot.name }}</div>
            <div class="description">{{ currentBot.description }}</div>
            <div class="owner">{{ $tp("label.owner") }}: {{ currentBot.owner }}</div>
          </div>
          <div class="button-row">
            <pageTopMainButton
              :label="$tp('label.newManager')"
              img="add"
              @click.native="openNewManagerDialog"
            ></pageTopMainButton>
            <pageTopMainButton
              :label="$tp('label.deleteManager')"
              :class="{ selected: isAnyChecked }"
              img="minus"
              @click.native="deleteManager"
            ></pageTopMainButton>
          </div>
          <div v-show="Object.keys(currentBot.accessors).length > 0" class="select-all">
            <el-checkbox v-model="isCheckAll" @change="switchCheckAll"></el-checkbox>
            <span class="text">{{ $tp("label.selectAll") }}</span>
          </div>
          <div class="one-border-table _fill">
            <div
              class="row"
              :class="{ checked: isChecked[userId] }"
              v-for="(auth, userId) in currentBot.accessors"
              :key="userId"
            >
              <el-checkbox v-model="isChecked[userId]" @change="refreshIsCheckAll"></el-checkbox>
              <span class="text">{{ userId }}</span>
              <span class="control-block">
                <span>{{ $tp("label.thisAccount") }}</span>
                <el-dropdown trigger="click" @click.native.stop.prevent>
                  <div class="clickable">
                    <span class="button-text">{{ authToText(auth) }}</span>
                    <span class="inverted-triangle"></span>
                  </div>
                  <el-dropdown-menu class="dlorgmode" slot="dropdown">
                    <el-dropdown-item @click.native="enableAuth(userId, 'view')">{{
                      $tp("label.viewable")
                    }}</el-dropdown-item>
                    <el-dropdown-item @click.native="enableAuth(userId, 'edit')">{{
                      $tp("label.editable")
                    }}</el-dropdown-item>
                    <el-dropdown-item @click.native="enableAuth(userId, 'changeOwner')">{{
                      $tp("label.manager")
                    }}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </span>
            </div>
          </div>
          <newManager
            v-if="isShowNewManagerDialog"
            :isShow="isShowNewManagerDialog"
            :closeWindow="closeNewManagerDialog"
            @finish="createManager"
          ></newManager>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { time2Text } from "@/utils/time";
import pageTopMainButton from "@ui/pageTopMainButton";
import { createBotAuth, removeBotAuth, updateBotAuth } from "@/api/BotAuth";
import newManager from "./newManager";
//mixins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  components: { pageTopMainButton, newManager },
  computed: {
    isAnyChecked() {
      for (const [_, isChecked] of Object.entries(this.isChecked)) {
        if (isChecked) {
          return true;
        }
      }

      return false;
    }
  },
  data() {
    return {
      isCheckAll: false,
      isChecked: {},
      isShowNewManagerDialog: false
    };
  },
  methods: {
    init() {
      this.initIsChecked();
    },
    timeStampToDateText: time2Text,
    authToText(auth) {
      let text = "";
      if (auth.changeOwner) text = this.$tp("label.manager");
      else if (auth.edit) text = this.$tp("label.editable");
      else if (auth.view) text = this.$tp("label.viewable");
      return text;
    },
    async enableAuth(userId, authItem) {
      const permission = {
        edit: authItem === "edit",
        view: true,
        changeOwner: authItem === "changeOwner"
      };
      try {
        await updateBotAuth(this.currentBot.id, userId, permission);
        this.$root.m_success(this.$tp("warn.editSuccess"));
        this.currentBot.accessors[userId] = permission;
      } catch (error) {
        console.log(error);

        this.$root.m_error(this.$tp("warn.editFail"));
      }
    },
    async deleteManager() {
      if (!this.isAnyChecked) {
        this.$root.m_error(this.$tp("warn.shouldChooseItemAtLeastOne"));
        return;
      }
      for (const [userId, isChecked] of Object.entries(this.isChecked)) {
        if (isChecked) {
          try {
            await removeBotAuth(this.currentBot.id, userId);
            this.$root.m_success(this.$tp("warn.deleteSuccess"));
            this.$delete(this.currentBot.accessors, userId);
            this.$delete(this.isChecked, userId);
          } catch (error) {
            console.log(error);

            this.$root.m_error(this.$tp("warn.deleteFail"));
          }
        }
      }

      this.isChecked = {};
    },
    closeNewManagerDialog() {
      this.isShowNewManagerDialog = false;
    },
    openNewManagerDialog() {
      this.isShowNewManagerDialog = true;
    },
    async createManager(userId) {
      if (this.currentBot.accessors[userId]) {
        this.$root.m_error(this.$tp("warn.accountAlreadyExist"));
        return;
      }
      const permission = {
        view: true,
        edit: false
      };
      try {
        await createBotAuth(this.currentBot.id, userId, permission);
        this.$root.m_success(this.$tp("warn.createSuccess"));
        this.$set(this.currentBot.accessors, userId, permission);
        this.$set(this.isChecked, userId, false);
        this.isCheckAll = false;
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.createFail"));
      }

      this.closeNewManagerDialog();
    },
    initIsChecked() {
      for (let userId in this.currentBot.accessors) {
        this.$set(this.isChecked, userId, false);
      }
    },
    switchCheckAll(value) {
      for (let id in this.isChecked) {
        this.isChecked[id] = value;
      }
    },
    refreshIsCheckAll(isChecked) {
      const checkedItemCount = Object.values(this.isChecked).filter(item => item).length;
      const accessorCount = Object.keys(this.currentBot.accessors).length;
      if (accessorCount > 0 && accessorCount === checkedItemCount) {
        this.isCheckAll = true;
      } else {
        this.isCheckAll = false;
      }
    }
  }
};
</script>

<style lang="less" scoped>
.meta-data {
  .created-time {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #ffe6de;
    color: #ff8560;
    font-size: 12px;
  }
  .name {
    margin-top: 5px;
    font-size: 18px;
    color: #555555;
  }
  .description {
    margin-top: 5px;
    font-size: 14px;
    color: #a3a3a3;
  }
  .owner {
    margin-top: 5px;
    font-size: 12px;
    color: #606060;
  }
}
.button-row {
  margin-top: 20px;
}
.select-all {
  margin: 20px 0 0 10px;
  .text {
    margin-left: 10px;
    font-size: 14px;
    color: #727272;
  }
}
.one-border-table {
  .row {
    padding: 15px !important;
    &.checked {
      background-color: #ffe6de;
    }
    .control-block {
      .el-dropdown {
        .button-text {
          color: #ff8560;
        }
        .inverted-triangle {
          margin-left: 10px;
        }
      }
    }
  }
}
</style>