<template>
  <Shield
    :as="'pop'"
    :showBy="isShow"
    :close="closeWindow"
    :submit="finish"
    :ctnClass="'maxW_1000 '"
  >
    <template slot="title">
      <div class="new-manager-title">
        <img src="@img/person.svg" />
        <span class="text">{{$tp('title.newManager')}}</span>
      </div>
    </template>
    <template slot="body">
      <div class="new-manager-body">
        <div class="cell">
          <img src="@img/search.svg" />
          <input
            v-model="newManagerId"
            @click="$refs.dropdown.show=true"
            @select="$refs.dropdown.show=true"
            :placeholder="$tp('please.enterUserId')"
          />
        </div>
        <dropdown ref="dropdown" v-show="filteredUsers.length > 0">
          <template slot="option">
            <div v-for="user, index in filteredUsers" @click="newManagerId = user.uid">{{user.uid}}</div>
          </template>
        </dropdown>
      </div>
    </template>
  </Shield>
</template>

<script>
import Shield from "@c/shield";
import { getUsers } from "@/api/User";
import dropdown from "@c/dropdown/dropdown";
import { mapGetters } from "vuex";

export default {
  props: {
    isShow: Boolean,
    closeWindow: Function
  },
  components: {
    Shield,
    dropdown
  },
  computed: {
    ...mapGetters(["user"]),
    filteredUsers() {
      return this.groupUsers.filter(user =>
        user.uid.includes(this.newManagerId)
      );
    }
  },
  async mounted() {
    this.groupUsers = (await getUsers()).users;
  },
  data() {
    return {
      newManagerId: "",
      groupUsers: [],
      isShowDropdown: false
    };
  },
  methods: {
    finish() {
      if (!this.isNewManagerIdInUsers()) {
        this.$root.m_error(this.$tp("warn.accountNotExist"));
        return;
      }
      if (this.newManagerId === this.user.uid) {
        this.$root.m_error(this.$tp("warn.cantAddSelf"));
        return;
      }
      this.$emit("finish", this.newManagerId);
    },
    isNewManagerIdInUsers() {
      return this.groupUsers.find(user => user.uid === this.newManagerId);
    }
  }
};
</script>

<style lang="less">
.new-manager-title {
  display: flex;
  align-items: center;
  img {
    width: 25px;
  }
  .text {
    margin-left: 10px;
  }
}
.new-manager-body {
  padding: 10px 20px;
  .cell {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 35px;
    padding: 10px;
    input {
      margin-left: 10px;
      border: none;
      color: #555555;
      width: 100%;
    }
    img {
      width: 20px;
      margin: 0 4px;
    }
  }
  .ddl_ctn {
    left: 0;
    width: 100%;
    .ddl_box {
      transform: none;
      max-height: 200px;
      overflow-y: auto;
    }
  }
}
</style>