@import "~@css/fn.less";

.api_frame {

  input[type="text"],
  textarea,
  .api_method {

    &:disabled,
    &.disabled {
      color: #545454;
      .bc(#eaeaea) !important;
      cursor: default;
    }
  }

  .shield_ttl {
    margin-bottom: 0 !important;
  }

  textarea {
    position: absolute;
    top     : 0;
    left    : 0;
    .WH(100%);
    .bc(@f);
    resize: none;
  }

  .api_ctn {
    font-size: 14px;

    input[type="text"],
    textarea {
      border: none;
      .bc(@f);
      border-radius: 5px;
      padding      : 5px 10px;

      &:focus {
        box-shadow: 0 0 0px 2px @org;
      }

      &._error {
        box-shadow: 0 0 0px 2px red;
      }
    }
  }

  .api_box {
    border-bottom: 1px solid #dddddd;

    &:not(.open) {
      cursor: pointer;
    }

    &.open {
      .bc(#f4f4f4);

      &:nth-child(n + 2) {
        margin-top: 20px;
      }
    }
  }

  .api_title {
    height  : 50px;
    padding : 0 20px;
    position: relative;

    &._create {
      color      : @org;
      font-size  : 14px;
      line-height: 1;
      cursor     : pointer;

      ._plus {
        .plus(10px, @f);
        .bc(@org);
        border-radius: 50%;
        margin       : 5px;
        box-shadow   : 0 0 0 5px @org;
        margin-right : 15px;
      }
    }

    &._list {
      .fill();

      &>div>img {
        cursor     : pointer;
        width      : 20px;
        margin-left: 10px;
      }

      input[type="text"] {
        background   : none !important;
        box-shadow   : none;
        border-bottom: 1px solid;
        border-radius: 0;
        margin-bottom: 10px;
      }
    }

    ._arrow {
      &.open {
        transform: rotate(180deg);
      }
    }

    ._label {
      height     : 100%;
      line-height: 50px;
    }
  }

  .api_path {
    padding: 0 20px 20px;
  }

  .api_method {
    border-radius: 5px;
    margin-right : 10px;
    .bc(@f);
    padding      : 5px 6px;
    position     : relative;
    padding-right: 20px;
    cursor       : pointer;
    font-size    : 14px;

    &::after {
      content     : "";
      width       : 0;
      height      : 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: @org transparent transparent transparent;
      position    : absolute;
      right       : 5px;
      top         : 50%;
      transform   : translateY(-50%);
    }

    &.disabled {
      &::after {
        opacity: 0;
      }
    }
  }

  .api_url {
    position  : relative;
    word-break: break-all;
    padding   : 5px 10px;
    min-height: 26px;
  }

  .api_context {
    padding-bottom: 10px;
  }

  .header_tabs {
    padding      : 0 20px 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;

    &>span {
      padding : 0 0 10px;
      position: relative;
      cursor  : pointer;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        &::after {
          content : "";
          position: absolute;
          left    : 0;
          right   : 0;
          bottom  : -1px;
          height  : 2px;
          .bc(@org);
        }
      }
    }
  }

  .api_form {
    padding: 0 20px;
  }

  .api_form_item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &>div {
      width: 100%;

      &:not(:last-child) {
        margin-right: 5px;
      }

      input[type="text"] {
        width: 100%;
      }
    }
  }

  .api_body {
    padding   : 5px 10px;
    position  : relative;
    margin    : 0 20px 20px;
    min-height: 90px;
  }

  .api_reference {
    padding   : 10px 20px;
    border-top: 1px solid #dddddd;

    ._nodata {
      padding-left: 15px;
    }
  }

  .api_reference_ttl {
    margin-bottom: 10px;
  }

  .reference_table {
    width    : auto;
    max-width: 100%;

    td {
      vertical-align: top;
    }

    ._label {
      height     : 28px;
      line-height: 27px;
    }

    ._skillName {
      margin-right: 20px;
      word-break  : keep-all;
    }

    ._stateName {
      .bc(@f);
      padding      : 0 6px;
      border-radius: 5px;
      border       : 1px solid #5a5a5a;
      margin-right : 5px;
      margin-bottom: 5px;
    }
  }

  .api_errorMessage {
    color    : red;
    font-size: 12px;
    position : absolute;

    &._name {
      bottom: 0;
      left  : 20px;
    }

    &._url {
      left: 0;
      top : ~"calc(100% + 2px)";
    }

    &._body {
      left  : 0;
      bottom: -22px;
    }
  }

  .api_button {
    padding: 0 20px 10px;

    .el-button--danger {
      float  : right;
      padding: 7px;
    }
  }
}

.dropdown {
  .select_ctn {
    &.active {
      .api_method {
        box-shadow: 0 0 0px 2px @org;
      }
    }
  }
}