<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Silkbot - 思華科技</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <noscript>
    <strong>We're sorry but silkbot doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <div id="loading_page">
    <div>
      <img src="/img/robotrun_loding.gif">
      <div>Loading...</div>
    </div>
  </div>
  <script src="/js/index.js"></script>
  <!-- built files will be auto injected -->
</body>

</html>