<template>
  <div class="has-logo">
    <div class="logo_box fx jcc">
      <span class="unfolded text">
        <span>Silk</span>
        <span class="white">bot</span>
      </span>
      <span class="folded text">S</span>
    </div>
    <el-scrollbar
      class="sidebar-menu"
      v-for="(tab, index) in routeTabs"
      :key="index"
      v-show="tab.tab === currentPageInfo.tab"
      wrap-class="scrollbar-wrapper"
    >
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :background-color="variables.menuBg"
        :text-color="variables.menuText"
        :unique-opened="false"
        :active-text-color="variables.menuActiveText"
        :collapse-transition="false"
        mode="vertical"
      >
        <sidebar-item
          v-for="route in tab.routes"
          :key="route.path"
          :item="route"
          :base-path="route.path"
        >
          <div
            v-show="route.name === 'notificationHistory' && unreadNotificationHistory.length > 0"
            slot="post-block"
            class="notification-type-wrapper"
          >
            <div class="notification-type" :class="{ horizental: $store.state.app.sidebar.opened }">
              {{
                unreadNotificationHistory.length > 999 ? "999+" : unreadNotificationHistory.length
              }}
            </div>
          </div>
        </sidebar-item>
      </el-menu>
    </el-scrollbar>
    <div class="toggle_ctn" :class="{ isOpen: sidebar.opened }">
      <div class="user-box fx jcc">
        <div class="user-profile vtc">
          <img :src="user.photo" />
          <span class="user-name">{{ user.name }}</span>
        </div>
        <div class="user-dropdown">
          <div class="item-buttons">
            <el-tooltip
              class="item"
              :content="$tp('label.account') + $tp('label.setting')"
              popper-class="sidebar-hover-block"
              placement="right"
              :disabled="sidebar.opened"
            >
              <div class="item-button vtc" @click="$store.commit('SET_INFO_SHOW', true)">
                <img src="@img/account.svg" />
                <span class="item-text">{{ $tp("label.account") + $tp("label.setting") }}</span>
              </div>
            </el-tooltip>
            <el-tooltip
              class="item"
              :content="$tp('label.account') + $tp('label.logout')"
              popper-class="sidebar-hover-block"
              placement="right"
              :disabled="sidebar.opened"
            >
              <div class="item-button vtc" @click="App.logout">
                <img src="@img/logout.svg" />
                <span class="item-text">{{ $tp("label.account") + $tp("label.logout") }}</span>
              </div>
            </el-tooltip>
          </div>

          <hr v-show="sidebar.opened" />
          <div v-show="sidebar.opened" class="version-information">
            <span class="item-text" :title="versionInfo">{{ versionInfo }}</span>
          </div>
        </div>
      </div>
      <div class="toggle_box" :class="{ isOpen: sidebar.opened }">
        <img v-show="sidebar.opened" src="@img/menuicon.svg" @click="toggleSideBar" />
        <img v-show="!sidebar.opened" src="@img/menuicon_right.svg" @click="toggleSideBar" />
      </div>
    </div>
  </div>
</template>

<script>
import App from "@mix/App";
import { mapState, mapGetters } from "vuex";
import SidebarItem from "./SidebarItem";
import variables from "@/styles/variables.scss";
import { getVersion } from "../../../../settings";

export default {
  mixins: [App],
  components: { SidebarItem },
  data() {
    return {
      hoverAtUserProfileDropdown: false,
      versionInfo: getVersion().replace(/\s(?=\d{4}\/\d{2}\/\d{2})/, "\r\n")
    };
  },
  computed: {
    ...mapState(["routeTabs", "unreadNotificationHistory"]),
    ...mapGetters(["currentPageInfo", "sidebar", "user"]),
    activeMenu() {
      const route = this.$route;
      const { meta, path } = route;
      // if set path, the sidebar will highlight the path you set
      if (meta.activeMenu) {
        return meta.activeMenu;
      }
      return path;
    },
    variables() {
      return variables;
    },
    isCollapse() {
      return !this.sidebar.opened;
    }
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch("app/toggleSideBar");
    }
  }
};
</script>
<style lang='less' scoped>
@import "~@css/layout.less";

.has-logo {
  .logo_box {
    min-height: 60px;
    .text {
      font-size: 40px;
      font-weight: bold;
      color: #ff8560;
      .white {
        color: white;
      }
    }
    .unfolded {
      padding: 10px 30px;
    }
    .folded {
      padding: 10px;

      display: none;
    }
  }
  .sidebar-menu {
    background-color: #4e4e4e;
    padding-top: 40px;
  }
  .user-box {
    width: 100%;
    border-radius: 0 15px 0 0;
    background-color: #333333;
    height: 60px;
    align-items: center;
    position: relative;
    &:not(:hover) {
      .user-dropdown {
        display: none;
      }
    }
    .user-profile {
      position: relative;

      // height: 45px;
      & > img {
        width: 40px;
        border-radius: 40px;
        margin-right: 10px;
      }
      .user-name {
        font-size: 16px;
        align-self: center;
        color: white;
      }
    }
    .user-dropdown {
      position: absolute;
      bottom: ~"calc(100%)";
      margin: auto;
      background: white;
      border-radius: 10px;
      width: 140px;
      left: 5px;
      right: 5px;
      .item-buttons {
        padding: 10px;
        .item-button {
          cursor: pointer;
          color: #4e4e4e;
          font-size: 15px;
          padding: 10px 10px 10px 10px;
          border-radius: 20px;
          margin-bottom: 5px;
          &:hover {
            background: #f0f0f0;
            color: #ff8560;
          }
          img {
            width: 20px;
            margin-right: 5px;
          }
          .img-white {
            background: white;
            height: 20px;
            width: 20px;
            padding: 0 5px;
            border-radius: 20px;
          }
          .item-text {
            margin: 0px 0px 0px, 10px;
          }
        }
      }

      .version-information {
        color: #4e4e4e;
        font-size: 15px;
        border-radius: 20px;
        padding: 5px 0;
        text-align: center;
        .item-text {
          width: 120px;
          font-size: 12px;
          white-space: pre-line;
        }
      }
    }
  }
}
#app .app-wrapper.hideSidebar {
  .logo_box {
    .unfolded {
      display: none;
    }
    .folded {
      display: block;
      font-size: 40px;
    }
  }
  .user-profile {
    & > span {
      font-size: 0;
    }
    & > img {
      margin: 0;
    }
  }
  .user-dropdown {
    padding: 0 !important;

    margin: auto;
    padding: 10px 8px;
    width: 36px;
    .item-buttons {
      padding: 10px 8px;

      .item-button {
        padding: 0px;
        background: transparent;
        img {
          width: 20px;
        }
      }
    }
    span {
      font-size: 0;
    }
    img {
      width: 100;
      margin: 0;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
.notification-type-wrapper {
  position: relative;
  .notification-type {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 12px;
    background-color: #ff5d5d;
    border-radius: 8px;
    color: white;
    &.horizental {
      top: -31px;
      left: 140px;
    }
  }
}
.toggle_ctn {
  flex-shrink: 0;
  &.isOpen {
    display: flex;
    align-items: center;
  }
  &:not(.isOpen) {
    .toggle_box {
      padding: 15px 0;
      margin: auto;
    }
    .item-buttons {
      .item-button:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
.toggle_box {
  text-align: center;
  &.isOpen {
    width: 60px;
  }
  &:not(.isOpen) {
    padding: 15px 0;
    margin: auto;
  }
  & > img {
    cursor: pointer;
  }
}
</style>
