<template>
  <div class="menu-wrapper">
    <template
      v-if="
        hasOneShowingChild &&
        (!onlyOneChild.children || onlyOneChild.noShowingChildren) &&
        !item.alwaysShow
      "
    >
      <app-link v-if="onlyOneChild.meta" :to="resolvePath(onlyOneChild.path)">
        <el-menu-item
          :index="resolvePath(onlyOneChild.path)"
          :class="{ 'submenu-title-noDropdown': !isNest, 'is-active': isActive }"
        >
          <template>
            <div class="sidebar-item-rec">
              <el-tooltip
                class="item"
                :content="$tp(onlyOneChild.meta.title)"
                popper-class="sidebar-hover-block"
                placement="right"
                :disabled="$store.state.app.sidebar.opened"
              >
                <svg-icon
                  v-if="onlyOneChild.meta.icon || (item.meta && item.meta.icon)"
                  :icon-class="onlyOneChild.meta.icon || (item.meta && item.meta.icon)"
                />
              </el-tooltip>
              <span class="sidebar-item-text" v-if="onlyOneChild.meta.title">{{
                $tp(onlyOneChild.meta.title)
              }}</span>
            </div>
            <slot name="post-block"></slot>
          </template>
        </el-menu-item>
      </app-link>
    </template>

    <el-submenu v-else ref="subMenu" :index="resolvePath(item.path)" popper-append-to-body>
      <template slot="title">
        <template v-if="item.meta">
          <svg-icon :icon-class="item.meta && item.meta.icon" />
          <span slot="title">{{ $tp(item.meta.title) }}</span>
        </template>
      </template>
      <sidebar-item
        v-for="child in item.children"
        :key="child.path"
        :is-nest="true"
        :item="child"
        :base-path="resolvePath(child.path)"
        class="nest-menu"
      />
    </el-submenu>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import path from "path";
import { isExternal } from "@/utils/validate";
import AppLink from "./Link";
import FixiOSBug from "./FixiOSBug";

export default {
  name: "SidebarItem",
  components: { AppLink },
  mixins: [FixiOSBug],
  props: {
    // route object
    item: {
      type: Object,
      required: true
    },
    isNest: {
      type: Boolean,
      default: false
    },
    basePath: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      onlyOneChild: null,
      hasOneShowingChild: false
    };
  },
  computed: {
    ...mapGetters(["user", "currentBot"]),
    isActive() {
      return this.resolveParent(this.$route.path) === this.resolveLastPath(this.item.path);
    }
  },
  methods: {
    initOnlyOneChild(parent) {
      let children = parent.children || [];
      if (parent.main) children = [];
      const showingChildren = children.filter(item => {
        if (item.hidden) {
          return false;
        } else {
          this.onlyOneChild = item;
          return true;
        }
      });
      if (showingChildren.length === 0) {
        this.hasOneShowingChild = true;
        this.onlyOneChild = { ...parent, path: "", noShowingChildren: true };
      } else if (showingChildren.length === 1) {
        this.hasOneShowingChild = true;
      }
    },
    //Siderbar的url
    resolvePath(routePath) {
      let result = "";
      if (isExternal(routePath)) {
        return routePath;
      }
      if (isExternal(this.basePath)) {
        return this.basePath;
      }
      result = path.resolve(this.basePath, routePath);
      if (this.currentBot) {
        result = result.replace(/\:bot_id/, this.currentBot.id);
      }
      return result;
    },
    resolveParent(path) {
      if (!path) return "";
      const pathArray = path.split("/");
      if (pathArray.length > 1) return pathArray[pathArray.length - 2];
      return "";
    },
    resolveLastPath(path) {
      if (!path) return "";
      const pathArray = path.split("/");
      if (pathArray.length > 0) return pathArray[pathArray.length - 1];
      return "";
    }
  },
  created() {
    this.initOnlyOneChild(this.item);
  }
};
</script>

<style lang="less">
.menu-wrapper {
  background-color: #4e4e4e;
  .el-menu-item {
    line-height: 1;
    padding-right: 0;
  }
  .sidebar-item-rec {
    padding: 8px 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.49);
      .sidebar-item-text {
        color: #ffffff;
      }
    }
  }
  .is-active {
    .sidebar-item-rec {
      background-color: #ffffff;
      &:hover {
        .sidebar-item-text {
          color: #4e4e4e;
        }
      }
    }
    .sidebar-item-text {
      color: #4e4e4e;
    }
  }

  .sidebar-item-text {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
}
.el-menu {
  &.el-menu--collapse {
    .el-menu-item {
      text-align: center;
      .sidebar-item-rec {
        display: inline-block;
        border-radius: 50%;
        padding: 6px;
        .svg-icon {
          margin: 0 !important;
        }
      }
      .sidebar-item-text {
        font-size: 0;
      }
    }
  }
}
</style>