<template>
  <div class="bread_frame">
    <div class="bread_ctn">
      <span
        class="bread_box vtc"
        v-for="(item, index) in breadList"
        :class="{ _last: index === breadList.length - 1 }"
      >
        <span class="_label" :class="{ _click: !!item.click }" @click="clickHandler(index)">{{
          item.label
        }}</span>
        <span class="_arrow">
          <img src="./img/arrow.svg" />
        </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    currentBot() {
      return this.$store.getters.currentBot || {};
    },
    pageInfo() {
      return this.$store.state.pageInfo || {};
    },
    breadList() {
      let result = [];
      const routeName = this.$route.name;
      if ([routeName].has(["bot"])) {
        result = [{ label: this.$tp("router.bot") }];
      } else if ([routeName].has(["group", "group_cu"])) {
        result = [
          {
            label: this.$tp("router.group")
          }
        ];
      } else if ([routeName].has(["user", "user_cu"])) {
        result = [
          {
            label: this.$tp("router.user")
          }
        ];
      } else if ([routeName].has(["bot_auth"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("label.authManagement") }
        ];
      } else if ([routeName].has(["bot_intent"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.intent") }
        ];
      } else if ([routeName].has(["bot_utterance"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          {
            label: this.$tp("bot.intent"),
            click: () => {
              this.$router.push({ path: `/bot/${this.currentBot.id}/intent` });
            }
          },
          { label: this.pageInfo.name },
          { label: this.$tp("bot.utterances") }
        ];
      } else if ([routeName].has(["bot_entity"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.entity") }
        ];
      } else if ([routeName].has(["bot_entry"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          {
            label: this.$tp("bot.entity"),
            click: () => {
              this.$router.push({ path: `/bot/${this.currentBot.id}/entity` });
            }
          },
          { label: this.$tp("label.entry") }
        ];
      } else if ([routeName].has(["dialogList"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.dialog") }
        ];
      } else if ([routeName].has(["dialogLabeling"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          {
            label: this.$tp("bot.dialog"),
            click: () => {
              this.$router.push({
                path: `/bot/${this.currentBot.id}/dialog/dialogList`
              });
            }
          },
          { label: this.pageInfo.name },
          { label: this.$tp("label.utteranceTitle") }
        ];
      } else if ([routeName].has(["bot_flow"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.flowManagement") }
        ];
      } else if ([routeName].has(["bot_integration"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.integration") }
        ];
      } else if ([routeName].has(["usage"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.analysis") },
          { label: this.$tp("tab.usage") }
        ];
      } else if ([routeName].has(["trainLog"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.analysis") },
          { label: this.$tp("tab.trainLog") }
        ];
      } else if ([routeName].has(["publicOpinionAnalysis"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.analysis") },
          { label: this.$tp("tab.publicOpinionAnalysis") }
        ];
      } else if ([routeName].has(["customerServiceManagement"])) {
        result = [
          {
            label: this.$tp("router.bot"),
            click: () => {
              this.$router.push({ path: "/bot" });
            }
          },
          { label: this.currentBot.name },
          { label: this.$tp("bot.customerServiceManagement") }
        ];
      } else if ([routeName].has(["notificationHistory"])) {
        result = [{ label: this.$tp("router.messageCenter") }];
      }
      return result;
    }
  },
  methods: {
    clickHandler(index) {
      if (this.breadList[index].click) this.breadList[index].click();
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.bread_frame {
  padding: 0 40px;
  border-bottom: 1px solid #f5f5ff;
  font-size: 0;
  .bread_box {
    padding: 5px 0;
    color: #4e4e4e;
    font-size: 12px;
    line-height: 1;
    &._last {
      ._arrow {
        display: none;
      }
    }
    ._label {
      &._click {
        cursor: pointer;
      }
    }
    ._arrow {
      margin: 0 10px;
      font-weight: bold;
      & > img {
        display: block;
        height: 10px;
      }
    }
  }
}
</style>