//param
@0             : #000000;
@f             : #ffffff;
@lg            : 1024px;
@up_lg         : (@lg + 1);
@md            : 768px;
@up_md         : (@md + 1);
@sm            : 576px;
@up_sm         : (@sm + 1);
@ssm           : 450px;
@up_ssm        : (@ssm + 1);
//color
@blush         : #e2ac96;
@brown-grey-two: #808080;
@brownish-grey : #5a5a5a;
@greyish-brown : #555555;
@lightblue     : #63c8ed;
@pale-purple   : #b38ee6;
@rosy-pink     : #f86c9d;
@yellow-orange : #f8b700;
@topaz         : #0fa8a8;

@org         : #ff8560;
@text_default: #4e4e4e;

//flowbuilder
@fs_brr: 10px;

//fn
.br() {
  border: 1px solid red;
}

.c(@c) {
  color: @c
}

.cf() {
  color: @f;
}

.c0() {
  color: @0;
}

.clear() {
  &::after {
    display: block;
    content: "";
    clear  : both;
  }
}

.WH(@WH) {
  width : @WH;
  height: @WH;
}

.W_H(@W, @H) {
  width : @W;
  height: @H;
}

.room() {
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
}

.room_f() {
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
}

.book() {
  position: relative;
  top     : auto;
  left    : auto;
  right   : auto;
  bottom  : auto;
}

.bx() {
  box-sizing: border-box;
}

.vt(@align) {
  &>* {
    vertical-align: @align;
  }

  &::before {
    content       : "";
    display       : inline-block;
    vertical-align: @align;
    width         : 0;
    height        : 100%;
    font-size     : 0;
  }
}

.vtc() {
  .vt(middle);
}

.vtcc() {
  .vtc();
  text-align: center;
}

.vtc0() {
  .vtc();
  font-size: 0;
}

.vtb() {
  .vt(bottom);
}

.cp() {
  cursor: pointer;
}

.bc(@color) {
  background-color: @color;
}

.ctn(@W) {
  max-width: @W;
  margin   : auto;
}

.f0l1() {
  font-size  : 0;
  line-height: 1;
}

.skewbg(@color) {
  position: relative;

  &::before {
    content: "";
    .room();
    .bc(@color);
    z-index  : 0;
    transform: skewX(-39deg);
  }

  &>div {
    position: relative;
    z-index : 1;
  }
}

.dbma() {
  display: block;
  margin : auto;
}

//flex
.fill() {
  >._fill {
    flex-grow: 1;
  }

  >:not(._fill) {
    flex-shrink: 0;
  }
}

.fx() {
  display: flex;
  .fill();
}

.aic() {
  align-items: center;
}

.plus(@WH, @bc: transparent) {
  position: relative;
  .WH(@WH);

  &::before,
  &::after {
    content : "";
    position: absolute;
    top     : ~"calc(50% - 1px)";
    left    : 0;
    right   : 0;
    height  : 2px;
    .bc(@bc);
    transition: 0.3s ease;
  }

  &:not(.active) {
    &::after {
      transform: rotate(-90deg);
    }
  }
}