@import "./fn.less";
@import "./plugin.less";

//set
html,
body {
  .WH(100%);
  font-family: 'Noto Sans TC';
  color      : @text_default;
}

.isShield {
  z-index: -1 !important;
}

#app .app-wrapper {

  .clickableText>input[type=text] {
    &:not(:focus) {
      border          : none;
      background-color: transparent;
    }
  }

  .pagination-container {
    margin-top: 10px;
    height    : 32px !important;
    box-sizing: unset;
  }
}

//all
.btn-main {
  background-color: #ff8560;
  color           : white;
  box-shadow      : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
  border          : none;
  border-radius   : 10px;
  font-weight     : bold;
  font-size       : 14px;
  padding         : 10px 16px;
  text-align      : center;
  cursor          : pointer;
  display         : inline-block;

  &:hover {
    opacity: 0.5;
  }

  &.gray {
    background-color: #afafaf;
  }

  &.role_tab {
    color           : #a7a7a7;
    background-color: transparent;
    border          : 1px solid;
    box-shadow      : none;
    opacity         : 1 !important;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      background-color: @text_default;
      color           : #ffffff;
      border-color    : @text_default;
    }
  }
}

.form_table {
  tr {
    background-color: #f5f5f5;

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }
  }

  td {
    padding: 10px;
  }

  input {
    background-color: #ffffff;
    border          : 1px solid #dddddd;
    padding         : 9px 15px;
    border-radius   : 10px;
    width           : 100%;
    color           : @text_default;

    &:focus {
      border-color: @org;
    }
  }
}

#app .app-wrapper {

  .btn1 {
    .cp();

    &:hover {
      opacity: 0.8;
    }
  }

  .form1 {
    padding: 0 10px;

    &.mb_20 {
      &>*:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    //input[type=text]
    .input_text1 {
      border       : 1px solid #466464;
      padding      : 10px 20px;
      border-radius: 10px;
      font-size    : 14px;
    }

    .box {
      background    : #FFFFFF 0% 0% no-repeat padding-box;
      border        : 1px solid #DDDDDD;
      border-radius : 10px;
      opacity       : 1;
      position      : relative;
      padding-left  : 150px;
      padding-top   : 10px;
      padding-right : 10px;
      padding-bottom: 10px;
      height        : 100px;
      cursor        : pointer;
    }

    .box_focus {
      border: 1px solid #FF8560;
    }

    .imgclass {
      position: absolute;
      left    : 0;
      top     : 10px;
    }

    .text_title {
      text-align    : left;
      letter-spacing: 0px;
      color         : #4E4E4E;
      opacity       : 1;
      padding-bottom: 5px;
      font-size     : 15px;
    }

    .text {
      text-align    : left;
      letter-spacing: 0px;
      color         : #4E4E4E;
      opacity       : 1;
      font-size     : 12px;
    }
  }

  .fx {
    display: flex;

    >._fill {
      flex-grow: 1;
    }

    >:not(._fill) {
      flex-shrink: 0;
    }
  }

  .fw {
    flex-wrap: wrap;
  }

  .aic {
    align-items: center;
  }

  .asc {
    align-self: center;
  }

  .jcc {
    justify-content: center;
  }

  .jcsb {
    justify-content: space-between;
  }

  .fdc {
    flex-direction: column;

    >._fill {
      overflow-y: auto;
      height    : 100%;
    }
  }

  .w100 {
    width: 100%;
  }

  .h100 {
    height: 100%;
  }

  .w_200 {
    width: 200px;
  }

  .w_300 {
    width: 300px;
  }

  .w_500 {
    width: 500px;
  }

  .w_600 {
    width: 600px;
  }

  .w_auto {
    width: auto;
  }

  .maxW_800 {
    max-width: 800px;
  }

  .maxW_1000 {
    max-width: 1000px;
  }

  .w_1000 {
    width: 1000px;
  }

  .br_20 {
    border-radius: 20px;
  }

  .mt_5 {
    margin-top: 5px;
  }

  .mb_10 {
    margin-bottom: 10px;
  }

  .mb_15 {
    margin-bottom: 15px;
  }

  .mb_20 {
    margin-bottom: 20px;
  }

  .ta_c {
    text-align: center;
  }

  .create_btn {
    position : fixed;
    right    : 10px;
    bottom   : 10px;
    font-size: 50px;
    color    : #888888;
    z-index  : 10;
  }

  .icon50 {
    font-size: 50px;
    .cp();
  }

  .icon40 {
    font-size: 40px;
    .cp();
  }

  .icon30 {
    font-size: 30px;
    .cp();
  }

  .moreicon {
    font-size: 20px;
  }

  .pb_60 {
    padding-bottom: 60px;
  }

  &.hideSidebar {
    .logo_box {
      &>img {
        margin-right: 0;
      }

      span {
        font-size: 0;
      }
    }
  }

  .app-container {
    height        : 100%;
    display       : flex;
    flex-direction: column;
    height        : 100%;
    .fill();

    .page_ctn {
      overflow-x: hidden;

      &._page {
        height     : 32px !important;
        flex-shrink: 0;
        padding-top: 10px;
        box-sizing : unset;
      }
    }
  }


}

.bs {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.shield_scroll {
  .room_f();
  overflow-y: auto;
  z-index   : 1001;

  .close_frame {
    .room();
  }
}

.shield_frame {
  z-index         : 666;
  background-color: rgba(0, 0, 0, 0.8);
  padding         : 30px 0;
  min-height      : 100%;

  .shield_close {
    .room();
  }

  .shield_ctn {
    position        : relative;
    padding         : 20px 40px;
    align-self      : center;
    width           : 90%;
    max-width       : 600px;
    background-color: #ffffff;
    border-radius   : 10px;
    animation       : 0.3s showIn_down ease-out forwards;
  }

  .shield_x {
    position: absolute;
    top     : 0;
    right   : 0;
    .WH(30px);
    background     : url('../img/close_icon.svg') center no-repeat;
    background-size: 100%;
    cursor         : pointer;
  }

  .shield_btn {
    padding-top: 20px;
    text-align : center;
    z-index    : 1;
    position   : relative;
  }

  .shield_ttl {
    font-size    : 18px;
    margin-bottom: 20px;
    font-weight  : bold;
  }

  .shield_ttl_box {
    .vtc();
    position: relative;
    display : inline-block;

    &>img {
      margin-right: 10px;
      width       : 40px;
    }
  }

  .el-upload {
    width     : 100%;
    text-align: center;

    .file-cell {
      border-radius   : 50px;
      background-color: #e6e6e6;
      padding         : 10px;
      display         : flex;
      margin          : auto;

      img {
        width: 50px;
      }

      .text {
        margin    : 10px 80px 0px 10px;
        text-align: left;

        .main-text {
          font-size: 14px;
          color    : #464646
        }

        .sub-text {
          font-size: 12px;
          color    : #898989
        }
      }
    }

  }

  .el-upload-list__item {
    border-radius: 20px;
    width        : 90%;
    margin       : 10px auto 0px
  }
}

.top_ctn {
  position  : absolute;
  top       : 5px;
  left      : 0;
  right     : 0;
  text-align: center;
  z-index   : 10;

  .top_box {
    &:not(.active) {
      height  : 0;
      overflow: hidden;
    }
  }

  .top_item {
    display      : inline-block;
    padding      : 5px 20px;
    box-shadow   : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
    border       : solid 1px #707070;
    border-radius: 40px;
    .bc(@f);
    .c(#747474);
    font-size       : 15px;
    opacity         : 0;
    transition      : 0.1s ease-out;
    transform       : translateY(-20%);
    transition-delay: 0.1s;

    &.active {
      opacity  : 0.6;
      transform: translateY(0);
    }

    &._loading {
      &>img {
        width       : 10px;
        transform   : scale(4);
        margin-right: 10px;
      }
    }
  }
}

.at_frmae {
  .room_f();
  justify-content: center;
  align-items    : center;

  .at_ctn {
    .bc(@f);
    padding   : 40px 30px;
    min-width : 300px;
    text-align: center;
  }

  .at_ttl {
    font-size: 30px;
    color    : #888888;
  }

  .at_ldg {
    .WH(30px);
    margin-right: 20px;
  }

  .dt_dot {
    letter-spacing: 3px;
    width         : 40px;
  }

  .p1 {
    font-size     : 25px;
    margin        : 20px 0;
    letter-spacing: 1px;
  }

  .p2 {
    margin-top: 10px;
  }
}

//style
#app,
.space_frame {
  height: 100%;
}

.law-info {
  margin-top: 50px;

  .copyright {
    font-size : 12px;
    color     : #8e8e8e;
    text-align: center;

    .more-info {
      cursor      : pointer;
      margin-right: 5px;
    }
  }

}

.bl_ctn {
  .bl_box {
    width        : 280px;
    border-radius: 10px;
    border       : solid 1px #c6c6c6;
    margin-right : 2%;
    margin-bottom: 10px;
    .cp();

    &:hover,
    &.active {
      box-shadow  : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
      border-color: @org;
    }

    .title {
      padding      : 10px;
      display      : flex;
      align-items  : center;
      border-bottom: 1px solid #DDDDDD;

      .ava {
        width: 30px;
      }

      .name {
        font-size    : 15px;
        font-weight  : bold;
        margin-left  : 10px;
        word-break   : keep-all;
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow     : hidden;
        width        : 220px;
      }
    }

    .body {
      padding  : 10px;
      font-size: 12px;
      width    : 100%;

      .owner {
        color: #4E4E4E;
      }

      .description {
        color     : #A7A7A7;
        margin-top: 5px;
        width     : 100%;
        word-wrap : break-word;
        height    : 42px;
      }

      .status-row {
        margin-top: 5px;
        color     : #4E4E4E;
        text-align: right;

        .status-wraper {
          .status {
            margin-left: 5px;
            display    : flex;
            align-items: center;
          }
        }


      }
    }
  }
}

.el-notification,
.right {
  box-shadow   : 1px 1px 10px 0 rgba(0, 0, 0, 0.16) !important;
  border-radius: 23px 23px 8px 23px !important;


  padding: 16px 30px !important;

  .el-notification__icon {
    display : block;
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    width   : unset;
    height  : unset;

    &::before {
      content: none;
    }
  }

  .el-icon-success {
    background-color: #0fa8a8;
  }

  .el-icon-error {
    background-color: #585858;
  }

  .el-notification__group {
    z-index     : 1;
    margin-left : 0 !important;
    margin-right: auto;

    .el-notification__content {
      color     : #ffffff !important;
      margin-top: 5px;

      p {
        width: 235px;
      }
    }

    .el-notification__closeBtn {
      background-color: rgba(207, 237, 237, 1);
      border-radius   : 20px;
      padding         : 6px 10px;

      &::before {
        font-family: sans-serif;
        font-size  : 14px;
        font-weight: bold;
        color      : #0fa8a8;
        content    : "OK";
      }
    }
  }

  .el-icon-error+.el-notification__group {
    .el-notification__closeBtn {
      background-color: #f4c000;

      &::before {
        color: #585858;
      }
    }
  }

}

.cross-button {
  cursor       : pointer;
  padding      : 4px;
  min-width    : 25px;
  height       : 25px;
  border-radius: 50px;
  display      : flex;
  align-items  : center;

  &.green {
    background: transparent;

    .cross {
      background: #0fa8a8;
    }

    .cross:after {
      background: #0fa8a8;
    }

    &:hover {
      background-color: #0fa8a8;

      .cross {
        background-color: white;
      }

      .cross:after {
        background-color: white;
      }
    }
  }

  .cross {
    background   : #0fa8a8;
    width        : 2px;
    height       : 12px;
    border-radius: 8px;
    position     : relative;
    margin       : auto;
  }

  .cross:after {
    background   : #0fa8a8;
    content      : "";
    width        : 12px;
    height       : 2px;
    border-radius: 8px;
    left         : -5px;
    position     : absolute;
    top          : 5px;
  }

  &:hover {
    background-color: #0fa8a8;

    .cross {
      background-color: white;
    }

    .cross:after {
      background-color: white;
    }
  }
}

.collapse-table {
  font-size: 14px;

  .row {
    padding         : 10px;
    display         : flex;
    align-items     : center;
    background-color: #f5f5f5;
    border-bottom   : 1px rgb(198, 198, 198) solid;

    &:hover {
      background-color: #d8f2f2;
    }

    &:first-child {
      border-top: 1px rgb(198, 198, 198) solid;
    }

    .flag {
      height          : 4px;
      width           : 4px;
      background-color: #38cccc;
      border-radius   : 4px;
      margin-right    : 3px;
    }

    .text {
      flex-grow: 1;
    }

    &.editable {
      background-color: white;
      border          : 1px #f8b700 solid;

      input {
        flex-grow: 1;
        color    : #555555;
        margin   : 4px 0;
        border   : none;
        font-size: 14px;

        &::placeholder {
          color: #f8b700;
        }
      }

      img {
        cursor: pointer;
        width : 24px;
      }
    }
  }

  .expanded-block {
    display         : flex;
    background-color: #38cccc;

    .cells {
      flex-grow: 1;

      .cell {
        background-color: white;
        border-radius   : 20px;
        padding         : 5px 8px;
        margin          : 5px;
        .vtc();

        img {
          width : 15px;
          cursor: pointer;
        }

        .flag {
          margin-right: 3px;
        }

        .cell-button {
          margin-left: 3px;
        }

        &.gray {
          border: solid 1px #9f9f9f;
          color : #9f9f9f;
        }
      }
    }

    .button {
      cursor : pointer;
      padding: 0 12px;

      width: 38px;
    }
  }

  .toggle-enter-active {
    transition: all 0.5s ease;
  }

  .toggle-leave-active {
    transition: all 0.5s;
  }

  .toggle-enter,
  .toggle-leave-to {
    transform-origin: top;
    transform       : scaleY(0);
  }
}

.el-checkbox {
  font-size: 0;

  &.is-checked {
    .el-checkbox__inner {
      background-color: white !important;
      border          : 1px solid #01c7a1 !important;

      &::after {
        border-color: #ff8560 !important;
        border-left : 0 !important;
        border-top  : 0 !important;
      }
    }
  }

  .el-checkbox__inner {
    border       : 1px solid #01c7a1 !important;
    border-radius: 4px !important;
  }

  &.orange {
    &.is-checked {
      .el-checkbox__inner {
        border: 1px solid #ff8560 !important;

        &::after {
          border-color: #ff8560 !important;
        }
      }
    }

    .el-checkbox__inner {
      border: 1px solid #ff8560 !important;
    }
  }

  .el-checkbox__label {
    display    : inline-flex;
    align-items: center;
  }
}

.one-border-table {
  .row {
    padding      : 10px 10px 10px 10px;
    border-top   : 1px rgb(198, 198, 198) solid;
    border-bottom: 1px rgb(198, 198, 198) solid;

    display    : flex;
    align-items: center;
    color      : #727272;
    min-width  : 0;

    &~.row {
      border-top: none;
    }

    .tag {
      width        : 15px;
      margin-bottom: 10px;
    }

    .text {
      margin-left  : 30px;
      flex-grow    : 1;
      width        : 0;
      text-overflow: ellipsis;
      white-space  : nowrap;
      overflow     : hidden;
    }

    input {
      border: none;
      width : 100%;

      flex-grow: 1;
    }

    &:hover {
      box-shadow      : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #f5f5f5;
    }
  }
}

.black-white-table {
  margin         : 10px 0 10px 0px;
  border-collapse: separate;
  border-spacing : 0;

  th {
    text-align      : center;
    background-color: #707070;
    color           : white;

    &:first-child {
      border-radius: 10px 0 0 0;
    }

    &:last-child {
      border-radius: 0 10px 0 0;
    }

    .sort-button {
      margin-left: 5px;

      .descending {
        cursor      : pointer;
        width       : 0;
        height      : 0;
        border-style: solid;
        border-width: 0 3px 5px 3px;
        border-color: transparent transparent white transparent;

        &.is-active {
          border-color: transparent transparent #ff8560 transparent;
        }
      }

      .ascending {
        cursor      : pointer;
        width       : 0;
        height      : 0;
        border-style: solid;
        border-width: 5px 3px 0 3px;
        border-color: white transparent transparent transparent;
        margin-top  : 2px;


        &.is-active {
          border-color: #ff8560 transparent transparent transparent;
        }
      }
    }
  }

  th,
  td {
    border : 1px solid #ddd;
    padding: 10px;

    .cell {
      max-height        : 60px;
      overflow          : scroll;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &.result {
        color: #707070;

        &.failed {
          color: #ff8560;
        }
      }
    }
  }

  tr {
    background-color: #F5F5F5;

    &:hover {
      background-color: #E3E3E3;
    }

    &:last-child {
      border-radius: 0 10px 0 0;

      td {
        &:first-child {
          border-radius: 0 0 0 10px;
        }

        &:last-child {
          border-radius: 0 0 10px 0;
        }
      }
    }
  }
}

.cell-table {
  margin-top: 20px;

  .row {
    display : flex;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .cell {
    flex-grow    : 1;
    min-height   : 50px;
    border       : solid 1px #c6c6c6;
    border-radius: 10px;
    display      : flex;
    align-items  : center;

    &:hover {
      box-shadow      : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #f5f5f5;
    }

    .tag {
      margin-left: 10px;
      width      : 15px;
    }

    .text-box {
      display    : flex;
      align-items: center;
      align-self : stretch;
      cursor     : pointer;
      margin-left: 10px;
      flex-grow  : 1;

      input {
        border          : 0;
        font-size       : 14px;
        flex-grow       : 1;
        background-color: transparent;
      }

      .text {
        font-size    : 14px;
        font-weight  : bold;
        width        : 0;
        flex-grow    : 1;
        text-overflow: ellipsis;
        white-space  : nowrap;
        overflow     : hidden;
      }
    }


    .utterance-count {
      margin-left: 10px;
    }


    .dot_box {
      margin: 0 10px;
    }

    .el-checkbox {
      margin-left: 15px;
    }
  }
}

.total-count {
  text-align: right;
  color     : #727272;
  font-size : 12px;
  width     : 97%;
}

.arrow-down-button {
  min-width    : 25px;
  height       : 25px;
  border-radius: 205px;
  cursor       : pointer;
  position     : relative;

  &:hover {
    background-color: #ff8560;

    .arrow-down {
      border      : solid white;
      border-width: 0 2px 2px 0;
    }
  }

  .arrow-down {
    border      : solid #ff8560;
    border-width: 0 2px 2px 0;
    display     : inline-block;
    padding     : 3px;
    transform   : rotate(45deg);
    transition  : 0.3s;
    position    : absolute;
    top         : 8px;
    left        : 8px;

    &.spin {
      transform: rotate(-135deg);
    }
  }

}

.clickable {
  cursor: pointer;
}

.inverted-triangle {
  width       : 0;
  height      : 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #ff8560 transparent transparent transparent;

  &.black {
    border-color: #555555 transparent transparent transparent;
  }
}

.sidebar-tabs {
  font-size    : 12px;
  padding      : 0 0 10px;
  margin       : 0 10px 10px;
  text-align   : center;
  border-bottom: 3px solid #F5F5F5;
  min-width    : 500px;

  .tab {
    color       : #4E4E4E;
    padding     : 5px 10px;
    margin-right: 2px;
    font-size   : 15px;
    font-weight : bold;
    cursor      : pointer;
    position    : relative;


    &.is-active {
      color : #ff8560;
      cursor: default;

      &:after {
        content         : "";
        position        : absolute;
        left            : 0;
        right           : 0;
        bottom          : -13px;
        height          : 3px;
        background-color: #ff8560;
      }
    }
  }
}

.el-radio__label {
  color: #555555 !important;
}

.el-radio__input {
  .el-radio__inner {
    border-color    : #ff8560 !important;
    background-color: transparent !important;

    &::after {
      content         : "";
      background-color: #ff8560 !important;

      border-radius   : 0;
      position        : absolute;
      width           : 5px;
      height          : 2px;
      background-color: #fff;
      left            : 5px;
      top             : 9px;
    }
  }

  &.is-checked {
    .el-radio__inner {
      transform: rotate(45deg);

      &::before {
        content         : "";
        background-color: #ff8560 !important;
        position        : absolute;
        width           : 2px;
        height          : 9px;
        background-color: #fff;
        left            : 7px;
        top             : 1px;
      }
    }
  }
}

.sidebar-hover-block {
  border          : 1px solid #585858;
  background-color: white !important;
  color           : #585858 !important;
  font-size       : 13px;
  padding         : 5px 5px 5px 5px !important;

  .popper__arrow {
    border: 1px solid #585858 !important;

    &::after {
      border-right-color: white !important;
    }
  }
}

.title-row {
  color           : #4E4E4E;
  display         : flex;
  align-items     : center;
  background-color: #F5F5F5;
  padding         : 10px 15px;
  margin-top      : 10px;
  min-width       : 500px;

  .title-text {
    flex-grow  : 1;
    font-size  : 15px;
    font-weight: bold;
    color      : #4E4E4E;
  }


}

.total-row {
  margin-top : 20px;
  display    : flex;
  align-items: center;

  .count-block {
    display    : flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 10px;
    }

    .label {
      color    : #5a5a5a;
      font-size: 15px;
    }

    .count {
      color    : #ff8560;
      font-size: 25px;
    }
  }
}

.el-date-editor {
  border-radius: 10px;
}

.dropdown-wrapper {
  margin-left: 10px;

  .dropdown {
    display         : flex;
    min-width       : 130px;
    border          : 1px #d3d3d3 solid;
    border-radius   : 10px;
    padding         : 9px 12px;
    font-size       : 12px;
    background-color: white;

    .select_ctn {
      width  : 100%;
      display: flex
    }

    .ddl_ttl {
      flex-grow: 1;
      font-size: 14px;
      color    : #4E4E4E;

    }

    .ddl_box {
      padding   : 10px 5px;
      border    : 1px #d3d3d3 solid;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.16);

      .top_arrow {
        border-color: transparent transparent #d3d3d3 transparent;
      }
    }

    .toggle-button {
      width: 12px;
    }
  }
}

.el-autocomplete {
  .el-input {
    input.el-input__inner {
      padding      : 0px 10px;
      border       : 1px solid #c6c6c6;
      border-right : none;
      border-radius: 5px 0 0 5px;
      display      : inline-block;
      width        : 120px;
      font-size    : 12px;
      height       : 26px;
    }
  }
}

.el-autocomplete-popper {
  border-radius: 10px !important;
}

.page-title-row {
  min-width  : 500px;
  display    : flex;
  align-items: center;

  .page-title {
    font-size    : 25px;
    font-weight  : bold;
    color        : #4e4e4e;
    max-width    : 200px;
    text-overflow: ellipsis;
    white-space  : nowrap;
    overflow     : hidden;
  }

  input {
    font-size       : 25px;
    color           : #4e4e4e;
    border          : none;
    background-color: #F5F5F5;
    max-width       : 200px;
  }


  .edit-button {
    cursor     : pointer;
    margin-left: 5px;
    width      : 15px;
  }

  .title-buttons {
    margin-left: auto;
  }
}

.new-item-row {
  align-items     : center;
  display         : flex;
  padding         : 10px 8px 10px 15px;
  width           : 100%;
  margin-top      : 20px;
  min-width       : 500px;
  background-color: #F5F5F5;

  .label {
    color    : #4e4e4e;
    font-size: 15px;
  }

  .switch {
    margin: 0 10px;
  }

  .input-text {
    margin-left     : 10px;
    padding         : 10px;
    flex-grow       : 1;
    font-size       : 15px;
    border          : 1px solid #dddddd;
    border-radius   : 10px;
    background-color: white;
    color           : #555555;

    &::placeholder {
      color: #9f9f9f;
    }

    &:focus {
      border: 1px solid #ff8560;

    }
  }

  .submit-button {
    cursor          : pointer;
    margin-left     : 5px;
    padding         : 10px 15px;
    color           : white;
    background-color: #ff8560;
    border-radius   : 10px;
    font-size       : 14px;

    &:hover {
      opacity: 0.5;
    }
  }



  &:hover {
    box-shadow      : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #f5f5f5;
  }

}

.tab-page {
  padding         : 20px 80px;
  background-color: #F5F5F5;
  display         : flex;
  flex-direction  : column;
  flex-grow       : 1;

  .tab-page-inner {
    min-width       : 1024px;
    background-color: white;
    padding         : 20px;
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    flex-grow       : 1;
    border-radius   : 10px;
  }
}

.el-slider {
  .el-slider__button-wrapper {
    z-index: 0;

    .el-slider__button {
      border: 2px solid #FF8560;

      &.hover {
        background-color: #FF8560;
      }
    }
  }

  .el-slider__bar {
    background-color: #FF8560;
  }
}

.logo-text {
  font-size  : 50px;
  font-weight: bold;
  color      : #ff8560;
  text-align : center;

  .black {
    color: #4e4e4e;
  }
}


.gate-page {
  background     : url("~@img/gate_backround.png") top center no-repeat;
  background-size: cover;
  height         : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;

  .box {
    border-radius   : 20px;
    padding         : 40px 60px 20px;
    background-color: white;
    width           : 404px;
    height          : 500px;
    position        : relative;
    flex-shrink     : 0;

    .description {
      color     : #4e4e4e;
      font-size : 14px;
      text-align: center;
    }

    .hint-hr {
      text-align: center;
      margin    : 15px 0 10px;
      position  : relative;
      .c(#b4b4b4);

      &::before {
        content   : "";
        position  : absolute;
        top       : 60%;
        left      : 0;
        right     : 0;
        border-top: 1px solid;
      }

      span {
        position: relative;
        .bc(@f);
        font-size: 13px;
        padding  : 0 10px;
      }
    }

    .button-row {
      text-align: center;
      margin-top: 10px;

      .btn-main {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    .other-option {
      margin-top : 10px;
      text-align : center;
      color      : #555555;
      font-size  : 12px;
      font-weight: bold;

      u {
        cursor         : pointer;
        text-decoration: underline
      }
    }

    .warning {
      margin-top: 20px;
      text-align: center;
      color     : #FF8560;
      font-size : 15px
    }

    .password-description {
      margin-top: 10px;
      color     : #ff8560;
      text-align: center;
      font-size : 12px;
    }

    .done-description {
      margin-top: 30px;
      text-align: center;
      font-size : 15px;
    }

    .law-info {
      margin-top: 0px;
      position  : absolute;
      bottom    : 20PX;
      transform : translate(50%, 0%);
    }
  }
}

.input-wrapper {
  display         : flex;
  align-items     : center;
  margin-top      : 10px;
  border-radius   : 10px;
  border          : solid 1px #c9c9c9;
  background-color: white;
  color           : #555555;
  padding         : 10px;
  width           : 100%;

  &.disable {
    background-color: #f5f5f5;
  }

  &.red-border {
    border: 1px solid #f79065;
  }

  input {
    border          : none;
    font-size       : 15px;
    flex-grow       : 1;
    background-color: white;


    &.disabled {
      cursor          : not-allowed;
      background-color: #f5f5f5;

    }

    &::placeholder {
      color: #B4B4B4
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 200px 200px 100px white inset;
      box-shadow        : 200px 200px 100px white inset;
    }
  }

  img {
    width : 20px;
    cursor: pointer;
  }
}

.el-icon-arrow-up {
  top: 5% !important;
}

.el-select-dropdown__item {
  &.selected {
    color: white !important;
  }
}

code {
  display         : inline-block;
  width           : 100%;
  background-color: #707070;
  padding         : 10px;
  border-radius   : 10px;
  max-height      : 300px;
  color           : white;
  font-size       : 12px;
  text-align      : left;
  overflow        : auto;

  .wrap {
    white-space: pre-wrap
  }
}

//anime
@keyframes showIn_down {
  0% {
    opacity  : 0;
    transform: translateY(-40px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}