//el
.el-popup-parent--hidden .fixed-header {
  padding: 0 !important;
  height : 60px;
}

.el-message-box__status+.el-message-box__message {
  padding-left: 50px;
}

.el-popper .popper__arrow {
  display: none;
}

.el-select-dropdown {
  border-radius: 10px;
  border-color : #DDDDDD;
  color        : @text_default;

  .el-select-dropdown__list {
    padding: 10px;
  }

  .el-select-dropdown__item {
    padding      : 0 10px;
    border-radius: 20px;

    &:hover,
    &.selected,
    &.hover {
      color           : @text_default  !important;
      background-color: #F5F5F5;
    }

    span {
      padding: 6px 0;
      ;
    }
  }
}

.el-dropdown-menu {
  border-radius: 10px;
  border-color : #DDDDDD;
  color        : @text_default  !important;
  padding      : 10px;
  min-width    : auto;

  li {
    font-size    : 14px;
    padding      : 6px 10px;
    border-radius: 20px;
    line-height  : 1.5;

    &:hover {
      color           : @text_default  !important;
      background-color: #F5F5F5 !important;
    }
  }
}

#app .app-wrapper {
  .el-tabs__header {
    margin-bottom: 0;
  }

  .el-form-item {
    margin-bottom: 15px;
  }

  .el-table {
    &.hasOption {
      td:last-child {
        position: relative;

        .cell {
          .room();
          padding: 0;

          &>div {
            .WH(100%);
            display        : flex;
            justify-content: center;
            align-items    : center;
          }
        }
      }
    }
  }

  .el-input {
    width: auto;
  }

  .el-switch.is-checked .el-switch__core {
    border-color    : @org;
    background-color: @org;
  }

  .el-switch__core:after {
    top      : 50%;
    transform: translateY(-50%);
  }

  .el-button {
    &.is-plain {
      &:hover {
        border-color: @org;
        color       : @org;
      }
    }
  }

  .el-button--primary {
    background-color: @org;
    border-color    : @org;

    &:hover {
      background-color: #ffa47a;
      border-color    : #ffa47a;
    }
  }

  .el-select {
    .el-input .el-select__caret {
      color      : @org;
      font-weight: bold;
      text-shadow: 0 0 1px, 0 0 1px;
    }

    .el-input__inner {
      border-color : #DDDDDD;
      border-radius: 10px;
      color        : @text_default;
    }
  }
}

//owl
.owl-container() {
  >div>span {
    display: none;
  }
}

.m_box {
  &.carousel {
    .owl-container();
  }
}