@import "./fn.less";

//set
html,
body {
  overflow-x : hidden !important;
  padding    : 0;
  margin     : 0;
  font-family: Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  border     : none;
}

a {
  .cp();
  display         : inline-block;
  text-decoration : none;
  background-color: transparent;
  color           : inherit;
  border          : none;

  &.df {
    cursor: default;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  border   : none;
}

* {
  .bx();
  outline: none;
}

span {
  display: inline-block;
}

table {
  width          : 100%;
  border-collapse: collapse;
  border         : none;
}

textarea {
  font-family: inherit;
  font-size  : 100%;
  line-height: inherit;
  margin     : 0;
}

ul,
ol {
  @ul_padding-left: 22px;

  .ul_none() {
    list-style: none;
    padding   : 0;
  }

  margin      : 0;
  padding-left: @ul_padding-left;

  &.decimal {
    list-style: decimal;
  }

  &.disc {
    list-style: disc;
  }

  &.upper_alpha {
    list-style: upper-alpha;
  }

  &.cus {
    .ul_none();

    &>li {
      position    : relative;
      padding-left: @ul_padding-left;

      &::before {
        content : attr(str);
        position: absolute;
        top     : 0;
        left    : 0;
      }
    }

    &._gh {
      &>li {
        &::before {
          content: "("attr(str) ")";
        }
      }
    }

    &._num {
      &>li {
        &:nth-child(n + 10) {
          padding-left: @ul_padding-left + 8;
        }
      }
    }
  }

  &.none {
    .ul_none();
  }

  x {
    font-weight: bold;
    font-size  : 110%;
  }
}

u {
  text-decoration: none;
}

//public
.clear {
  .clear();

  ._lf {
    float: left;
  }

  ._rt {
    float: right;
  }
}

.vtc {
  .vtc();
}

.vtb {
  .vtb();
}

.slime {
  animation: 1.3s slime infinite;
}

.el-steps {
  .el-step__head {
    display    : flex;
    align-items: center;
  }
}


//animate
@keyframes slime {

  0%,
  90% {
    animation-timing-function: linear;
  }

  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.4, 1);
    -webkit-transform        : translate(0, 5%) scaleY(1.1);
    transform                : translate(0, 5%) scaleY(1.1);
  }

  45% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
    -webkit-transform        : translate(0, -6%) scaleY(1);
    transform                : translate(0, -6%) scaleY(1);
  }

  0%,
  to {
    -webkit-transform: translate(0, 6%) scaleY(0.9);
    transform        : translate(0, 6%) scaleY(0.9);
  }

  90% {
    -webkit-transform: translate(0, 5%) scaleY(1);
    transform        : translate(0, 5%) scaleY(1);
  }
}

//rwd
@media (min-width: @up_lg) {

  //lg
  .up_lg_hide {
    display: none !important;
  }
}

@media (max-width: @lg) {

  //lg
  .lg_hide {
    display: none !important;
  }
}

@media (min-width: @up_md) {

  //up_md
  .up_md_hide {
    display: none !important;
  }
}

@media (max-width: @md) {

  //md
  .md_hide {
    display: none !important;
  }
}

@media (min-width: @up_sm) {

  //up_sm
  .up_sm_hide {
    display: none !important;
  }
}

@media (max-width: @sm) {

  //sm
  .sm_hide {
    display: none !important;
  }
}

@media (min-width: @up_ssm) {

  //up_ssm
  .up_ssm_hide {
    display: none !important;
  }
}

@media (max-width: @ssm) {

  //ssm
  .ssm_hide {
    display: none !important;
  }
}