<template>
  <div class="gate-page">
    <div class="box" v-loading="isLoading">
      <div class="logo-text">
        <span>Silk</span>
        <span class="black">bot</span>
      </div>
      <div class="hint-hr">
        <span>{{ $tp("title.userLogin") }}</span>
      </div>
      <div>
        <div class="input-block">
          <div class="input-wrapper" :class="{ 'red-border': isLoginFailed }">
            <input
              type="text"
              :placeholder="$tp('label.account')"
              v-model.trim="account"
              @keyup.enter.stop.prevent="userLogin"
            />
          </div>
        </div>
        <div class="input-block">
          <div class="input-wrapper" :class="{ 'red-border': !isPasswordValid }">
            <input
              :type="passwordType"
              :placeholder="$tp('label.password')"
              v-model.trim="password"
              @keyup.enter.stop.prevent="userLogin"
            />
            <img
              v-show="isShowPassword"
              src="@img/eye_opened.svg"
              @click="
                isShowPassword = false;
                passwordType = 'password';
              "
            />
            <img
              v-show="!isShowPassword"
              src="@img/eye_forbidden.svg"
              @click="
                isShowPassword = true;
                passwordType = 'text';
              "
            />
          </div>
        </div>
        <div class="button-row">
          <span class="btn-main" @click="userLogin">{{ $tp("label.login") }}</span>
        </div>
        <div class="other-option">
          <u @click="forgetPassword">{{ $tp("label.forgetPassword") }}</u>
          <u @click="goTosignUpPage" style="margin-left: 10px">{{ $tp("label.iWantSignUp") }}</u>
        </div>
      </div>
      <div class="law-info">
        <div class="copyright">{{ $tp("label.copyright") }}</div>
        <div class="copyright">
          <span class="more-info">{{ $tp("label.privacyPolicy") }}</span>
          <span class="more-info">{{ $tp("label.termOfService") }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import App from "@mix/App";
import { signIn } from "@/api/Auth";
import { v4 as uuidv4 } from "uuid";
export default {
  mixins: [App],
  data() {
    return {
      account: "",
      password: "",
      isLoading: false,
      isLoginFailed: false,
      isShowPassword: false,
      passwordType: "password",
      isPasswordValid: true
    };
  },
  methods: {
    async userLogin() {
      if (this.isLoading) return false;
      this.isLoading = true;
      try {
        const clientId = this.getClientId();
        const res = await signIn(this.account, this.password, clientId);
        const user = res.user;
        user.photo =
          "https://lh5.googleusercontent.com/-ZDjTW6LDn6Y/AAAAAAAAAAI/AAAAAAAAjDc/cMF3Veygbm0/photo.jpg";
        localStorage.setItem("user", JSON.stringify(user));
        localStorage.setItem("clientId", clientId);
        this.isLoading = false;
        this.isLoginFailed = false;
        this.$store.commit("cache/SET_USER", user);
        this.$store.commit("cache/SET_IS_LOGIN", true);
        this.$router.push({ path: "/index" });
      } catch (error) {
        this.isLoading = false;
        this.isLoginFailed = true;
        console.log(error);
        const errorCode = ((error.response || {}).data || {}).error_code;
        console.log(errorCode);
        if (errorCode === 50019) {
          this.$root.m_error(this.$tp("warn.accountNotActivatedYet"));
          this.$router.push({ path: "/activate", query: { uid: this.account } });
        } else {
          this.$root.m_error(this.$tp("warn.logInFailed"));
        }
      }
    },
    forgetPassword() {
      this.$router.push({ path: "/forgetPassword" });
    },
    goTosignUpPage() {
      this.$router.push({ path: "/signup" });
    },
    goTosignUpPage() {
      this.$router.push({ path: "/signup" });
    },
    getClientId() {
      let clientId = localStorage.getItem("clientId");
      if (!clientId) {
        const uuid = uuidv4().replace(/-/g, "");
        clientId = `web_${uuid}`;
      }
      return clientId;
    }
  }
};
</script>
