<template>
  <Shield
    :title="title"
    :submit="submit"
    :showBy="infoShow"
    :close="shieldClose"
    :as="'pop'"
    :ctnClass="'w_1000 maxW_1000'"
  >
    <template slot="body">
      <el-form @submit.native.prevent label-position="top">
        <el-row :gutter="20">
          <el-col :span="9"></el-col>
          <el-col :span="12">
            <el-form-item :label="$tp('label.userName')">
              <el-input v-model="name" :disabled="true"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item :label="$tp('label.userPhoto' /*頭像*/)">
              <div v-if="hasAvatar">
                <el-avatar style="width: 100px; height: 100px" :src="url"></el-avatar>
                <i class="el-icon-delete btn1" @click="removeHeadFile"></i>
              </div>
              <input v-else type="file" id="file" ref="file" v-on:change="handleFileUpload" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20"></el-row>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item :label="$tp('label.email')">
              <el-input v-model="mail_address"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item :label="$tp('label.phone')">
              <el-input v-model="phone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </template>
  </Shield>
</template>
<script>
import { mapState, mapGetters } from "vuex";
import Shield from "@c/shield";
import axios from "axios";
// api
import { updateUser, getSelf } from "@/api/User";
import { uploadFile, removeFile } from "@/api/FileHelper";
import { injectTo } from "@u/methodsHelper";
import { constants } from "crypto";
import { getConfig } from "../settings";

export default {
  components: { Shield },
  data() {
    return {
      title: "",
      name: "",
      mail_address: "",
      address: "",
      phone: "",
      avatar_url: "",
      file: "",
      uid: "",
      url: "",
      hasAvatar: false,
      access_token: ""
    };
  },
  computed: {
    ...mapGetters(["user"]),
    ...mapState(["infoShow"])
  },
  mounted() {
    /*setTimeout(() => {
      injectTo(this.user, this);
    }, 0);*/
    this.getPersonalData();
    this.name = this.user.uid;
    this.uid = this.user.uid;
    this.access_token = this.user.access_token;
    this.getSelfImage(
      `${getConfig("fut").fileHostHttpProtocol}://${getConfig("fut").fileHost}/file?user=${
        this.uid
      }`
    );
  },
  methods: {
    getSelfImage(url) {
      axios({
        url: url,
        method: "GET"
        // headers: {
        //   Authorization: `Bearer ${this.user.access_token}`
        // }
      })
        .then(response => {
          this.url = url;
          if (response.data["status"] != "error") {
            this.hasAvatar = true;
          }
        })
        .catch(ex => {
          console.log(ex);
        });
    },
    removeHeadFile() {
      let url = `${getConfig("fut").hostHttpProtocol}://${getConfig("fut").host}/file/${this.uid}`;
      this.$confirm(this.$tp("warn.confirmDelete"), this.$tp("warn.confirm"), {
        confirmButtonText: this.$tp("label.ok"),
        cancelButtonText: this.$tp("label.cancel"),
        type: "warning"
      })
        .then(() => {
          removeFile(url);
        })
        .catch(ex => {
          console.log(ex);
        });
    },

    async getPersonalData() {
      let data = await getSelf();
      if (data.user.mail_address) {
        this.mail_address = data.user.mail_address;
      }
      if (data.user.name) {
        this.nick_name = data.user.name;
      }
      if (data.user.phone) {
        this.phone = data.user.phone;
      }
    },

    submit() {
      if (this.file) {
        console.log("upload file!!");
        let url = `${getConfig("fut").hostHttpProtocol}://${getConfig("fut").host}/upload`;
        let formData = new FormData();
        formData.append("file_to_upload", this.file);
        formData.append("file_name", "head");
        formData.append("user", this.uid);
        uploadFile(url, formData, this.simplefun);
      }
      let userData = {};
      userData.mail_address = this.mail_address;
      // userData.name = this.name;
      userData.name = this.nick_name;
      userData.phone = this.phone;
      userData.address = this.address;
      userData.uid = this.uid;
      updateUser(userData)
        .then(res => {
          this.$root.m_success(this.$tp("warn.editSuccess") + "!");
        })
        .catch(ex => {
          console.log(ex);
        });
      this.$store.commit("SET_INFO_SHOW", false);
    },
    shieldClose() {
      this.$store.commit("SET_INFO_SHOW", false);
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
      console.log("file#", this.file);
    },
    simplefun() {
      console.log("1234567");
    }
  }
};
</script>
