<template>
  <div class="gate-page">
    <div class="box" v-loading="isLoading">
      <div class="logo-text">
        <span>Silk</span>
        <span class="black">bot</span>
      </div>
      <div class="description">
        {{ $tp("description.signUp") }}
      </div>

      <div class="hint-hr">
        <span v-show="page === 'account'">{{ $tp("please.enterValidMailToSignUp") }}</span>
        <span v-show="page === 'password'">{{ $tp("please.enterValidPassword") }}</span>
        <span v-show="page === 'done'">{{ $tp("please.activateLink") }}</span>
      </div>
      <div v-show="page === 'account'">
        <div class="input-block">
          <div class="input-wrapper" :class="{ 'red-border': !isMailValid }">
            <input
              type="email"
              :placeholder="$tp('please.enterMailToSignUp')"
              v-model="mail"
              @keyup.enter.stop.prevent="goToPasswordBlock"
            />
          </div>
        </div>
        <div class="input-block">
          <div class="input-wrapper" :class="{ 'red-border': !isAccountValid }">
            <input
              type="text"
              :placeholder="$tp('please.enterAccountToSignUp')"
              v-model="userId"
              @keyup.enter.stop.prevent="goToPasswordBlock"
            />
          </div>
        </div>
        <div class="button-row">
          <span class="btn-main" @click="goToPasswordBlock">{{ $tp("label.countinute") }}</span>
        </div>
      </div>
      <div v-show="page === 'password'">
        <div class="input-block">
          <div class="input-wrapper disable">
            <input class="disabled" type="email" v-model="mail" disabled="disabled" />
          </div>
        </div>
        <div class="input-block">
          <div class="input-wrapper" :class="{ 'red-border': !isPasswordValid }">
            <input
              :type="passwordType"
              :placeholder="$tp('please.enterPasswordToSignUp')"
              v-model="password"
              @keyup.enter.stop.prevent="signUp"
            />
            <img
              v-show="isShowPassword"
              src="@img/eye_opened.svg"
              @click="
                isShowPassword = false;
                passwordType = 'password';
              "
            />
            <img
              v-show="!isShowPassword"
              src="@img/eye_forbidden.svg"
              @click="
                isShowPassword = true;
                passwordType = 'text';
              "
            />
          </div>
        </div>
        <div class="input-block">
          <div class="input-wrapper" :class="{ 'red-border': !isPassword2Valid }">
            <input
              :type="password2Type"
              :placeholder="$tp('please.enterPasswordAgainToSignUp')"
              v-model="password2"
              @keyup.enter.stop.prevent="signUp"
            />
            <img
              v-show="isShowPassword2"
              src="@img/eye_opened.svg"
              @click="
                isShowPassword2 = false;
                password2Type = 'password';
              "
            />
            <img
              v-show="!isShowPassword2"
              src="@img/eye_forbidden.svg"
              @click="
                isShowPassword2 = true;
                password2Type = 'text';
              "
            />
          </div>
        </div>
        <div class="password-description">
          {{ $tp("description.passowrdFormat") }}
        </div>
        <div class="button-row">
          <span class="btn-main" @click="backToEnteringMail">{{
            $tp("label.backToLastPage")
          }}</span>
          <span class="btn-main" @click="signUp">{{ $tp("label.signUpNow") }}</span>
        </div>
      </div>
      <div v-show="page === 'done'">
        <div class="done-description">
          {{ $tp("description.mailHasSent", { mail: this.mail }) }}
        </div>
        <div class="button-row">
          <span class="btn-main" @click="routeToLogin">{{ $tp("label.routeToLogin") }}</span>
        </div>
      </div>

      <div class="law-info">
        <div class="copyright">{{ $tp("label.copyright") }}</div>
        <div class="copyright">
          <span class="more-info">{{ $tp("label.privacyPolicy") }}</span>
          <span class="more-info">{{ $tp("label.termOfService") }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { checkUser, signUp } from "@/api/Auth";
import {
  validatePassword,
  PasswordTooShortError,
  PasswordTooLongError,
  PasswordWithoutLowerCaseLetterError,
  PasswordWithoutUpperCaseLetterError,
  PasswordWithoutNumberError,
  PasswordWithIllegalCharError,
  validMailAddress
} from "@u/validate";
export default {
  mixins: [],
  data() {
    return {
      mail: "",
      userId: "",
      password: "",
      password2: "",
      isLoading: false,
      isMailValid: true,
      isAccountValid: true,
      isPasswordValid: true,
      isShowPassword: false,
      passwordType: "password",
      isShowPassword2: false,
      isPassword2Valid: true,
      password2Type: "password",
      isEnteringPassword: false,
      page: "account",
      bot: {
        isLeft: true,
        isError: false
      }
    };
  },
  methods: {
    async goToPasswordBlock() {
      if (this.mail === "") {
        this.$root.m_error(this.$tp("warn.mailShouldNotBeEmpty"));
        this.isMailValid = false;
        return;
      }
      if (!validMailAddress(this.mail)) {
        this.$root.m_error(this.$tp("warn.mailFormatInvalid"));
        this.isMailValid = false;
        return;
      }
      if (this.userId === "") {
        this.$root.m_error(this.$tp("warn.accountShouldNotBeEmpty"));
        this.isAccountValid = false;
        return;
      }

      this.isLoading = true;
      try {
        await checkUser(this.userId, this.mail);
        this.isMailValid = true;
        this.isAccountValid = true;
        this.page = "password";
      } catch (error) {
        console.log(error);
        const errorCode = ((error.response || {}).data || {}).error_code;
        this.$root.m_error("unknown error", errorCode);
        console.log(errorCode);
        if (errorCode === 50005) {
          this.isAccountValid = false;
        } else if (errorCode === 50013) {
          this.isMailValid = false;
        }
      }
      this.isLoading = false;
    },
    backToEnteringMail() {
      this.page = "account";
    },
    checkPasswordValid(password) {
      try {
        validatePassword(this.password);
      } catch (error) {
        if (error instanceof PasswordTooShortError) {
          this.$root.m_error(this.$tp("warn.passwordTooShort"));
        } else if (error instanceof PasswordTooLongError) {
          this.$root.m_error(this.$tp("warn.passwordTooLong"));
        } else if (error instanceof PasswordWithoutUpperCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsUpperCaseLetter"));
        } else if (error instanceof PasswordWithoutLowerCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsLowerCaseLetter"));
        } else if (error instanceof PasswordWithoutNumberError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsNumber"));
        } else if (error instanceof PasswordWithIllegalCharError) {
          this.$root.m_error(this.$tp("warn.passwordWithIllegalChar", { char: error.char }));
        }
        return false;
      }

      return true;
    },
    async signUp() {
      this.isPasswordValid = true;
      this.isPassword2Valid = true;
      if (!this.checkPasswordValid(this.password)) {
        this.isPasswordValid = false;
        return;
      }
      if (this.password !== this.password2) {
        this.isPassword2Valid = false;
        this.$root.m_error(this.$tp("warn.passwordNotMatch"));
        return;
      }
      this.isLoading = true;

      try {
        await signUp(this.userId, this.mail, this.password);
        this.page = "done";
      } catch (error) {
        console.log(error);
        const errorCode = ((error.response || {}).data || {}).error_code;
        this.$root.m_error(this.$tp("warn.signUpFailed"), errorCode);
      }
      this.isLoading = false;
    },
    routeToLogin() {
      this.$router.push("/login");
    }
  }
};
</script>
<style lang="less" scoped>
</style>
