<template>
  <div class="gate-page">
    <div class="box" v-loading="isLoading">
      <div class="logo-text">
        <span>Silk</span>
        <span class="black">bot</span>
      </div>
      <div class="description">
        {{ $tp("description.signUp") }}
      </div>
      <div class="hint-hr">
        <span v-show="page === 'success'">{{ $tp("description.thanksForSignUp") }}</span>
        <span v-show="page === 'failed'">{{ $tp("please.reApplyActivation") }}</span>
        <span v-show="page === 'resent'">{{ $tp("please.activateLink") }}</span>
        <span v-show="page === 'unactivated'">{{ $tp("please.reApplyActivation") }}</span>
      </div>
      <div class="warning" v-show="page === 'failed' && isShowLinkInvalidText">
        {{ $tp("description.tokenInvalid") }}
      </div>
      <div class="warning" v-show="page === 'unactivated'">
        {{ $tp("description.notActivatedYet") }}
      </div>
      <div class="done-description" v-if="page === 'success'">
        {{ $tp("description.mailHasActivated") }}
      </div>
      <div class="done-description" v-if="page === 'resent'">
        {{ $tp("description.mailHasSent", { mail: $tp("label.yourMailbox") }) }}
      </div>
      <div class="button-row">
        <span class="btn-main" @click="routeToLogin">{{ $tp("label.backToLogin") }}</span>
        <span
          class="btn-main"
          v-show="['unactivated', 'failed'].includes(page)"
          @click="resendActivationMail"
          >{{ $tp("label.resendActivationMail") }}</span
        >
      </div>
      <div class="law-info">
        <div class="copyright">{{ $tp("label.copyright") }}</div>
        <div class="copyright">
          <span class="more-info">{{ $tp("label.privacyPolicy") }}</span>
          <span class="more-info">{{ $tp("label.termOfService") }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { activateUser, resendActivationMail } from "@/api/Auth";
export default {
  data() {
    return {
      isLoading: false,
      isShowLinkInvalidText: false,
      page: "failed",
      uid: "",
      isMailValid: true
    };
  },
  async created() {
    const urlParameters = this.$route.query;
    this.uid = urlParameters.uid;
    if (urlParameters.activation_code) {
      await this.activateUser(urlParameters.uid, urlParameters.activation_code);
    } else {
      this.page = "unactivated";
    }
  },
  methods: {
    async activateUser(userId, token) {
      this.isLoading = true;
      try {
        await activateUser(userId, token);
        this.page = "success";
      } catch (error) {
        console.log(error);
        this.page = "failed";
        this.isShowLinkInvalidText = true;

        const errorCode = ((error.response || {}).data || {}).error_code;
        this.$root.m_error(this.$tp("warn.accountActivateFail"), errorCode);
      }
      this.isLoading = false;
    },
    async resendActivationMail() {
      if (this.uid === "") {
        this.$root.m_error(this.$tp("warn.mailShouldNotBeEmpty"));
        this.isMailValid = false;
        return;
      }
      this.isLoading = true;
      try {
        await resendActivationMail(this.uid);
        this.page = "resent";
      } catch (error) {
        console.log(error);
        const errorCode = ((error.response || {}).data || {}).error_code;
        this.$root.m_error(this.$tp("warn.resendActivationMailFailed"), errorCode);
      }
      this.isLoading = false;
    },
    routeToLogin() {
      this.$router.push("/login");
    }
  }
};
</script>
<style lang="less" scoped></style>
