<template>
  <div class="dot_box" :class="{ dark: dark }" :style="style"></div>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: 25
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    style() {
      return {
        width: this.size + "px",
        height: this.size + "px"
      };
    }
  }
};
</script>

<style lang="less">
.dot_box {
  background: url("./img/dot.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;

  &:active {
    background-image: url("./img/dot2.svg");
  }
  &.active {
    background-image: url("./img/dot_active.svg");
    &:active {
      background-image: url("./img/dot2_active.svg");
    }
  }
  &:hover {
    background: url("./img/dot2.svg") no-repeat center;
    border-radius: 50px;
    background-size: cover;
  }
  &.dark {
    background-image: url("./img/dot_dark.svg");
    &:active {
      background-image: url("./img/dot_dark2.svg");
    }
    &.active {
      background-image: url("./img/dot_dark_active.svg");
      &:active {
        background-image: url("./img/dot_dark2_active.svg");
      }
    }
    &:hover {
      background-image: url("./img/dot_dark2.svg");
    }
  }
}
</style>