<template>
  <span>
    <universalButton
      :text="'API List'"
      :imgPath="require('@img/more_api.svg')"
      :imgHoverPath="require('@img/more_api_orange.svg')"
      @click="open"
    ></universalButton>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
export default {
  components: { universalButton },
  methods: {
    open() {
      this.$store.commit("SET_API_LIST_SHOW", true);
    }
  }
};
</script>