<template>
  <span>
    <universalButton
      :text="$tp(`bot.deploy`)"
      :imgPath="require('@img/deploy.svg')"
      :imgHoverPath="require('@img/deploy_orange.svg')"
      @click="deployBot"
    >
      <slot>
        <img slot="hint-icon" :src="botStatusImgSrc" class="bot-status" :title="LastFailedError" />
      </slot>
    </universalButton>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
import { mapGetters, mapState } from "vuex";
import { updateBot } from "@/api/Bot";
import { getEntities } from "@/api/Entity";
import { getIntents } from "@/api/Intent";
import { deploy } from "@/api/Deployment";
import { flowHelper } from "../views/FlowBuilder/FlowHelper";
import { getNluInfo } from "@/api/NluServices";
//mixins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  components: { universalButton },
  data() {
    return {
      subscription: undefined,
      listener: {
        onOpen: data => {
          console.log("onOpen_deployButton", data);
        },
        onCreate: function (data) {
          console.log("onCreate_deployButton", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("onDelete_deployButton", data);
        },
        onUpdate: data => {
          console.log("onUpdate_deployButton", data);
          this.processNotificatiomMessage(data);
        }
      }
    };
  },
  computed: {
    ...mapGetters(["user"]),
    ...mapState(["nluEndpoints"]),
    botStatusImgSrc() {
      if (this.currentBot) {
        if (this.currentBot.deploy_status === "ready")
          return require("../assets/img/bot_status_ready.svg");
        else if (this.currentBot.deploy_status === "failed")
          return require("../assets/img/bot_status_failed.svg");
      }
      return "";
    },
    LastFailedError() {
      if (this.currentBot.status === "failed") return this.currentBot.last_failed_log;
      return "";
    }
  },
  beforeDestroy() {
    this.$root.notificationService.unsubscribe(this.subscription);
  },
  methods: {
    init() {
      if (this.subscription) {
        this.$root.notificationService.unsubscribe(this.subscription);
      }

      this.subscription = this.$root.notificationService.subscribe(this.listener, {
        event: "bot_deploy_status",
        user_id: this.user.uid
      });
    },
    async deployBot() {
      let flow = await this.loadFlow(this.currentBot.id);
      for (let states of Object.values(flow.content.states)) {
        for (let state of states.nodes) {
          if (
            JSON.stringify(state.info.variables) === "{}" ||
            !state.info.hasOwnProperty("variables")
          ) {
            state.info.variables = [];
          }
        }
      }
      flow.endpoints = JSON.parse(JSON.stringify(this.nluEndpoints));
      flow.currentBot = JSON.parse(JSON.stringify(this.currentBot));
      if (!(flowHelper.checkSkillEmpty(flow) === "")) {
        alert(`${this.$tp("warn.emptySkill")}：${flowHelper.checkSkillEmpty(flow)}`);
        return;
      }
      if (!(flowHelper.checkMessageTprompt(flow)[0] === "")) {
        alert(
          `${this.$tp("warn.emptyMessagePrompt")}：${flowHelper.checkMessageTprompt(flow)[0]} -> ${
            flowHelper.checkMessageTprompt(flow)[1]
          }`
        );
        return;
      }
      if (!flowHelper.checkExistNluToken(flow.content) && !flow.currentBot.nlu_token) {
        if (!confirm(this.$tp("warn.nluNotSetting"))) {
          return;
        }
      }
      const entities = await getEntities(this.currentBot.id);
      flow.entities = entities.entities;
      const intents = await getIntents(this.currentBot.id);
      flow.intents = intents.intents;
      flow = flowHelper.syncFlowName(flow);
      let otherEndpoints = await flowHelper.sync_flow_nlu_id_exist(flow);
      let nluInfo = await getNluInfo();
      flow.nluInfo = nluInfo.nlu_info;
      flow.endpoints = flow.endpoints.concat(otherEndpoints);
      if (!flowHelper.checkEntityHasPrompt(flow.entities, flow.content)) {
        return;
      }
      const config = flowHelper.buildBot(this.currentBot.id, flow);
      try {
        await updateBot({
          id: this.currentBot.id,
          config: config
        });
        await deploy(this.currentBot.id, { config, flow });
      } catch (error) {
        console.log(error);
      }
    },

    loadFlow(botId) {
      return flowHelper.loadFlow(botId).then(flow => {
        if (!flow.id) {
          alert("Flow Wrong");
        } else {
          return Promise.resolve(flow);
        }
      });
    },
    processNotificatiomMessage(data) {
      if (data.content.status) {
        this.$store.commit("SET_TARGET_BOT_PROPERTY", {
          bot_id: data.agent_id,
          property: "deploy_status",
          value: data.content.status
        });
      }
    }
  }
};
</script>

<style lang="less" scoped>
.bot-status {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
}
</style>
