<template>
  <div class="entry-page fx fdc h100">
    <div class="_fill" :class="{ 'tab-page': useTabPageClass }">
      <div class="tab-page-inner fx fdc">
        <div class="page-title-row">
          <span v-show="!isShowEntityEditCell" class="page-title">{{ currentEntity.name }}</span>
          <input
            v-show="isShowEntityEditCell"
            @keypress.enter="
              finishEditEntityName(currentEntity);
              isShowEntityEditCell = false;
            "
            v-model="currentEntity.name"
            type="text"
          />
          <img
            class="edit-button"
            v-show="!isShowEntityEditCell"
            @click="editEntityName(currentEntity)"
            src="@img/edit.svg"
          />
          <img
            class="edit-button"
            v-show="isShowEntityEditCell"
            @click="
              finishEditEntityName(currentEntity);
              isShowEntityEditCell = false;
            "
            src="@img/save_gray.svg"
          />
          <div class="title-buttons">
            <pageTopMainButton
              v-show="currentEntryTab === 'entryManagement'"
              :label="$tp('label.importEntries')"
              img="import"
              @click.native="isShowImportEntriesWindow = true"
            ></pageTopMainButton>
            <pageTopMainButton
              v-show="isShowGoBackButton"
              :label="$tp('label.goBack')"
              img="back"
              @click.native="$router.go(-1)"
            ></pageTopMainButton>
          </div>
        </div>
        <tabBar
          :tabNames="['entryManagement', 'promptManagement']"
          @changeTab="changeEntryTab"
        ></tabBar>
        <template v-if="currentEntryTab === 'entryManagement'">
          <div class="new-item-row">
            <span class="label">{{ $tp("label.newEntryName") }}:</span>
            <input
              class="input-text"
              type="text"
              :placeholder="$tp('please.input')"
              v-model.trim="newEntryValue"
              @keypress.enter="createEntry"
            />
            <span class="submit-button" @click="createEntry">{{ $tp("label.create") }}</span>
          </div>
          <div class="one-border-table entry-page-table _fill">
            <div class="row" v-for="(entry, entryIndex) in currentEntity.entries">
              <div class="inner-row">
                <div class="text-row">
                  <span v-show="currentEditEntryIndex !== entryIndex" class="text">
                    {{ entry.value }}
                  </span>
                  <input
                    :ref="'entryInput' + entryIndex"
                    class="entry-input"
                    v-show="currentEditEntryIndex === entryIndex"
                    type="text"
                    :placeholder="$tp('please.input')"
                    v-model.trim="entry.value"
                    @keypress.enter="currentEditEntryIndex = -1"
                    @blur="finishEditEntryName(entryIndex, entry)"
                  />
                  <span class="control-block">
                    <el-dropdown trigger="click" @click.native.stop.prevent>
                      <div class="bt_more btn1">
                        <dotMenu></dotMenu>
                      </div>
                      <el-dropdown-menu class="dlorgmode" entity="dropdown">
                        <el-dropdown-item @click.native="editEntryName(entryIndex, entry)">{{
                          $tp("label.rename")
                        }}</el-dropdown-item>
                        <el-dropdown-item @click.native="deleteEntry(entryIndex)">{{
                          $tp("label.delete")
                        }}</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                    <span class="arrow-down-button" @click="expandEntry(entryIndex)">
                      <span
                        class="arrow-down"
                        :class="{
                          spin: currentExpandedEntryIndice[entryIndex]
                        }"
                      ></span>
                    </span>
                  </span>
                </div>
                <div v-show="currentExpandedEntryIndice[entryIndex]" class="synonyms-block _fill">
                  <span class="entry-cell">
                    <div class="new-synonym-value">
                      {{ newSynonymNames[entryIndex] }}
                      <input
                        v-model="newSynonymNames[entryIndex]"
                        :placeholder="$tp('please.enterSynonym') + '...'"
                        @keypress.enter="createSynonym(entryIndex, entry)"
                      />
                    </div>
                  </span>
                  <span v-for="(synonym, synonymIndex) in entry.synonyms" :key="synonymIndex">
                    <span class="entry-cell">
                      <span class="synonym-text" :title="synonym">{{ synonym }}</span>
                      <img
                        src="@img/close.svg"
                        class="delete-synonym-button"
                        @click="deleteSynonym(synonymIndex, entry)"
                      />
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="total-count">
            {{ $tp("label.totalCount", { count: currentEntity.entries.length }) }}
          </div>
        </template>
        <template v-if="currentEntryTab === 'promptManagement'">
          <div class="new-item-row">
            <span class="label">{{ $tp("label.newPrompt") }}:</span>
            <input
              class="input-text"
              type="text"
              :placeholder="$tp('please.input')"
              v-model="newPromptText"
              @keypress.enter="createPrompt"
            />
            <span class="submit-button" @click="createPrompt">{{ $tp("label.create") }}</span>
          </div>
          <div class="one-border-table entry-page-table _fill">
            <div class="row" v-for="(prompt, promptIndex) in currentEntity.prompts">
              <div class="inner-row">
                <div class="text-row">
                  <input
                    :ref="'promptInput' + promptIndex"
                    v-show="editablePromptIndice[promptIndex]"
                    v-model="tmpPromptText"
                    class="prompt-input"
                    tabindex="-1"
                    @keyup.enter="editablePromptIndice.splice(promptIndex, 1, false)"
                    @blur="finishEditPrompt(promptIndex)"
                  />
                  <span class="text" v-show="!editablePromptIndice[promptIndex]">
                    <div>{{ prompt }}</div>
                  </span>

                  <span class="control-block">
                    <el-dropdown trigger="click" @click.native.stop.prevent>
                      <div class="bt_more btn1">
                        <dotMenu></dotMenu>
                      </div>
                      <el-dropdown-menu class="dlorgmode" entity="dropdown">
                        <el-dropdown-item @click.native="editPrompt(promptIndex, prompt)">{{
                          $tp("label.edit")
                        }}</el-dropdown-item>
                        <el-dropdown-item @click.native="deletePrompt(promptIndex)">{{
                          $tp("label.delete")
                        }}</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="total-count">
            {{ $tp("label.totalCount", { count: currentEntity.prompts.length }) }}
          </div>
        </template>
      </div>
    </div>
    <importWindow
      v-if="isShowImportEntriesWindow"
      :title="$tp('label.importEntries')"
      :isShow="isShowImportEntriesWindow"
      :closeWindow="() => (isShowImportEntriesWindow = false)"
      :acceptedFormats="['json']"
      :ExampleObj="importEntriesExampleObj"
      fileFormat="json"
      @finish="importEntries"
    ></importWindow>
  </div>
</template>

<script>
import dotMenu from "@ui/dotMenu";
import pageTopMainButton from "@ui/pageTopMainButton";
import { updateEntity } from "@/api/Entity";
import tabBar from "@c/tabBar";
import importWindow from "@/components/importWindow";

export default {
  name: "entity",
  components: {
    dotMenu,
    pageTopMainButton,
    importWindow,
    tabBar
  },
  props: {
    currentEntity: Object,
    useTabPageClass: {
      type: Boolean,
      default: true
    },
    isShowGoBackButton: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      isShowEntityEditCell: false,
      entityNameForUndo: "",
      //entry
      newEntryValue: "",
      currentEntryTab: "entryManagement",
      currentEditEntryIndex: -1,
      currentExpandedEntryIndice: [],
      entryValueForUndo: "",
      isShowImportEntriesWindow: false,
      importEntriesExampleObj: {
        data: [
          {
            value: "水餃",
            synonyms: ["餃子"]
          },
          {
            value: "義大利麵",
            synonyms: ["義大利麵2"]
          }
        ]
      },
      //prompt
      newPromptText: "",
      tmpPromptText: "",
      editablePromptIndice: [],
      //synonyms
      newSynonymNames: []
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.newPromptText = "";
      this.newEntryValue = "";
    },
    changeEntryTab(tab) {
      this.init();
      this.currentEntryTab = tab;
    },
    editEntityName(entity) {
      this.entityNameForUndo = entity.name;
      this.isShowEntityEditCell = true;
    },
    finishEditEntityName(entity) {
      if (entity.name === this.entityNameForUndo) {
        return;
      }
      if (entity.name) {
        this.updateEntity(entity);
      } else {
        entity.name = this.entityNameForUndo;
        this.$root.m_error(
          `${this.$tp("bot.entries")}${this.$tp("bot.value")}${this.$tp("warn.isRequired")}`
        );
      }
    },
    editEntryName(index, entry) {
      if (this.currentEditEntryIndex !== -1) {
        this.currentEntity.entries[this.currentEditEntryIndex].value = this.entryValueForUndo;
      }
      this.entryValueForUndo = entry.value;
      this.currentEditEntryIndex = index;
      setTimeout(() => {
        this.$refs["entryInput" + index][0].focus();
      }, 0);
    },
    async finishEditEntryName(index, entry) {
      this.currentEditEntryIndex = -1;
      if (entry.value === this.entryValueForUndo) return false;
      if (entry.value === "") {
        entry.value = this.entryValueForUndo;
        this.$root.m_error(
          `${this.$tp("bot.entries")}${this.$tp("bot.value")}${this.$tp("warn.isRequired")}`
        );
        return;
      }
      try {
        await this.updateEntry();
      } catch (error) {
        entry.value = this.entryValueForUndo;
      }
    },
    createEntry() {
      if (this.newEntryValue === "") {
        this.$root.m_error(this.$tp("bot.value") + this.$tp("warn.isRequired"));
        return;
      }
      if (this.currentEntity.entries.find(e => e.value === this.newEntryValue)) {
        this.$root.m_error(this.$tp("warn.entryDuplicated"));
        return;
      }
      this.currentEntity.entries.unshift({
        value: this.newEntryValue,
        synonyms: [this.newEntryValue]
      });
      this.updateEntity(this.currentEntity);
      this.newEntryValue = "";
    },
    async updateEntry() {
      this.checkEntriesValid(this.currentEntity.entries);
      await this.updateEntity(this.currentEntity);
    },
    checkEntriesValid(entries) {
      this.checkEntriesNotEmpty(entries);
      this.checkEntriesNotDuplicated(entries);
    },
    checkEntriesNotEmpty(entries) {
      for (let entry of entries) {
        if (entry.value == "") {
          this.$root.m_error(
            `${this.$tp("bot.entries")}${this.$tp("bot.value")}${this.$tp("warn.isRequired")}`
          );
          throw error;
        }
      }
    },
    checkEntriesNotDuplicated(entries) {
      const entryLenth = entries.length;
      let isDuplicated = false;
      for (let i = 0; i < entryLenth - 1; i++) {
        for (let j = i + 1; j < entryLenth; j++) {
          if (entries[i].value === entries[j].value) {
            this.$root.m_error(this.$tp("warn.entryDuplicated"));
            throw this.$root.m_error(this.$tp("warn.entryDuplicated"));
          }
        }
      }
    },
    async deleteEntry(index) {
      try {
        await this.$root.confirm(this.currentEntity.entries[index].value);
      } catch (error) {
        return;
      }
      this.currentEntity.entries.splice(index, 1);
      this.updateEntity(this.currentEntity);
    },
    async updateEntity(inputEntity) {
      try {
        await updateEntity(inputEntity);
        this.$root.m_success(this.$tp("warn.saveChange"));
        this.$store.dispatch("updateEntities");
      } catch (error) {
        console.log(error);
      }
    },
    expandEntry(entryIndex) {
      this.$set(
        this.currentExpandedEntryIndice,
        entryIndex,
        !this.currentExpandedEntryIndice[entryIndex]
      );
    },
    createSynonym(entryIndex, entry) {
      this.newSynonymNames[entryIndex] = this.newSynonymNames[entryIndex].trim();

      if (!this.newSynonymNames[entryIndex]) {
        this.$root.m_error(this.$tp("bot.synonyms") + this.$tp("warn.isRequired"));
        return;
      }
      if (entry.synonyms.find(s => s === this.newSynonymNames[entryIndex])) {
        this.$root.m_error(this.$tp("warn.synonymsDuplicated"));
        return;
      }
      entry.synonyms.unshift(this.newSynonymNames[entryIndex]);
      this.updateEntry();
      this.newSynonymNames[entryIndex] = "";
    },
    deleteSynonym(synonymIndex, entry) {
      entry.synonyms.splice(synonymIndex, 1);
      this.updateEntry();
    },
    createPrompt() {
      this.newPromptText = this.newPromptText.trim();
      if (this.newPromptText == "") {
        this.$root.m_error(this.$tp("bot.prompts") + this.$tp("warn.isRequired"));
        return;
      }
      this.currentEntity.prompts.unshift(this.newPromptText);
      const tempEntity = {
        id: this.currentEntity.id,
        prompts: this.currentEntity.prompts
      };
      this.updateEntity(tempEntity);
      this.newPromptText = "";
    },
    async deletePrompt(promptIndex) {
      try {
        await this.$root.confirm(this.currentEntity.prompts[promptIndex]);
      } catch (error) {
        return;
      }
      this.currentEntity.prompts.splice(promptIndex, 1);
      const tempEntity = {
        id: this.currentEntity.id,
        prompts: this.currentEntity.prompts
      };
      this.updateEntity(tempEntity);
    },
    editPrompt(promptIndex, promptText) {
      this.tmpPromptText = promptText;
      this.$set(this.editablePromptIndice, promptIndex, true);
      setTimeout(() => {
        this.$refs["promptInput" + promptIndex][0].focus();
      }, 0);
    },
    finishEditPrompt(promptIndex) {
      this.editablePromptIndice.splice(promptIndex, 1, false);
      if (this.tmpPromptText === this.currentEntity.prompts[promptIndex]) return false;
      if (this.tmpPromptText === "") {
        this.$root.m_error(`${this.$tp("bot.prompts")}${this.$tp("warn.isRequired")}`);
        return;
      }
      this.currentEntity.prompts[promptIndex] = this.tmpPromptText;
      const tempEntity = {
        id: this.currentEntity.id,
        prompts: this.currentEntity.prompts
      };
      this.updateEntity(tempEntity);
      this.tmpPromptText = "";
    },
    importEntries(file) {
      let reader = new FileReader();
      reader.onload = async e => {
        let data;
        try {
          data = JSON.parse(e.target.result);
        } catch {
          this.$root.m_error(this.$tp("warn.fileFormatError"));
          return;
        }
        try {
          let tmpEntries = this.currentEntity.entries;
          tmpEntries = this.appendNotDuplicatedEntries(data.data, tmpEntries);
          this.checkEntriesValid(tmpEntries);
          await updateEntity({
            id: this.currentEntity.id,
            entries: tmpEntries
          });
          this.currentEntity.entries = tmpEntries;
          this.$root.m_success(this.$tp("label.import") + this.$tp("warn.success"));
        } catch (error) {
          console.log(error);
          if (error) {
            this.$root.m_error(
              this.$tp("label.import") + this.$tp("warn.failed"),
              ((error.response || {}).data || {}).error_code
            );
          }
        }
      };
      reader.readAsText(file.raw);
      this.isShowImportEntriesWindow = false;
    },
    appendNotDuplicatedEntries(newEntries, tmpEntries) {
      for (let entry of newEntries) {
        if (!tmpEntries.find(e => e.value == entry.value)) {
          tmpEntries.push(entry);
        }
      }
      return newEntries;
    }
  }
};
</script>

<style lang="less" scoped>
.tab-bar {
  padding: 10px 0;
  margin: 0;
  border-bottom: 3px solid #f5f5f5;
}
.entry-page-table {
  max-height: 100%;
  overflow-y: auto;
  height: 40vh;
  .row {
    &:hover {
      .entry-input {
        background-color: #f5f5f5;
      }
    }
  }
  .entry-input {
    padding: 0;
    color: #727272;
    font-size: 16px;
    width: 80%;
  }
}
</style>
