<template>
  <span class="flex-input-cell vtc">
    <slot name="pre-block"></slot>
    <span class="flex-input-cell-container" :style="cellStyle">
      <span class="aux">{{text}}</span>
      <input
        v-model="text"
        type="text"
        :placeholder="placeHolderText"
        @blur="triggerBlurEvent"
        @keypress.enter="triggerKeyPressEnter"
      />
    </span>

    <slot name="post-block"></slot>
  </span>
</template>

<script>
export default {
  props: {
    value: "",
    placeHolderText: "",
    cellStyle: ""
  },
  data() {
    return {
      text: this.value
    };
  },
  methods: {
    triggerBlurEvent() {
      this.$emit("vue-blur", this.text);
    },
    triggerKeyPressEnter() {
      this.$emit("key-press-enter", this.text);
    }
  }
};
</script>

<style lang="less">
.flex-input-cell {
  border: solid 1px #0fa8a8;
  border-radius: 20px;
  padding: 5px 8px;
  margin: 5px;

  .flex-input-cell-container {
    position: relative;

    .aux {
      display: inline-block;
      visibility: hidden;
      white-space: pre;
    }
    input {
      color: #0fa8a8;
      font-size: 12px;
      position: absolute;
      border:none !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border: none;
    }
  }
}
</style>