<template>
  <span>
    <universalButton
      :text="$tp([`label.import`,`label.data`])"
      :imgPath="require('@img/import_button.svg')"
      :imgHoverPath="require('@img/import_button_orange.svg')"
      @click="openImportWindow"
    ></universalButton>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
import { mapGetters } from "vuex";
import { deepClone } from "@u/methodsHelper";
import { updateFlow } from "@/api/Bot";
import { flowHelper } from "../views/FlowBuilder/FlowHelper";
import App from "@mix/App";
export default {
  mixins: [App],
  data() {
    return {};
  },
  components: { universalButton },
  computed: {
    ...mapGetters(["user"])
  },
  beforeDestroy() {},
  methods: {
    async openImportWindow() {
      this.App.router_toMode("import_config");
    }
  }
};
</script>

<style lang="less">
</style>
