<template>
  <Shield
    :as="'pop'"
    :showBy="isShow"
    :close="closeWindow"
    :submit="finish"
    :ctnClass="'maxW_1000 '"
    :title="title"
  >
    <template slot="body">
      <div class="shield-body">
        <el-upload
          :file-list="uploadFiles"
          action="alert"
          :accept="acceptedFormatsInElement"
          :auto-upload="false"
          :on-change="loadJsonFromFile"
        >
          <div class="file-cell">
            <img style="add-file" src="/img/add-file.svg" />
            <span class="text">
              <div class="main-text">{{ $tp("please.chooseFile") }}</div>
              <div class="sub-text">
                {{
                  $tp("label.allowedFileFormats", {
                    formats: acceptedFormats.join(",")
                  })
                }}
              </div>
            </span>
          </div>
          <div slot="tip"></div>
        </el-upload>
        <div class="example-block" v-if="ExampleObj">
          <div class="description">
            {{ $tp("please.downloadExamples", { fileFormat: fileFormat }) }}
            <img src="@img/download.svg" alt="download" @click="downloadExample(ExampleObj)" />
          </div>
          <code>
            <vue-json-pretty v-if="fileFormat === 'json'" :path="'res'" :data="ExampleObj">
            </vue-json-pretty>
            <div class="wrap">
              <template v-if="fileFormat === 'tsv'">{{ ExampleObjInTsv }}</template>
              <template v-if="fileFormat === 'txt'">{{ this.ExampleObj.data }}</template>
            </div>
          </code>
        </div>
      </div>
    </template>
  </Shield>
</template>

<script>
import Shield from "@c/shield";
import { downloadJson, downloadFile } from "@u/methodsHelper";
import VueJsonPretty from "vue-json-pretty";
import "vue-json-pretty/lib/styles.css";

export default {
  props: {
    title: String,
    isShow: Boolean,
    closeWindow: Function,
    acceptedFormats: Array,
    ExampleObj: {
      type: Object,
      defalut: undefined
    },
    fileFormat: String
  },
  components: {
    Shield,
    VueJsonPretty
  },
  data() {
    return {
      uploadFiles: []
    };
  },
  computed: {
    acceptedFormatsInElement() {
      let result = [];
      for (let format of this.acceptedFormats) {
        switch (format.toLowerCase()) {
          case "json":
            result.push("application/json");
            break;
          default:
            result.push(`.${format.toLowerCase()}`);
            break;
        }
      }
      return result.join(",");
    },
    ExampleObjInTsv() {
      let resultString = "";
      for (let row of this.ExampleObj.data) {
        let tempRowArray = [];
        for (const [_, column] of Object.entries(row)) {
          tempRowArray.push(column);
        }
        resultString += tempRowArray.join("\t");
        resultString += "\n";
      }
      return resultString;
    },
    ExampleObjInTxt() {
      return this.ExampleObj.data;
    }
  },
  methods: {
    finish() {
      if (this.uploadFiles.length !== 1) {
        this.$root.m_error(this.$tp("warn.shouldBeOneFile"));
        return;
      }
      this.$emit("finish", this.uploadFiles[0]);
    },
    loadJsonFromFile(file, fileList) {
      this.uploadFiles = fileList;
    },
    downloadExample(obj) {
      if (this.fileFormat === "json") {
        downloadJson(obj, "example");
      } else if (this.fileFormat === "tsv") {
        downloadFile(this.ExampleObjInTsv, "example", "tsv");
      } else if (this.fileFormat === "txt") {
        downloadFile(this.ExampleObjInTxt, "example", "txt");
      }
    }
  }
};
</script>

<style lang="less" scoped>
.shield-body {
  padding: 0 20px;
  text-align: center;
  .file-cell {
    border-radius: 10px !important;
  }
  .example-block {
    margin-top: 10px;

    .description {
      text-align: left;
      font-size: 14px;
      display: flex;
      align-items: center;
      img {
        margin-left: 5px;
        cursor: pointer;
      }
    }
    code {
      margin-top: 5px;
    }
  }
}
</style>