<template>
  <span class="more-button" @blur="blurWindow" ref="moreWindow" tabindex="-1">
    <universalButton
      :text="$tp(`bot.more`)"
      :imgPath="require('@img/more_options.svg')"
      :imgHoverPath="require('@img/more_options_orange.svg')"
      @click="switchMoreWindow"
    ></universalButton>
    <div v-show="isShowWindow" class="more-window">
      <table>
        <tr>
          <td>
            <versionButton></versionButton>
          </td>
          <td>
            <apiListButton></apiListButton>
          </td>
          <td>
            <nluEndpoints></nluEndpoints>
          </td>
        </tr>
      </table>
    </div>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
import versionButton from "@c/versionButton";
import apiListButton from "@c/apiListButton";
import nluEndpoints from "@c/nluEndpoints";

export default {
  components: { universalButton, versionButton, apiListButton, nluEndpoints },
  data() {
    return {
      isShowWindow: false
    };
  },
  methods: {
    switchMoreWindow() {
      this.isShowWindow = !this.isShowWindow;
      if (this.isShowWindow) {
        this.$nextTick(() => {
          this.$refs.moreWindow.focus();
        });
      }
    },
    blurWindow() {
      this.isShowWindow = false;
    }
  }
};
</script>

<style lang="less" scoped>
.more-button {
  position: relative;
  .more-window {
    position: absolute;
    top: 60px;
    right: 0px;
    word-break: wrap;
    box-shadow: 2px 2px 5px #00000029;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background: white;
    padding: 10px;
    color: #555555;
  }
}
</style>
