<template>
  <div class="fx">
    <div class="header_ctn">
      <el-form @submit.native.prevent :inline="true">
        <el-form-item :label="$tp('label.group')" v-if="showGroup">
          <el-select v-model="sd_group" :placeholder="$tp('please.choose')">
            <el-option
              v-for="item in groupsContainAll"
              :key="item.name"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="showRole">
          <el-radio-group v-model="sd_role">
            <el-radio-button :label="item" :key="item" v-for="item in allowRole || []">{{
              $tp(`role.${item}`)
            }}</el-radio-button>
          </el-radio-group>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script>
import App from "@mix/App";
import { isUndefined } from "@u/methodsHelper";
// api
import { getGroups } from "@/api/Group";

const regexIdentityEscape = /([\(\)\.\+\^\*\[\]\"\?\$\\])/g;

export default {
  mixins: [App],
  props: {
    showGroup: Boolean,
    showRole: Boolean
  },
  data() {
    return {
      sd_role: "",
      groupList: [],
      sd_group: "",
      navbar_ready: false
    };
  },
  computed: {
    allowRole() {
      let result = this.$store.state.allowRole;
      this.sd_role = result[0];
      return result;
    },
    groupsContainAll() {
      return [
        {
          id: "",
          name: this.$tp("label.all")
        }
      ].concat(this.groupList);
    }
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      if (this.showGroup) this.getGroups();
    },
    getGroups() {
      getGroups()
        .then(res => {
          this.groupList = res.groups;
          this.sd_group = "";
          this.navbar_ready = true;
        })
        .catch(ex => {
          console.log(ex);
        });
    }
  },
  watch: {
    sd_group: {
      handler() {
        if (this.showGroup && !isUndefined(this.$parent.sd_group))
          this.$parent.sd_group = this.sd_group;
      },
      immediate: true
    },
    sd_role: {
      handler() {
        if (this.showRole && !isUndefined(this.$parent.sd_role))
          this.$parent.sd_role = this.sd_role;
      },
      immediate: true
    },
    navbar_ready: {
      handler() {
        if (this.showRole && !isUndefined(this.$parent.navbar_ready))
          this.$parent.navbar_ready = this.navbar_ready;
      },
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.header_ctn {
  margin: 10px 80px 0;
}
</style>