<template>
  <span>
    <universalButton
      :text="'NLU Endpoints'"
      :imgPath="require('@img/more_nlu.svg')"
      :imgHoverPath="require('@img/more_nlu_orange.svg')"
      @click="open"
    ></universalButton>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
export default {
  components: { universalButton },
  methods: {
    open() {
      this.$store.commit("SET_NLU_ENDPOINTS_SHOW", true);
    }
  }
};
</script>