<template>
  <span class="notification" @blur="blurNotificationWindow" ref="notificationWindow" tabindex="-1">
    <universalButton
      :text="$tp('label.notificationCenter')"
      :imgPath="require('@img/notification.svg')"
      :imgHoverPath="require('@img/notification_orange.svg')"
      @click="switchNotificationWindow"
    >
      <slot>
        <div
          v-show="unreadNotificationHistory.length > 0"
          slot="hint-icon"
          class="notification-count"
        >
          <div
            class="count"
          >{{unreadNotificationHistory.length > 99 ? '99+': unreadNotificationHistory.length}}</div>
        </div>
      </slot>
    </universalButton>
    <div v-show="isShowNotificationWindow" class="notification-window fx fdc">
      <div class="notification-title">{{$tp('label.newMessage')}}</div>
      <div class="notification-body _fill">
        <template v-if="unreadNotificationHistory.length > 0">
          <div
            v-for="notification, index in unreadNotificationHistory.slice(0,10)"
            class="notification-block"
          >
            <span class="icon-block">
              <img
                class="notification-type-icon"
                v-show="notification.event==='bot_deploy_status'"
                src="@img/send.svg"
                :title="$tp('label.notificationTypes_bot_deploy_status')"
              />
              <img
                class="notification-type-icon"
                v-show="notification.event==='bot_train_status'"
                src="@img/send.svg"
                :title="$tp('label.notificationTypes_bot_train_status')"
              />
              <img
                class="notification-type-icon"
                v-show="notification.event==='bot_auth'"
                src="@img/share.svg"
                :title="$tp('label.notificationTypes_bot_auth')"
              />
              <img
                class="notification-type-icon"
                v-show="notification.event==='update_nlu_data'"
                src="@img/send.svg"
                :title="$tp('label.notificationTypes_bot_auth')"
              />
            </span>
            <span class="text">
              <div class="content">{{notificationToText(notification)}}</div>
              <span class="date-time">{{timeStampToDateText(notification.updated)}}</span>
            </span>
          </div>
        </template>
        <template v-if="unreadNotificationHistory.length === 0">
          <div class="empty-message">{{$tp('label.noMessageNow')}}</div>
        </template>
      </div>
      <div class="notification-footer">
        <div class="button" @click="openNotificationPage">{{$tp('label.showAll')}}</div>
      </div>
    </div>
  </span>
</template>

<script>
import App from "@mix/App";
import { time2Text } from "@/utils/time";
import { mapState, mapGetters } from "vuex";
import NotificationMixin from "@mix/notification";
import universalButton from "@c/universalButton";

export default {
  mixins: [App, NotificationMixin],
  components: { universalButton },
  computed: {
    ...mapState(["unreadNotificationHistory"]),
    ...mapGetters(["currentPageInfo"])
  },
  data() {
    return {
      isShowNotificationWindow: false
    };
  },
  methods: {
    timeStampToDateText: time2Text,
    switchNotificationWindow() {
      this.isShowNotificationWindow = !this.isShowNotificationWindow;
      if (this.isShowNotificationWindow) {
        this.$nextTick(() => {
          this.$refs.notificationWindow.focus();
        });
      }
    },
    openNotificationPage() {
      this.isShowNotificationWindow = false;
      if (this.currentPageInfo.title !== "router.messageCenter") {
        this.$router.push({ path: "/notificationHistory" });
      }
    },
    blurNotificationWindow() {
      this.isShowNotificationWindow = false;
    }
  }
};
</script>
<style lang="less" scoped>
.notification {
  position: relative;

  .notification-count {
    position: absolute;
    font-size: 9px;
    top: 3px;
    right: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #f51818;
    color: white;
    display: table;
    text-align: center;
    .count {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .notification-window {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 500px;
    word-break: wrap;
    box-shadow: 2px 2px 5px #00000029;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background: white;
    max-height: ~"calc(100vh - 80px)";
    color: #555555;

    .notification-title {
      padding: 10px;
      font-size: 14px;
    }
    .notification-body {
      font-size: 14px;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
      max-height: 500px;

      overflow-y: auto;
      .notification-block {
        padding: 10px 10px 5px;
        display: flex;
        align-items: center;
        .icon-block {
          img {
            min-width: 20px;
          }
        }
        .text {
          padding: 0 5px;
          .content {
            font-size: 14px;
            white-space: pre-line;
          }
          .date-time {
            margin-top: 5px;
            font-size: 14px;
            color: #aaaaaa;
          }
        }
      }
      .empty-message {
        padding: 10px;
      }
    }
    .notification-footer {
      text-align: center;
      padding: 10px 0;
      .button {
        font-size: 14px;
        color: #ff8560;
        cursor: pointer;
      }
    }
  }
}
</style>

