<template>
  <div class="object_table">
    <div v-for="item in value_self" class="object_row">
      <div class="object_item">
        <input v-model="item[0]" type="text" :disabled="!enable" />
      </div>
      <div class="object_item">
        <input v-model="item[1]" type="text" :disabled="!enable" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: Array, //[[undefined, undefined]]
    enable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      value_self: []
    };
  },
  created() {
    this.value_self = this.value;
  },
  watch: {
    value_self: {
      handler(val) {
        if (!val.length) return false;
        if (val[val.length - 1][0] !== undefined || val[val.length - 1][1] !== undefined) {
          this.value_self.push([undefined, undefined]);
        }
      },
      deep: true
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.object_table {
  .object_row {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .object_item {
    width: 100%;
    &:not(:last-child) {
      margin-right: 5px;
    }
    input[type="text"] {
      width: 100%;
      border: none;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 5px 10px;
      color: #000000;
      &:focus {
        box-shadow: 0 0 0px 2px @org;
      }
      &:disabled {
        color: #545454;
        background-color: #cccccc;
        cursor: default;
      }
    }
  }
}
</style>