<template>
  <div class="search-bar">
    <img src="@img/search.svg" class="flag" />
    <input
      class="text"
      type="text"
      :placeholder="placeholderText"
      v-model="queryString"
      @keypress.enter="$emit('submit', queryString)"
    />
    <img src="@img/arrow_right_orange.svg" class="button" @click="$emit('submit', queryString)" />
  </div>
</template>

<script>
export default {
  props: {
    placeholderText: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      queryString: ""
    };
  }
};
</script>

<style lang="less">
.search-bar {
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  padding: 8px 8px 8px 15px;
  transition: 0.5s;
  width: 20%;
  min-width: 300px;
  margin-left: auto;
  margin-right: 0;

  &:focus-within {
    transition: 0.5s;
    width: 100%;
  }

  .flag {
    width: 20px;
  }

  .button {
    width: 25px;
    cursor: pointer;
  }

  input {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 14px;
    border: none;
    background: none;
    color: #555555;

    &::placeholder {
      color: #9f9f9f;
    }
  }
}
</style>