<template>
  <div class="shield_scroll" ref="scroll" v-show="show" @keyup.esc="closeEvent" tabindex="-1">
    <div class="close_frame" @click="closeEvent"></div>
    <div class="shield_frame fx jcc" :class="frameClass">
      <div class="shield_ctn" :class="ctnClass" :style="{ maxWidth: `${maxWidth}px` }">
        <div class="shield_x" @click="closeEvent"></div>
        <div v-if="title || $slots.title" class="shield_ttl">
          <div class="shield_ttl_box">
            <img v-if="ttlIcon" :src="ttlIcon" />
            <span class="txt">{{ title }}</span>
          </div>
          <slot name="title" v-if="$slots.title"></slot>
        </div>
        <slot name="body"></slot>
        <div class="shield_btn" v-if="showButtons">
          <button class="gray btn-main" @click="closeEvent">{{ $tp("label.cancel") }}</button>
          <button
            class="btn-main"
            v-if="!!submit"
            type="primary"
            @click="submit"
            :loading="submitLoading"
          >
            {{ $tp("label.ok") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Stream } from "stream";
import { isUndefined } from "@u/methodsHelper";
export default {
  props: {
    ttlIcon: String, // title icon url
    as: String, //page, pop
    frameClass: String,
    ctnClass: String,
    title: String,
    submit: Function,
    close: Function,
    showBy: undefined,
    submitLoading: Boolean,
    showButtons: {
      type: Boolean,
      default: true
    },
    maxWidth: {
      type: Number,
      default: 1000
    }
  },
  data() {
    return {
      show: false
    };
  },
  computed: {
    isPage() {
      return this.as === "page";
    },
    isPop() {
      return this.as === "pop";
    }
  },
  created() {
    if (this.isPage) this.show = true;
  },
  mounted() {
    this.$refs.scroll.focus();
  },
  beforeDestroy() {
    this.$store.commit("SET_IS_SHIELD", false);
  },
  methods: {
    closeEvent() {
      if (this.isPage) this.$router.go(-1);
      else if (this.isPop) this.show = false;

      this.close && this.close();
    }
  },
  watch: {
    showBy: {
      handler(val) {
        if (isUndefined(this.showBy)) return false;
        this.show = val;
      },
      immediate: true
    },
    show: {
      handler(val) {
        //layout Z軸層級切換
        this.$store.commit("SET_IS_SHIELD", val);
        if (val) {
          setTimeout(() => {
            this.$refs.scroll.focus();
          }, 0);
        }
      },
      immediate: true
    }
  }
};
</script>
<style lang="less">
.el-form--label-top .el-form-item__label {
  padding-bottom: 0;
}
</style>