<template>
  <div class="tab-bar">
    <span
      class="tab"
      :class="{'is-active': currentTabIndex === tabIndex}"
      @click="clickTab(tabIndex)"
      v-for="tabName, tabIndex in tabNames"
    >{{$tp(`tab.${tabName}`)}}</span>
  </div>
</template>

<script>
export default {
  name: "tabBar",
  props: {
    tabNames: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      currentTabIndex: 0
    };
  },
  methods: {
    clickTab(tabIndex) {
      if (tabIndex == this.currentTabIndex) {
        return;
      }
      this.currentTabIndex = tabIndex;
      this.$emit("changeTab", this.tabNames[tabIndex]);
    }
  }
};
</script>

<style lang="less" scoped>
.tab-bar {
  font-size: 12px;
  padding: 10px 90px 0;
  margin: 0 10px 10px;
  min-width: 500px;
  .tab {
    color: #4e4e4e;
    padding: 5px 10px;
    margin-right: 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    &.is-active {
      color: #ff8560;
      cursor: default;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -13px;
        height: 3px;
        background-color: #ff8560;
      }
    }
  }
}
</style>