<template>
  <span>
    <universalButton
      :text="$tp(`bot.test`)"
      :imgPath="require('@img/test.svg')"
      :imgHoverPath="require('@img/test_orange.svg')"
      @click="testBot"
    ></universalButton>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
import { mapGetters } from "vuex";
import { deepClone } from "@u/methodsHelper";
//mixins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  data() {
    return {};
  },
  components: { universalButton },
  computed: {
    ...mapGetters(["user"])
  },
  beforeDestroy() {},
  methods: {
    testBot() {
      this.$store.commit("SET_SHOW_MSGBOX", true);
    }
  }
};
</script>

<style lang="less">
</style>
