<template>
  <span class="train-button">
    <universalButton
      :text="$tp(`bot.train`)"
      :imgPath="botRingImgSrc"
      :imgHoverPath="botRingImgHoveringSrc"
      :isSpin="isTraining"
      @click="trainBot"
    >
      <slot>
        <img slot="hint-icon" :src="botStatusImgSrc" class="bot-status" :title="LastFailedError" />
        <img slot="hint-icon" src="@img/train_core.svg" class="icon-core not-hover" />
        <img slot="hint-icon" src="@img/train_core_orange.svg" class="icon-core hover" />
      </slot>
    </universalButton>
    <div class="train-result-window" v-show="!isShowNLUDemoBlock && !isNLUUntrained">
      <div class="score">
        <span class="label">{{ $tp("bot.intent") }}:</span>
        <span class="value">{{
          socreToText((currentBot.train_detail || {}).intent_score, trainIntentThrehold)
        }}</span>
        <span class="spliter"></span>
        <span class="label">{{ $tp("bot.entity") }}:</span>
        <span class="value">{{
          socreToText((currentBot.train_detail || {}).entity_score, trainEntityThrehold)
        }}</span>
        <span class="test-button btn-main" @click="ShowNLUDemoBlock">{{ $tp("bot.test") }}</span>
      </div>
      <div class="threshold-display">
        <span class="text">{{ $tp("label.accuracy") }}</span>
        <span class="value">{{ intentThreshold }}</span>
        <span
          class="bar"
          :style="{
            background: `linear-gradient(90deg, #ff8560 ${intentThreshold * 100}%, #F0F0F0 0%)`
          }"
        ></span>
      </div>
    </div>
    <div v-show="isShowNLUDemoBlock" class="nlu-demo">
      <img class="close-button" src="@img/close_icon.svg" @click="ShowNLUDemoBlock" />
      <div class="input-block">
        <input
          type="text"
          v-model="utteranceToBeAnalyzed"
          :placeholder="$tp('please.enterUtteranceForAnalysis')"
          @keypress.enter="analyzeUtterance"
        />
      </div>
      <div class="threshold">
        <span class="label">{{ $tp("label.adjustAccuracy") }}</span>
        <span class="slider-wrapper">
          <el-slider
            v-model="intentThreshold"
            :min="0"
            :max="1"
            :step="0.05"
            @change="updateBotIntentThreshold"
          ></el-slider>
        </span>
      </div>

      <div v-show="analysisHistory.length > 0" class="analysis-blocks">
        <div class="analysis-block" v-for="analysis in analysisHistory">
          <div class="analysis-utterance">
            <span class="flag"></span>
            <span class="text">{{ analysis.utterance }}</span>
          </div>
          <div class="analysis-time">{{ analysis.time }}</div>
          <div class="data-block">
            <table class="analysis-table">
              <tr>
                <th class="title">{{ $tp("label.intent") }}</th>
              </tr>
              <tr v-for="intentResult in analysis.intents">
                <td>{{ intentResult.value }}</td>
                <td>{{ intentResult.confidence }}</td>
              </tr>
            </table>
            <table class="analysis-table">
              <tr>
                <th class="title">{{ $tp("label.intentTop5") }}</th>
              </tr>
              <tr v-for="intentResult in analysis.top5_intents">
                <td>{{ intentResult.value }}</td>
                <td class="float-right">{{ intentResult.confidence }}</td>
              </tr>
            </table>
            <table class="analysis-table">
              <tr>
                <th class="title">{{ $tp("label.combinedIntent") }}</th>
              </tr>
              <tr v-for="intentResult in analysis.combine_intents">
                <td>{{ intentResult.value }}</td>
                <td class="float-right">{{ intentResult.confidence }}</td>
              </tr>
            </table>
            <table class="analysis-table">
              <tr>
                <th class="title">{{ $tp("bot.entity") }}</th>
              </tr>
              <tr v-for="(words, entityName) in analysis.entities">
                <td>{{ entityName }}</td>
                <td class="float-right">{{ words.join(",") }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
import universalButton from "@c/universalButton";
import { mapGetters, mapState } from "vuex";
import { deepClone } from "@u/methodsHelper";
import { train } from "@/api/Train";
import { getBot, updateBot } from "@/api/Bot";
import { analyzeUtterance } from "@/api/NluServices";
import { time2Text } from "@/utils/time";
//mixins
import currentBot from "@mix/bot/currentBot";

const DEFAULT_INTENT_THRESHOLD = 0.5;

export default {
  mixins: [currentBot],
  components: { universalButton },
  data() {
    return {
      botTrainStatusSubscription: undefined,
      botNLUIsModifiedSubscription: undefined,
      isTraining: false,
      isShowNLUDemoBlock: false,
      utteranceToBeAnalyzed: "",
      analysisHistory: [],
      trainIntentThrehold: {
        good: 0.9,
        normal: 0.6,
        bad: 0
      },
      trainEntityThrehold: {
        good: 0.9,
        normal: 0.6,
        bad: 0
      },
      intentThreshold: 0,
      botTrainStatusListener: {
        onOpen: data => {
          console.log("onOpen_trainButton", data);
        },
        onCreate: function(data) {
          console.log("onCreate_trainButton", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("onDelete_trainButton", data);
        },
        onUpdate: data => {
          console.log("onUpdate_trainButton", data);
          this.processBotTrainStatusNotification(data);
        }
      },
      botNLUDataModifiedListener: {
        onOpen: data => {
          console.log("botNLUDataModifiedListener", data);
        },
        onCreate: function(data) {
          console.log("botNLUDataModifiedListener", data);
          this.onUpdate(data);
        },
        onDelete: data => {
          console.log("botNLUDataModifiedListener", data);
        },
        onUpdate: data => {
          console.log("botNLUDataModifiedListener", data);
          this.processBotNLUDataModifieldNotification(data);
        }
      },
      lock: false
    };
  },
  computed: {
    ...mapGetters(["user"]),
    ...mapState(["nluTestString"]),
    botStatusImgSrc() {
      if (this.currentBot) {
        if (this.currentBot.train_status === "trained" && this.currentBot.is_nlu_data_modified)
          return require("../assets/img/bot_status_refresh.svg");
        else if (
          this.currentBot.train_status === "trained" &&
          !this.currentBot.is_nlu_data_modified
        )
          return require("../assets/img/bot_status_ready.svg");
        else if (this.currentBot.train_status === "failed" && this.currentBot.is_nlu_data_modified)
          return require("../assets/img/bot_status_failed_refresh.svg");
        else if (this.currentBot.train_status === "failed" && !this.currentBot.is_nlu_data_modified)
          return require("../assets/img/bot_status_failed.svg");
      }
      return "";
    },
    botRingImgSrc() {
      if (this.currentBot) {
        if (this.currentBot.train_status === "training")
          return require("../assets/img/training_ring.svg");
        else return require("../assets/img/train_ring.svg");
      }
      return "";
    },
    botRingImgHoveringSrc() {
      if (this.currentBot) {
        if (this.currentBot.train_status === "training")
          return require("../assets/img/training_ring_orange.svg");
        else return require("../assets/img/train_ring_orange.svg");
      }
      return "";
    },
    LastFailedError() {
      if (this.currentBot.status === "failed") return this.currentBot.last_failed_log;
      return "";
    },
    isNLUUntrained() {
      return this.currentBot.train_status == "untrained";
    }
  },
  beforeDestroy() {
    this.$root.notificationService.unsubscribe(this.botTrainStatusSubscription);
    this.$root.notificationService.unsubscribe(this.botNLUIsModifiedSubscription);
  },
  methods: {
    init() {
      if (!this.currentBot.intent_threshold) {
        this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
          property: "intent_threshold",
          value: DEFAULT_INTENT_THRESHOLD
        });
        this.intentThreshold = DEFAULT_INTENT_THRESHOLD;
      } else {
        this.intentThreshold = this.currentBot.intent_threshold;
      }
      this.updateUI();
      this.botTrainStatusSubscription = this.$root.notificationService.subscribe(
        this.botTrainStatusListener,
        {
          event: "bot_train_status",
          agent_id: this.currentBot.id,
          user_id: this.user.uid
        }
      );
      this.botNLUIsModifiedSubscription = this.$root.notificationService.subscribe(
        this.botNLUDataModifiedListener,
        {
          event: "update_nlu_data",
          agent_id: this.currentBot.id,
          user_id: this.user.uid
        }
      );
    },
    updateUI() {
      this.isTraining = this.currentBot.train_status == "training";
    },
    async trainBot() {
      if (this.isTraining || this.lock) return false;
      try {
        this.lock = true;
        await train(this.currentBot.id);
        this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
          property: "is_nlu_data_modified",
          value: false
        });
      } catch (error) {
        console.log(error);
      } finally {
        this.lock = false;
      }
    },
    async processBotTrainStatusNotification(data) {
      if (data.content.status) {
        this.$store.commit("SET_TARGET_BOT_PROPERTY", {
          bot_id: data.agent_id,
          property: "train_status",
          value: data.content.status
        });
        if (data.content.status === "trained") {
          const res = await getBot(this.currentBot);
          if (res.bot) {
            this.$store.commit("SET_TARGET_BOT", res.bot);
          }
        }
      }
    },
    processBotNLUDataModifieldNotification(data) {
      if (this.currentBot.is_nlu_data_modified === data.content.is_modified) {
        return;
      }

      this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
        property: "is_nlu_data_modified",
        value: data.content.is_modified
      });
    },
    socreToText(score, threhold) {
      if (!score) {
        return this.$tp("label.notMeasured");
      } else if (score >= threhold.good) {
        return this.$tp("label.good");
      } else if (score >= threhold.normal) {
        return this.$tp("label.normal");
      } else if (score >= threhold.bad) {
        return this.$tp("label.bad");
      }
      return this.$tp("label.notMeasured");
    },
    ShowNLUDemoBlock() {
      this.isShowNLUDemoBlock = !this.isShowNLUDemoBlock;
    },
    async analyzeUtterance(clearInput = true) {
      if (this.utteranceToBeAnalyzed == "") {
        this.$root.m_error(this.$tp("warn.pleaseEnterUtteranceToBeAnalyzed"));
        return;
      }
      if (this.lock) {
        return;
      }
      try {
        this.lock = true;
        const result = await analyzeUtterance(
          this.currentBot.nlu_token,
          this.utteranceToBeAnalyzed,
          this.intentThreshold
        );
        result.analysis = this.appenMetaData(result.analysis, this.utteranceToBeAnalyzed);
        this.analysisHistory.unshift(result.analysis);
        if (clearInput) {
          this.utteranceToBeAnalyzed = "";
        }
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.analysisFailed"));
      }
      this.lock = false;
    },
    appenMetaData(analysis, utterance) {
      analysis.utterance = utterance;
      analysis.time = time2Text(Date.now());
      return analysis;
    },
    async updateBotIntentThreshold(value) {
      try {
        const updateObj = {
          id: this.currentBot.id,
          intent_threshold: value
        };
        await updateBot(updateObj);
        this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
          property: "intent_threshold",
          value: value
        });
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.editFail"));
        this.intentThreshold = this.currentBot.intent_threshold;
      }
    }
  },
  watch: {
    currentBot: {
      handler(val) {
        if (val) this.updateUI();
      },
      deep: true
    },
    nluTestString(testString) {
      if (testString === "") {
        return;
      }
      if (this.isNLUUntrained) {
        return;
      }
      this.utteranceToBeAnalyzed = testString;
      this.isShowNLUDemoBlock = true;
      this.analyzeUtterance(false);
      this.$store.commit("SET_NLU_TEST_STRING", "");
    }
  }
};
</script>

<style lang="less" scoped>
.train-button {
  position: relative;

  .icon-core {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 10px;
  }
  &:hover {
    .not-hover {
      display: none;
    }
  }
  &:not(:hover) {
    .hover {
      display: none;
    }
    .train-result-window {
      display: none;
    }
  }
  .train-result-window {
    position: absolute;
    right: -100px;
    word-break: wrap;
    box-shadow: 2px 2px 5px #00000029;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background: white;
    padding: 20px;
    color: #555555;
    min-width: 300px;
    text-align: center;
    font-size: 15px;
    .score {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      font-size: 14px;
      background-color: #f5f5f5;
      .label {
        color: #4e4e4e;
      }
      .spliter {
        width: 1px;
        height: 20px;
        background-color: #dddddd;
      }
      .value {
        color: #ff8560;
      }
    }
    .threshold-display {
      margin-top: 20px;
      color: #ff8560;
      font-size: 15px;
      display: flex;
      align-items: center;
      .value {
        margin-left: 5px;
      }
      .bar {
        margin-left: 5px;
        width: 70%;
        height: 5px;
        border-radius: 5px;
      }
    }

    .test-button {
      cursor: pointer;
      padding: 10px;
    }
  }
  .nlu-demo {
    position: absolute;
    right: -120px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px;

    .input-block {
      background-color: #f5f5f5;
      padding: 10px 15px;
      input {
        border: 1px solid #dddddd;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 15px;
        color: #4e4e4e;
        min-width: 300px;

        &::placeholder {
          color: #9f9f9f;
        }
        &:focus {
          border: 1px solid #ff8560;
        }
      }
    }
    .threshold {
      color: #ff8560;
      display: flex;
      align-items: center;
      .slider-wrapper {
        margin-left: 10px;
        width: 70%;
      }
    }
    .analysis-blocks {
      padding: 5px 0;
      max-height: 400px;
      overflow-y: auto;
      .analysis-block {
        margin-top: 10px;
        .analysis-utterance {
          display: flex;
          align-items: center;
          .flag {
            background-color: #ff8560;
            width: 3px;
            height: 18px;
          }
          .text {
            margin-left: 5px;
            font-size: 20px;
            color: #4e4e4e;
          }
        }
        .analysis-time {
          margin: 5px 10px;
          color: #a7a7a7;
          font-size: 12px;
        }
        .data-block {
          background-color: #f5f5f5;
          padding: 10px;
          margin: 5px 0;

          .analysis-table {
            margin: 10px 0 0;
            tr {
              th {
                text-align: left;
                color: #ff8560;
              }
              td {
                text-align: left;
                padding: 5px 10px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &:last-child {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
    .close-button {
      position: absolute;
      right: -5px;
      top: -5px;
      width: 30px;
      cursor: pointer;
    }
  }
}
.bot-status {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
}
</style>
