<template>
  <span class="universal-btn" @click="$emit('click')">
    <span>
      <div>
        <div :class="{spin: isSpin}">
          <img class="not-hovering-img icon" :src="imgPath" />
          <img class="hovering-img icon" :src="imgHoverPath" />
        </div>
        <slot name="hint-icon"></slot>
      </div>
      <div class="title">{{text}}</div>
    </span>
  </span>
</template>

<script>
export default {
  props: {
    text: { type: String, default: "" },
    imgPath: { type: String, default: "" },
    imgHoverPath: { type: String, default: "" },
    isSpin: { type: Boolean, default: false }
  }
};
</script>

<style lang="less" scoped>
.universal-btn {
  cursor: pointer;
  text-align: center;
  min-width: 70px;
  & > span {
    padding: 8px;
    position: relative;
  }
  .icon {
    display: block;
    width: 25px;
    margin: 0 auto;
  }

  &:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
    .not-hovering-img {
      display: none;
    }
    .title {
      color: #ff8560;
    }
  }

  &:not(:hover) {
    .hovering-img {
      display: none;
    }
  }

  .title {
    margin-top: 5px;
    font-size: 13px;
    color: #585858;
  }
}

.top-button-hover-block {
  border: 1px solid #585858;
  background-color: white !important;
  color: #585858 !important;
  font-size: 13px;
  padding: 5px 5px 5px 5px !important;

  .popper__arrow {
    border: 1px solid #585858 !important;

    &::after {
      border-bottom-color: white !important;
    }
  }
}
.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
