<template>
  <span>
    <universalButton
      :text="$tp(`bot.versionHistory`)"
      :imgPath="require('@img/version.svg')"
      :imgHoverPath="require('@img/version_orange.svg')"
      @click="openVersionHistoryDialog"
    ></universalButton>
  </span>
</template>

<script>
import App from "@mix/App";
import universalButton from "@c/universalButton";
export default {
  mixins: [App],
  components: { universalButton },
  methods: {
    openVersionHistoryDialog() {
      this.App.router_toMode("version_history");
    }
  }
};
</script>