<template>
  <div class="app-container fx fdc">
    <tabBar
      :tabNames="['unreadNotification', 'checkedNotification']"
      @changeTab="clickTab"
    ></tabBar>
    <div class="tab-page _fill">
      <div class="tab-page-inner fx fdc">
        <div class="page-title-row">
          <span class="page-title">{{ $tp("title.messageCenter") }}</span>
        </div>
        <span class="_fill body fx fdc">
          <div class="title-row">
            <span class="control-row" v-show="tab === 'unreadNotification'">
              <el-checkbox
                class="orange el-checkbox-custom"
                v-model="isAllChecked"
                @change="switchCheckAll"
              >
                <label class="checkbox-label">{{ $tp("label.selectAll") }}</label>
              </el-checkbox>
              <span class="check-all" @click="checkNotifications">{{
                $tp("label.labelChecked")
              }}</span>
            </span>
            <span class="title-text"></span>
            <span class="dropdown-wrapper">
              <dropdown>
                <template slot="select">
                  <span class="ddl_ttl">{{
                    getFormatedNotificationTypes(notificationTypes[notificationTypeIndex])
                  }}</span>
                  <img class="toggle-button" src="@img/arrow_orange.svg" />
                </template>
                <template slot="option">
                  <div
                    v-for="(notificationTypes, index) in notificationTypes"
                    @click="
                      notificationTypeIndex = index;
                      getNotificationHistory();
                    "
                  >
                    {{ getFormatedNotificationTypes(notificationTypes) }}
                  </div>
                </template>
              </dropdown>
            </span>
            <span class="dropdown-wrapper">
              <dropdown>
                <template slot="select">
                  <span class="ddl_ttl">{{ timeUnitOptions[timeUnitIndex] }}</span>
                  <img class="toggle-button" src="@img/arrow_orange.svg" />
                </template>
                <template slot="option">
                  <div
                    v-for="(option, index) in timeUnitOptions"
                    @click="
                      timeUnitIndex = index;
                      getNotificationHistory();
                    "
                  >
                    {{ option }}
                  </div>
                </template>
              </dropdown>
            </span>
            <el-date-picker
              v-show="timeUnitIndex == 3"
              v-model="customDateRange"
              type="daterange"
              range-separator="-"
              start-placeholder="Start date"
              end-placeholder="End date"
              @change="getNotificationHistory"
            ></el-date-picker>
          </div>
          <div class="date-class">{{ notificationTimeUnitTitle }}</div>
          <div class="notifications _fill" v-loading="isLoading">
            <div v-for="(notification, index) in notificationHistory" class="notification">
              <el-checkbox
                class="orange"
                v-show="tab === 'unreadNotification'"
                v-model="isNotificationSeleted[index]"
                @change="resetCheckAll"
              ></el-checkbox>
              <span class="dot" v-show="tab === 'unreadNotification'"></span>
              <span class="date-time">{{ timeStampToDateText(notification.updated) }}</span>
              <img
                class="notification-type-icon"
                v-show="notification.event === 'bot_deploy_status'"
                src="@img/send.svg"
                :title="$tp('label.notificationTypes_bot_deploy_status')"
              />
              <img
                class="notification-type-icon"
                v-show="notification.event === 'bot_train_status'"
                src="@img/send.svg"
                :title="$tp('label.notificationTypes_bot_train_status')"
              />
              <img
                class="notification-type-icon"
                v-show="notification.event === 'bot_auth'"
                src="@img/share.svg"
                :title="$tp('label.notificationTypes_bot_auth')"
              />
              <img
                class="notification-type-icon"
                v-show="notification.event === 'update_nlu_data'"
                src="@img/send.svg"
                :title="$tp('label.notificationTypes_bot_auth')"
              />
              <span class="text">{{ notificationToText(notification) }}</span>
            </div>
            <div v-show="notificationHistory.length === 0" class="empty-message">
              {{ $tp("label.noMessageInSuchRange") }}
            </div>
          </div>

          <template v-show="notificationHistory.length !== 0">
            <pagination
              :total="notificationTotal"
              :page.sync="notificationListQuery.page"
              :limit.sync="notificationListQuery.limit"
              :pagination="getNotificationHistory"
            />
          </template>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import { time2Text } from "@/utils/time";
import NotificationMixin from "@mix/notification";
import dropdown from "@c/dropdown/dropdown";
import Pagination from "@/components/Pagination";
import { getRequestTimeStampParameters } from "@/utils/apiParameterHelper";
import { getNotificationHistory, updateNotificationHistory } from "@/api/NotificationHistory";
import tabBar from "@c/tabBar";

export default {
  mixins: [NotificationMixin],
  components: {
    dropdown,
    Pagination,
    tabBar
  },
  data() {
    return {
      tab: "unreadNotification",
      notificationHistory: [],
      timeUnitOptions: [
        this.$tp("label.unlimited"),
        this.$tp("label.thisDay"),
        this.$tp("label.thisWeek"),
        this.$tp("label.custom")
      ],
      notificationTypes: ["all", "bot_auth", "bot_deploy_status", "bot_train_status"],
      notificationTypeIndex: 0,
      customDateRange: [],
      timeUnitIndex: 0,
      isLoading: false,
      timeStampParas: {},
      notificationTotal: 0,
      notificationListQuery: { page: 1, limit: 100 },
      isNotificationSeleted: [],
      isAllChecked: false
    };
  },
  computed: {
    notificationTimeUnitTitle() {
      if (this.timeUnitIndex === 0) {
        return this.$tp("label.allMessage");
      } else {
        return this.timeStampParas.startTimeStamp && this.timeStampParas.endTimeStamp
          ? this.$tp("label.messageOfRange", {
              start: time2Text(this.timeStampParas.startTimeStamp),
              end: time2Text(this.timeStampParas.endTimeStamp)
            })
          : "";
      }
    }
  },
  created() {
    this.getNotificationHistory();
  },
  methods: {
    timeStampToDateText: time2Text,
    async clickTab(tab) {
      if (this.tab == tab) return;
      this.tab = tab;
      this.notificationHistory = [];
      this.notificationListQuery.page = 1;
      await this.getNotificationHistory();
    },
    async getNotificationHistory() {
      let isChecked = this.tab === "checkedNotification";
      let timeStampParas = {};
      if (this.timeUnitIndex !== 0) {
        let covertedTimeUnitIndex = this.timeUnitIndex - 1;
        timeStampParas = getRequestTimeStampParameters(covertedTimeUnitIndex, this.customDateRange);
        if (!timeStampParas) return;
      }
      this.timeStampParas = timeStampParas;
      this.isLoading = true;
      const skip = this.notificationListQuery.limit * (this.notificationListQuery.page - 1);
      try {
        let result = await getNotificationHistory(
          isChecked,
          skip,
          this.notificationListQuery.limit,
          this.notificationTypes[this.notificationTypeIndex],
          timeStampParas.startTimeStamp,
          timeStampParas.endTimeStamp
        );
        this.notificationHistory = result.notification_history;
        this.notificationTotal = result.len;
      } catch (error) {
        this.$root.m_error(this.$tp("warn.loadFailed"));
      }
      this.isLoading = false;
    },
    getFormatedNotificationTypes(type) {
      return this.$tp(`label.notificationTypes_${type}`);
    },
    async checkNotifications() {
      let Promises = [];
      for (const [index, isSelected] of this.isNotificationSeleted.entries()) {
        if (!isSelected) {
          continue;
        }
        let notification = this.notificationHistory[index];
        if (!notification) {
          continue;
        }
        notification.is_checked = true;
        Promises.push(updateNotificationHistory(notification));
      }
      try {
        this.isLoading = true;
        await Promise.all(Promises);
        this.isAllChecked = false;
        this.switchCheckAll();
      } catch (error) {
        console.log(error);
      }
      await this.getNotificationHistory();
      this.isLoading = false;

      this.$store.dispatch("updateUnreadNotificationHistory");
    },
    switchCheckAll() {
      for (let i = 0; i < this.notificationListQuery.limit; i++) {
        this.isNotificationSeleted[i] = this.isAllChecked;
      }
    },
    resetCheckAll(value) {
      if (!value) {
        this.isAllChecked = false;
      }
    }
  }
};
</script>
<style lang="less" scoped>
.body {
  .control-row {
    margin-left: 10px;
    display: flex;
    align-items: center;
    .el-checkbox-custom {
      display: inline-flex;
      align-items: center;
    }
    .is-checked {
      .checkbox-label {
        color: #ffa786;
      }
    }
    .checkbox-label {
      font-size: 14px;
      vertical-align: middle;
    }

    .check-all {
      margin: 0 15px;
      cursor: pointer;
      font-size: 14px;
      &:hover {
        color: #ffa786;
        text-decoration: underline;
      }
    }
  }

  .date-class {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #aaaaaa;
    color: white;
    font-size: 14px;
  }
  .notifications {
    overflow: auto;
    margin: 10px 0;
    padding: 0px 10px;

    .notification {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      min-width: 400px;

      .dot {
        display: inline-block;
        background-color: #ff8560;
        min-width: 6px;
        min-height: 6px;
        border-radius: 10px;
        margin-left: 5px;
      }
      .date-time {
        font-size: 14px;
        min-width: 140px;
        margin-left: 5px;
        color: #aaaaaa;
      }
      .notification-type-icon {
        min-width: 22px;
      }
      .text {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
  .empty-message {
    margin-left: 10px;
    font-size: 14px;
    color: #555555;
  }
}
.dropdown {
  &.is-active {
    border-color: #ffa786;
  }
}
.el-date-editor {
  &.is-active {
    border-color: #ffa786;
  }
}
</style>
