<template>
  <div class="frame">
    <div class="ttl">帐单OCR测试</div>
    <br />
    <label class="filebtn" for="file">图片上传</label>
    <div class="hide">
      <input id="file" type="file" accept="image/*" @change="updateImage" />
    </div>
    <br />
    <br />
    <div>
      <div v-for="key in Object.keys(imageInfo)">{{key}}: {{imageInfo[key]}}</div>
    </div>
    <br />
    <br />
    <img :src="imageUrl" />
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      imageUrl: "",
      imageInfo: {}
    };
  },
  methods: {
    updateImage(e) {
      const reader = new FileReader();
      reader.onload = e2 => {
        this.imageUrl = e2.target.result;
        this.submit();
      };
      reader.readAsDataURL(e.target.files[0]);
      e.target.value = "";
    },
    submit() {
      this.imageInfo = {};
      axios({
        url: "https://chatbot.65lzg.com/mock3partyapi/ocr",
        method: "post",
        headers: {
          "Content-Type": "application/json"
        },
        timeout: 30000,
        data: {
          file: this.imageUrl
        }
      })
        .then(res => {
          this.$root.m_success("success");
          this.imageInfo = res.data || {};
        })
        .catch(res => {
          this.$root.m_error("fail");
        });
    }
  }
};
</script>
<style lang="less" scoped>
.frame {
  min-height: 100vh;
  padding: 20px;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  .ttl {
    font-size: 25px;
  }
  .hide {
    height: 0;
    overflow: hidden;
  }
  .filebtn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    background-color: rgba(231, 76, 60, 0.3);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: inline-block;
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px #e74c3c inset;
    }
  }
}
</style>