<template>
  <div>
    <template v-if="skin === 'normal'">
      <div class="msg_frame">
        <div class="msg_close_frame" v-if="close" v-show="show" @click="close"></div>
        <div class="msg_ctn" :class="{active: show}">
          <slot></slot>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    skin: {
      type: String,
      default: "normal"
    },
    close: Function,
    show: {
      type: Boolean,
      default: true
    }
  }
};
</script>