<template>
  <div class="msg_box" :class="msg_box_class">
    <div class="chat_ctn">
      <div class="top_ctn">
        <!-- 沒有更多訊息 -->
        <div class="top_box" :class="{ active: moreHistory_show && msgList.length > 0 }">
          <div class="top_item" :class="{ active: moreHistory_show }">
            {{ $tp("label.noMoreMessage") }}
          </div>
        </div>
        <!-- 加載中 -->
        <div class="top_box" :class="{ active: isLoading || isGetLastHistory }">
          <div class="top_item _loading vtc" :class="{ active: isLoading || isGetLastHistory }">
            <img src="./img/loading.gif" />
            <span>{{ $tp("label.loading") }}</span>
          </div>
        </div>
      </div>
      <div id="container" class="chat_box">
        <!-- 訊息列表 -->
        <div
          class="msg_item"
          :id="`mid_${msg.updated}`"
          v-for="msg in msgList_sort"
          :class="{ self: msg.from_user }"
        >
          <div class="content">
            <div
              class="m_box"
              :class="[(msg.message.template || {}).type, { self: msg.from_user }]"
            >
              <!-- 一般訊息 -->
              <template v-if="msg.message.type === 'text'">
                <div>{{ msg.message.text }}</div>
              </template>
              <!-- 圖片 -->
              <template v-else-if="msg.message.type === 'image'">
                <img
                  style="max-width: 140px"
                  v-if="msg.image_url"
                  @click="zoomImageUrl = msg.image_url"
                  @load="scrollTo(undefined)"
                  :src="msg.image_url"
                />
              </template>
              <!-- 樣板訊息 -->
              <template v-else-if="msg.message.type === 'template'">
                <template v-if="msg.message.template.type === 'confirm'">
                  <div>{{ msg.message.template.text }}</div>
                  <div class="_col _line"></div>
                  <div class="_col _actions _confirm">
                    <div
                      class="_action"
                      v-for="action in msg.message.template.actions"
                      @click="action_msgList(action)"
                    >
                      {{ action.label }}
                    </div>
                  </div>
                </template>
                <template v-else-if="msg.message.template.type === 'buttons'">
                  <div
                    v-show="msg.message.template.thumbnailImageUrl"
                    class="_col _img"
                    :style="{ backgroundImage: `url(${msg.message.template.thumbnailImageUrl})` }"
                  ></div>
                  <div>{{ msg.message.template.title }}</div>
                  <div>{{ msg.message.template.text }}</div>
                  <div class="_col _line"></div>
                  <div class="_col _actions _menu">
                    <div
                      class="_action"
                      v-for="action in msg.message.template.actions"
                      @click="action_msgList(action)"
                    >
                      {{ action.label }}
                    </div>
                  </div>
                </template>
                <template v-else-if="msg.message.template.type === 'carousel'">
                  <Carousel :items="1" :margin="10" :dots="false" :nav="false">
                    <div v-for="column in msg.message.template.columns">
                      <div
                        v-show="column.thumbnailImageUrl"
                        class="_col _img"
                        :style="{
                          backgroundImage: `url(${column.thumbnailImageUrl})`
                        }"
                      ></div>
                      <div class="_title">{{ column.title }}</div>
                      <div class="_title">{{ column.text }}</div>
                      <div class="_col _line"></div>
                      <div class="_col _actions _menu">
                        <div
                          class="_action"
                          v-for="action in column.actions"
                          @click="action_msgList(action)"
                        >
                          {{ action.label }}
                        </div>
                      </div>
                    </div>
                  </Carousel>
                </template>
                <template v-else-if="msg.message.template.type === 'imagemap'">
                  {{ msg.message }}
                </template>
              </template>
              <template v-else>
                {{ msg }}
              </template>
            </div>
          </div>
          <p class="date">{{ msg.updated_label }}</p>
        </div>
      </div>
      <div style="position: relative">
        <div class="preview_box" v-show="!!imageUrl">
          <div
            class="preview_item"
            :style="{ 'background-image': `url(${imageUrl})` }"
            @click="zoomImageUrl = imageUrl"
          >
            <div class="preview_close" @click.stop.prevent="imageUrl = imageType = ''"></div>
          </div>
        </div>
        <div class="endbtn" v-show="show_endbtn" @click="scrollTo('end')"></div>
      </div>
      <div class="chat_btn fx aic">
        <label class="_btn imgUpload_box" for="imgUpload" v-if="!!sendImage">
          <img src="./img/imgUpload.svg" />
          <input id="imgUpload" type="file" @change="uploadImge" accept="image/*" />
        </label>
        <div class="_btn tts_box" @click="updateBinding('speak_enable', !speak_enable)">
          <img v-show="speak_enable" src="./img/tts_open.svg" />
          <img v-show="!speak_enable" src="./img/tts_close.svg" />
        </div>
        <div
          class="_btn speech_btn"
          :class="{ disabled: !operation_enable, autoSend: speechToText.autoSend }"
          @click="event_speechToText('button')"
        >
          <img v-show="!listening" src="./img/speech.svg" />
          <img v-show="listening" src="./img/stop.svg" />
        </div>
        <div class="input_box _fill">
          <el-input
            v-show="!listening"
            id="input"
            v-model="inputMsg_self"
            placeholder="输入信息"
            :disabled="!operation_enable"
            @keypress.native.enter="send_self"
            @paste.native="pasteImage"
            @keydown.native.up="getLastMsg"
            @keydown.native.down="getNextMsg"
          ></el-input>
          <div class="_voice" v-show="listening"></div>
        </div>
        <img class="_btn sendbtn" src="./img/sendButton.svg" @click="send_self" />
      </div>
    </div>
    <!-- 圖片放大 -->
    <imageViewer
      v-if="zoomImageUrl"
      :url="zoomImageUrl"
      :close="
        () => {
          zoomImageUrl = '';
        }
      "
    />
  </div>
</template>
<script>
//components
import Carousel from "vue-owl-carousel";
import imageViewer from "@c/imageViewer";
//mixins
import template_base from "./mixins/template_base";
import template_override from "./mixins/template_override";
export default {
  mixins: [template_base, template_override],
  components: { Carousel, imageViewer }
};
</script>

<style lang="less">
@import "./css/template.less";

.msg_close_frame {
  background-color: rgba(0, 0, 0, 0.5);
}
.map_box {
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}
</style>