<template>
  <div class="app-container fx fdc h100">
    <tabBar :tabNames="['myBot', 'sharedBot']" @changeTab="changeTab"></tabBar>
    <div class="tab-page _fill">
      <div class="tab-page-inner fx fdc h100">
        <div v-show="currentTabIsMyBot" class="page-title-row">
          <span class="page-title">{{ $tp("tab.myBot") }} </span>
          <div class="title-buttons">
            <pageTopMainButton
              :label="$tp('bot.addbot')"
              img="add"
              @click.native="event_bot('create')"
            ></pageTopMainButton>
            <pageTopMainButton
              :label="$tp(['label.import', 'bot.bot'])"
              img="import"
              @click.native="
                uploadFiles = [];
                $refs.dialog.show = true;
              "
            ></pageTopMainButton>
          </div>
        </div>
        <div v-show="currentTab === 'sharedBot'" class="page-title-row">
          <span class="page-title">{{ $tp("tab.sharedBot") }} </span>
        </div>
        <div class="_fill bot-blocks">
          <div class="bl_ctn fx fw">
            <div class="bl_box" v-for="bot in currentBotList" @click="event_bot('open', bot)">
              <div class="title">
                <img class="ava" src="@img/bot_black.svg" />
                <span class="name">{{ bot.name }} </span>
                <el-dropdown trigger="click" @click.native.stop.prevent>
                  <dotMenu></dotMenu>
                  <el-dropdown-menu class="dlorgmode" slot="dropdown">
                    <el-dropdown-item @click.native="event_bot('copyid', bot)"
                      >{{ $tp(["label.copy", "bot.bot"]) }}ID
                    </el-dropdown-item>
                    <el-dropdown-item
                      v-show="currentTabIsMyBot"
                      @click.native="event_bot('edit', bot)"
                      >{{ $tp(["label.edit", "bot.bot"]) }}
                    </el-dropdown-item>
                    <el-dropdown-item @click.native="exportBot(bot)"
                      >{{ $tp(["label.export", "bot.bot"]) }}
                    </el-dropdown-item>
                    <el-dropdown-item
                      v-show="currentTabIsMyBot"
                      @click.native="openBotAuthManagementPage(bot)"
                      >{{ $tp("label.authManagement") }}
                    </el-dropdown-item>
                    <el-dropdown-item
                      v-show="currentTabIsMyBot"
                      @click.native="event_bot('delete', bot)"
                      >{{ $tp(["label.delete", "bot.bot"]) }}
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <div class="body">
                <div class="owner">{{ $tp("label.owner") }}:{{ bot.owner }}</div>
                <div class="description">
                  {{ bot.description.substr(0, 65) + (bot.description.length > 65 ? "..." : "") }}
                </div>
                <div class="status-row">
                  <span v-show="bot.deploy_status" class="status-wraper">
                    <el-tooltip
                      class="item"
                      v-if="bot.deploy_status"
                      :content="$tp(`bot.deployStatus${bot.deploy_status}`)"
                      popper-class="sidebar-hover-block"
                      placement="bottom"
                    >
                      <span class="status">
                        <span class="label">{{ $tp("bot.deploy") }}：</span>
                        <img
                          v-show="bot.deploy_status === 'offline'"
                          src="@img/checked_gray2.svg"
                        />
                        <img v-show="bot.deploy_status === 'ready'" src="@img/checked2.svg" />
                        <img
                          v-show="bot.deploy_status === 'failed'"
                          src="@img/exclamation_mark.svg"
                        />
                      </span>
                    </el-tooltip>
                  </span>
                  <span v-show="bot.train_status" class="status-wraper">
                    <el-tooltip
                      class="item"
                      v-if="bot.train_status"
                      :content="$tp(`bot.trainStatus${bot.train_status}`)"
                      popper-class="sidebar-hover-block"
                      placement="bottom"
                    >
                      <span class="status">
                        <span class="label">{{ $tp("bot.train") }}：</span>
                        <img
                          v-show="
                            bot.train_status === 'untrained' || bot.train_status === 'training'
                          "
                          src="@img/checked_gray2.svg"
                        />
                        <img v-show="bot.train_status === 'trained'" src="@img/checked2.svg" />
                        <img
                          v-show="bot.train_status === 'failed'"
                          src="@img/exclamation_mark.svg"
                        />
                      </span>
                    </el-tooltip>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination
          :total="botTotal"
          :page.sync="listQuery.page"
          :limit.sync="listQuery.limit"
          :pagination="getData"
        />
      </div>
    </div>
    <createUpdateBot
      ref="createUpdateBot"
      :currentBot="currentBot_createUpdateBot"
      :mode="mode_createUpdateBot"
    />
    <Shield
      ref="dialog"
      ttlIcon="/img/bot-logo.svg"
      :title="$tp(['label.import', 'bot.bot'])"
      :submit="loadJsonFromFileConfirmed"
      :as="'pop'"
    >
      <template slot="body">
        <div style="text-align: center">
          <el-upload
            :file-list="uploadFiles"
            action="alert"
            accept="json"
            :auto-upload="false"
            :on-change="loadJsonFromFile"
          >
            <div class="file-cell">
              <img style="add-file" src="/img/add-file.svg" />
              <span class="text">
                <div class="main-text">{{ $tp("please.chooseBotJson") }}</div>
                <div class="sub-text">{{ $tp("please.JsonOnly") }}</div>
              </span>
            </div>
            <div slot="tip"></div>
          </el-upload>
        </div>
      </template>
    </Shield>
  </div>
</template>
<script>
import { mapGetters, mapState } from "vuex";
import { isSuccess, downloadJson } from "@u/methodsHelper";
//api
import { getBots, createBot, removeBot, importBot, exportBot } from "@/api/Bot";
//components
import Pagination from "@c/Pagination";
import Shield from "@c/shield";
import navbar from "@c/navbar";
import createUpdateBot from "./components/createUpdateBot.vue";
//mixins
import navSearch from "@mix/navSearch";
import App from "@mix/App";
//ui
import pageTopMainButton from "@ui/pageTopMainButton";
import tabBar from "@c/tabBar";
import dotMenu from "@ui/dotMenu";
function defaultListQuery() {
  return {
    page: 1,
    limit: 10
  };
}

export default {
  mixins: [App, navSearch],
  components: {
    navbar,
    Pagination,
    Shield,
    pageTopMainButton,
    createUpdateBot,
    tabBar,
    dotMenu
  },
  data() {
    return {
      sd_tab: "bot",
      currentBotList: [],
      botTotal: 0,
      listQuery: new defaultListQuery(),
      importLoading: false,
      exportLoading: false,
      uploadFiles: [],
      currentTab: "myBot",
      // createUpdateBot,
      mode_createUpdateBot: "", //create, edit
      currentBot_createUpdateBot: {}
    };
  },
  computed: {
    ...mapState(["botList_self", "botList_share"]),
    ...mapGetters(["currentPageInfo"]),
    currentTabIsMyBot() {
      return this.currentTab === "myBot";
    }
  },
  created() {
    this.toPublic("bot");
  },
  mounted() {
    this.getData();
  },
  methods: {
    navSearch_callback() {
      this.listQuery.page = 1;
      this.getData();
    },
    getData() {
      let skip = (this.listQuery.page - 1) * this.listQuery.limit;
      let limit = this.listQuery.limit;
      let isOwner = this.currentTab === "myBot";
      getBots(skip, limit, isOwner, this.navSearch_text, "true")
        .then(res => {
          res.bots = res.bots || [];
          this.currentBotList = res.bots.map((x, i) => {
            x.i = i;
            return x;
          });
          this.botTotal = res.len ? res.len : this.botTotal;
        })
        .catch(ex => {
          console.log(ex);
        });
    },
    event_bot(mode, bot) {
      if (bot) {
        this.currentBot_createUpdateBot = bot;
      }
      if (/^(create|edit)$/.test(mode)) {
        this.mode_createUpdateBot = mode;
        this.$refs.createUpdateBot.show = true;
      } else if (mode === "delete") {
        this.$root.confirm(bot.name).then(() => {
          removeBot(bot)
            .then(res => {
              if (isSuccess(res.status)) {
                this.getData();
                this.$root.m_success(this.$tp("warn.deleteSuccess"));
                this.$store.dispatch("updateMyBots");
              } else this.$root.m_error(this.$tp("warn.deleteFail"));
            })
            .catch(ex => {
              console.log(ex);
            });
        });
      } else if (mode === "open") {
        this.$router.push({
          path: `/bot/${bot.id}/intent`
        });
      } else if (mode === "copyid") {
        this.$copyText(bot.id).then(
          success => {
            this.$root.m_success(this.$tp(["label.copy", "warn.success"]));
          },
          error => {
            this.$root.m_success(this.$tp(["label.copy", "warn.failed"]));
          }
        );
      }
    },
    async exportBot(bot) {
      this.exportLoading = true;
      try {
        let result = await exportBot(bot.id);
        result.data.id = bot.id;
        result.data.name = bot.name;
        downloadJson(result.data, bot.name + bot.id);
        this.$root.m_success(this.$tp("label.export") + this.$tp("warn.success"));
      } catch {
        console.log(result);
        this.$root.m_error(this.$tp("label.export") + this.$tp("warn.failed"));
      }
    },
    loadJsonFromFile(file, fileList) {
      this.uploadFiles = fileList;
    },
    loadJsonFromFileConfirmed() {
      this.importLoading = true;
      if (this.uploadFiles.length != 1) {
        this.$root.m_error(this.$tp("warn.shouldBeOneFile"));
        return;
      }
      let file = this.uploadFiles[0];
      let reader = new FileReader();
      reader.onload = async e => {
        let data;
        try {
          data = JSON.parse(e.target.result);
        } catch {
          this.$root.m_error(this.$tp("warn.fileFormatError"));
          return;
        }
        let newBot = {
          name: data.name,
          description: `Initial with bot id:${data.id}`
        };
        let newBotResult = await createBot(newBot);
        try {
          await importBot(newBotResult.bot_id, data);
          this.getData();
          this.$store.dispatch("updateMyBots");
          this.$root.m_success(this.$tp("label.import") + this.$tp("warn.success"));
        } catch (err) {
          console.log(err);
          newBot.id = newBotResult.bot_id;
          removeBot(newBot);
          this.$root.m_error(this.$tp("label.import") + this.$tp("warn.failed"));
        }
        this.importLoading = false;
      };
      reader.readAsText(file.raw);

      this.$refs.dialog.show = false;
    },
    changeTab(page) {
      this.currentTab = page;
      this.listQuery.page = 1;
      this.getData();
    },
    openBotAuthManagementPage(bot) {
      this.$router.push({ path: `/bot/${bot.id}/auth` });
    }
  }
};
</script>
<style lang="less">
.bot-blocks {
  margin-top: 20px;
}
</style>
