<template>
  <div class="bot_frame fx jcc aic">
    <div class="bot_ctn">
      <img src="@img/unauthorization.svg" />
      <p class="p1">抱歉！您没有权限访问此机器人</p>
      <button class="btn-main" @click="$router.push({ path: '/bot' })">返回机器人总览</button>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="less" scoped>
@import "~@css/fn.less";
.bot_frame {
  .bc(#f4f4f4);
  .room_f();
  z-index: 10000;
  .bot_ctn {
    text-align: center;
    color: #4e4e4e;
    font-size: 20px;
    .p1 {
      margin: 20px 0;
    }
    .btn-main {
      .ctn(160px);
    }
  }
}
</style>