<template>
  <div
    ref="shield"
    class="shield_frame fx fdc"
    tabindex="-1"
    @keyup.esc.stop="closeHandler"
    @keydown="scale_keydown"
  >
    <div class="preview_ctn _fill" :class="{ vtc: vtc }" v-dragscroll>
      <div class="shield_close" @click="closeHandler"></div>
      <img
        ref="preview_image"
        class="preview_image"
        :style="preview_css"
        :src="url"
        @load="init"
      />
    </div>
    <div class="option_box fx jcc aic">
      <div class="zoom_bnt zoomIn" @click="scale += 1"></div>
      <div class="zoom_bnt zoomOut" @click="scale -= 1"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: String,
    close: Function
  },
  data() {
    return {
      scale: 0,
      rate: 0.8,
      img_width: 0
    };
  },
  computed: {
    preview_css() {
      return {
        width: `${Math.floor(this.re_img_width)}px`
      };
    },
    vtc() {
      return this.re_img_width < window.innerWidth;
    },
    re_img_width() {
      let result = 0;
      if (this.scale > 0) {
        result = Math.floor(
          this.img_width / Math.pow(this.rate, Math.abs(this.scale))
        );
      } else if (this.scale < 0) {
        result = Math.floor(
          this.img_width * Math.pow(this.rate, Math.abs(this.scale))
        );
      } else {
        result = this.img_width;
      }
      return result;
    }
  },
  mounted() {
    this.$refs.shield.focus();
  },
  methods: {
    init() {
      const imgW = this.$refs.preview_image.naturalWidth;
      const imgH = this.$refs.preview_image.naturalHeight;
      const defaultMaxW = Math.floor(window.innerWidth * 0.9);
      const defaultMaxH = Math.floor((window.innerHeight - 50) * 0.9);
      let img_width = imgW;
      if (img_width > defaultMaxW) {
        img_width = defaultMaxW;
      }
      if (Math.floor((imgH * img_width) / imgW) > defaultMaxH) {
        img_width = Math.floor((imgW * defaultMaxH) / imgH);
      }
      this.img_width = img_width;
    },
    closeHandler() {
      this.close();
      this.scale = 1;
    },
    scale_keydown(e) {
      //107: 數字鍵+, 187: 鍵盤+
      if ([107, 187].has(e.keyCode)) {
        this.scale += 1;
      }
      //109: 數字鍵-, 189: 鍵盤-
      else if ([109, 189].has(e.keyCode)) {
        this.scale -= 1;
      }
    }
  }
};
</script>

<style lang="less" scoped>
@import "~@css/fn.less";
.shield_frame {
  .room_f();
}
.option_box {
  height: 50px;
  .zoom_bnt {
    position: relative;
    .WH(20px);
    z-index: 1;
    .cp();
    margin: 0 10px;
  }

  .zoomIn {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 30px;
      .bc(@f);
    }

    &::after {
      transform: rotate(90deg);
      transform-origin: center;
    }
  }
  .zoomOut {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 30px;
      .bc(@f);
    }
  }
}
.preview_ctn {
  font-size: 0;
  position: relative;
  text-align: center;
}
.preview_image {
  max-width: unset;
  transform-origin: top;
  position: relative;
  display: inline-block;
}
</style>