@import "~@css/fn.less";

.el-dropdown-menu._switch {
  border-radius: @fs_brr  !important;
  max-height   : 500px;
  overflow-y   : auto;
}

.flow_frame {
  height    : 100%;
  position  : relative;
  overflow-x: hidden;
}

.flow_ctn {
  height  : 100%;
  position: relative;
  .bc(#f4f4f4);
}

.fs_frame {
  background-color: #454545;
  color           : #ffffff;
  width           : 500px;
  position        : absolute;
  top             : 0;
  right           : 0;
  bottom          : 0;
  transition      : 0.5s;
  z-index         : 10;

  &:not(.active) {
    transform: translateX(100%);
  }

  input,
  textarea {
    color: #ffffff;
  }

  //el
  .el-switch {
    line-height: 20px;
    height     : 20px;
    width      : 35px !important;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .el-switch__core {
    width : 100% !important;
    height: 18px;
  }

  .fs_close_x {
    position: absolute;
    top     : 0;
    right   : 100%;
    .WH(30px);
    .cp();
  }

  .fs_ctn {
    height    : 100%;
    padding   : 20px 30px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .fs_ttl {
    border-bottom: solid 1px #b9b9b9;
    padding      : 0 10px 5px;
    margin-bottom: 10px;

    input[type=text] {
      width : 100%;
      border: none;
      .bc(transparent);
      .cf();
      font-size: 26px;
    }

    &>img {
      width: 28px;
    }
  }

  .fs_label {
    font-size    : 15px;
    margin-bottom: 10px;
  }

  .fs_block {
    padding         : 20px;
    border-radius   : 15px;
    background-color: #363636;
    font-size       : 14px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .fs_box {
    font-size    : 14px;
    padding      : 0 10px;
    margin-bottom: 20px;
  }

  .nodeStatus_box {
    height         : 45px;
    background     : center left no-repeat;
    margin         : 15px 0;
    background-size: auto 100%;

    &.message {
      background-image: url('~@img/state_message.svg');
    }

    &.ai {
      background-image: url('~@img/state_ai.svg');
    }

    &.api {
      background-image: url('~@img/state_api.svg');
    }

    &.input {
      background-image: url('~@img/state_input.svg');
    }
  }

  .rd_box {
    margin-bottom: 20px;

    &>span {
      font-size   : 12px;
      margin-right: 5px;
    }

    .el-switch {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }



  .fs_transition {
    &:not(._create):not(._duplicate) {
      padding-top: 0;
    }

    .ddl_ttl {
      position   : relative;
      font-size  : 15px;
      line-height: 1;
      .c(#e2e2e2);
      border-bottom: 1px solid;
      padding      : 10px 0;

      .title_text {
        position: relative;
      }

      .tag {
        float       : right;
        margin-top  : 5px;
        width       : 0;
        height      : 0;
        border-style: solid;
        border-width: 8px 7.5px 0 7.5px;
        border-color: @f transparent transparent transparent;
      }

      .title {
        flex-grow: 1;
      }

      .button {
        width      : 20px;
        margin-left: 10px;
        cursor     : pointer;
      }
    }

    .transition_target_box {
      padding      : 10px 20px;
      padding-right: 0;
      margin       : 0 -20px 20px;
      .bc(@0);
      border-top-left-radius : 15px;
      border-top-right-radius: 15px;
      display                : flex;
      align-items            : center;

      .transition_target_label {
        width      : ~"calc(100% - 80px)";
        display    : flex;
        align-items: center;
        cursor     : pointer;

        img {
          flex-shrink : 0;
          margin-right: 5px;
        }

        p {
          width        : 100%;
          word-break   : keep-all;
          white-space  : nowrap;
          text-overflow: ellipsis;
          overflow     : hidden;
          color        : @f;

          span {
            color: @org;
            ;
          }
        }
      }

      .transition_isEnabled {
        flex-shrink: 0;
        position   : relative;

        .el-switch {
          margin: 0;
        }

        .transition_isEnabled_click {
          .room();
          z-index: 1;
          cursor : pointer;
        }
      }

      &>.el-dropdown {
        margin: 0 10px;
      }
    }

    .transition-entity {
      color        : #e2e2e2;
      margin-bottom: 15px;

      ._title {
        margin-bottom: 10px;

        span {
          &:nth-child(1) {
            margin-right: 10px;
          }
        }
      }

      .row-value {
        margin-left   : 5px;
        padding-bottom: 5px;
      }
    }

    .condition-block {
      margin-top      : 10px;
      background-color: #555555;
      border-radius   : @fs_brr;
      padding         : 10px;

      .text-condition {
        max-height: 100px;
        margin-top: 10px;

        .input-cell {
          border          : solid 1px #9f9f9f;
          border-radius   : @fs_brr;
          padding         : 5px 5px 5px 10px;
          background-color: #eeeeee;

          .input-cell-input {
            border          : none;
            background-color: transparent;
            font-size       : 16px;
            margin-left     : 5px;
            color           : #707070;
            width           : 120px;
          }

          img {
            width: 12px;
          }
        }

        .cell {
          border          : solid 1px #9f9f9f;
          border-radius   : 20px;
          padding         : 5px 5px 5px 10px;
          background-color: white;
          margin          : 5px;
          color           : #0fa8a8;

          .text {
            margin-right: 5px;
          }

          img {
            cursor: pointer;
          }
        }
      }

      .intent-condition {
        max-height : 100px;
        padding-top: 5px;

        .row {
          font-size: 14px;
          padding  : 3px;

          >* {
            &:not(:last-child) {
              margin-right: 5px;
            }
          }

          img {
            width: 20px;
          }

          .close-button {
            width : 15px;
            cursor: pointer;
          }

          .slots {
            .slot-value {
              background-color: #ff5d5d;
            }
          }
        }
      }

      .slot-condition {
        max-height: 100px;

        .row {
          color     : #e2e2e2;
          font-size : 14px;
          padding   : 3px;
          margin-top: 10px;

          img {
            cursor     : pointer;
            margin-left: 5px;
            width      : 20px;
          }

          span {
            border-bottom: 1px #e2e2e2 solid;
            width        : 43%;

            input {
              border          : none;
              color           : #e2e2e2;
              font-size       : 14px;
              background-color: transparent;
            }

            &.key {
              margin-right: 6%;
            }

            &.new-key {
              padding-bottom: 5px;
            }

            &.value {
              padding-bottom: 5px;
            }
          }
        }
      }
    }

    .new-transition-operation {
      display        : flex;
      padding        : 10px 0px 0px;
      justify-content: center;
    }

    .transition-action-block {
      display        : flex;
      padding        : 10px 0px 0px;
      justify-content: center;

      .btn-transparent {
        cursor       : pointer;
        margin       : 5px;
        border-radius: @fs_brr;
        border       : dotted #808080;
        padding      : 6px 15px;
        color        : #808080;

        .text {
          margin-left: 5px;
        }

        img {
          width: 18px;
        }

        &:hover {
          background-color: #d3d3d3;
        }
      }
    }

    .dropdown-items-wrapper {
      max-height: 250px;
    }
  }

  .repeat_title {
    padding-bottom: 10px;
    border-bottom : 1px solid;
  }

  .repeat_ctn {
    overflow-y: hidden;

    .repeat_box {
      padding      : 10px;
      border-bottom: 1px solid;
      display      : flex;
      align-items  : center;

      .el-switch.is-checked .el-switch__core {
        border-color    : @org  !important;
        background-color: @org  !important;
      }
    }

    .repeat_label {
      width: 100%;
    }

    .repeat_delete {
      padding      : 5px;
      border-radius: 50%;
      .bc(red);
      transform: rotate(45deg);
      .cp();

      .repeat_delete_x {
        position: relative;
        .plus(10px, @f);
      }
    }

    .el-switch {
      flex-shrink: 0;
    }
  }

  .repeat_conditions {
    display: flex;

    input {
      width        : 100%;
      background   : none;
      border       : none;
      border-bottom: 1px solid @f;
      text-align   : center;
    }

    span {
      flex-shrink: 0;
      margin     : 0 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }


  .switch_ctn {
    margin-bottom: 10px;
    display      : flex;

    &>div {
      width: 50%;

      &:nth-child(1) {
        padding-right: 10px;
      }

      &:nth-child(2) {
        padding-left: 10px;
      }
    }

    .tp_btn {
      cursor       : pointer;
      color        : #ffffff;
      border       : 1px dashed;
      padding      : 7px 10px;
      border-radius: @fs_brr;
      font-size    : 14px;
      width        : 100%;
      display      : flex;

      &.active {
        .bc(@f);
        .c(#363636);
      }

      &.focus {
        background-color: #d3d3d3;
        color           : #5a5a5a;
      }

      &.unfocus {
        color : #5a5a5a;
        cursor: default;
      }

      .icon {
        width       : 20px;
        margin-right: 3px;
        flex-shrink : 0;
      }

      &>span {
        flex-grow    : 1;
        word-break   : keep-all;
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow     : hidden;
      }
    }
  }
}

.skill-name-block {
  .skill-name {
    font-size  : 22px;
    font-weight: bold;
  }

  img {
    cursor: pointer;
    width : 20px !important;
  }
}

.fs_btn {
  position       : relative;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  border         : 1px solid #dddddd;
  border-radius  : @fs_brr;
  height         : 40px;
  padding        : 0 15px;
  padding-right  : 10px;

  &._plus {
    cursor: pointer;

    &::after {
      content: "";
      .WH(20px);
      background: url("../img/add_icon.svg");
    }
  }

  &.active {
    background-color: #DDDDDD;
    color           : #4E4E4E;
  }
}

.dropdown-tag {
  position    : absolute;
  top         : 50%;
  right       : 5px;
  transform   : translateY(-50%);
  width       : 0;
  height      : 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #ffffff transparent transparent transparent;
}

.state_overview {
  .so_box {
    border-bottom: 1px solid #727272;
    padding      : 5px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:not(.empty) {
      .cp();
    }
  }

  .so_icon {
    .W_H(50px, 35px);
    background  : center no-repeat;
    margin-right: 10px;

    &.message {
      background-image: url("../img/state_overview_message.svg");
    }

    &.input {
      background-image: url("../img/state_overview_input.svg");
    }

    &.nlu {
      background-image: url("../img/state_overview_nlu.svg");
    }

    &.api {
      background-image: url("../img/state_overview_api.svg");
    }

    &.empty {
      &>div {
        .WH(33px);
        border-radius: 50%;
        .bc(@brown-grey-two);
        margin: auto;
        .vtc0();
        text-align: center;

        &>span {
          .c(#5a5a5a);
          font-size: 24px;
        }
      }
    }
  }

  .so_item {
    &.message {
      .c(@lightblue);
    }

    &.input {
      .c(@pale-purple);
    }

    &.nlu {
      .c(@rosy-pink);
    }

    &.api {
      .c(@blush);
    }

    &.empty {
      .c(@brown-grey-two);
    }
  }

  .so_start_end {
    .c(@greyish-brown);
    padding      : 5px 10px;
    border-radius: @fs_brr;

    &.message {
      .bc(@lightblue);
    }

    &.input {
      .bc(@pale-purple);
    }

    &.nlu {
      .bc(@rosy-pink);
    }

    &.api {
      .bc(@blush);
    }
  }
}

button {
  margin: 5px;
}

.edit_frame {
  .room();
  overflow      : hidden auto;
  display       : flex;
  flex-direction: column;
  min-height    : 100%;
}

.row-line {
  height: 1px;
  .bc(#e2e2e2);
  margin-top: 10px;
}

.select_ctn.active {
  .row-value {
    color: @org;
  }

  .fs_btn {
    background-color: #DDDDDD;
    color           : #4E4E4E;
  }

  .dropdown-tag {
    border-color: @org transparent transparent transparent;
  }

  .row-line {
    .bc(@org);
  }

  .ddl_ttl {
    border-color: @org;
  }
}

.temp_ctn {
  display   : flex;
  overflow-x: auto;

  .temp_box {
    font-size     : 15px;
    cursor        : pointer;
    color         : #ffffff;
    padding-bottom: 5px;
    display       : flex;
    align-items   : center;
    border-bottom : 3px solid transparent;
    flex-shrink   : 0;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      color       : @org;
      border-color: @org;

      img._1 {
        display: none;
      }
    }

    &:not(.active) {
      img._2 {
        display: none;
        ;
      }
    }

    img {
      margin-right: 5px;
    }

    span {
      word-break: keep-all;
    }
  }
}

.radio_box {
  display: flex;

  .radio_item {
    cursor     : pointer;
    display    : flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      .radio_button {
        &::before {
          content         : "";
          display         : block;
          width           : 100%;
          height          : 100%;
          background-color: @org;
          border-radius   : 50%;
        }
      }
    }

    .radio_button {
      width        : 20px;
      height       : 20px;
      border       : 1px solid;
      border-radius: 50%;
      padding      : 4px;
      margin-right : 10px;
    }

    .radio_label {
      text-transform: capitalize;
    }
  }
}

.cf_box {
  display: flex;

  .cf_input {
    &:nth-child(1) {
      margin-right: 10px;
    }

    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}

.menu_ctn {
  position        : absolute;
  top             : ~"calc(100% + 5px)";
  left            : 0;
  width           : 100%;
  padding         : 20px;
  padding-bottom  : 15px;
  color           : #4E4E4E;
  border-radius   : @fs_brr;
  background-color: #ffffff;
  z-index         : 2;

  .fs_input {
    input[type="text"] {
      color: #4E4E4E;
    }

    .fs_input_border {
      border-color: #4E4E4E;
    }
  }
}

.menu_list {
  .fs_btn {
    color           : #ffffff;
    background-color: @org;
    border          : none;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    ._title {
      width : 100%;
      cursor: pointer;
    }
  }

  .menu_box {
    position: relative;
  }
}

.shield_frame {
  .fs_textarea {
    >textarea {
      color: @text_default;
    }
  }
}

.area_box {
  position: relative;

  .imagemapArea {
    position        : absolute;
    background-color: rgba(255, 133, 96, 0.5);
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-size       : 16px;
    border          : 2px dashed red;
  }
}