@import "~@css/fn.less";
//color
@c_message: #0d8dbc;
@c_input  : #8a6bb5;
@c_nlu    : #e26590;
@c_api    : #aa8170;

// .Rectangle-pink {
// 	// width           : 140px;
// 	// height          : 25px;
// 	// background-color: #f5bed1;
// 	// margin-bottom   : 5px;
// 	// border-radius   : 0% 15% 0% 0%;
// 	padding-left: 3px;
// }

// .Rectangle-brown {
// 	// width           : 140px;
// 	// height          : 25px;
// 	// background-color: #c1b1ab;
// 	// margin-bottom   : 5px;
// 	// border-radius   : 10px 10px 0px 10px;
// 	padding-left: 3px;
// }


// .Rectangle-purple {
// 	// width           : 140px;
// 	// height          : 25px;
// 	// background-color: #c5b9d6;
// 	// margin-bottom   : 5px;
// 	// border-radius   : 10px 10px 0px 10px;
// 	padding-left: 3px;
// }

// .Rectangle-blue {
// 	// width           : 140px;
// 	// height          : 25px;
// 	// background-color: #8cc7dd;
// 	// margin-bottom   : 5px;
// 	// border-radius   : 10px 10px 0px 10px;
// 	padding-left: 3px;
// }

// .Rectangle-gray {
// 	//  width           : 140px;
// 	//  height          : 25px;
// 	// background-color: #5a5a5a;
// 	// margin-bottom   : 5px;
// 	// border-radius   : 10px 10px 0px 10px;
// 	padding-left: 3px;
// }


.end-hover {
  background-color: white;
  color           : #5F5F5F;
  text-align      : center;
  border-radius   : 30px;
  font-size       : 12px;
  position        : absolute;
  top             : calc(-100%);
  left            : 50%;
  transform       : translateX(-50%);
  padding         : 5px 10px;
  line-height     : 1;
  word-break      : keep-all;
  z-index         : 1;
  display         : none;
}



.image {
  width         : 20px;
  height        : 24px;
  object-fit    : contain;
  vertical-align: middle
}

.text-1 {
  width         : 100px;
  height        : 19px;
  font-family   : NotoSansCJKtc;
  font-size     : 13px;
  font-weight   : 500;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.46;
  letter-spacing: normal;
  text-align    : left;
  color         : white;
  margin-left   : 5px;
}

.nodeContent {
  .state_box {
    .vtc0();
    .WH(20px);
    position: relative;

    &.Rectangle-gray {
      padding-left: 3px;
    }

    &.Rectangle-gray:hover {
      .end-hover {
        display: block;
      }
    }

    &.Rectangle-blue {
      padding-left: 3px;
    }

    &.Rectangle-blue:hover {
      .end-hover {
        display: block;
      }
    }

    &.Rectangle-pink {
      padding-left: 3px;
    }

    &.Rectangle-pink:hover {
      .end-hover {
        display: block;
      }
    }

    &.Rectangle-brown {
      padding-left: 3px;
    }

    &.Rectangle-brown:hover {
      .end-hover {
        display: block;
      }
    }

    &.Rectangle-purple {
      padding-left: 3px;
    }

    &.Rectangle-purple:hover {
      .end-hover {
        display: block;
      }
    }
  }
}

#skillDivID+div div[data-nodeid] {
  .title {
    background-color: transparent;
    display         : block;
    width           : auto;

    .name {
      white-space  : nowrap;
      word-break   : keep-all;
      overflow     : hidden;
      text-overflow: ellipsis;
      padding      : 5px 0 0 10px;
    }

    .fa {
      padding: 0px;
    }
  }

  .name {
    color      : #5f5f5f;
    font-size  : 15px;
    padding-top: 1px;
  }

  .ports {
    padding-top     : 5px;
    background-image: none;

    .name {
      font-size: 0;
    }
  }
}

#stateDivID+div div[data-nodeid] {
  .basic-node {
    position: relative;

    .in {
      position: absolute;
      top     : 30px;
      left    : 0;
      right   : 0;
      bottom  : 0;
      width   : 100%;
    }
  }

  .title {
    text-align : center;
    line-height: 1;
    padding    : 5px;
    display    : flex;

    .name {
      text-align   : center;
      line-height  : 1;
      min-width    : 70px;
      border-radius: 20px;
      padding      : 5px 0;

      &._message {
        .bc(@c_message);
      }

      &._input {
        .bc(@c_input);
      }

      &._nlu {
        .bc(@c_nlu);
      }

      &._api {
        .bc(@c_api);
      }
    }

    .fa {
      display: none;
    }
  }

  .ports .out-port .name {
    overflow: hidden;
  }
}

.basic-node {
  position        : relative;
  padding-bottom  : 5px;
  background-color: @f  !important;

  &.first {
    background-color: @org  !important;
  }

  .ports {
    background-image: none !important;
  }

  .port {
    display   : block;
    background: white;
  }

  .bar {
    //右上menu
    position: absolute;
    top     : 5px;
    right   : 0;

    .menu-box {
      display      : none;
      border       : 1px solid #D3D3D3;
      background   : #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow   : 1px 1px 10px #00000029;
      padding      : 5px;
      border-radius: 10px;
      transform    : translateX(100%);
    }

    .button-more {
      position: absolute;
      top     : 0;
      right   : 0;
      padding : 5px 10px;
      z-index : 5;
      cursor  : pointer;

      .O {
        width           : 4px;
        height          : 4px;
        border-radius   : 4px;
        background-color: #a0a0a0;
        margin-bottom   : 2px;
        margin-left     : auto
      }

      .delete {
        position : absolute;
        top      : 100%;
        left     : 50%;
        transform: translateX(-50%);
      }

      .triangle {
        width       : 0;
        height      : 0;
        border-style: solid;
        border-width: 0 2.5px 4.3px 2.5px;
        border-color: transparent transparent #a0a0a0 transparent;
      }

      .Rectangle-pop-box {
        width        : 70px;
        height       : 25px;
        border-radius: 30px;
        margin-top   : 2px;
        position     : relative;
        white-space  : nowrap;
        text-overflow: ellipsis;

        &:hover {
          border-radius   : 30px;
          box-shadow      : 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
          background-color: #F0F0F0;
        }

        &:not(:hover) {
          .move-to {
            display: none;
          }
        }
      }

      .text-pop-box {
        width      : 70px;
        height     : 19px;
        font-size  : 12px;
        font-weight: 500;
        font-style : normal;
        text-align : center;
        color      : #606060;
        margin     : 0px auto;
        line-height: 25px;
      }

      .right-triangle {
        width       : 0;
        height      : 0;
        border-style: solid;
        border-width: 4px 0 4px 6.9px;
        position    : absolute;
        right       : 5px;
        top         : 35%;
        border-color: transparent transparent transparent #4E4E4E;
      }

      .move-to {
        // display      : none;
        position     : absolute;
        top          : 0;
        left         : ~"calc(100%)";
        border       : 1px solid #D3D3D3;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow   : 1px 1px 10px #00000029;
        padding      : 5px;
        border-radius: 10px;
        overflow     : hidden;
      }
    }
  }
}

//node選到的狀態
.storm-diagrams-canvas .node.selected {
  .bar {
    &:hover {
      .menu-box {
        display: block;
      }
    }
  }
}

.Path-400 {
  width           : 20px;
  height          : 20px;
  background-color: @c_message;
}

.count-text {
  color      : white;
  font-size  : 15px;
  font-weight: 500;
}

.text-triangle(@bc) {
  content     : "";
  position    : absolute;
  bottom      : 100%;
  left        : 50%;
  transform   : translateX(-50%);
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent @bc transparent;
}


.status_box {
  .vtc0();
  text-align: center;
  .WH(20px);
  border-radius: 10px;
  margin-right : 5px;
  position     : relative;

  &:not(:hover) {

    .message-text,
    .input-text,
    .api-text,
    .nlu-text,
    .question-text,
    .no-set-text {
      display: none;
    }
  }

  &.status-count-message {
    .bc(@c_message);

    .message-text {
      background-color: @c_message;

      &::after {
        .text-triangle(@c_message)
      }
    }
  }

  &.status-count-input {
    .bc(@c_input);

    .input-text {
      background-color: @c_input;

      &::after {
        .text-triangle(@c_input);
      }
    }
  }

  &.status-count-api {
    .bc(@c_api);

    .api-text {
      background-color: @c_api;

      &::after {
        .text-triangle(@c_api);
      }
    }
  }

  &.status-count-nlu {
    .bc(@c_nlu);

    .nlu-text {
      background-color: @c_nlu;

      &::after {
        .text-triangle(@c_nlu);
      }
    }
  }

  &.status-count-question {
    .bc(#ff8760);

    .question-text {
      background-color: #ff8760;

      &::after {
        .text-triangle(#ff8760);
      }
    }
  }

  &.status-not-set {
    .bc(red);

    .no-set-text {
      background-color: red;

      &::after {
        .text-triangle(red);
      }
    }
  }

  .count-text {
    display: inline-block;
  }

  .message-text,
  .input-text,
  .api-text,
  .nlu-text,
  .question-text,
  .no-set-text {
    color        : #fff;
    text-align   : center;
    border-radius: 30px;
    font-size    : 12px;
    position     : absolute;
    top          : ~"calc(100% + 5px)";
    left         : 50%;
    transform    : translateX(-50%);
    padding      : 5px 10px;
    line-height  : 1;
    word-break   : keep-all;
    z-index      : 1;
  }
}

.text-message {
  font-size    : 13px;
  font-style   : normal;
  text-align   : left;
  white-space  : nowrap;
  color        : #08415c;
  margin-top   : 0px;
  margin-bottom: 5px;
  overflow     : hidden;
  text-overflow: ellipsis;

}

.header-hint-skill {
  padding      : 15px 30px 20px;
  border-bottom: 1px solid #e2e2e2;

  .hint-text {
    margin     : auto;
    padding    : 0 15px;
    font-size  : 12px;
    font-weight: bold;

    .main-text {
      padding-bottom: 3px;
      color         : #ff8660;
    }

    .sub-text {
      color: #5f5f5f;
    }
  }
}

.header-hint {
  padding      : 0 30px 20px;
  border-bottom: 1px solid #e2e2e2;

  .hint-text {
    margin     : auto;
    padding    : 0 15px;
    font-size  : 12px;
    font-weight: bold;

    .main-text {
      padding-bottom: 3px;
      color         : #ff8660;
    }

    .sub-text {
      color: #5f5f5f;
    }
  }

  .new-task-button {
    // height: 50px;
    .cp();

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background-color: white;
    }
  }
}