<template>
  <div class="app-container group-container fx fdc">
    <div class="tab-page _fill">
      <div class="tab-page-inner fx fdc h100">
        <div class="page-title-row">
          <span class="page-title">{{ $tp("router.user") }}</span>
          <div class="title-buttons">
            <pageTopMainButton
              :label="$tp('label.new', { name: $tp('label.user') })"
              img="add"
              @click.native="event_user('create')"
            ></pageTopMainButton>
          </div>
        </div>
        <div class="new-item-row">
          <span class="label">{{ $tp("label.select", { name: $tp("label.group") }) }}:</span>
          <el-select v-model="sd_group" :placeholder="$tp('please.choose')" @change="getData(true)">
            <el-option
              v-for="item in groupsContainAll"
              :key="item.name"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
          <span>{{ $tp("label.userRole") }}:</span>
          <div
            class="btn-main role_tab"
            :class="{ active: role === sd_role }"
            v-for="role in allowRole"
            @click="event_role('select', role)"
          >
            {{ $tp(`role.${role}`) }}
          </div>
        </div>
        <table class="black-white-table">
          <tr>
            <th v-for="columnName in tableColums">{{ columnName }}</th>
            <th style="width: 50px"></th>
          </tr>
          <tr v-for="row in userList" @click="event_user('edit', row.i)">
            <td v-for="columnName in tableColums">{{ row[columnName] }}</td>
            <td @click.stop>
              <el-dropdown>
                <dotMenu :dark="true"></dotMenu>
                <el-dropdown-menu>
                  <el-dropdown-item @click.native="event_user('delete', row.i)">{{
                    $tp("label.delete")
                  }}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </td>
          </tr>
        </table>
        <pagination
          :total="userTotal"
          :page.sync="listQuery.page"
          :limit.sync="listQuery.limit"
          :pagination="changePage"
        />
      </div>
    </div>
    <router-view />
  </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";
import { isSuccess } from "@u/methodsHelper";
import { ROLE } from "@u/model";
//components
import pageTopMainButton from "@ui/pageTopMainButton";
import Pagination from "@/components/Pagination";
import dotMenu from "@ui/dotMenu";
//mixins
import navSearch from "@mix/navSearch";
import App from "@mix/App";
// api
import { getUsers, removeUser } from "@/api/User";
import { getGroups } from "@/api/Group";

function defaultListQuery() {
  return {
    page: 1,
    limit: 10
  };
}

export default {
  mixins: [App, navSearch],
  components: { dotMenu, Pagination, pageTopMainButton },
  data() {
    return {
      sd_user: -1,
      userList: [],
      userTotal: 0,
      listQuery: new defaultListQuery(),
      groupList: [],
      tableColums: [],
      //navbar
      navbar_ready: false,
      sd_role: "",
      sd_group: ""
    };
  },
  computed: {
    ...mapState(["allowRole", "navSearch_text"]),
    ...mapGetters(["user"]),
    groupsContainAll() {
      return [
        {
          id: "",
          name: this.$tp("label.all")
        }
      ].concat(this.groupList);
    },
    ROLE() {
      return ROLE;
    }
  },
  created() {
    this.toPublic("user");
    this.sd_role = this.allowRole[0];
    this.tableColums = ["uid", "name", "phone", "mail_address"];
  },
  async mounted() {
    await this.getGroups();
    await this.getData();
  },
  methods: {
    changePage() {
      this.getData(false);
    },
    navSearch_callback() {
      this.getData();
    },
    async getGroups() {
      let res = await getGroups();
      this.groupList = res.groups;
    },
    async getData(newSearch) {
      if (newSearch === true) {
        this.listQuery = new defaultListQuery();
      }
      let skip = (this.listQuery.page - 1) * this.listQuery.limit;
      let limit = this.listQuery.limit;
      const searchText = this.$store.state.navSearch_text;
      let res = await getUsers(this.sd_group, this.sd_role, skip, limit, this.navSearch_text, true);
      this.userList = (res.users || []).map((x, i) => {
        x.i = i;
        return x;
      });
      this.userTotal = res.len;
    },
    async event_user(type, index) {
      if (typeof index === "number") this.sd_user = index;
      if (/^(create|edit)$/.test(type)) this.App.router_toMode(type);
      else if (type === "delete") {
        await this.$root.confirm(this.userList[index].name);
        try {
          await removeUser(this.userList[index]);
          this.getData(this.listQuery, "", true);
          this.$root.m_success(this.$tp("warn.deleteSuccess"));
        } catch (ex) {
          this.$root.m_success(this.$tp("warn.deleteFail"));
        }
      }
    },
    event_role(type, role) {
      if (type === "select") {
        if (role === this.sd_role) return false;
        this.sd_role = role;
        this.getData(true);
      }
    }
  }
};
</script>
<style lang="less">
@import "~@css/fn.less";
.group-container {
  .el-select {
    width: auto;
  }
}
.new-item-row {
  > * {
    margin-right: 5px;
  }
  span {
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.black-white-table {
  tr:nth-child(n + 1) {
    cursor: pointer;
  }
}
</style>