<template>
  <div>
    <Shield :title="title" :submit="submit" :as="'page'" :maxWidth="600">
      <template slot="body">
        <table class="form_table">
          <tr>
            <td>{{ $tp("label.group") }}:</td>
            <td>
              <el-select v-model="group" :placeholder="$tp('please.choose')">
                <el-option
                  v-for="item in groupList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </td>
          </tr>
          <tr>
            <td>{{ $tp("label.userId") + "*" }}:</td>
            <td>
              <input type="text" v-model="uid" :disabled="isEditMode" />
            </td>
          </tr>
          <tr>
            <td>{{ $tp("label.email") }}:</td>
            <td>
              <input type="text" v-model="mail_address" />
            </td>
          </tr>
          <tr>
            <td>{{ $tp("label.role") }}:</td>
            <td>
              <div
                class="btn-main role_tab"
                :class="{ active: role.includes(item) }"
                v-for="item in allowRole"
                @click="event_role('toggle', item)"
              >
                {{ $tp(`role.${item}`) }}
              </div>
            </td>
          </tr>
          <template v-if="isCreateMode">
            <tr>
              <td>{{ $tp("label.password") + "*" }}:</td>
              <td>
                <input type="password" v-model="password" />
              </td>
            </tr>
            <tr>
              <td>{{ $tp("label.confirmPassword") + "*" }}:</td>
              <td>
                <input type="password" v-model="password2" />
              </td>
            </tr>
          </template>
          <template v-if="isEditMode">
            <tr>
              <td>{{ $tp("label.password") }}:</td>
              <td>
                <button class="btn-main" @click="resetPassword">
                  {{ $tp("label.resetPassword") }}
                </button>
              </td>
            </tr>
          </template>
          <tr>
            <td>{{ $tp("label.userName") }}:</td>
            <td><input type="text" v-model="name" /></td>
          </tr>
          <tr>
            <td>{{ $tp("label.phone") }}:</td>
            <td>
              <input type="text" v-model="phone" />
            </td>
          </tr>
        </table>
      </template>
    </Shield>
    <Shield ref="reset_step1" :submit="checkCurrentPassword" :as="'pop'">
      <template slot="body">
        <table class="form_table">
          <tr>
            <td>{{ $tp("please.enterCurrentPassword") }}:</td>
            <td>
              <input type="text" v-model="currentPassword" />
            </td>
          </tr>
        </table>
      </template>
    </Shield>
    <Shield ref="reset_step2" :submit="setNewPasswrod" :as="'pop'">
      <template slot="body">
        <table>
          <tr>
            <td>{{ $tp("please.enterNewPassword") }}:</td>
            <td>
              <input type="text" v-model="newPassword" />
            </td>
          </tr>
          <tr>
            <td>{{ $tp("please.enterAgain") }}:</td>
            <td><input type="text" v-model="newPassword2" /></td>
          </tr>
        </table>
      </template>
    </Shield>
  </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";
import {
  injectTo,
  deepClone,
  fetchFrom,
  router_backfrom,
  isUndefined,
  isSuccess,
  objectTrimAll
} from "@u/methodsHelper";
import { USER, ROLE } from "@u/model";
import Shield from "@c/shield";
// mixins
import App from "@mix/App";
// api
import { updateUser, createUser } from "@/api/User";
import {
  validatePassword,
  PasswordTooShortError,
  PasswordTooLongError,
  PasswordWithoutLowerCaseLetterError,
  PasswordWithoutUpperCaseLetterError,
  PasswordWithoutNumberError,
  PasswordWithIllegalCharError
} from "@u/validate";

export default {
  mixins: [App],
  components: { Shield },
  data() {
    return {
      title: "",
      //form
      uid: "",
      password: "",
      password2: "",
      name: "",
      mail_address: "",
      role: [],
      group: "",
      phone: "",
      avatar_url: "",
      //reset password
      currentPassword: "",
      newPassword: "",
      newPassword2: ""
    };
  },
  computed: {
    ...mapState(["allowRole"]),
    ...mapGetters(["user"]),
    groupList() {
      return this.getVue("user").groupList;
    },
    isCreateMode() {
      return this.$route.params.mode === "create";
    },
    isEditMode() {
      return this.$route.params.mode === "edit";
    },
    ROLE() {
      return ROLE;
    },
    currentUser() {
      const { userList, sd_role } = this.getVue("user");
      return userList[sd_role];
    }
  },
  mounted() {
    const { mode } = this.$route.params;
    const { sd_user, userList, sd_group, sd_role } = this.getVue("user");
    let currentUser = userList[sd_user] && deepClone(userList[sd_user]);
    if (this.isEditMode && isUndefined(currentUser)) this.App.router_backfrom("mode");
    this.title = this.$tp([`label.${mode}`, "label.user"]);
    if (this.isCreateMode) {
      this.group = sd_group || this.groupList[0];
      this.role = [sd_role];
    } else if (this.isEditMode) {
      currentUser.role = currentUser.role || []; //role單選 綁radio需要是string
      injectTo(currentUser, this);
    }
    ////test
    this.avatar_url =
      "https://lh5.googleusercontent.com/-ZDjTW6LDn6Y/AAAAAAAAAAI/AAAAAAAAjDc/cMF3Veygbm0/photo.jpg";
  },
  methods: {
    resetPassword() {
      this.$refs.reset_step1.show = true;
    },
    checkCurrentPassword() {
      this.$refs.reset_step1.show = false;
      this.$refs.reset_step2.show = true;
    },
    setNewPasswrod() {
      if (this.newPassword !== this.newPassword2)
        return this.$root.m_error(this.$tp("warn.passwordNotMatch"));

      this.$refs.reset_step2.show = false;
      this.$root.m_success(this.$tp("warn.resetPasswordSuccess"));
    },
    async submit() {
      let params = new USER();
      fetchFrom(params, this);
      objectTrimAll(params);
      if (this.uid === "") {
        this.$root.m_error(this.$tp("warn.uidShouldNotBeEmpty"));
        return;
      }
      if (this.isCreateMode || params.password !== "") {
        if (!this.isPasswordValid(params.password)) {
          return;
        }
        if (this.password !== this.password2) {
          this.$root.m_error(this.$tp("warn.passwordNotMatch"));
          return;
        }
      }

      if (this.isCreateMode) {
        if (!params.group) params.group = this.user.group; //非admin無法選擇group
        try {
          const result = await createUser(params);
          let parent = this.getVue("user");
          parent.getData(parent.listQuery, "", true);
          this.$router.go(-1);
          this.$root.m_success(this.$tp("warn.createSuccess") + "!");
        } catch (error) {
          console.log(error);
          this.m_error(this.$tp("warn.createFail"));
        }
      } else if (this.isEditMode) {
        updateUser(params)
          .then(res => {
            let parent = this.getVue("user");
            parent.getData(parent.listQuery, "", false);
            this.$router.go(-1);
            this.$root.m_success(this.$tp("warn.editSuccess") + "!");
          })
          .catch(ex => {
            this.App.catch(ex, this.$tp("warn.editFail") + "!");
          });
      }
    },
    isPasswordValid(password) {
      try {
        validatePassword(this.password);
      } catch (error) {
        if (error instanceof PasswordTooShortError) {
          this.$root.m_error(this.$tp("warn.passwordTooShort"));
        } else if (error instanceof PasswordTooLongError) {
          this.$root.m_error(this.$tp("warn.passwordTooLong"));
        } else if (error instanceof PasswordWithoutUpperCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsUpperCaseLetter"));
        } else if (error instanceof PasswordWithoutLowerCaseLetterError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsLowerCaseLetter"));
        } else if (error instanceof PasswordWithoutNumberError) {
          this.$root.m_error(this.$tp("warn.passwordShouldContainsNumber"));
        } else if (error instanceof PasswordWithIllegalCharError) {
          this.$root.m_error(this.$tp("warn.passwordWithIllegalChar", { char: error.char }));
        }
        return false;
      }

      return true;
    },
    event_role(type, role) {
      if (type === "toggle") {
        if (this.role.includes(role)) {
          this.role.splice(this.role.indexOf(role), 1);
        } else {
          this.role.push(role);
        }
      }
    }
  }
};
</script>
<style lang="less">
.el-form-item__label {
  padding-bottom: 0;
}
.el-select {
  width: 100%;
}
</style>
