<template>
  <div id="app">
    <router-view v-loading="pageLoading" />
    <!-- watchOnce -->
    <getIntents v-if="currentBot" />
    <!-- waitFor -->
    <getCurrentBot v-if="isLogin" />
    <getCurrentEntities v-if="currentBot" />
  </div>
</template>
<script>
import { mapGetters, mapState } from "vuex";
import { isUndefined } from "@u/methodsHelper";
import { allowRole } from "@u/model";
//mixins
import VuexCache from "@mix/VuexCache.js";
import publicVue from "@mix/publicVue";
//api
import { signOut } from "@/api/Auth";
//watchOnce
import getIntents from "@w/getIntents";
//waitFor
import getCurrentBot from "@/waitFor/getCurrentBot";
import getCurrentEntities from "@/waitFor/getCurrentEntities";
export default {
  name: "App",
  mixins: [VuexCache, publicVue],
  components: { getCurrentEntities, getIntents, getCurrentBot },
  computed: {
    ...mapState(["pageLoading"]),
    ...mapGetters(["currentBot", "currentPageInfo", "isLogin", "user"])
  },
  created() {
    this.$store.commit("SET_IS_FIRST", false);
    this.toPublic("App");
    if (this.isLogin) this.initSetting();
  },
  methods: {
    async logout() {
      this.$store.commit("cache/SET_IS_LOGIN", false);
      try {
        await signOut();
        localStorage.removeItem("user");
      } catch (error) {
        console.log(error);
        this.$root.m_error(this.$tp("warn.logOutFailed"));
      }
    },
    clearSetting() {
      this.router_redirect();
      this.cacheInit();
      setTimeout(() => {
        window.sessionStorage.removeItem("CACHE");
      }, 0);
    },
    initSetting() {
      //sidebar
      let result = [{ tab: "", routes: [] }];
      let temp_routes = [];
      const { routes } = this.$router.options;
      temp_routes = routes
        .filter(x => x.name !== "index")
        .concat(...routes.filter(x => x.name === "index").map(x => x.children || []));
      temp_routes.forEach(el => {
        if (el.hidden || !this.filterbyRole(el)) return;
        let elTab = (el.meta || {}).tab || [""];
        for (let elTabItem of elTab) {
          let tabIndex = result.findIndex(x => x.tab === elTabItem);
          if (tabIndex === -1) {
            result.push({
              tab: elTabItem,
              routes: [el]
            });
          } else result[tabIndex].routes.push(el);
        }
      });
      this.$store.state.routeTabs = result;
      //allow role
      this.$store.state.allowRole = new allowRole(this.user.role);
    },
    //router
    router_backfrom(type) {
      if (isUndefined(type)) return false;
      const { path, params } = this.$route;
      this.$router.replace({
        path: path.replace(new RegExp(`\/${params[type]}$`), "")
      });
    },
    router_redirect() {
      let path = "";
      if (this.isLogin) {
        //1st path
      } else path = "/login";
      this.$router.push({ path });
    },
    router_toMode(val) {
      const { mode } = this.$route.params;
      if ([mode].map(x => !isUndefined(x)).has(true)) return false;
      this.$router.push(`${this.$route.path}/${val}`);
    },
    replaceMode(val) {
      if (val === this.$route.name) return;
      this.$router.push(`${this.$route.path.replace(this.$route.name, val)}`);
    },
    filterbyRole(el) {
      return (el.meta || {}).role ? (el.meta || {}).role.has(this.user.role) : true;
    }
  },
  watch: {
    $route: {
      handler(val) {
        let meta = this.$route.meta || {};
        let _tab = (meta.tab || [])[0] || "";
        if (Object.keys(this.currentPageInfo).length && meta.keepTab) {
          _tab = this.currentPageInfo.tab;
        }
        this.$store.commit("cache/SET_CURRENT_PAGE_INFO", {
          title: meta.title,
          //切換tab
          tab: _tab
        });
      },
      immediate: true
    },
    isLogin: {
      handler(val) {
        if (val) this.initSetting();
        else this.clearSetting();
      }
    }
  }
};
</script>
