<template>
  <div class="api_frame">
    <Shield
      :as="'pop'"
      :ctnClass="'maxW_1000'"
      :title="'NLU Endpoints'"
      :showButtons="false"
      :showBy="show"
      :close="
        () => {
          show = false;
        }
      "
    >
      <template slot="body">
        <div class="api_ctn fx fdc">
          <div class="api_box">
            <div class="api_title _create" @click="event_api_create('create')">
              <div class="fx aic h100">
                <span class="_plus"></span>
                <span class>CREATE NEW NLU Endpoints</span>
              </div>
            </div>
          </div>
          <div class="_fill">
            <!-- create -->
            <nluForm
              v-if="api_create"
              :nluEndpoint="api_create"
              :class="'_create'"
              :event_validate="
                nluEndpoint => {
                  event_nluEndpoints('validate', nluEndpoint);
                }
              "
              :event_cancel="
                nluEndpoint => {
                  event_api_create('clear', nluEndpoint);
                }
              "
              :event_save="
                nluEndpoint => {
                  event_nluEndpoints('create', nluEndpoint);
                }
              "
            ></nluForm>
            <!-- default ai -->
            <nluForm
              :mode="'default'"
              v-if="api_default"
              :nluEndpoint="api_default"
              :reference_obj="reference_obj"
              :event_validate="
                nluEndpoint => {
                  event_nluEndpoints('validate', nluEndpoint);
                }
              "
              :event_toggleOpen="
                nluEndpoint => {
                  event_api_default('toggleOpen', nluEndpoint);
                }
              "
              :event_editable="
                nluEndpoint => {
                  nluEndpoint.editable = true;
                }
              "
              :event_cancel="
                nluEndpoint => {
                  event_api_default('reset', nluEndpoint);
                }
              "
              :event_save="
                nluEndpoint => {
                  event_api_default('edit', nluEndpoint);
                }
              "
            ></nluForm>
            <!-- list -->
            <nluForm
              v-for="item in nluEndpoints_self"
              :key="nluEndpoints_self.id"
              :nluEndpoint="item"
              :reference_obj="reference_obj"
              :event_validate="
                nluEndpoint => {
                  event_nluEndpoints('validate', nluEndpoint);
                }
              "
              :event_toggleOpen="
                nluEndpoint => {
                  event_nluEndpoints('toggleOpen', nluEndpoint);
                }
              "
              :event_editable="
                nluEndpoint => {
                  nluEndpoint.editable = true;
                }
              "
              :event_cancel="
                nluEndpoint => {
                  event_nluEndpoints('reset', nluEndpoint);
                }
              "
              :event_save="
                nluEndpoint => {
                  event_nluEndpoints('edit', nluEndpoint);
                }
              "
              :event_delete="
                nluEndpoint => {
                  event_nluEndpoints('delete', nluEndpoint);
                }
              "
            ></nluForm>
          </div>
        </div>
      </template>
    </Shield>
  </div>
</template>

<script>
function apiObj() {
  return {
    id: "",
    nlu_name: "",
    http_type: "GET",
    url: "",
    header: { token: "" },
    parameter: { "": "" },
    body: "",
    endpoint_type: "AI"
  };
}
function apiObj_slot() {
  return {
    i: -1,
    open: false,
    editable: false,
    tab: "Header"
  };
}
function apiObj_ERROR() {
  return {
    url_ERROR: "",
    nlu_name_ERROR: "",
    body_ERROR: ""
  };
}
import { mapState } from "vuex";
// api
import {
  getNluEndpoints,
  createNluEndpoints,
  updateNluEndpoints,
  deleteNluEndpoints,
  getNluInfo
} from "@/api/NluServices";
import { updateBot } from "@/api/Bot";
// components
import Shield from "@c/shield";
import nluForm from "./components/nluForm.vue";
//mixins
import currentBot from "@mix/bot/currentBot";
export default {
  mixins: [currentBot],
  components: { Shield, nluForm },
  props: {
    flowData: Object
  },
  data() {
    return {
      //create
      api_create: undefined,
      api_default: undefined,
      nluEndpoints_self: []
    };
  },
  computed: {
    ...mapState(["nluEndpoints"]),
    show: {
      get() {
        return this.$store.state.nluEndpoints_show;
      },
      set(val) {
        this.$store.commit("SET_NLU_ENDPOINTS_SHOW", val);
      }
    },
    skillNodes() {
      try {
        return this.flowData.flow.content.skills.nodes;
      } catch (ex) {
        return [];
      }
    },
    stateNodes() {
      try {
        let result = [];
        let states = this.flowData.flow.content.states;
        for (let key in states) {
          result.push({
            skillId: key,
            skillName: (this.skillNodes.find(x => x.id === key) || {}).name,
            nodes: states[key].nodes
          });
        }
        return result;
      } catch (ex) {
        return [];
      }
    },
    reference_obj() {
      let result = {};
      let nlu_idList = ["", ...this.nluEndpoints_self.map(nlu => nlu.id)];
      nlu_idList.forEach(nlu_id => {
        let _states = JSON.parse(JSON.stringify(this.stateNodes));
        _states = _states.map(s => {
          s.nodes = s.nodes.filter(n => {
            if (nlu_id) {
              return n.info.nlu_id === nlu_id;
            } else {
              return !n.info.nlu_id && n.info.widget.type === "nlu";
            }
          });
          return s;
        });
        result[nlu_id] = _states.filter(s => s.nodes.length);
      });
      return result;
    }
  },
  methods: {
    init() {
      this.event_nluEndpoints("get");
      this.event_api_default("init");
    },
    event_nluEndpoints(type, nluEndpoint) {
      if (type === "get") {
        getNluEndpoints().then(res => {
          this.$store.commit("SET_NLU_ENDPOINTS", res.endpoint);
          this.nluEndpoints_self = res.endpoint.map((x, i) => {
            return this.format_parse("input", x, i);
          });
        });
      } else if (type === "create") {
        if (!this.event_nluEndpoints("validate", this.api_create)) return false;
        createNluEndpoints(this.format_parse("output", this.api_create))
          .then(res => {
            this.$root.m_success(this.$tp("warn.createSuccess"));
            this.api_create.id = res.endpoint_id;
            this.nluEndpoints_self.push(this.api_create);
            this.event_api_create("clear");
            this.event_nluEndpoints("commit");
          })
          .catch(res => {
            this.$root.m_success(this.$tp("warn.createFail"));
          });
      } else if (type === "edit") {
        if (!this.event_nluEndpoints("validate", nluEndpoint)) return false;
        updateNluEndpoints(this.format_parse("output", nluEndpoint))
          .then(res => {
            this.$root.m_success(this.$tp("warn.editSuccess"));
            nluEndpoint.editable = false;
            this.event_nluEndpoints("commit");
          })
          .catch(res => {
            this.$root.m_success(this.$tp("warn.editFail"));
          });
      } else if (type === "delete") {
        this.$root.confirm(nluEndpoint.nlu_name).then(() => {
          deleteNluEndpoints(nluEndpoint.id)
            .then(res => {
              this.$root.m_success(this.$tp("warn.deleteSuccess"));
              this.nluEndpoints_self.splice(nluEndpoint.i, 1);
              this.nluEndpoints_self = this.nluEndpoints_self.map((x, i) => {
                x.i = i;
                return x;
              });
              this.event_nluEndpoints("commit");
            })
            .catch(res => {
              this.$root.m_success(this.$tp("warn.deleteFail"));
            });
        });
      } else if (type === "commit" /*commit到store*/) {
        this.$store.commit(
          "SET_NLU_ENDPOINTS",
          this.nluEndpoints_self.map(x => {
            return this.format_parse("output", x);
          })
        );
      } else if (type === "validate") {
        if (!nluEndpoint.nlu_name) {
          nluEndpoint.nlu_name_ERROR = this.$tp("please.enterName");
        } else if (this.nluEndpoints_self.filter(x => x === nluEndpoint.nlu_name).length) {
          nluEndpoint.nlu_name_ERROR = this.$tp("warn.displayNameDuplicated");
        } else {
          nluEndpoint.nlu_name_ERROR = "";
        }
        if (!nluEndpoint.url) {
          nluEndpoint.url_ERROR = this.$tp("please.inputUrl");
        } else {
          nluEndpoint.url_ERROR = "";
        }
        if (nluEndpoint.http_type === "POST") {
          if (!!nluEndpoint.body && !(nluEndpoint.body || "").isJSON()) {
            nluEndpoint.body_ERROR = this.$tp("warn.formatJSONRequire", { name: "body" });
          } else {
            nluEndpoint.body_ERROR = "";
          }
        }

        return Object.keys(new apiObj_ERROR())
          .map(key => nluEndpoint[key] === "")
          .every(result => result === true);
      } else if (type === "toggleOpen") {
        nluEndpoint.open = !nluEndpoint.open;
        if (nluEndpoint.open === false) this.event_nluEndpoints("reset", nluEndpoint);
      } else if (type === "reset") {
        this.nluEndpoints_self.splice(
          nluEndpoint.i,
          1,
          this.format_parse("input", this.nluEndpoints[nluEndpoint.i], nluEndpoint.i)
        );
      }
    },
    event_api_create(type) {
      if (type === "create") {
        this.api_create = this.format_parse("input", new apiObj(), this.nluEndpoints_self.length);
        this.api_create.open = true;
        this.api_create.editable = true;
      } else if (type === "clear") {
        this.api_create = undefined;
      }
    },
    event_api_default(type, nluEndpoint) {
      if (type === "init") {
        if (this.currentBot.nlu_endpoint) {
          this.api_default = this.format_parse("input", this.currentBot.nlu_endpoint);
          this.api_default.id = "";
          this.api_default.nlu_name = this.$tp("label.default", { name: "AI" });
        } else {
          getNluInfo().then(res => {
            let _apiObj = new apiObj();
            _apiObj.nlu_name = this.$tp("label.default", { name: "AI" });
            _apiObj.header.token = this.currentBot.nlu_token;
            _apiObj.header.intent_threshold = this.currentBot.intent_threshold;
            _apiObj.url = res.nlu_info.query_url;
            this.api_default = this.format_parse("input", _apiObj);
          });
        }
      } else if (type === "edit") {
        updateBot({
          id: this.currentBot.id,
          nlu_endpoint: this.format_parse("output", this.api_default)
        }).then(res => {
          this.$store.commit("SET_CURRENT_BOT_PROPERTY", {
            property: "nlu_endpoint",
            value: this.format_parse("output", this.api_default)
          });
          this.$root.m_success(this.$tp("warn.editSuccess"));
          this.api_default.editable = false;
        });
      } else if (type === "toggleOpen") {
        nluEndpoint.open = !nluEndpoint.open;
        if (nluEndpoint.open === false) this.event_nluEndpoints("reset", nluEndpoint);
      } else if (type === "reset") {
        if (this.currentBot.nlu_endpoint) {
          this.api_default = this.format_parse("input", this.currentBot.nlu_endpoint);
        } else {
          this.event_api_default("init");
        }
      }
    },
    format_parse(type, apiObj, index) {
      let _apiObj = JSON.parse(JSON.stringify(apiObj));
      if (type === "input") {
        //api_default
        if (index === undefined) {
          if (!_apiObj.header.token) {
            _apiObj.header.token = this.currentBot.nlu_token;
          }
        }
        let _header = [];
        for (const [key, value] of Object.entries(_apiObj.header)) {
          _header.push([key, value]);
        }
        _apiObj.header = _header;
        let _parameter = [];
        if (_apiObj.parameter && Object.keys(_apiObj.parameter).length) {
          for (const [key, value] of Object.entries(_apiObj.parameter)) {
            _parameter.push([key, value]);
          }
        } else {
          _parameter.push([undefined, undefined]);
        }
        _apiObj.parameter = _parameter;
        //
        _apiObj = Object.assign(_apiObj, apiObj_slot(), apiObj_ERROR());
        if (index !== undefined) _apiObj.i = index;
      } else if (type === "output") {
        let _header = {};
        _apiObj.header.forEach(el => {
          if (!el[0]) return false;
          _header[el[0]] = el[1];
        });
        _apiObj.header = _header;
        let _parameter = {};
        _apiObj.parameter.forEach(el => {
          if (!el[0]) return false;
          _parameter[el[0]] = el[1];
        });
        _apiObj.parameter = _parameter;
        //
        for (let key in new apiObj_slot()) {
          delete _apiObj[key];
        }
        for (let key in new apiObj_ERROR()) {
          delete _apiObj[key];
        }
      }
      return _apiObj;
    }
  },
  watch: {
    show: {
      handler(val) {
        if (!val) {
          this.nluEndpoints_self = this.nluEndpoints.map((x, i) => {
            return this.format_parse("input", x, i);
          });
        }
      }
    }
  }
};
</script>
<style lang="less">
@import "./css/index.less";
</style>