
.flex {
    display: flex;
    overflow: scroll;
    width: 100%;
    height: flex;
    align-items: center;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
}  

.center {
    justify-content: center;
}
.left {
    justify-content: flex-start;
}
.rigtht{
    justify-content: flex-end;
}

.center-vertical {
    align-items: center;
    justify-content: center;
}
.left-vertical {
    align-items: flex-start;
    justify-content: center;
}
.rigtht-vertical{
    align-items: flex-end;
    justify-content: center;
}

.vertical {
    flex-direction: column;
}