<template>
  <Shield
    ref="entityEditor"
    :as="'pop'"
    :showBy="isShowEntitySelector"
    :close="closeEntitySelector"
    :submit="finish"
    :ctnClass="'maxW_1000'"
  >
    <template slot="title">
      <div class="entity-selector-title">
        <img src="@img/double-quote.svg" />
        {{ text }}
        <img src="@img/double_quote_reverse.svg" />
        <span v-show="selectedEntity.id" class="orage-cell">{{ $tp("label.labeled") }}</span>
      </div>
    </template>
    <template slot="body">
      <div class="entity-selector-body">
        <div class="new-entity-block">
          <div v-show="!isShowNewEntity" class="text-block" @click="isShowNewEntity = true">
            <span class="text">{{ $tp("label.newEntityForWord", { text }) }}</span>
            <img class="button" src="@img/add_white_green.svg" />
          </div>
          <div v-show="isShowNewEntity" class="input-block">
            <input
              type="text"
              :placeholder="$tp('please.input') + '...'"
              v-model="newEntityName"
              @keypress.enter="createEntity"
            />
            <span v-show="newEntityName" class="button" @click="createEntity">{{
              $tp("label.create")
            }}</span>
          </div>
        </div>
        <div class="scrollable">
          <div class="collapse-table">
            <div v-for="(entity, entityIndex) in enabledEntities">
              <div class="entity-row">
                <span
                  class="ckeckbox"
                  @click="clickEntityCheckbox(entity, entityIndex)"
                  :class="{ active: selectedEntity.id === entity.id }"
                ></span>
                <span class="text">{{ entity.name }}({{ entity.entries.length }})</span>

                <span class="arrow-down-button" @click="expandEntity(entity, entityIndex)">
                  <span
                    class="arrow-down"
                    :class="{ spin: entityIndex === currentExpandedEntityIndex }"
                  ></span>
                </span>
              </div>
              <transition name="toggle">
                <div v-if="currentExpandedEntityIndex === entityIndex">
                  <template v-for="(entry, entryIndex) in entity.entries">
                    <div
                      v-show="currentEidtableEntryIndex !== entryIndex"
                      class="row"
                      @click="expandEntry(entryIndex)"
                    >
                      <span
                        class="ckeckbox"
                        @click="clickEntryCheckbox(entity, entryIndex)"
                        :class="{ active: currentCheckedEntryIndex === entryIndex }"
                      ></span>
                      <span class="text">{{ entry.value }}({{ entry.synonyms.length }})</span>
                      <span class="options">
                        <el-dropdown trigger="click" @click.native.stop.prevent>
                          <div class="bt_more btn1">
                            <dotMenu></dotMenu>
                          </div>
                          <el-dropdown-menu class="dlorgmode" slot="dropdown">
                            <el-dropdown-item @click.native="editEntryName(entryIndex)">{{
                              $tp("label.rename")
                            }}</el-dropdown-item>
                            <el-dropdown-item @click.native="expandEntry(entryIndex)">{{
                              $tp("label.viewSynonyms")
                            }}</el-dropdown-item>
                            <el-dropdown-item @click.native="deleteEntry(entryIndex)">{{
                              $tp("label.delete")
                            }}</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </span>
                    </div>
                    <div v-show="currentEidtableEntryIndex === entryIndex" class="editable row">
                      <input
                        v-model="tempEntryName"
                        :placeholder="$tp('please.enterEntryName')"
                        @keypress.enter="updateEntryName(entryIndex)"
                      />
                      <img
                        v-show="tempEntryName !== ''"
                        src="@img/confirm_yellow.svg"
                        class="button"
                        @click="updateEntryName(entryIndex)"
                      />
                    </div>
                    <transition name="toggle">
                      <div v-if="currentExpandedEntryIndex === entryIndex" class="expanded-block">
                        <span class="cells">
                          <flexInputCell
                            class="cell gray"
                            cellStyle="min-width: 78px;"
                            v-if="isShowNewSynonym"
                            :placeHolderText="$tp('please.enterSynonym')"
                            @key-press-enter="createSynonym($event, entryIndex)"
                          >
                            <template slot="pre-block">
                              <img class="flag" src="@img/cross.svg" />
                            </template>
                          </flexInputCell>
                          <template v-if="isShowSynonyms">
                            <template v-for="(synonym, synonymIndex) in entry.synonyms">
                              <flexInputCell
                                class="cell"
                                cellStyle="min-width: 15px;"
                                :value="synonym"
                                @key-press-enter="updateSynonym($event, entryIndex, synonymIndex)"
                              >
                                <template slot="post-block">
                                  <img
                                    class="cell-button"
                                    src="@img/close.svg"
                                    @click="deleteSynonym(entryIndex, synonymIndex)"
                                  />
                                </template>
                              </flexInputCell>
                            </template>
                          </template>
                        </span>
                      </div>
                    </transition>
                  </template>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>
    </template>
  </Shield>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import Shield from "@c/shield";
import { createEntity, updateEntity, removeEntity } from "@/api/Entity";
import { deepClone } from "@u/methodsHelper";
import flexInputCell from "@c/flexInputCell";
import dotMenu from "@ui/dotMenu";
import { isEmpty } from "@u/methodsHelper";
export default {
  props: {
    isShowEntitySelector: Boolean,
    closeEntitySelector: Function,
    submit: Function,
    text: String
  },
  components: {
    Shield,
    flexInputCell,
    dotMenu
  },
  data() {
    return {
      //entity
      isShowNewEntity: false,
      newEntityName: "",
      currentExpandedEntityIndex: -1,
      //entry
      currentExpandedEntryIndex: -1,
      currentCheckedEntryIndex: -1,
      tempEntryName: "",
      currentEidtableEntryIndex: -1,
      isShowNewSynonym: true,
      isShowSynonyms: true,
      //label
      selectedEntity: {},
      initEntity: {},
      tempSynonymInfo: {
        entity: {},
        entryIndex: -1
      }
    };
  },
  computed: {
    ...mapState(["currentEntities"]),
    ...mapGetters(["currentBot"]),
    enabledEntities() {
      return this.currentEntities.filter(e => e.is_enabled) || [];
    }
  },
  mounted() {
    if (this.initEntity) {
      this.initSelectedItems(this.initEntity);
    }
  },
  methods: {
    isEmpty: isEmpty,
    async createEntity() {
      if (!this.currentBot) return false;
      if (this.newEntityName === "") {
        this.$root.m_error(this.$tp("please.completeAllInput"));
        return;
      }
      if (!this.checkEntityNameIsNotDuplicated(this.newEntityName, this.currentEntities)) {
        this.$root.m_error(this.$tp("warn.nameDuplicate"));
        return;
      }
      try {
        await createEntity(this.currentBot.id, this.newEntityName);
        await this.$store.dispatch("updateEntities");
        this.$root.m_success(this.$tp("warn.createSuccess") + "!");
        this.clickEntityCheckbox(this.enabledEntities[0], 0);
      } catch (error) {
        this.$root.m_error(this.$tp("warn.createFail"));
      }
      this.isShowNewEntity = false;
      this.newEntityName = "";
    },
    async updateEntity(entity, isShowPrompt = true) {
      try {
        await updateEntity(entity);
        this.$store.dispatch("updateEntities");
        if (isShowPrompt) {
          this.$root.m_success(this.$tp("warn.editSuccess") + "!");
        }
      } catch (error) {
        this.$root.m_error(this.$tp("warn.editFail"));
      }
    },
    checkEntityNameIsNotDuplicated(name, entities) {
      return entities.find(e => e.name === name) === undefined;
    },
    expandEntity(entity, index) {
      this.resetInputCells();
      if (this.currentExpandedEntityIndex === index) {
        this.currentExpandedEntityIndex = -1;
      } else {
        this.currentExpandedEntityIndex = index;
        if (entity.id === this.selectedEntity.id) {
          this.clickEntryIfTextMatched(this.selectedEntity);
        } else {
          this.currentCheckedEntryIndex = -1;
        }
      }
    },
    resetInputCells() {
      this.isShowNewEntity = false;
      this.newEntityName = "";
      this.tempEntryName = "";
      this.currentExpandedEntryIndex = -1;
      this.currentEidtableEntryIndex = -1;
    },
    //entry
    expandEntry(index) {
      if (this.currentExpandedEntryIndex === index) this.currentExpandedEntryIndex = -1;
      else this.currentExpandedEntryIndex = index;
    },
    editEntryName(index) {
      this.tempEntryName = this.currentEntities[this.currentExpandedEntityIndex].entries[
        index
      ].value;
      this.currentEidtableEntryIndex = index;
    },
    async updateEntryName(index) {
      if (this.tempEntryName === "") {
        this.$root.m_error(this.$tp("bot.value") + this.$tp("warn.isRequired"));
      } else {
        let tmpEntity = this.currentEntities[this.currentExpandedEntityIndex];
        tmpEntity.entries[index].value = this.tempEntryName;
        await this.updateEntity(tmpEntity);
        this.tempEntryName = "";
        this.currentEidtableEntryIndex = -1;
      }
    },
    async deleteEntry(index) {
      let tmpEntity = this.currentEntities[this.currentExpandedEntityIndex];
      tmpEntity.entries.splice(index, 1);
      await this.updateEntity(tmpEntity);
    },
    async createSynonym(value, entryIndex) {
      let tmpEntity = this.currentEntities[this.currentExpandedEntityIndex];

      if (value === "") {
        this.$root.m_error(this.$tp("bot.value") + this.$tp("warn.isRequired"));
      } else if (tmpEntity.entries[entryIndex].synonyms.find(s => s === value)) {
        this.$root.m_error(this.$tp("warn.synonymsDuplicated"));
        return;
      } else {
        tmpEntity.entries[entryIndex].synonyms.unshift(value);
        await this.updateEntity(tmpEntity);
        this.refreshVueData("isShowNewSynonym");
        this.refreshVueData("isShowSynonyms");
      }
    },
    async updateSynonym(value, entryIndex, synonymIndex) {
      if (value === "") {
        this.$root.m_error(this.$tp("bot.value") + this.$tp("warn.isRequired"));
      } else {
        let tmpEntity = this.currentEntities[this.currentExpandedEntityIndex];
        tmpEntity.entries[entryIndex].synonyms[synonymIndex] = value;
        await this.updateEntity(tmpEntity);
        this.refreshVueData("isShowSynonyms");
      }
    },
    async deleteSynonym(entryIndex, synonymIndex) {
      let tmpEntity = this.currentEntities[this.currentExpandedEntityIndex];
      tmpEntity.entries[entryIndex].synonyms.splice(synonymIndex, 1);
      await this.updateEntity(tmpEntity);
      this.refreshVueData("isShowSynonyms");
    },
    refreshVueData(key) {
      this[key] = false;
      setTimeout(() => {
        this[key] = true;
      }, 0);
    },
    async finish() {
      if (isEmpty(this.selectedEntity)) {
        this.$root.m_error(this.$tp("warn.shouldChooseEntityFirst"));
        return;
      }
      await this.updateEntityIfNeed(this.selectedEntity);

      this.submit(this.selectedEntity);
      this.closeEntitySelector();
    },
    async updateEntityIfNeed(entity) {
      if (entity.entries.length > 0 && entity.entries[0].isTemp) {
        if (this.currentCheckedEntryIndex === 0) {
          delete entity.entries[0].isTemp;
          await this.updateEntity(entity, false);
        } else {
          entity.entries.shift();
        }
      }
      if (this.tempSynonymInfo.entryIndex !== -1) {
        await this.updateEntity(entity);
      }
    },
    initSelectedItems(inputEntity) {
      this.selectedEntity = inputEntity;
    },
    clickEntityCheckbox(entity, entityIndex) {
      this.removeTempSynonym();
      this.removeTempEntry(this.selectedEntity);
      this.currentCheckedEntryIndex = -1;
      this.selectedEntity = this.selectedEntity.id === entity.id ? {} : entity;
      if (this.selectedEntity.id) {
        this.resetInputCells();
        this.clickEntryIfTextMatched(this.selectedEntity);
      }
    },
    removeTempEntry(entity) {
      if (entity.entries && entity.entries.length > 0 && entity.entries[0].isTemp) {
        entity.entries.shift();
      }
    },
    clickEntryIfTextMatched(entity) {
      let targetEntryIndex = entity.entries.findIndex(e => e.synonyms.find(s => s === this.text));
      if (targetEntryIndex === -1) {
        this.createTempEntry(entity);
        targetEntryIndex = 0;
      }
      this.currentExpandedEntryIndex = targetEntryIndex;
      this.currentCheckedEntryIndex = targetEntryIndex;
    },
    createTempEntry(entity) {
      entity.entries.unshift({
        value: this.text,
        synonyms: [this.text],
        isTemp: true
      });
    },
    clickEntryCheckbox(entity, entryIndex) {
      this.removeTempSynonym();
      if (this.currentCheckedEntryIndex === entryIndex) {
        this.currentCheckedEntryIndex = -1;
        return;
      }
      this.selectedEntity = entity;
      this.currentCheckedEntryIndex = entryIndex;
      if (!entity.entries[entryIndex].synonyms.find(s => s === this.text)) {
        this.tempSynonymInfo = {
          entity: entity,
          entryIndex: entryIndex
        };
        entity.entries[entryIndex].synonyms.unshift(this.text);
      }
    },
    removeTempSynonym() {
      if (this.tempSynonymInfo.entity.entries) {
        this.tempSynonymInfo.entity.entries[this.tempSynonymInfo.entryIndex].synonyms.shift();
        this.tempSynonymInfo.entity = {};
        this.tempSynonymInfo.entryIndex = -1;
      }
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
.entity-selector-title {
  font-size: 25px;
  img {
    width: 12px;
    margin-bottom: 6px;
  }
  .orage-cell {
    margin-left: 10px;
    background-color: #ffe9cb;
    border-radius: 10px;
    color: #ff9300;
    font-size: 10px;
    padding: 2px 4px;
  }
}
.entity-selector-body {
  .new-entity-block {
    width: 100%;
    .text-block {
      display: flex;
      align-items: center;
      background-color: #0fa8a8;
      color: white;
      border-radius: 12px;
      padding: 10px 10px 10px 15px;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
      cursor: pointer;
      .text {
        flex-grow: 1;
      }
      .button {
        width: 25px;
        cursor: pointer;
      }
    }
    .input-block {
      display: flex;
      align-items: center;
      border: 1px solid #0fa8a8;
      width: 100%;
      border-radius: 12px;
      padding: 10px 10px 10px 15px;
      input {
        font-size: 14px;
        color: #555555;
        flex-grow: 1;
        height: 23px;
        border: none;
        &::placeholder {
          color: #0fa8a8;
        }
      }
      .button {
        cursor: pointer;
        font-size: 14px;
        padding: 5px 10px;
        background-color: #0fa8a8;
        color: white;
        border-radius: 20px;
      }
    }
  }
  .collapse-table {
    max-height: 400px;

    .entity-row {
      padding: 10px 10px 10px 20px;
      border-bottom: 1px rgb(198, 198, 198) solid;
      display: flex;
      .text {
        flex-grow: 1;
        white-space: wrap;
        word-break: break-all;
      }
    }
    .row {
      padding-left: 40px;
    }
    .expanded-block {
      .cells {
        &:first-child {
          margin-left: 35px;
        }
      }
    }
    .ckeckbox {
      .WH(20px);
      background: url("~@img/uncheck_box.svg") center no-repeat;
      margin-right: 10px;
      .cp();
      &.active {
        background-image: url("~@img/checked_box.svg");
      }
    }
  }
  .scrollable {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
  }
}
</style>