<template>
  <div class="editableDOM_ctn">
    <div style="position: relative" :style="{ marginTop: layerHeight + 'px' }">
      <div id="entityWidth" class="forEntityWidth_box"></div>
      <div class="tag_ctn">
        <div
          :id="tagPrefix + entity.i"
          class="tag_box"
          v-for="(entity, index) in utterance.entities"
          :style="entity.tagStyle"
          :title="getEntityNameById(entity.entity_id)"
          @mouseover="currentEntityIndex = index"
          @mouseleave="currentEntityIndex = -1"
        >
          <div
            class="tag_item"
            :style="entity.labelStyle"
            @click.self="$emit('editUtteranceEntity', entity.i)"
          >
            {{ getEntityNameById(entity.entity_id) }}
            <div class="tag_x vtc">
              <img src="@img/close_green.svg" @click="deleteEntities(index)" />
            </div>
          </div>
          <div class="tag_line" :style="{ width: entity.width + 'px' }"></div>
        </div>
      </div>
      <div class="highlight_box">
        <div
          class="highlight_item"
          :class="{ active: index === currentEntityIndex }"
          v-for="(entity, index) in utterance.entities"
          :style="{ left: entity.left + 'px', width: entity.width + 'px' }"
        ></div>
      </div>
      <div class="editableDOM active" @mouseup="mouseup" v-text="utterance.text"></div>
    </div>
  </div>
</template>

<script>
import { deepClone, isSuccess, DOM } from "@u/methodsHelper";
import App from "@mix/App";

export default {
  mixins: [App],
  props: {
    utteranceData: Object,
    entities: Array, //entity選單
    serial: Number,
    mouseup: Function
  },
  data() {
    return {
      utterance: {},
      //
      layerHeight: 0,
      currentEntityIndex: -1
    };
  },
  computed: {
    tagPrefix() {
      return `tag_${this.serial}_`;
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.init();
    });
  },
  methods: {
    init() {
      this.utterance = deepClone(this.utteranceData);
      this.utterance.entities = this.utterance.entities.map((a, i) => {
        a.i = i;
        return a;
      });
      this.getHighlight(this.utterance.entities);
    },
    getHighlight(entities) {
      (Array.isArray(entities) ? entities : [entities]).forEach(entity => {
        DOM("#entityWidth")[0].innerHTML = this.utterance.text.substr(0, entity.start_position);
        entity.left = DOM("#entityWidth")[0].clientWidth;
        DOM("#entityWidth")[0].innerHTML = entity.text;
        entity.width = DOM("#entityWidth")[0].clientWidth;
        DOM("#entityWidth")[0].innerHTML = "";
      });
      this.$forceUpdate();
      this.$nextTick(() => {
        setTimeout(() => {
          this.getTagPosition();
        }, 0);
      });
    },
    getTagPosition() {
      let tagRenderResult = [],
        layerList = [[]];
      this.utterance.entities.forEach(entity => {
        let entityWidth = document.getElementById(this.tagPrefix + entity.i).clientWidth;
        const left = entity.left + entity.width / 2 - entityWidth / 2;

        tagRenderResult.push({
          i: entity.i,
          left,
          width: entityWidth,
          boundary: [left, left + entityWidth + Math.abs(left < 0 ? left : 0)],
          height: document.getElementById(this.tagPrefix + entity.i).clientHeight,
          layer: 0
        });
      });
      tagRenderResult = tagRenderResult.sort((a, b) => a.boundary[0] - b.boundary[0]);
      tagRenderResult.forEach((tag, index) => {
        const maxLayer = layerList.length + 1;
        for (let f = 0; f <= maxLayer; f++) {
          if (!layerList[tag.layer]) layerList.push([]);
          const currentLayer = layerList[tag.layer];
          if (currentLayer.length > 0) {
            const last = currentLayer[currentLayer.length - 1];
            if (tag.boundary[0] < last.boundary[1]) {
              tagRenderResult[index].layer += 1;
              continue;
            }
          }
          currentLayer.push(tag);
          break;
        }
      });
      tagRenderResult = tagRenderResult.sort((a, b) => a.i - b.i);
      this.utterance.entities.forEach((el, index, entities) => {
        entities[index].tag = tagRenderResult[index];
        const { left, width, layer, height } = tagRenderResult[index];
        entities[index].tagStyle = {
          left: left + "px",
          width: width + "px",
          bottom: layer * height + "px"
        };
        entities[index].labelStyle = {
          transform: `translateX(${Math.abs(left < 0 ? left : 0)}px)`,
          "-ms-transform": `translateX(${Math.abs(left < 0 ? left : 0)}px)`
        };
      });
      this.$forceUpdate();
      this.layerHeight =
        (layerList[0].length &&
          layerList.length * (layerList[layerList.length - 1][0] || {}).height) ||
        0;
      if (this.layerHeight > 0) {
        //右上關閉按鈕超出高度
        this.layerHeight += 7;
      }
    },
    deleteEntities(index) {
      this.utterance.entities.splice(index, 1);
      this.getHighlight(this.utterance.entities);
      let _utterance = deepClone(this.utterance);
      _utterance.entities = _utterance.entities.map(x => {
        return {
          entity_id: x.entity_id,
          text: x.text,
          start_position: x.start_position,
          len: x.len
        };
      });
      this.$emit("deleteUtteranceEntity", _utterance);
    },
    getEntityNameById(entityId) {
      return (this.entities.find(e => e.id === entityId) || {}).name;
    }
  },
  watch: {
    utteranceData: {
      handler() {
        this.init();
      },
      deep: true
    }
  }
};
</script>

<style lang="less">
@import "~@css/fn.less";
@font-size: 14px;
.forEntityWidth_box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: @font-size;
  opacity: 0;
  white-space: pre;
}
.highlight_box {
  .room();
  z-index: 1;
}
.highlight_item {
  .bc(#d8f2f2);
  position: absolute;
  top: 0;
  bottom: 0;
  &.active {
    .bc(#85e6e6);
    z-index: 1;
  }
}
.editableDOM_ctn {
  align-items: center;
  display: flex;
  position: relative;
  overflow-x: auto;
}
.editableDOM {
  font-size: @font-size;
  display: inline-block;
  position: relative;
  z-index: 2;
  &:before {
    content: attr(placeholder);
    color: #696969;
  }
  br {
    display: none;
  }
}
@tag_box_margin_button: 2px;
@tag_line_height: 3px;
@tag_line_head: 4px;
.tag_ctn {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  .tag_box {
    opacity: 0.7;
    padding-bottom: (@tag_line_height+ @tag_line_head+ @tag_box_margin_button);
    position: absolute;
    .cp();
    &:not(:hover) {
      .tag_x {
        display: none;
      }
    }
    &:hover {
      opacity: 1;
      z-index: 1;
      .tag_line {
        color: @0;
      }
    }
  }
  .tag_item {
    color: #ff4e00;
    padding: 4px 0;
    border-radius: 10px;
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    .bc(#ffe9cb);
    box-shadow: 3px 0 0 0 #ffe9cb, -3px 0 0 0 #ffe9cb;
    white-space: nowrap;
  }
  .tag_line {
    color: #999999;
    border: 1px solid;
    border-bottom: none;
    height: @tag_line_height;
    position: absolute;
    left: 50%;
    bottom: (@tag_box_margin_button+1);
    transform: translateX(-50%);
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-left: 1px solid;
      height: @tag_line_head;
    }
  }
  .tag_x_box {
    position: relative;
    z-index: 1;
  }
  .tag_x {
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: translate(60%, 60%);
    border-radius: 50%;
    .WH(14px);
    text-align: center;
    font-size: 10px;
    .bc(@f);
  }
}
</style>